
body
	{line-height: 200%;
	color: gray; background-color: black}

body, div, p
	{line-height: 200%}

h2, h3, h4, h5, h6
	{font-size: 100%; font-weight: normal}

h1
	{border-bottom: thin dashed red;
	padding: .4em}
h1:before
	{content: "\0095c7\007cfb(\008b0e) "}

div.day, div#intro, div#person
	{margin: 1em 3em;
	border: thin solid #004000;
	padding: .8em}

h2
	{margin: 0;
	border: thin outset #000040;
	padding: .2em;
	background-color: #000040; color: gray}


h3
	{border: thin outset #ffffb3;
	padding: .4em;
	letter-spacing: .6em}

p
	{margin: 0 1em;
	text-indent: 1em}

blockquote
	{margin: .4em;
	border: medium double #ffddff;
	padding: .2em}

.images
	{margin: .5em;
	border-style: none;
	padding: .1em;
	text-align: center}

q, q:lang(ja)
	{quotes: "\00300c" "\00300d" "\00300e" "\00300f"}
q:lang(en)
	{quotes: "\00201c" "\00201d" "\002018" "\002019"}
q:lang(no)
	{quotes: "\00300a" "\00300b" "\003008" "\003009"}

q:before
	{content: open-quote}
q:after
	{content: close-quote}

a:link, a:visited	/* a[href] */
	{color: gray; background-color: black;
	text-decoration: none;
	cursor: default}
a:hover	/* a[href]:hover */
	{color: black; background-color: black;
	cursor: wait}

.yami
	{display: block;
	color: #1e1e1e; background-color: black}
.yamimi
	{display: inline;
	color: #1e1e1e; background-color: black}

ol.footnote
	{margin: 0;
	border: medium double gray;
	padding: .2em}
ol.footnote li
	{margin: 0 0 0 1em; border-size: 0; padding: 0;
	text-indent: -1em}
