<!DOCTYPE html []>
<html lang="ja">
<head>
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B9$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2003$BG/(B9$B7n$N<cMU$N0-9T$N5-O?!#(B
" />
<link rev="made" href="mailto:w@suika.fam.cx" title="$B$o$+$P(B" />
<link rel="contents" href="list" title="$B7n$N0lMw(B" />
<link rel="prev" href="d200308" title="$BA07n(B" />
<link rel="next" href="d200310" title="$BMb7n(B" />
<link rel="contents" href="d200309+summary" title="$BOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200309" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B
9$B7n(B)" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.png" type="image/png" />
<link rel="help" href="/~wakaba/who?" title="$B<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd" title="Public Domain.">
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="stylesheet alternate" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet alternate"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="stylesheet alternate"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="stylesheet alternate"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="stylesheet alternate"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B9$B7n(B)</h1>

<div id="intro">
[<img src="favicon" alt="$BE_F|(B" class="favicon">
  (<a href="list" rel="index" title="$BF|5-$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="d200309++summary" title="$B:#7n$N8+=P$70lMw!#(B">$BMWLs(B</a>,
   <a href="../who?" title="$BF|5-=q$$$F$k<cMU$N@5BN$KGw$k(B!?">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)
]
[$BEE;R%K%e!<%9(B
  <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9AH(B suika.robamimi ($B$9!z$`$N<*$OqfGO$N<*(B)">$B$m$P<*(B</a>,
]
[
[Chat 
  [<a href="../-temp/wkchat/chat1" title="$B?M9)L5G=$`(B*$B$97/$,(B24$B;~4V$"$J$?$NAj<j$r$9$k(B Web chat $B5!9=!#(B">$B$`(B*$B$9Cc(B</a>]
  [<a href="/~rei/cgi-bin/moonlight/">$B7n8wCc(B</a>]
]
]
</div>
<div id="d2" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:2" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B2$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d2-1" class=" section">
<h3><a href="#d2-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B%F%9%H(B]</span>
<span class="cat">[$BO*@>0!8l(B]</span>
</span>
$BO*@>0!8l$N%F%9%H!#(B</h3>
<p>$BO*@>0!8l$,=5(B2$B$3$^$"$k$&$A$N!"O*@>0!?M$N@h@8$NJ}$N%F%9%H$,$"$j$^$7$?!#652J=q(B ($B$=$N@h@8$NCx=q$@$C$?$j$9$k!#(B) $B$K$"$kN}=,LdBj$+$iE,Ev$K4v$D$+<h$j=P$7$?LdBj$,0u:~$7$F$"$C$F!"$=$l$r8+$F<ALdJ8$rFI$s$G!"$=$l$KEz$($k$H$$$&7A<0!#$b$A$m$s0l?M$:$D!#(B</p><p>$B2F5Y$_$r(B1$B%v7n64$s$G$$$-$J$j2?$b$J$7$G%F%9%H$C$F$N$O$J$+$J$+$-$D$$$b$N$,$"$j$^$9$N$G$9!#$s$@$1$I!"$^$"$J$s$H$+$J$j$^$7$?!#$A$g$C$HHyL/$KFf$J$H$3$m$,$"$C$?$1$I!"$J$s$H$+8mKb2=$;$?$C$]!#(B</p><p>$B$3$ND4;R$GB>$N<x6H$b!&!&!&$H$$$-$?$$$H$3$m$G$9$,!#$I$&$G$7$g$&$M$'!#:#0lHV:$$C$F$$$k$N$O!"(B7$B7n$N%F%9%H$N7k2L<!Bh$GNO3X$N%F%9%H$r$b$&(B1$BEY<u$1$J$$$H$$$1$J$$$s$G$9$,!"$=$N7k2L$,7G<($5$l$F$$$k$N$,$I$3$+ITL@(B...</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B2$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F2" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F2" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d3" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:3" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B3$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
<span class="var T1">1$B8B(B:$BO*@>0!8l(B</span>
<span class="var T2">2$B8B(B:$B5Y9V(B</span>
<span class="var T3">3$B8B(B:$B5Y9V(B</span>
</div><!-- header -->

<div id="d3-1" class=" section">
<h3><a href="#d3-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B%F%9%H(B]</span>
<span class="cat">[$BNO3X(B]</span>
</span>
$BNO3X$N%F%9%H$N7k2L(B</h3>
<p><a href="/~wakaba/d/d200309#d2-1">$B:rF|=q$$$?(B</a>$BDL$jA\$75a$a$F$$$?(B($BON(B)$BNO3X$N%F%9%H$N7k2L!"?k$KH/8+$7$^$7$?!#6&DL(BA$BEo(B1$B3,$N7G<(HD$K!#$O$7$C$3$NC/$b8+$F$J$$(B<sup><a href="#d3-1-fn1" class=" fn_anchor">*1</a></sup> $B$H$3$m$K$R$C$=$j$7$C$+$jE=$C$F$"$j$^$7$?!#(B</p><p>$B$G!"7k2L$O$J$s$H$+$+$s$H$+$J$s$H$+$J$C$?(B($BFf(B)$BLOMM!#$h$+$C$?$h$+$C$?!#(B</p><p>$B:#F|$N9V5A$O(B1$B8B$@$1!#L@F|$bF1$8$/!#3Z$J$N$OHs>o$K4r$7$$$3$H$J$N$G$9$,!"=k$/$F0\F0$@$1$G$bBgJQ$G!#$I$&$;$J$i$J$/$J$C$FM_$7$$!#!#!#(B</p><ol class="footnote">
<li id="d3-1-fn1">$B%F%9%H4|4V$J$s$GB>$N7G<(HD$K$O?M$,=8$C$F$$$k!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B3$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F3" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F3" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d4" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:4" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B4$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
<span class="var T1">1$B8B(B:$B@~7ABe?t3X(BA ($B%F%9%H(B)</span>
<span class="var T2">2$B8B(B:$B5Y9V(B</span>
<span class="var T3">3$B8B(B:$B5Y9V(B</span>
</div><!-- header -->

<div id="d4-1" class=" section">
<h3><a href="#d4-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B%F%9%H(B]</span>
<span class="cat">[$B?t3X(B]</span>
</span>
$B@~7ABe?t3X(B A $B$N%F%9%H(B</h3>
<p>$B@~7ABe?t$N4|Kv%F%9%H$,$"$j$^$7$?!#;W$C$F$?$h$j$9$4$/4JC1$G$7$?!#(B<sup><a href="#d4-1-fn1" class=" fn_anchor">*1</a></sup> $B$3$l$J$iK~E@$bL4$8$c$"$j$^$;$s!#$G$bNc$K$h$C$F7W;;4V0c$$$,@dBP$"$k$+$iK~E@$OL5M}$@!&!&!&!#(B<sup><a href="#d4-1-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d4-1-fn1">$B$?$H$($P!"(B (<var>P</var><sup>$B!](B1</sup><var>A</var><var>P</var>)<sup><var>k</var></sup> = <var>P</var><sup>$B!](B1</sup><var>A</var><sup><var>k</var></sup><var>P</var>$B$r>ZL@$;$h!"$J$s$F$N$b=P$F$^$7$?!#(B</li>
<li id="d4-1-fn2">$B9TNs$O7W;;$,0lGU$"$C$FLLE]!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B4$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F4" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F4" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d5" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:5" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B5$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d5-1" class=" section">
<h3><a href="#d5-1" class="self">$B!y(B</a> M$N $B4X78$O$&$6$$$N$G$$$J$/$J$C$F$/$l$k$H$9$C$-$j$9$k$N$G$9$,!#(B</h3>
<p>$B$J$s$+!"(B Windoze Messanger $B$,$3$3$s$H$3$&$k$5$+$C$?$s$G$9$h!#(B .NET $B$,$I$&$3$&$G!"(B security $B$,$I$&$@$+$i?7HG$K$&(Bpg$B$i$G(B($BFf(B)$B$7$m$H$+!#;EJ}$J$$$+$i;X<($K=>$C$F?J$a$F$C$?$s$G$9$h!#2?5$$K7y$JM=46$r>z$7=P$7$D$D$M!#(B</p><p>$B$G!"L5;v(B? M$N Messanger $B$H$+$$$&$N$,F~$C$?$_$?$$$G$9!#F0$$$F$k$_$?$$$G$9!#$=$l$O$$$$$s$G$9$1$I!"8E$$$[$&$bF0$$$F$k$_$?$$$G$9$h(B? $B@\B3$O?7$7$$$[$&$,@h<h$7$F$k$_$?$$$G8E$$J}$OL$@\B3$C$F=P$^$9$,!#(B</p><p>$B$-$C$H(B M$N Explorer $B$H$NMm$_$+$J$s$+$@$H;W$&$s$G$9$1$I!"$^$C$?$/$[$s$H$K$I$&$7$F(B M$ $B$O<+<R@=IJ$N@09g@-$H$+$5$($^$H$b$K=hM}$7$?$b$N$,:n$l$J$$$s$G$9$+$M!#$^$":#$K;O$^$C$?OC$8$c$J$$$G$9$,!#(B</p><p>$B$3$N(B M$N $B$J$s$A$c$i72!"$$$C$=$"$\!<$s$7$?$$$s$G$9$1$I!"$3$l$,$J$$$HO"Mm<h$l$J$$?M$b$$$k$s$G$9$M!<!#:G=i$+$i(B OS $B$H0l=o$K$D$$$F$/$k$+$iJXMx$H$$$($PJXMx!#(B<sup><a href="#d5-1-fn1" class=" fn_anchor">*1</a></sup> $BJXMx$5$K47$l$FK:$l$k2P$NI]$5!#(B</p><ol class="footnote">
<li id="d5-1-fn1">$B$=$N:G=i$+$iIU$$$F$/$kE[$N(B security update $B$H$d$i$rEv$F$?$i68$C$?$C$F$N$O:$$C$?OC$@$H;W$&$s$@$,$J!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B5$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F5" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F5" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d6" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:6" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B6$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d6-1" class=" section">
<h3><a href="#d6-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B%F%9%H(B]</span>
<span class="cat">[$B1Q8l(B]</span>
</span>
$B%F%9%H!#(B</h3>
<p>$B5Y$_$J$N$K%F%9%H$J$N$@!#]5!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B6$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F6" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F6" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d7" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:7" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B7$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d7-1" class=" section">
<h3><a href="#d7-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B%W%m%0%i%_%s%0(B]</span>
<span class="cat">[$B=IBj(B]</span>
</span>
$B$d$C$Q$j;H$$47$l$?8@8l$,0lHV$$$$$H$$$&OC!#(B</h3>
<p>$BA0$K$b2?EY$+$3$NF|5-$G=q$$$?$h$&$J5$$b$7$^$9$,!"2F5Y$_$N2]Bj$G$A$g$C$H$7$?%W%m%0%i%`$r=q$1$H$$$&$N$,$"$k$s$G$9!#$G!"Mh=5(B ($B:#=5(B?) $BCf$KDs=P$7$J$$$H$$$1$J$$$s$G$9!#$@$1$I!"Cf!9$d$k5$$K$J$i$J$/$FCY!9$H$7$F?J$^$J$$;OKv!#(B</p><p>$B$G!"$=$m$=$mK\5$$G$d$P$$$N$G$=$l$K<h$j3]$+$C$?$s$G$9$,!"$J$s$;<j85$G%3%s%Q%$%i$,F0$+$J$$!#G>Fb%G%P%C%0$K$O$d$C$Q$j8B3&$,$"$k$s$G$9$h$M$'!#$7$g$&$b$J$$4V0c$$$,$"$C$F$b5$$E$+$J$$!#;W$$9~$_$+$J!#(B</p><p>$B$H$$$&>u67$@$H$^$9$^$90`$($F!"$J$s$G(B Pascal $B$K$O!{!{$,L5$$$s$@$H$+!"$`$+$D$$$F$/$k$s$G$9!#$-$^$;$s$+(B? $B$-$^$9$h$M$'!#(B</p><p>$B$C$F$3$H$G!":G=i$O(B perl $B$G=q$$$F(B debug $B:Q$^$;$F!"0lHV:G8e$K(B Pascal $B$KK]Lu$9$k$3$H$K$7$^$7$?!#$C$F$J$s$G$3$s$J$3$H$r:G=i$+$i;W$$$D$+$J$+$C$?$s$G$7$g$&!#(B</p><p>$B7kO@(B : $B%/%$%C%/!&%=!<%H$^$8B.$$!#$d$P$$$h$3$l(B($BFf(B)$B!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B7$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F7" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F7" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d8" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:8" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B8$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d8-1" class=" section">
<h3><a href="#d8-1" class="self">$B!y(B</a> $B%F%9%H$P$C$+!#(B</h3>
<p>$B]5$G$9$J!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B8$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F8" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F8" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d10" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:10" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B10$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d10-1" class=" section">
<h3><a href="#d10-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BE75$(B]</span>
</span>
$B5W$7$V$j$N1+(B</h3>
<p>$B5W$7$V$j$K$I$5!<$C$H(B($BFf(B)$B1+$,9_$j$^$7$?!#$G$b$b$&$"$,$C$F$7$^$C$F$8$a$8$a$7$F$F$d$J46$8!#(B</p></div><!-- class="section" -->
<div id="d10-2" class=" section">
<h3><a href="#d10-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B@8J*(B]</span>
</span>
$B0dEA>pJs(B</h3>
<p>$B30fuMU$H$+FbfuMU$H$+!"2{$+$7$$8@MU$,?'!9$H!#!#!#(B<sup><a href="#d10-2-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d10-2-fn1">$B2{$+$7$$$1$I8@MU$@$1$G$"$H$OA4A33P$($F$J$+$C$?$j$9$k!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B10$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F10" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F10" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d11" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:11" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B11$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d11-1" class=" section">
<h3><a href="#d11-1" class="self">$B!y(B</a> $B9T$C$F$_$?$i5Y$_$@$C$?(B ($B$^$?$+(B)$B!#(B</h3>
<p>$B;30l$D8~$3$&$N:G4s$N%9!<%Q!<$^$GGc$$J*$K$$$C$?$s$G$9$h!#$=$7$?$i$5!"(B<blockquote><p class="invalid">$BK\F|$O7n$K0lEY$NDj5YF|(B</p><cite></cite></blockquote>
</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B11$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F11" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F11" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d16" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:16" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B16$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d16-1" class=" section">
<h3><a href="#d16-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BE75$(B]</span>
</span>
$BNC$7$/$J$C$?!&!&!&$H8+$;$+$1$F(B</h3>
<p>$B$J$s$+F|:9$7$,?4CO$h$$46$8$G!"=)$G$9$M$(!#$H$+;W$C$F$?$i!"D+$@$1$G$7$?!#$G$b$^$"D+$@$1$G$bNC$7$/$J$C$?$N$O?JJb(B($BFf(B)$B$G$O$"$k!#(B</p></div><!-- class="section" -->
<div id="d16-2" class=" section">
<h3><a href="#d16-2" class="self">$B!y(B</a> $BG\A}$N(B $B$9$4$$(B $BEE5$NA6b(B</h3>
<p>$B62$l$F$$$?$3$H$,5/$-$F$7$^$$$^$7$?!#Ck4VEE5$NA6b$,@h7n$NG\$K!#%/!<%i!<$D$1$^$/$C$F$^$7$?$+$i!&!&!&!#$3$3!"%/!<%i!<$J$$$H$^$8$G@8$-$F$$$1$^$;$s!#8~$+$$$NIt20$NAk$H8<4X$N8M$H$+A4It3+$1$F$*$1$PIw$bDL$C$F>/$7$ONC$7$/$J$k$H;W$&$s$@$1$I$J$"!&!&!&!#$3$l$,Ak$,0lJ}8~$7$+$J$$It20$N87$7$5!#(B</p><p>$BIT;W5D$J$3$H$KLk4VNA6b$O5U$K0B$/$J$C$F$^$9!#HyL/$K!#JQ$J$N!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B16$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F16" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F16" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d24" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:24" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B24$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d24-1" class=" section">
<h3><a href="#d24-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B?);v(B]</span>
</span>
$B$"$j$($J$$(B $B$9$4$$(B $B$*$*$\$1(B</h3>
<p>$B:rF|$NM<HS?)$Y$k$NK:$l$F$^$7$?(B($BON(B)$B!#Ck?2$7$F$F$=$N$^$^!&!&$H$+$8$c$J$$$G$9$h!#IaDL$K5/$-$F$?$N$KIaDL$K5$$E$+$J$+$C$?$s$G$9!#$J$s$GK:$l$F$?$N$+$b$h$/$o$+$i$J$$!#!#!#(B</p></div><!-- class="section" -->
<div id="d24-2" class=" section">
<h3><a href="#d24-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B?);v(B]</span>
</span>
$B$"$j$($J$$(B $B$9$4$$(B $B$*$*$\$1(B</h3>
<p>$B:rF|$NM<HS?)$Y$k$NK:$l$F$^$7$?(B($BON(B)$B!#Ck?2$7$F$F$=$N$^$^!&!&$H$+$8$c$J$$$G$9$h!#IaDL$K5/$-$F$?$N$KIaDL$K5$$E$+$J$+$C$?$s$G$9!#$J$s$GK:$l$F$?$N$+$b$h$/$o$+$i$J$$!#!#!#(B</p></div><!-- class="section" -->
<div id="d24-3" class=" section">
<h3><a href="#d24-3" class="self">$B!y(B</a> $B8+$k$+$i$K(B $B$9$4$$(B $B$+$S(B</h3>
<p>$B3+Iu$7$?$^$^(B2$B=54V$/$i$$J|CV$7$F$?%Q%s!#@dBP$K4V0c$C$F?)$Y$k$C$F$N$,$"$jF@$J$$0L$R$I$$M-MM$G$7$?!&!&!&!#$b$C$?$$$J$$!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B24$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F24" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F24" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d28" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:28" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B28$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d28-1" class=" section">
<h3><a href="#d28-1" class="self">$B!y(B</a> $B%@%V%k%A%c%C%F%#%s%0(B</h3>
<p>$B:rHU$O%a%$%k$,Aw$l$J$$$+$i$J$s$H$+$7$m(B! $B$C$F?M$H(B chat $B$7$J$,$i=IBj65$($m(B! $B$C$F?M$HEEOC$7$F$^$7$?!#!#!#<c$$:"$O(B IE 4,5 $BAk3+$$$F(B (Windoze $B$d(B IE $B$N(B) $B8B3&$KD)@o$7$?$b$s$G$9$,!"EEOC$HJ8;z$N(B chat $B$NF1;~?J9T$J$s$F$N$O=iBN83!#$I$&$G$b$$$$$H$$$($P$I$&$G$b$$$$$G$9$,!#(B</p><p>$B$I$&$G$b$h$/$J$$$3$H$H$7$F$O!"$=$NJ,$N?gL2;~4V$OC/$,Jd=~$7$F$/$l$k$s$@$m$&!#!#!#(B</p></div><!-- class="section" -->
<div id="d28-2" class=" section">
<h3><a href="#d28-2" class="self">$B!y(B</a> $B<s$,DK$$!#(B</h3>
<p>$BDK$$$s$G$9$h!#<s$,!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B28$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F28" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F28" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d29" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:9:29" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B9$B7n(B29$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d29-1" class=" section">
<h3><a href="#d29-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[Windoze]</span>
</span>
$B<B$O4JC1$K85$KLa$;$?$N$@$H$$$&OC(B</h3>
<p>Windoze XP $B$C$F=i4|>uBV$G%G%9%/%H%C%W$K$"$k%^%$(B $B%3%s%T%e!<%?$H$+$N%"%$%3%s$,I=<($5$l$J$$$G$7$g!#ITJX$@$J$"$H;W$C$F%7%g!<%H%+%C%H$rBe$o$j$KCV$$$F$?$s$G$9!#(B</p><p>$B:rF|6vA35$$E$$$?$s$G$9$1$I!"2hLL$N%W%m%Q%F%#"*%G%9%/%H%C%W"*%G%9%/%H%C%W$N%+%9%?%^%$%:$GI=<($G$-$k$s$G$9$M!#CN$i$J$+$C$?!#(B</p><p>$B$K$7$F$b!"=i4|>uBV$G$3$&$$$&%"%$%3%s$r1#$7$F$*$/$J$s$F!"(B Windoze 95 $B0JMh$N%G%9%/%H%C%W$rD:E@$H$9$kLZ9=B$$N%b%G%k$O$I$&$J$C$F$7$^$C$?$s$G$9$+$M(B?<sup><a href="#d29-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d29-1-fn1">$BA0$+$i?oJ,$.$/$7$c$/$7$F$?$+$i:#99$I$&$3$&8@$&%l%Y%k$G$b$J$$$1$I$5!#(B</li>
</ol></div><!-- class="section" -->
<div id="d29-2" class=" section">
<h3><a href="#d29-2" class="self">$B!y(B</a> $B=)5Y$_$b8e>/$7$G=*$o$C$A$c$&(B</h3>
<p>$B3X4|$N$O$8$a$C$F?'!9LLE]$J$s$G$9$h$M$'!#50F;$K>h$k$^$G$O5Y9V$b$J$$$@$m$&$7!#!#!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B9$B7n(B29$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F29" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F9%2F%2F29" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->


<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (
 <a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200308">$BA07n(B</a>,
 <a rel="next" href="d200310">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>
)]
</div>
<ul class="myuri">
<li>&lt;URL:<a href="/~wakaba/d200309">http://suika.fam.cx/~wakaba/d/d200309</a>&gt;</li>
<li>&lt;<a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2003:9">URN:x-suika-fam-cx:fuyubi:2003:9</a>&gt;</li>
</ul>

</body>
</html>
