<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2006$BG/(B1$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2006$BG/(B1$B7n$N<cMU$N0-9T$N5-O?!#(B" />
<link rel="contents" href="list" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$r=q$$$?7n$N0lMw(B" />
<link rel="prev" href="d200512" title="$BA07n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="next" href="d200602" title="$BMb7n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="contents" href="d200601+summary" title="$B:#7n$NOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200601" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2006$BG/(B1$B7n(B)" />
<link rev="made" href="/~wakaba/who?" title="$BCx<T$N<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd"
      title="Public Domain." lang="en" xml:lang="en" />
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="alternate stylesheet" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="alternate stylesheet"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="alternate stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="alternate stylesheet"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="alternate stylesheet"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<div class="header">
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2006$BG/(B1$B7n(B)</h1>

<div id="intro" class="navigation">
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
  (<a href="list" rel="contents" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="../who?" rev="made">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)]
</div>

</div><!-- header -->
<div id="d28" class=" body section">
       <h2><a href="/~wakaba/d/d200601#d28" class="self"
       >2006$BG/(B1$B7n(B28$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d28-1" class=" section">
<h3><a href="#d28-1" class="self">$B!y(B</a> $B%"%+F|?7J9%-%?%3%l(B (@13:22 +09:00)</h3>
<p>$B5W$7$V$j$K?7J9HNGd0w(B<span class="aa hw">$B%-%?%3%l(B</span>$B!#%H%$%l$N;f$O4V$K9g$C$F$^$9$h(Bw</p></div><!-- class="section" -->
<div id="d28-2" class=" section">
<h3><a href="#d28-2" class="self">$B!y(B</a> $B1D6HF|OB(B (@16:20 +09:00)</h3>
<p><a href="/~wakaba/d/d200601#d28-1">$B?7J9(B</a>$B$N<!$O(B<a href="/~wakaba/d/d200601#d27-1">$B%$%s%?!<%M%C%H(B</a>$B$G$9$h(Bw $B?t7oNY$N?M$,$$$D$N4V$K$+4]$a9~$^$l$F7@Ls$7$F$k$7(Bwww $B1G2h$N%@%&%s%m!<%I(B ($BM-NA(B) $B$@$C$F(B? $B$=$l%H%$%l$N;f$K$b;H$($J$$$h(Bw</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F1%2F%2F28" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F1%2F%2F28" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d27" class=" body section">
       <h2><a href="/~wakaba/d/d200601#d27" class="self"
       >2006$BG/(B1$B7n(B27$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d27-1" class=" section">
<h3><a href="#d27-1" class="self">$B!y(B</a> $B%$%s%?!<%M%C%H@\B36H<T$,I,;`$J7o(B (@16:30 +09:00)</h3>
<p>$B0JA0$K$b(B<a href="/~wakaba/d/d200512#d7-2">$BK?(BISP$B$,I,;`$@(B</a>$B$H=q$-$^$7$?$,!"$^$?$^$?$d$C$F$/$l$^$7$?(Bw $B:#EY$O7zJ*$NF~$j8}$rF~$C$?$H$3$m$K9-9p$r=P$7$F$^$9(Bw</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F1%2F%2F27" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F1%2F%2F27" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d25" class=" body section">
       <h2><a href="/~wakaba/d/d200601#d25" class="self"
       >2006$BG/(B1$B7n(B25$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d25-1" class=" section">
<h3><a href="#d25-1" class="self">$B!y(B</a> $BIT<#$NIB(B (@21:10 +09:00)</h3>
<p>1$B=54V3JF.$7$FMh$?%P%0$,$I$&$d$i=$@5$7$h$&$,$J$$$b$N$i$7$$$HH=L@$7$?7o!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F1%2F%2F25" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F1%2F%2F25" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d23" class=" body section">
       <h2><a href="/~wakaba/d/d200601#d23" class="self"
       >2006$BG/(B1$B7n(B23$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d23-1" class=" section">
<h3><a href="#d23-1" class="self">$B!y(B</a> $B@c%-%?%3%l(B (@08:53 +09:00)</h3>
<p>$B@c$,$J$s$H0R@*NI$/9_$C$F$*$j$^$9$3$H(Bw</p></div><!-- class="section" -->
<div id="d23-2" class=" section">
<h3><a href="#d23-2" class="self">$B!y(B</a> 0123!!!!!!!!11 (@17:11 +09:00)</h3>
<p>$B:#F|$O(B01$B7n(B23$BF|$@$C$?$N$@(B<span class="aa fw" lang="ja-2ch">!!11</span></p></div><!-- class="section" -->
<div id="d23-3" class=" section">
<h3><a href="#d23-3" class="self">$B!y(B</a> $BA*BrMs$N(B usability (@19:09 +09:00)</h3>
<p><a href="http://find.2ch.net/?STR=%B5%EC%B2%DD%C4%F8%CD%FA%BD%A4%BC%D4&COUNT=10&TYPE=TITLE&BBS=2ch">$B%;%s%?!<;n83$N2JL\A*Br$N%^!<%/$,$o$+$j$K$/$$(B</a>$B$H$$$&OC!#(B</p><p><blockquote><table style="border: 1px solid; border-collapse: separate; text-align: center"><thead><tr><th style="border-left: 1px solid; border-bottom-style: none"></th><th style="border-left: 1px solid; border-bottom-style: none"></th><th colspan="2" style="width: 7em; border-left: 1px solid; border-bottom: 1px solid">$B5l2]DxMz=$<T(B</th></tr><tr><th style="vertical-align: top; border-left: 1px solid"><span style="display: block; width: 1em; margin-left: auto; margin-right: auto">$BM}2JAm9g(B b</span></th><th style="vertical-align: top; border-left: 1px solid"><span style="display: block; width: 1em; margin-left: auto; margin-right: auto">$B@8J*(B I</span></th><th style="vertical-align: top; border-left: 1px solid"><span style="display: block; width: 1em; margin-left: auto; margin-right: auto">$BAm9gM}2J(B</span></th><th style="vertical-align: top; border-left: 1px solid"><span style="display: block; width: 1em; margin-left: auto; margin-right: auto">$B@8J*(B I A</span></th></tr></thead><tbody><tr><td style="border-left: 1px solid; border-bottom-style: none"><input type="radio"></td><td style="border-left: 1px solid; border-bottom-style: none"><input type="radio"></td><td style="border-left: 1px solid; border-bottom-style: none"><input type="radio"></td><td style="border-left: 1px solid; border-bottom-style: none"><input type="radio"></td></tr></tbody></table></blockquote></p><p>$B5l2]Dx$G$$$&!V@8J*(BIB$B!W$O?72]Dx$N!V@8J*(BI$B!W$KAjEv$9$k$N$G!"$=$l$rA*Br$7$J$1$l$P$J$i$J$$$=$&$G!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F1%2F%2F23" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F1%2F%2F23" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d18" class=" body section">
       <h2><a href="/~wakaba/d/d200601#d18" class="self"
       >2006$BG/(B1$B7n(B18$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d18-1" class=" section">
<h3><a href="#d18-1" class="self">$B!y(B</a> $B%l%]!<%H$O(B20$BKgDxEY$H$9$k(B (@17:57 +09:00)</h3>
<p>$B$$$d!"%W%m%0%i%`$N@bL@$K(B20$BKg$bL5M}$@$+$i(Bwwwwww $B2]Bj$8$c$J$+$C$?$i%=!<%92G$G=*$o$j$@$7!#$o$1$N$o$+$i$J$$@bL@FI$`J}$bBgJQ$G$7$g$&!#(B<del>$BF|K\8l$G(B</del><ins>C$B$G(B</ins>$B$*(Bkwwwwwwwwwww $B$H$+8@$$$?$/$J$k$h!"$-$C$H!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F1%2F%2F18" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F1%2F%2F18" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div class="footer">

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
 (<a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200512">$BA07n(B</a>,
 <a rel="next" href="d200602">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>)]
</div>

</div>

</body>
</html>
