<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2008$BG/(B6$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2008$BG/(B6$B7n$N<cMU$N0-9T$N5-O?!#(B" />
<link rel="contents" href="list" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$r=q$$$?7n$N0lMw(B" />
<link rel="prev" href="d200805" title="$BA07n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="next" href="d200807" title="$BMb7n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="alternate" href="d200806.ja.atom" hreflang="ja"
    type="application/atom+xml" title="2008$BG/(B6$B7n$NE_F|(B (Atom $B6!5k(B)">
<link rel="contents" href="d200806+summary" title="$B:#7n$NOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200806" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2008$BG/(B6$B7n(B)" />
<link rev="made" href="/~wakaba/who?" title="$BCx<T$N<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd"
      title="Public Domain." lang="en" xml:lang="en" />
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="alternate stylesheet" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="alternate stylesheet"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="alternate stylesheet"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="alternate stylesheet"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="alternate stylesheet"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<div class="header">
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2008$BG/(B6$B7n(B)</h1>

<div id="intro" class="navigation">
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
  (<a href="list" rel="contents" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>
   (<a href="current.html" type="text/html"
      title="$B:G?7$NF|5-(B (HTML)" lang="en">HTML</a>,
    <a href="current.ja.atom" hreflang="ja" type="application/atom+xml"
      title="$B:G?7$NF|5-(B (Atom)" lang="en">Atom</a>),
   <a href="../who?" rev="made">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)]
</div>

</div><!-- header -->
<div id="d28" class=" body section">
       <h2><a href="/~wakaba/d/d200806#d28" class="self"
       >2008$BG/(B6$B7n(B28$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d28-1" class=" section">
<h3><a href="#d28-1" class="self">$B!y(B</a> $BAGJR<1JL;R$N$h$&$J$b$N(B (@21:08 +09:00)</h3>
<p>$B%$%s%?!<%M%C%HI8=`$G$"$k(B RFC 3986 (STD 66) $B$K$h$l$P!"(B URI $B$N$&$A!"J8;z!V(B#$B!W$N8e$NItJ,$OAGJR<1JL;R$H8F$P$l!";q8;$N0lItJ,(B ($B$J$I(B) $B$rI=$9$?$a$KMQ$$$k$3$H$,$G$-$^$9!#Nc$($P!"(B <a href="http://suika.fam.cx/suika#layer13">http://suika.fam.cx/suika#layer13</a> $B$H$$$&(B URI $B$O!"(B <a href="http://suika.fam.cx/suika">http://suika.fam.cx/suika</a> $B$H$$$&;q8;$N$&$A$N!"!V(Blayer13$B!W$H$$$&L>A0$NItJ,$rI=$7$^$9!#(B<a href="http://suika.fam.cx/suika">http://suika.fam.cx/suika</a> $B$r(B<ruby>$B2r;2>H(B<rp> (</rp><rt>$B%G%j%U%!%l%s%9(B</rt><rp>) </rp></ruby>$B$9$k$H(B ($B$?$^$?$^(B) HTML $BJ8=q$,F@$i$l$^$9$,!"(B HTML $B;EMM$K=>$&$H!"(B<a href="http://suika.fam.cx/suika#layer13">http://suika.fam.cx/suika#layer13</a> $B$H$$$&(B URI $B$O!"$=$N(B HTML $BJ8=qCf$G(B <code>id</code> $BB0@-$,!V(Blayer13$B!W$H;XDj$5$l$?MWAG$rI=$9$3$H$K$J$j$^$9!#(B</p><p>$BAGJR<1JL;R$N2r<a$O(B URI scheme ($B@h$NNc$G$O(B <code>http</code>) $B$K$O0MB8$;$:!"F@$i$l$?;q8;$NG^BN7?(B ($B@h$NNc$G$O(B <code>text/html</code> = HTML $BJ8=q(B) $B$K$h$C$F7h$^$k$3$H$K$J$C$F$$$^$9!#%$%s%?!<%M%C%HI8=`$G$"$k(B RFC 3986 $B$G$O!"$G$9!#(B</p><p>$B$7$+$7!"8=<B$OI,$:$7$b%$%s%?!<%M%C%HI8=`$G$"$k(B RFC 3986 $B$H0lCW$7$^$;$s!#Nc$($P!"(B <a href="javascript:alert('abc#def')">javascript:alert('abc#def')</a> $B$H$$$&9=J8E*$K$O@5$7$$(B URI $B$r(B Web $B%V%i%&%6$O$I$&2r<a$9$k$G$7$g$&$+(B? $B<B:]$K;n$7$F$_$k$H!"!V(Babc#def$B!W$H$$$&J8;zNs$,%@%$%"%m%0!&%\%C%/%9$KI=<($5$l$^$9!#(B RFC 3986 $BDL$j$K2r<a$9$k$J$i!"!V(B#$B!W$h$j8e$OAGJR<1JL;R$G$9$+$i!"$3$N(B URI $B$O(B <a href="javascript:alert('abc">javascript:alert('abc</a> $B$H$$$&(B URI $B$K$h$C$FI=$5$l$k;q8;$N0lItJ,$rI=$7$F$$$k$3$H$K$J$j$^$9!#$7$+$7!"$3$N;q8;$O(B URI $B$H$7$F9=J8E*$K$O@5$7$$$G$9$,!"@5$7$$(B JavaScript $B$NJ8$G$O$"$j$^$;$s$+$i!"9=J88m$j$N$?$a$K<B9T$5$l$J$$$O$:$G$9!#$K$b$+$+$o$i$:!"(B JavaScript $B$H$7$F9=J88m$j$J$7$K<B9T$5$l!"$7$+$b!V(Babc#def$B!W$HI=<($5$l$k$H$$$&$3$H$O!"(B RFC 3986 $B$H$O0[$J$k2r<a$,$J$5$l$?$HM}2r$;$6$k$rF@$^$;$s(B<sup><a href="#d28-1-fn1" class=" fn_anchor">*1</a></sup> $B!#(B</p><p>$B$b$C$H$b!"%$%s%?!<%M%C%HI8=`$G$"$k(B RFC 3986 $B$K$h$l$PDj5A$5$l$F$$$k(B URI scheme $B$O(B <a href="http://www.iana.org/assignments/uri-schemes.html">IANA $BEPO?Jm(B</a>$B$KEPO?$5$l$F$$$k$b$N$J$N$G!"$=$3$K7G:\$5$l$F$$$J$$(B <code>javascript:</code> URI $B$O$=$b$=$bB8:_$7$J$$$b$N$G$9!#$G$9$+$i!"(B Web $B%V%i%&%6$,(B <code>javascript:</code> $B$+$i;O$^$kJ8;zNs$r$I$N$h$&$K2r<a$7$h$&$H$b!"(B URI $B$rDj5A$9$k%$%s%?!<%M%C%HI8=`$G$"$k(B RFC 3986 $B$K$O4X78$,$J$$$N$+$b$7$l$^$;$s(Bw $B$?$@$7!"(B Web $B%V%i%&%6$N$3$N$h$&$J2r<a$O<B$O(B <a href="/~wakaba/-temp/test/uri/javascript/test.cgi#tag=fragment"><code>javascript:</code> URI</a><sup><a href="#d28-1-fn2" class=" fn_anchor">*2</a></sup> $B$@$1$G$J$/!"(B IANA $BEPO?Jm$K7G:\$5$l$F$$$k(B URI scheme $B$G$"$k(B <a href="/~wakaba/-temp/test/uri/data/test.cgi#tag=fragment"><code>data:</code> URI</a><sup><a href="#d28-1-fn3" class=" fn_anchor">*3</a></sup> $B$d(B <code>mailto:</code> URI ($BNc$($P(B <a href="mailto:info@example.org?subject=a#b">mailto:info@example.org?subject=a#b</a>)<sup><a href="#d28-1-fn4" class=" fn_anchor">*4</a></sup> $B$G$b9T$o$l$F$$$^$9!#(B</p><ol class="footnote">
<li id="d28-1-fn1">$B87L)$K8@$($P!"AGJR<1JL;RIU$-$N(B URI $B$G<1JL$5$l$k;q8;$O(B <q cite="urn:ietf:rfc:3986">may be some portion or subset of the primary resource, some view on representations of the primary resource, or some other resource defined or described by those representations</q> (RFC 3986) $B$H@bL@$5$l$F$$$^$9$N$G!"AGJR<1JL;RIU$-$G<B9T$7$?7k2L$,$"$k<o$N!V(Bview$B!W$"$k$$$O!V(Bsome other resource$B!W$J$N$@$H<gD%$G$-$J$/$b$"$j$^$;$s!#$G$9$,!"$=$N$h$&$J2r<a$O$[$H$s$I$3$8$D$1$H$$$C$F$h$$$G$7$g$&!#(B</li>
<li id="d28-1-fn2">$B$3$l$O(B WinIE$B!"(BFirefox$B!"(BOpera$B!"(BSafari $B$N$$$:$l$G$b$G$9!#8=<B$KB?$/$N(B Web $B%5%$%H$,$3$NF0:n$K0MB8$7$F$$$k$H;W$o$l$^$9!#(B</li>
<li id="d28-1-fn3">$B$3$l$O(B Firefox$B!"(BOpera$B!"(BSafari $B$N$$$:$l$G$b$G$9!#(BFirefox $B$d(B Safari $B$O%G!<%?$H$7$F2r<a$7$?>e$G!"99$KAGJR<1JL;R$H$7$F$b2r<a$7$F$$$k(B ($B;XDj$5$l$?MWAG$^$G%9%/%m!<%k$9$k(B) $B$h$&$G$9!#(B</li>
<li id="d28-1-fn4">$B$3$l$O(B Firefox + Windows Mail$B!"(BSafari + Windows Mail$B!"(BOpera + Opera Mail $B$G$O$=$&$G$9$,!"(B WinIE7 + Windows Mail $B$N>l9g$K$@$1$OAGJR<1JL;R$NItJ,$,L5;k$5$l$^$7$?!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F6%2F%2F28" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F6%2F%2F28" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d13" class=" body section">
       <h2><a href="/~wakaba/d/d200806#d13" class="self"
       >2008$BG/(B6$B7n(B13$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d13-1" class=" section">
<h3><a href="#d13-1" class="self">$B!y(B</a> CD $BFO$$$?$h(B (@19:39 +09:00)</h3>
<p>$BI=;f3($NLOMM$,%1!<%9$K=}$,F~$C$F$k$h$&$K8+$($F$S$S$C$?!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F6%2F%2F13" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F6%2F%2F13" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d11" class=" body section">
       <h2><a href="/~wakaba/d/d200806#d11" class="self"
       >2008$BG/(B6$B7n(B11$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d11-1" class=" section">
<h3><a href="#d11-1" class="self">$B!y(B</a> $B$"$H(B4$BJ,(B (@00:15 +09:00)</h3>
<p>$B8e(B4$BJ,$G4m$&$/=*EE$rF($9$H$3$m$G$7$?!#4m$J$$4m$J$$!#!#!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F6%2F%2F11" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F6%2F%2F11" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div class="footer">

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
 (<a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200805">$BA07n(B</a>,
 <a rel="next" href="d200807">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>)]
</div>

</div>

</body>
</html>
