<!DOCTYPE html []>
<html lang="ja">
<head>
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B7$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2003$BG/(B7$B7n$N<cMU$N0-9T$N5-O?!#(B
" />
<link rev="made" href="mailto:w@suika.fam.cx" title="$B$o$+$P(B" />
<link rel="contents" href="list" title="$B7n$N0lMw(B" />
<link rel="prev" href="d200306" title="$BA07n(B" />
<link rel="next" href="d200308" title="$BMb7n(B" />
<link rel="contents" href="d200307+summary" title="$BOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200307" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B
7$B7n(B)" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.png" type="image/png" />
<link rel="help" href="/~wakaba/who?" title="$B<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd" title="Public Domain.">
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="stylesheet alternate" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet alternate"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="stylesheet alternate"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="stylesheet alternate"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="stylesheet alternate"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B7$B7n(B)</h1>

<div id="intro">
[<img src="favicon" alt="$BE_F|(B" class="favicon">
  (<a href="list" rel="index" title="$BF|5-$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="d200307++summary" title="$B:#7n$N8+=P$70lMw!#(B">$BMWLs(B</a>,
   <a href="../who?" title="$BF|5-=q$$$F$k<cMU$N@5BN$KGw$k(B!?">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)
]
[$BEE;R%K%e!<%9(B
  <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9AH(B suika.robamimi ($B$9!z$`$N<*$OqfGO$N<*(B)">$B$m$P<*(B</a>,
]
[
[Chat 
  [<a href="../-temp/wkchat/chat1" title="$B?M9)L5G=$`(B*$B$97/$,(B24$B;~4V$"$J$?$NAj<j$r$9$k(B Web chat $B5!9=!#(B">$B$`(B*$B$9Cc(B</a>]
  [<a href="/~rei/cgi-bin/moonlight/">$B7n8wCc(B</a>]
]
]
</div>
<div id="d1" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:1" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B1$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d1-1" class=" section">
<h3><a href="#d1-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
7$B7n$J$C$A$c$C$?$h$s!#(B</h3>
<p>4$B$D<x6H$,$"$kCf$G(B2$B$D5Y9V$G!"1+$b$R$I$$$7!"$$$C$=;D$j$b<+<g5Y9V$K$7$A$c$$$?$$$H$+;W$$$J$,$i$b!"$A$c$s$H$$$D$b$I$*$j9T$/$N$G$"$j$^$9!#$&!<$s!"2f$J$,$i0N$$!#(B</p><p>$B:#D+=jMQ$G(B<a href="http://www.osaka-u.ac.jp/">$B:eBg$N%&%'%V!&%5%$%H(B</a>$B8+$F$?$i!"$J$s$H5Y9V>pJs$,:\$C$F$k$i$7$$$8$c$J$$$G$9$+!#:#$^$GCN$i$J$+$C$?$h$s!"$J$s$G$b$C$HAa$/65$($F$/$l$J$$$N(B? $B$H;W$C$F8+$h$&$H$7$?$i!&!&!&3XFb$+$i$7$+8+$l$^$;$s$@$H(B? $B%O%!(B??</p><p>$B$o$6$o$6(B<a href="http://www.cmc.osaka-u.ac.jp/">CMC</a>$B$G$b9T$C$F7W;;5!F0$+$7$F$=$NJG$rFI$`$/$i$$$@$C$?$i!"Jb$$$F5Y9V7G<(HD8+$K9T$-$^$9$h(B? $B==?MCf6eE@H,?M$O@dBP$K!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B1$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F1" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F1" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d2" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:2" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B2$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d2-1" class=" section">
<h3><a href="#d2-1" class="self">$B!y(B</a> $B$"$C$D$$!#(B</h3>
<p>$B:rF|$N1+$+$i0lE>!"D+$+$i%O%$%F%s%7%g%s$J=k$5(B ($BFf(B) $B$G$9$h!#$d$C$F$i$s$J$$$J$"!#(B</p><p>$B:#F|$O(B2$B8B5Y9V$G(B1$B!&(B3$B8B$,<x6H!#5Y9V<+BN$OBgJQ$h$$$3$H$J$N$G$9$,!"$d$C$Q$j$3$N7j$N3+$-J}$O7y$@$J$"!#(B</p></div><!-- class="section" -->
<div id="d2-2" class=" section">
<h3><a href="#d2-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[WWW]</span>
</span>
Netscape or Mozilla?</h3>
<p>Netscape 7.1 $B$H(B Mozilla 1.4 $B$,=P$?$=$&$G!#@$4V0lHL(B ($B$I$3(B) $B$G$O(B N $B$H(B Mozi $B$H$I$C$A$rF~$l$k$+G:$`?M$b$$$k$_$?$$$G$9!#;~Be$bJQ$o$j$^$7$?$M!A!#(B</p><p> IE $B$O$b$&C1BNHG$b=P$J$$$_$?$$$@$7(B<sup><a href="#d2-2-fn1" class=" fn_anchor">*1</a></sup> $B!"$3$l$G(B Gecko $B;H$&?M$,A}$($l$P$$$$$s$G$9$,!&!&!&L5M}$@$m$&$J$"!#(B<sup><a href="#d2-2-fn2" class=" fn_anchor">*2</a></sup> </p><p>$B$G!"$5$F$O$F!"(B 1.4 $B&B(B $B$K$"$C$?$X$s$A$/$j$s$J%P%0$OD>$C$F$^$9$h$M(B?</p><ol class="footnote">
<li id="d2-2-fn1">$B$;$a$F:#$"$k%P%0A4ItDY$7$F$+$i$K$7$m$h!"J5(B M$ $B$a!#(B</li>
<li id="d2-2-fn2">$B@N$_$?$$$K39$GGd$C$F$k7W;;5!$K(B N or Moz $B$r(B pre$B!>(Binstall $B$7$H$1$P$$$$$N$K!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B2$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F2" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F2" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d3" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:3" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B3$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d3-1" class=" section">
<h3><a href="#d3-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$B$o$+$P!"%W!<%k%5%$%I$KN)$D$N4,!#(B</h3>
<p>$B?e1K$N<x6H$,$"$C$F!"1K$0=gHV$rBT$C$F$$$kL4$r8+$^$7$?!#(B<sup><a href="#d3-1-fn1" class=" fn_anchor">*1</a></sup> $B$"$H(B4,5$B?M$G<+J,$NHV$J$s$G$9$,!"$A$c$s$H(B25m$B$+(B50m$B$+$7$i$J$$$1$I1K$2$k$+$H$+!"?eCf4c6@$N2#$+$i?e$,O3$l$F$3$J$$$+$H$+(B ($BON(B)$B!"$=$&$$$&$3$H$r5$$K$7$F$k$s$G$9!#(B</p><p>$B7k6I$A$c$s$H1K$2$?$N$+$I$&$+$ODj$+$G$O$"$j$^$;$s$,!"3N$+$K$b$&H`@'(B6$BG/$/$i$$1K$$$G$^$;$s$+$i!"FMA3(B 100m $B1K$2$H$+8@$o$l$?$i!&!&!&$&!<$s!"$I$&$@$m$&$J$"!#(B<sup><a href="#d3-1-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d3-1-fn1">$BHyL/$JL4$G$9$J!#$A$J$_$KBg3X$G$O(B ($B$o$+$P$N$H$3$m$K$O(B) $B?e1K$N<x6H$O$"$j$^$;$s!#(B</li>
<li id="d3-1-fn2">$BBNNOE*$KL5M}$+$b!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B3$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F3" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F3" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d4" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:4" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B4$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" /><img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d4-1" class=" section">
<h3><a href="#d4-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BE75$(B]</span>
</span>
$BE75$(B</h3>
<p>$B:rHU$OBg1+$@$C$?$+$H;W$C$?$i:#F|$O$^$?$3$s$J$$$$E75$$G$9$+!#KhF|1+$b7y$@$1$I$3$s$JE75$$b7y$@$J$"!#(B</p></div><!-- class="section" -->
<div id="d4-2" class=" section">
<h3><a href="#d4-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[WWW]</span>
</span>
$B%;%7%g!<%s4IM}(B</h3>
<p>$B$G$b(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=Cookie">Cookie</a> $B$K@8%Q%9%o!<%I$O$H$C$F$b4m81$G$9$J!<!#$X$?$l%&%'%V!&%"%W%j%1!<%7%g%s(B ($BFf(B) $B$O(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=XSS">XSS</a> $BBP:v$,4E$$$HM=A[$5$l$k$N$G!"2<<j$9$k$H$b$m$P$l!#(B</p><p>$B%5!<%P!<$G%;%C%7%g%s<1JL;R$rH/9T$7$F!"$=$l$r(B Cookie $B$K$7$FAw$i$;$k$N$,>oEe<jCJ$G$9$M!#$?$@$75$$r2s$5$J$$$H(B Cookie $BL58z$@$H8+$l$J$/$J$k=t?O$N7u!#(B</p><p>$B$F$$$&$+$=$b$=$b!"AG?M$O(B Basic $BG'>Z$G$b;H$C$F$l$P:Q$`OC$+$b!#(B<sup><a href="#d4-2-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d4-2-fn1">$B8<?M$O%@%$%8%'%9%HG'>Z$G$b!&!&!&!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B4$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F4" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F4" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d5" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:5" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B5$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d5-1" class=" section">
<h3><a href="#d5-1" class="self">$B!y(B</a> $B8e4|$N;~4V3d(B</h3>
<p>$B$^$@$A$g$C$H(B ($B$+$J$j(B?) $B$O$d$$$s$G$9$1$I!"8e4|$N9V5A$rD4$Y$F$_$^$7$?!#(B<table><thead><tr><th scope="col">$B7n(B</th>	<th scope="col">$B2P(B</th>	<th scope="col">$B?e(B</th>	<th scope="col">$BLZ(B</th>	<th scope="col">$B6b(B</th></tr></thead><tbody><tr><td>$BEE<'5$3X(BI</td>	<td>$B2r@O3X(BB</td>	<td>$BBh(B2$B309q8l(B</td>	<td>$B@~7ABe?t3X(BB</td></tr><tr><td>$B1Q8l(B</td>	<td>$B?t3X1i=,(BB</td>	<td>$B><OB7P:Q;K(B</td>	<td>$B1Q8l(B</td>	<td>$BBN0i(B</td></tr><tr><td>$B>pJs2J3X4pAC(B</td>	<td>$BBh(B2$B309q8l(B</td>	<td><var>*</var></td>	<td></td>	<td>PBL2</td></tr><tr><td>$B%W%m%0%i%_%s%0(BB</td>	<td>$B%W%m%0%i%_%s%0(BB</td>	<td><var>*</var></td>	<td></td>	<td>$BNO3X(BII</td></tr></tbody></table></p><p>$BA04|(B ($B$$$^(B) $B$HHf$Y$k$H!"(B5$B8B$N$,L5$$J,(B1$B8B$,$[$H$s$IA4ItKd$^$C$F$^$9$h!#KhF|D+$,BgJQ$JM=46!#(B<sup><a href="#d5-1-fn1" class=" fn_anchor">*1</a></sup> $B$$$$;v$H$$$C$?$i!"LZMKF|$,8aA0$G=*$o$j$K$J$j$=$&$J$3$H$/$i$$!#(B</p><p>$B$G!"(B * $B$NItJ,!"A*Br;h$H$7$F$O(B<ul><li>$BH~$H@/<#(B</li><li>$B7r9/$H%9%]!<%D$NJ82=;K(B</li><li>$B8@8l$HJ82=(B</li><li>$B<+A3:R32$N2J3X(B</li><li>$B>pJs<R2q$HNQM}(B</li><li>$B:G6a$NEE;R!&>pJs!&%(%M%k%.!<5;=Q(B</li></ul>$BJU$j$J$s$G$9$1$I!"$I$l$,$$$$$+$J$"!#(B</p><p>$B$"!"$G$bNd@E$K9M$($F$_$k$H!"(B * $B$r(B1$B$D<h$C$?$H$7$?$i!";~4V?tE*$K$O:#$h$j(B1$B$D>/$J$$$s$@!#$8$c$"4hD%$C$F(B * $B$r(B2$B$D<h$l$PMhG/>/$7$O3Z$K$J$k$+$J$"(B... $B$H;W$C$?$1$I!"(B ($BMz=$2JL\$NC10L$,=gD4$K<h$l$?$H$9$l$P(B) $BB46HMW7oE*$K$OL5BL$K$J$C$F$7$^$&!#$=$l$J$i5YB)$NJ}$,=EMW$K0c$$$J$$!#(B</p><p>$B$^$"$^$@;~4V$,$"$k$s$@$7!"$f$C$/$j9M$($h$&$+!#(B</p><ol class="footnote">
<li id="d5-1-fn1">$BKhD+(B8$B;~!A$N$i$s$^(B1/2$B$,8+$l$J$$$8$c$J$$$N!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B5$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F5" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F5" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d6" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:6" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B6$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d6-1" class=" section">
<h3><a href="#d6-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[WWW]</span>
</span>
Moz 1.4</h3>
<p>$BCY$l$P$;$J$,$i(B Mozilla 1.4 $B$rF~$l$^$7$?!#$X$s$F$3$J%P%0$bD>$C$F$F$h$+$C$?!#$G$b%K%e!<%9$G$4$_%a%C%;!<%8;XDj$,=PMh$J$/$J$C$F$$$k$N$OAjJQ$o$i$:!#(B<sup><a href="#d6-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d6-1-fn1">$B$3$s$J$N%P%0$8$c@8$8$h$&$,L5$$$+$i!";EMM$J$s$@$m$&$1$I!"(Bspam $B$K?'$,IU$+$J$$$N$OLLGr$/$J$$$J$"!#(B</li>
</ol></div><!-- class="section" -->
<div id="d6-2" class=" section">
<h3><a href="#d6-2" class="self">$B!y(B</a> $B$b$&$9$02F5Y$_(B</h3>
<p>$B$$$D$N4V$K$+(B7$B7nF~$C$F(B1$B=54V$G$9$+!#2?$b$7$F$J$$(B<sup><a href="#d6-2-fn1" class=" fn_anchor">*1</a></sup> $B$N$K;~$P$C$+$j2a$.$F$C$F$7$^$$$^$9$M$'!#(B</p><p>$BK:$l$J$$$&$A$K5">JMQ$NEE<V$N@ZId$rMQ0U$7$F$*$+$J$$$H(B...</p><p>$B$=$l0JA0$K!"2F5Y$_A0$K=P$5$J$$$H$$$1$J$$%l%]!<%H=q$+$J$$$H$$$1$J$$$s$@$C$?(B... $B$d$P!#(B</p><ol class="footnote">
<li id="d6-2-fn1">$B@53N$K$O!":#F|$O(B perl $B$G(B XML Catalog $B$r<BAu$7$F$_$?$j(B ($B$7$?$N$N%P%0<h$j$r$7$?$j(B)$B!"(B Mozilla$B$NDI2C(B package $B$r:n$k$N$K05=L$H$+Dj7?%3%T%Z$H$+LLE]$JItJ,$rH><+F02=$9$k(B script $B$r=q$$$?$j$=$l$b4^$a$F(B CVS $B$KF~$l$F$_$?$j!"$H$+$7$F$$$?$o$1$G$9!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B6$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F6" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F6" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d7" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:7" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B7$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d7-1" class=" section">
<h3><a href="#d7-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$B<cMU%\!<%k(B($BFf(B)$B$,Ht$S2s$k!#(B</h3>
<p>$BO-2<$N9bEY(B2$B%a!<%H%k0L$N$H$3$m$r%\!<%k$_$?$$$K$J$C$FHt$S2s$kL4$r8+$^$7$?(B($BFf(B)$B!#2<$G;(CL$7$F$k?MC#(B<sup><a href="#d7-1-fn1" class=" fn_anchor">*1</a></sup> $B$KHt$P$5$l$?$j!"JI$GH?<M$7$?$j$7$FHt$S2s$jB3$1$k$s$G$9!#(B</p><p>$BB?J,L\$,2s$C$F$I$&$7$h$&$b$J$/$J$C$?$H;W$&$s$G$9$,!"5-21$K$"$j$^$;$s(B:-)</p><ol class="footnote">
<li id="d7-1-fn1">$B2{$+$7$$?MC#$P$+$j$@!#K>6?$NG0$C$F!<E[$G$9$+(B?</li>
</ol></div><!-- class="section" -->
<div id="d7-2" class=" section">
<h3><a href="#d7-2" class="self">$B!y(B</a> $B<7M<(B</h3>
<p>$B$"!"<7M<(B<sup><a href="#d7-2-fn1" class=" fn_anchor">*1</a></sup> $B$@!#$J$K$+$$$$$3$H$,$"$j$^$9$h$&$K!#(B</p><ol class="footnote">
<li id="d7-2-fn1">1$B2sL\(B:-)</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B7$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F7" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F7" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d8" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:8" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B8$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" /><img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d8-1" class=" section">
<h3><a href="#d8-1" class="self">$B!y(B</a> $BNd$d$7q;q+(B</h3>
<p>$B@h7n$+$i(B Don Don $B$G?)$Y$l$k!"B?J,2F5(8BDj$NNd$d$7q;q+$r?)$Y$F$_$^$7$?!#(B<sup><a href="#d8-1-fn1" class=" fn_anchor">*1</a></sup> $BLM$+$i$7$FIaDL$NG.$$q;q+$H$O0c$C$F$^$7$?!#$&$s!#$^$?$$$D$+?)$Y$h$&!#(B</p><ol class="footnote">
<li id="d8-1-fn1">$B;0I41_$G!"$"$HFs==1_$@$;$P$O$$$+$iq;q+$H$+(B2$B$D?)$Y$l$k$s$@$1$I!"$^$"5$$K$7$^$;$s!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B8$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F8" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F8" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d9" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:9" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B9$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d9-1" class=" section">
<h3><a href="#d9-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
<span class="cat">[TV]</span>
</span>
$B$*Bf>l!#(B</h3>
<p>$B$J$<$+(B TBS $B$G(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%A4%B3%A4%C1%B5%B5">$B$3$A55(B</a>$B$r$d$C$F$kL4$r8+$^$7$?!#(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%CE%BE%A4%B5%A4%F3">$BN>$5$s(B</a>$B$,$^$?%U%8%F%l%S$rGK2u$9$k$H$3$m$G$7$?(B(w$B!#N>$5$s$OHs>o3,CJ$r2<$j$FL5;v$@$C$?$_$?$$$G$9!#(B<sup><a href="#d9-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d9-1-fn1">$B$b$C$H$bH`$J$iGzH/$K4,$-9~$^$l$F$bL5;v$@$H;W$$$^$9$,!#(B</li>
</ol></div><!-- class="section" -->
<div id="d9-2" class=" section">
<h3><a href="#d9-2" class="self">$B!y(B</a> $BE}7W3X$N=IBj(B</h3>
<p>$BE}7W3X$N2]Bj$G!"J?6Q$d$iJ,;6$d$i$J$s$d$i$r5a$a$J$5$$$H$$$&$N$,$"$C$?$N$G!"(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=WikiPlugin">WikiPlugin</a>$B$r:n$C$F$_$^$7$?(B($BON(B)$B!#(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=SandBox%2F%2FWikiPlugin%2F%2F%C5%FD%B7%D7%B3%D8%A4%CE%BD%C9%C2%EA%CD%D1%28%C6%E6%29">SandBox//WikiPlugin//$BE}7W3X$N=IBjMQ(B($BFf(B)</a>$B$r;2>H!#(B</p><p>$B$=$s$J$N(B Excel $B$G$b;H$($P0lH/$@$m$&$H$N@<$,J9$3$($F$-$=$&$G$9$,!"@8A~$=$s$JJXMx$J%=%U%H%&%'%"$O;H$C$F$J$/$F!#$+$H$$$C$F(B OpenOffice $B$H$+F~$l$k$N$b$J$s$+0c$&5$$,$9$k$7(B($B>P(B)$B!#(B<sup><a href="#d9-2-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d9-2-fn1">$B$G$b$o$6$o$6(B WikiPlugin $B$K$;$:$H$b!"IaDL$K(B command line $B$G(B perl $B0l9TLnO:$r=q$$$?$[$&$,0l=V$N$h$&$J5$$b$7$^$9$,!#"+$3$&$$$&K\Ev$N$3$H$r8@$C$F$O$$$1$^$;$s!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B9$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F9" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F9" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d10" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:10" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B10$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d10-1" class=" section">
<h3><a href="#d10-1" class="self">$B!y(B</a> $B?22a$4$7$A$c$$$^$7$?!#(B</h3>
<p>$B0lEY5/$-$?;~$K$^$@;~4V$,$"$k$H;W$C$F!"$b$&$A$g$C$H?2$?$i!"$.$j$.$j$^$G?2$A$c$$$^$7$?!#(B</p><p>$B$=$l$G$b$^$@M>M5$,$"$C$F!"D+?)?)$Y$F%a%$%kFI$s$G$9$0$K2H=P$l$P==J,4V$K9g$C$?$+$i$h$+$C$?$s$G$9$1$I!#(B</p><p>$B;~7W$r8+4V0c$($?$+!"$=$l$H$b?2$9$.$?$+!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B10$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F10" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F10" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d11" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:11" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B11$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d11-1" class=" section">
<h3><a href="#d11-1" class="self">$B!y(B</a> $B$"$C$D$$!#(B</h3>
<p>$B$"$C$D$$!#=k$/$FD+L\$,3P$a$?$/$i$$!#@pIw5!$NIw$KEv$?$C$F$F$bIaDL$K4@$,=P$F$/$k$s$G$9$1$I!#$7$+$b$3$s$JF|$KBN0i(B!</p></div><!-- class="section" -->
<div id="d11-2" class=" section">
<h3><a href="#d11-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[$BJ*M}(B]</span>
</span>
$B%F%9%H(B</h3>
<p>$BJ*M}$N%F%9%H$,$"$j$^$7$?!#$7$g$&$b$J$$7W;;4V0c$$$H$+!#$b$&$@$a$]!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B11$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F11" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F11" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d15" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:15" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B15$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d15-1" class=" section">
<h3><a href="#d15-1" class="self">$B!y(B</a> $B5W$7$V$j$K%a%$%k$rAw$k!#(B</h3>
<p>$BLnJkMQ$G$"$k?M$K%a%$%k$r=q$-$^$7$?!#5W$7$V$j$K!#$=$N?M$KAw$k$N$,5W$7$V$j$J$s$8$c$J$/$F(B<sup><a href="#d15-1-fn1" class=" fn_anchor">*1</a></sup> $B!"%a%$%k$rAw$k$H$$$&9T0Y<+BN$,5W$7$V$j!#$I$l$/$i$$5W$7$$$+$H$$$&$H!&!&!&D4$Y$F$_$?$i!"A0$KAw$C$?$N$,(B6$B7n(B14$BF|!"$D$^$j$A$g$&$I0l%v7n$G$9$M!#0l%v7n4V2?$7$F$?$s$@$m(B?</p><p>$B$&!A$s!"%a%$%kAw$k$N$C$F6[D%$9$k$J$"(B(w</p><ol class="footnote">
<li id="d15-1-fn1">$B<B:]$K$O=i$a$F$@$7(B:-)</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B15$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F15" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F15" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d16" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:16" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B16$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d16-1" class=" section">
<h3><a href="#d16-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[<img src="/~wakaba/art/icon/suika" class="favicon" alt="$B@>1;(B" />]</span>
</span>
$B$m$P$_$_$O$I$3$X(B?</h3>
<p>$B$m$P$_$_HrFq=j$,;HMQ$7$F$$$?L5NA%5!<%S%9$NGQ;_$KH<$$;H$($J$/$J$C$F$$$k$_$?$$$G$9!#$3$l$@$+$iL5NA%5!<%S%9(B, $B$H$j$o$1(B Inf$B!{(Bseek $B$O?.MQ$G$-$s!#(B<sup><a href="#d16-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$G!"BeBX7G<(HD$G$9$,!"$"$j$^$;$s!#6aL$Mh$K@>1;%K%e!<%9!&%5!<%P!<$,I|3h$9$kM=Dj(B<sup><a href="#d16-1-fn2" class=" fn_anchor">*2</a></sup> $B$J$N$G!"$=$7$?$i(B suika.robamimi $B$KI|5"$9$k$H$$$&$3$H$G0l$D$h$m$7$/!#(B</p><ol class="footnote">
<li id="d16-1-fn1"><a href="http://www.cool.ne.jp/">Cool</a>$B$N7G<(HD$@$C$?$s$G$9$,!"H>G/$/$i$$A0$K(B Inf$B!{(Bseek $B$KGc<}$5$l$?$_$?$$$G$9!#Gc<}A0$OHf3SE*$^$H$b$J%5!<%S%9$r$7$F$?$s$G$9$,$M!#(B</li>
<li id="d16-1-fn2">$B$OL$Dj!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B16$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F16" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F16" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d17" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:17" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B17$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
<span class="var T3">3$B8B(B:$B%W%m%0%i%_%s%0(BA</span>
</div><!-- header -->

<div id="d17-1" class=" section">
<h3><a href="#d17-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[DonDon]</span>
</span>
$B>.A,$,L5$$(B! $B$o$+$P$?$s%T%s%A(B!!</h3>
<p>$B:#F|$O(B3$B;~4VL\$@$1<x6H$,$"$C$?$s$G!"CkA0$K9T$C$F!"(B Don Don $B$G$N$s$S$j$*Ck$G$b?)$Y$h$&$H;W$C$F$?$s$G$9!#(B</p><p>$B$G!"?)7tHNGd5!$NA0$G:bI[$rGA$$$?$i!"(B5000$B1_;%$H$+(B1$B1_6L$H$+$O$"$k$s$G$9$1$I!"<j:"$J>.A,(B($BFf(B)$B$,A4A3L5$/$F!#==1_6L$+$-=8$a$F(B12$BKg!#$3$l$8$c$"%i%$%9$7$+Gc$($^$;$s!#AGq;q+$G$5$((B130$B1_$G$"$H(B10$B1_B-$j$J$$!#2?$,9%$-$G(B Don Don $B$GGr$$$4HS(B<em>$B$@$1(B</em>$B?)$Y$J$/$A$c$J$i$s$N$G$9$+(B?</p><p>$B;EJ}$J$$$N$G!"6a$/$N@86($N$*E9$G%7%c!<%Z%s$N?D$H@V$$%Z%s(B<sup><a href="#d17-1-fn1" class=" fn_anchor">*1</a></sup> $BGc$C$F>.A,$KJx$7$^$7$?!#(B<sup><a href="#d17-1-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d17-1-fn1">$B4]IU$1$N;~$H$+L5$$$H$D$i$$!#$D$i$$$H$+$$$$$J$,$i(B4$B%v7n$,2a$.$^$7$?$,(B(w</li>
<li id="d17-1-fn2">$B%Z%s(B1$BK\$H$+%7%c!<?D$@$1Gc$&$N$O$J$s$+$_$C$H$b$J$$$N$GN>J}$K$7$?$s$G$9$1$I!"Bg:9$J$$$+$J$"!#(B</li>
</ol></div><!-- class="section" -->
<div id="d17-2" class=" section">
<h3><a href="#d17-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B%a%$%k(B]</span>
</span>
$BL$Mh$+$i$N(B spam $B%a%$%k(B</h3>
<p>$B:G6a!"(B2004$BG/$H$+(B2005$BG/$H$+(B2026$BG/$+$i(B spam $B$,FO$$$F$^$9!#$9$4$$$G$9$M!<!"Cf9q$O!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B17$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F17" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F17" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d18" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:18" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B18$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" /><img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d18-1" class=" section">
<h3><a href="#d18-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[<img src="/~wakaba/art/icon/suika" class="favicon" alt="$B@>1;(B" />]</span>
</span>
$B?7(B suika $B%5!<%P!<2TF0(B</h3>
<p>$B:rF|$NHU$K(B VineLinux $B$rF~$l$^$7$?!#(B<sup><a href="#d18-1-fn1" class=" fn_anchor">*1</a></sup> $B$=$N(B CD 1$BKgJ,$r<h$j4s$;$F>F$/$N$,(B30$BJ,DxEY$G=PMh$F$7$^$&$J$s$F!"NI$$;~Be$K$J$C$?$b$s$G$9!#$[$s$N(B3$BG/0LA0$K$O(B CD$B!>(BR $B%I%i%$%V$J$s$F$^$@DA$7$/$F!"(B CD $B>F$1(B! $B$H$_$D$k$.;U$N2H$K2!$7$+$1$?$j$7$?$N$,2{$+$7$/!&!&!&$H$+8l$C$F$?$i$-$j$,L5$$$J!#(B</p><p>$B$G!">F$$$?(B CD $B$rF~$l$F!"5/F0$7$?$i$"$H$O;X<($K=>$C$F?J$a$k$@$1!#$[$s$N?tG/A0$^$G$O(B OS $B$N(B install $B$H$$$C$?$i$=$j$c$!$b$&(B Windoze 95 $B$N;~$O(B($B0J2<N,(B)$B!#(B</p><p>$B$G!"BgJQ$J$N$O$=$N8e$N%5!<%P!<N`$N(B install$B!&@_Dj!#$3$l$ON.@P$K$"$C$H$$$&4V$K$O9T$-$^$;$s$h!#$H$O$$$(!"(B<a href="http://www.webmin.com/">Webmin</a>$B$J$s$A$e$&JXMx$J$b$N$,F~$C$F$^$7$?$+$i!"?oJ,3Z$5$;$F$$$?$@$-$^$7$?!#$H$j$o$1(B sendmail $B$N$"$N$o$1$N$o$+$i$J$$@_Dj%U%!%$%k$r$$$8$i$J$/$F$$$$$N$O;jJ!!#(B<sup><a href="#d18-1-fn2" class=" fn_anchor">*2</a></sup> </p><p>$B$G!"Kh$+Kh2sG:$^$;$F$/$l$k$N$,(B INN$B!#(B Netnews server $B$J$s$FM>$j;H$o$J$$$+$i$+!"<+F0$GF~$C$F$/$l$J$$$7!"(B Web $B$GC5$7$F$b@_Dj$N;EJ}$,$"$^$j@bL@$5$l$F$J$$$7!#(B<sup><a href="#d18-1-fn3" class=" fn_anchor">*3</a></sup> $BKh2sKh2s!"(B INN $B$N@_Dj$O$h$/$o$+$i$J$$$1$I;n9T:x8m$7$F2?$H$+F0$/$h$&$K$J$C$?!"$3$N>uBV$,D9$/B3$/$H$$$$$J!A$C$F46$8$J$s$G$9$h$M!#$I$&$K$+$J$i$J$$$+$J!<!#(B</p><p>$B$H$+$J$s$H$+$d$j$J$,$i!"$H$j$"$($:F0$/>uBV$K$J$C$F$F!":#8=:_$3$NF|5-$b?7%5!<%P!<$+$i$*Aw$j$7$F$*$j$^$9!#(B</p><p>$B@>1;%5!<%P!<$N<g$J;q8;(B:<ul><li><a href="/">$B@>1;(B Web $B%5!<%P!<(B</a></li><li><a href="/~wakaba/d/"><abbr title="$BE_MM$b$9$J$kF|5-$H$$$&$b$N(B">$BE_F|(B</abbr></a></li><li><a href="/~hero/N88BASICdayoon/">$B$X$m$X$m$K$C$-(B</a></li><li><a href="news://suika.fam.cx/">$B@>1;%K%e!<%9!&%5!<%P!<(B</a></li><li><a href="news://suika.fam.cx/suika.robamimi"><abbr title="$B2&MM$N<*$OqfGO$N<*!"$9(B*$B$`$N<*$bqfGO$N<*(B">$B$m$P<*(B</abbr></a></li><li><a href="news://suika.fam.cx/suika.admin">$B@>1;7W2h1?1D%K%e!<%9!&%0%k!<%W(B</a></li><li><a href="mailto:admin@suika.fam.cx">$B@>1;7W2h4IM}It%a%$%j%s%0!&%j%9%H(B ($B8=;~E@$G$^$@I|5l$7$F$$$^$;$s!#(B)</a></li><li><a href="mailto:w@suika.fam.cx">$B$o$+$P$K%a%$%k(B</a></li></ul></p><ol class="footnote">
<li id="d18-1-fn1">$BK\Ev$O(B Momonga Linux $B$K$7$?$+$C$?$s$@$1$I(B release $BHG$^$G$^$@(B3$B%v7n$/$i$$$+$+$k$i$7$$$N$G!#(B</li>
<li id="d18-1-fn2">$B$C$F$$$&$+(B sendmail $B$8$c$J$/$F(B Postfix $B$K$7$?$s$@$1$I$M!#(B</li>
<li id="d18-1-fn3">$B$7$+$b(B man $B$H$+$OFI$s$G$b!"$G!"$=$l$G(B? $B$C$F46$8$@$7!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B18$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F18" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F18" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d20" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:20" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B20$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:$B@2(B]</span>
</div><!-- header -->

<div id="d20-1" class=" section">
<h3><a href="#d20-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B%W%m%0%i%_%s%0(B]</span>
<span class="cat">[$B=IBj(B]</span>
</span>
gpc $B$rC5$;(B</h3>
<p>$B%W%m%0%i%_%s%0(B A $B$N%l%]!<%H2]Bj$G(B Pascal $B$N%W%m%0%i%`$r=q$+$J$$$H$$$1$J$$$s$G!"$&$A$N7W;;5!$K$bF~$l$F$*$3$&$H;W$C$?$s$G$9!#(B</p><p>$B$G!"(B Vine $B$G(B apt-get $B$7$F$_$?$1$I$J$$$_$?$$!#(B VinePlus$B$H$d$i$b%A%'%C%/$7$?$s$@$1$I!#$@$+$i(B RPM $B$rC5$7$?$s$@$1$I!"(Brpmfind.net $B$K$O(B Mandarake $B$N(B RPM $B$,$"$k$3$H$K$J$C$F$k$b$N$N@\B3=PMh$:$KF~<jITG=!#(B</p><p><a href="http://www.gnu-pascal.de/">$BK\2H(B</a>$B$KC5$7$K$$$C$?$s$G$9$,!"%P%$%J%jG[I[$K(B GNU/Linux $B8~$1$OL5$7!#;EJ}$,L5$$$+$i(B tar $B6L$r=&$C$F$-$F%3%s%Q%$%k$7$h$&$H$7$?$i!"%3%s%Q%$%k$K$O(B gcc $B$,I,MW$@$H!#$d$C$F$i$l$s$o!#(B</p><p>$B$=$s$J$o$1$G!"(B GNU/Linux $B$K(B gpc $B$rF~$l$k$N$OD|$a$F!"(B Cygwin $BHG$rF~$l$k$3$H$K$7$^$7$?!#2?$+J}8~@-$,4V0c$C$F$k5$$b$7$^$9$,!&!&!&5$$K$7$F$i$l$^$;$s!#$H$3$m$,!"F0$+$:!#2?$N%(%i!<$b=P$5$:$KB(=*N;!#B?J,(B Cygwin $B$N(B gcc (3.$B$$$/$D(B)$B$H(B gpc $B$N(B binary $B$N(B compile $B$K;H$C$?$i$7$$E[(B (2.$B$$$/$D(B)$B$,9g$o$J$+$C$?$s$G$7$g$&!#$G!"F1$8>l=j$K(B mingw $BHG$b$"$C$?$N$G$=$l$rF~$l$k!#F0$/$3$H$OF0$/$s$@$1$I!"FbIt$G;H$C$F$k%U%!%$%k$r>e<j$/C5$;$J$$$i$7$$!#=>$C$F;H$$J*$K$J$i$J$$!#$3$l$b(B gcc $B$NHG$N$;$$$+$J!#!#!#(B</p><p>$B$3$3$^$G$-$F4QG0(B($BFf(B)$B$7$F!"(B<a href="http://www.nal.ics.es.osaka-u.ac.jp/~i-maki/class/programmingA/compiler.html">$B1i=,$N@h@8$,MQ0U$7$?$b$N(B</a>$B$r;H$&$3$H$K$7$^$7$?!#$3$C$A$O%3%s%Q%$%k$K;H$C$?(B gcc $B$H$+0l<0$,F~$C$F$k$_$?$$$G$9$+$i!"HG$NLdBj$O$J$$$G$7$g$&!#$C$F$3$H$G$d$C$HF0$-$^$7$?!#(B<sup><a href="#d20-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$=$l$K$7$F$b!"C/$b(B gpc $B$r4JC1$KMxMQ=PMh$k$h$&$K$7$F$*$$$F$/$l$J$$$J$s$F!"$d$C$Q$j(B Pascal $B$OC/$b;H$C$F$J$$$N$+$J(B?<sup><a href="#d20-1-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d20-1-fn1">$B:G=i$+$i$=$&$9$l$P$h$+$C$?$s$G$7$g$&$1$I!"A0$K8+$?$H$-$K(B gpc $BK\BN0J30$,?'!9$&$8$c$&$8$cF~$C$F$k$+$i!"2?$H$+$J$i$J$$$+$J$"$H;W$C$F$?$s$G$9!#(B</li>
<li id="d20-1-fn2">$BBg3X$H$+0J30$G(B Pascal $B;H$C$F$k$C$FOCJ9$$$?$3$H$J$$$h$M!#$"!"(B Delphi $B$OJL$H$7$F!#(B</li>
</ol></div><!-- class="section" -->
<div id="d20-2" class=" section">
<h3><a href="#d20-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[<img src="favicon" class="favicon" alt="$BE_F|(B" />]</span>
</span>
$B5(@a30$l$NGX7J2h(B</h3>
<p>$B:#$^$G(B NOT FOUND $B$G8+$($F$$$J$+$C$?$@$1$G$7$?$,!"<B$O$3$NF|5-$N(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%CD%A5%C0%E8%A5%B9%A5%BF%A5%A4%A5%EB%A1%A6%A5%B7%A1%BC%A5%C8">$BM%@h%9%?%$%k!&%7!<%H(B</a>$B$G$OGX7J$N2hA|$K(B<em>$B@cC#Ka$N3((B</em>$B$,I=<($5$l$k$h$&$K$J$C$?$^$^$G$7$?(B:-)</p><p>$BN.@P$K5(@a30$l$b?S$@$7$9$.$k$N$G$d$a$^$7$?$,!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B20$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F20" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F20" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d21" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:21" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B21$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d21-1" class=" section">
<h3><a href="#d21-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[DonDon]</span>
</span>
$B=KF|(B</h3>
<p>$B$*Ck$G$b?)$Y$K9T$/$+$H;W$C$F(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=DonDon">DonDon</a>$B$K9T$C$?$iJD$^$C$F$^$7$?!#2F5Y$_$O5Y$_$J$N$+$J$"$H;W$C$FJb$$$F$?$i!"(B ($B3XFb$N(B) ATM $B$bJD$^$C$F$^$7$?!#2F5Y$_$@$+$i(B ATM $B$b$d$C$F$J$$$N$+!&!&!&$H!"$=$3$G=EBg$J;v<B$K5$$,IU$-$^$7$?!#$=$&$+!":#F|$O(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%B3%A4%A4%CE%C6%FC">$B3$$NF|(B</a>$B$G5Y$_$@$C$?$N$+!#$I$&$j$G?M$,>/$J$$$o$1$@!#(B</p><p>$BL5BL$J;6Jb$r$7$F$7$^$C$?!#%(%M%k%.!<$O>CHq$7$?$N$KCk?)$K$O$"$j$D$1$J$$$J$s$F;6!9!#(B</p></div><!-- class="section" -->
<div id="d21-2" class=" section">
<h3><a href="#d21-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[Windoze]</span>
</span>
$BJT=8Cf$N%G!<%?$O$3$^$a$KJ]B8$7$^$7$g$&!#(B</h3>
<p>$B$^$?$d$i$l$^$7$?!#$"$H$OJ]B8$9$k$@$1!"$H$$$&40@.D>A0$N3($r(B Windoze $B$5$^$5$^$KKW<}$5$l$F$7$^$$$^$7$?!#=q$-D>$95$NO$J$>EvA3$"$j$^$;$s!#!#!#(B</p><p>$B$F$$$&$+$3$s$J2x$7$$(B OS $B$GF0$/1~MQ$O<+F0J]B85!G=@dBP$K$D$1$k$Y$-$@$H;W$$$^$9$h!#(B<sup><a href="#d21-2-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d21-2-fn1">$B$H@UG$E>2G$7$F$_$k%F%9%H!#@UG$$H8@$($P!"$3$&$$$&%=%U%H%q%"$NIT6q9g$K$h$kB;<:$O$=$NHNGd<T$,Ii$&$Y$-$G$9$h$M!#0l@Z$N<+M3$H0z$-49$($K:n<TB&$N@UG$$NITB8:_$rN;>5$7$F;H$C$F$$$k<+M3%=%U%H%&%'%"$NN`$O$H$b$+$/$H$7$F!"6b$OJ'$o$;$?>e$K;HMQ5vBz7@Ls=q$G05E]E*$KM-Mx$JN)>l$KN)$C$F!"87$7$/;HMQ$r@)8B$7$F$$$k$h$&$J4k6H$O$7$C$+$j@UG$$rIi$&$Y$-$G$9!#%=!<%9Hs8x3+$N>l9g$OLH@U5,Dj$OL58z!"$_$?$$$JH=7h$,=P$?$i4r$7$$$s$G$9$,(B(w$B!#(B</li>
<li id="d21-2-fn2"><sup><a href="#d21-2-fn2" class=" fn_anchor">*2$BH=7h$H$$$($P!"Bg3X$NF~3X6b!&<x6HNA$rF~3X<-B`$7$?>l9g$KJV4T$7$J$$$N$O(B ($B$?$H$(Jg=8MW9`$K=q$$$F$"$C$F$b(B) $B0cK!$H$$$&H=7h$,$A$g$C$HA0$K$G$?$i$7$$$G$9$M!#(B</a></sup> </li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B21$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F21" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F21" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d22" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:22" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B22$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d22-1" class=" section">
<h3><a href="#d22-1" class="self">$B!y(B</a> $B5">J(B</h3>
<p>$BEE<V$GCkA0$K5"$C$FMh$^$7$?!#$*$_$d$2Gc$C$F$?$i4m$&$/>h$jCY$l$k$H$3$m$G$7$?(B(w</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B22$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F22" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F22" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d23" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:23" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B23$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B23$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F23" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F23" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d26" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:26" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B26$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d26-1" class=" section">
<h3><a href="#d26-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
$B%R%+%k$N8k(B</h3>
<p>$B%R%+%k$N8k!"A0$OF|MKF|$ND+(B6$B;~$+$i$@$C$?$N$K:#$OEZMKF|$ND+(B5$B;~H>$+$i$@$=$&$G$9$h!#$=$s$JL5Cc$J(B!</p><p>$B;kD0N(Dc$$$+$iAa$$;~4V$KHt$P$5$l$?$s$G$9$+(B? $B$=$j$c$!$3$s$JAaD+$8$c$"$M$'!#M<J}(B6$B;~$+(B7$B;~$/$i$$$KJ|1G$7$F$/$@$5$$$h!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B26$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F26" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F26" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d27" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:27" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B27$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d27-1" class=" section">
<h3><a href="#d27-1" class="self">$B!y(B</a> $BG_1+L@$1(B?</h3>
<p>$B:rF|$^$G$O@2$l$F$$$F$bIw$,>o;~?a$$$F$$$F$`$7$m4($$$/$i$$$@$C$?$N$G$9$,!":#F|$O$=$l$,$J$/$F!"$:$$$V$s=k$/46$8$k$h$&$K$J$j$^$7$?!#$^$@4@$P$`$[$I$G$O$J$$$G$9$,!"@pIw5!$,2s$C$F$$$k$H2w$$$/$i$$$K$OIT2w$G$9(B($BFf(B)$B!#$b$&$d$C$H2F$J$N$G$7$g$&$+!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B27$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F27" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F27" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d30" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:7:30" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B7$B7n(B30$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d30-1" class=" section">
<h3><a href="#d30-1" class="self">$B!y(B</a> $B9C;R1`(B</h3>
<p>$B$&$A$N6a$/$N2H$N?M$N%A!<%`$,9C;R1`$K9T$/$3$H$K$J$C$?$=$&$G$9!#(B</p><p>$B$=$l$rJ9$$$F!"!V9C;R1`=P>l$*$a$G$H$&!W$N2#CGKk$N$"$k8w7J$,F,$r$h$.$j$^$7$?!#!&!&!&@dBP7G$2$i$l$k$J!#@dBP$K!#(B</p><p>$B5$$,8~$$$?$i<L??$G$b;#$j$K9T$-$^$9$+!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B7$B7n(B30$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F30" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F7%2F%2F30" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->


<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (
 <a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200306">$BA07n(B</a>,
 <a rel="next" href="d200308">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>
)]
</div>
<ul class="myuri">
<li>&lt;URL:<a href="/~wakaba/d200307">http://suika.fam.cx/~wakaba/d/d200307</a>&gt;</li>
<li>&lt;<a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2003:7">URN:x-suika-fam-cx:fuyubi:2003:7</a>&gt;</li>
</ul>

</body>
</html>
