<!DOCTYPE html []>
<html lang="ja">
<head>
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B12$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2003$BG/(B12$B7n$N<cMU$N0-9T$N5-O?!#(B
" />
<link rev="made" href="mailto:w@suika.fam.cx" title="$B$o$+$P(B" />
<link rel="contents" href="list" title="$B7n$N0lMw(B" />
<link rel="prev" href="d200311" title="$BA07n(B" />
<link rel="next" href="d200401" title="$BMb7n(B" />
<link rel="contents" href="d200312+summary" title="$BOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200312" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B
12$B7n(B)" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.png" type="image/png" />
<link rel="help" href="/~wakaba/who?" title="$B<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd" title="Public Domain.">
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="stylesheet alternate" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet alternate"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="stylesheet alternate"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="stylesheet alternate"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="stylesheet alternate"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B12$B7n(B)</h1>

<div id="intro">
[<img src="favicon" alt="$BE_F|(B" class="favicon">
  (<a href="list" rel="index" title="$BF|5-$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="d200312++summary" title="$B:#7n$N8+=P$70lMw!#(B">$BMWLs(B</a>,
   <a href="../who?" title="$BF|5-=q$$$F$k<cMU$N@5BN$KGw$k(B!?">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)
]
[$BEE;R%K%e!<%9(B
  <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9AH(B suika.robamimi ($B$9!z$`$N<*$OqfGO$N<*(B)">$B$m$P<*(B</a>,
]
[
[Chat 
  [<a href="../-temp/wkchat/chat1" title="$B?M9)L5G=$`(B*$B$97/$,(B24$B;~4V$"$J$?$NAj<j$r$9$k(B Web chat $B5!9=!#(B">$B$`(B*$B$9Cc(B</a>]
  [<a href="/~rei/cgi-bin/moonlight/">$B7n8wCc(B</a>]
]
]
</div>
<div id="d6" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:12:6" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B12$B7n(B6$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d6-1" class=" section">
<h3><a href="#d6-1" class="self">$B!y(B</a> $B$8$c$s$1$s(B</h3>
<p>1$B>!(B2$BGT!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B12$B7n(B6$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F6" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F6" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d8" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:12:8" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B12$B7n(B8$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d8-1" class=" section">
<h3><a href="#d8-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B7r9/(B]</span>
</span>
$B%@%&%s!#(B</h3>
<p>$B:rF|$OG.$,$"$C$F$:$C$H?2$F$^$7$?!#$H8@$$$?$$$H$3$m$G$9$,Gc$$J*$K9T$-$^$7$?!#;`$L$+$H;W$$$^$7$?!#!#!#(B</p></div><!-- class="section" -->
<div id="d8-2" class=" section">
<h3><a href="#d8-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$BL4$G0)$($?$i(B</h3>
<p>$BL4$NCf$N%l%9%H%i%s$G$U$f$-$A$c$s$,?);v$7$F$$$^$7$?!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B12$B7n(B8$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F8" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F8" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d9" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:12:9" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B12$B7n(B9$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d9-1" class=" section">
<h3><a href="#d9-1" class="self">$B!y(B</a> <a href="http://www.tomikou.net/keijiban/keijiban.php">$B?73c8)N)?73c9b9;(B</a></h3>
<p><a href="http://www.niigata-inet.or.jp/aoyama/">$B?73c8)N)?73c9b9;(B</a><sup><a href="#d9-1-fn1" class=" fn_anchor">*1</a></sup> $B$ON,$7$F(B<ruby><rb>$B8)9b(B</rb><rp>(</rp><rt>$B$1$s$?$+(B</rt><rp>)</rp></ruby>$B!#8l8;$O(B<a href="http://www.niigatami-h.nein.ed.jp/">$B?73c8)N)?73cFn9b9;(B</a> ($B5l!&?73c;TN)?73c9b9;(B) $B$H6hJL$9$k$?$a$H$+!"5l@);~Be$NL>A0$,$I$&$H$+$$$m$$$m@b$,$"$k$i$7$$!#$H7G<(HD!X(B<a href="http://comic-ekk.homeftp.org/cgi-bin/mini/test/read.cgi/kutchannel4/1063602922/">($B?7(B)$B?73c8)$N9b9;%i%s%-%s%0$K$D$$$F(B</a>$B!Y$K$O=q$$$F$"$k!#B>$K$b;dN)$G(B<a href="http://www.tgn.ed.jp/">$BEl5~3X4[?73c9b9;(B</a>$B$J$s$F$N$,$"$C$?$j$9$k!#(B</p><p>$B$H$3$m$G!"A0=R$N7G<(HD!"0l8+3XNr%M%?$+$H;W$$$-$d!"3X9;$NJQA+$NOCBj$,<g$N$h$&$G$"$k!#D4$Y$F$b$h$/$o$+$i$J$$$h$&$J$H$3$m$,$"$k$N$,$^$?$J$s$H$b!#$G$C$+$J8)$@$+$i$=$l$@$13X9;$b?'!9$"$C$?$N$@$m$&$J$"!&!&!&$H;W$C$?$N$@$1$I!"$=$l$8$c$"NY$NIY;38)$N9b9;$OA4ItJQA+$r4JC1$KDI$C$+$1$i$l$k$+$J(B? $B$HC/$=$l$H$J$/%M%?$r?6$C$F$_$k%F%9%H!#(B</p><p>$B4X78$J$$$1$I!"(B<a href="http://www.tomikou.net/keijiban/keijiban.php">$BK?7G<(HD(B</a>$B$G$OEvA3$N$h$&$KSq$+$l$F$$$k!"!V(B<a href="http://www2.justnet.ne.jp/~chubuks/">$B!{It9b9;(B</a>$B$O@.@S2<0L<T@Z$j<N$F!W$H$$$&1=$OK\Ev$G$9$+$M(B? $B$"$?$7$cJL$N9b9;$K:_@R$7$?$3$H$O$J$$$N$G2?$H$b8@$($^$;$s$,!&!&!&!#(B<sup><a href="#d9-1-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d9-1-fn1">$B$3$N%&%'%V!&%5%$%H$N(B URI $B$N!V(Baoyama$B!W!"$^$5$+65;U$N8D?ML>$J$s$8$c(B!? $B$H;W$C$?$1$I!"$I$&$d$i3X9;$,$"$k$H$3$m$NCOL>$i$7$$!#(B</li>
<li id="d9-1-fn2">$B5R4QE*$J:,5r$,$"$k$J$iJL$K$$$$$H;W$&$s$G$9$,!":,5r$N$J$$Iw@b$NN.I[$O$I$&$+$H;W$$$^$9$M$'!#B?$+$l>/$J$+$lCf3X@8$bFI$s$G$k$H;W$$$^$9$7!#$I$&$7$F$b$A$e!<$V$r8+2<$7$FIY9;$^$s$;!<$7$?$$$J$i!"$b$C$H5R4QE*:,5r$N$"$kHcH=$r$7$?$i$$$$$s$G$9$h!#Nc$($P!"(B($B<+=M(B)</li>
</ol></div><!-- class="section" -->
<div id="d9-2" class=" section">
<h3><a href="#d9-2" class="self">$B!y(B</a> <a href="http://knoa.jp/ban/">SEO $B%W%ABN83(B</a></h3>
<p>$BFC$K(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=SEO">SEO</a> $B$,$I$&$H$+9M$($?$3$H$O$J$$$s$G$9$1$I!"(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=SuikaWiki">SuikaWiki</a> $B$N5-;v$O$J$<$+(B Google $B$G6K$a$F>e0L$K$G$F$-$^$9!#5-;v$,$^$@=q$+$l$F$J$/$F$b8!:w7k2L$K=P$F$-$A$c$C$?$j$7$F!"5Q$C$F8!:w<T$KIT?F@Z$J$s$8$c$J$$$+$J!<$H$+;W$C$?$j$b$7$^$9!#(B</p><p>$B$3$l$O(B Google $B$N=g0LIU$1;;K!$r9M$($k$H$*$=$i$/!"Fb30$N5U%j%s%/L@<(5!G=$G5-;v4V$N%j%s%/4X78$,L)$K$J$k$3$H$H4X78$,$"$k$N$G$7$g$&!#$3$NA[A|$,@5$7$$$H$9$k$H!"5-;v$r=q$1$P=q$/$[$I!"(B ($B%j%s%/$,>!<j$K<+F0E*$KA}$($F$$$/$N$G(B)$B$h$j4X78$,L)$K$J$j!"(B Google $B$N=g0L$b>e$,$C$F$$$/$3$H$K$J$j$^$9!#(B<sup><a href="#d9-2-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$H$^$"$3$s$J$N$,!"JL$K$?$$$7$?$3$H$G$b$J$s$G$b$J$$$G$9$1$I!"!V>pJs$,>!<j$K=89g$9$k%b%G%k!W(B($BFf(B) $B$N8!:w1_?X8~$1$N8zG=$NNc(B($BFf(B)$B!#(B<sup><a href="#d9-2-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d9-2-fn1">$B8!:w1_?X$N8!:w7k2L$+$i$N%j%s%/$b5U%j%s%/$H$7$F2D;k2=$9$k$N$G!"4V@\E*$KN`;w$NB>%5%$%H$N>pJs$H$N5wN%$b6a$E$-$^$9!#$h$C$F!"%5%$%HFb$@$1$G$J$/%5%$%H4V$G$NL)EY$b9b$^$k$O$:$G$9!#$b$C$H$b8=>u$N<BAu$G$O$4$_$,B?$$$G$9$,!&!&!&!#(B</li>
<li id="d9-2-fn2">$B$$$D$+=q$3$&$H;W$C$F$?$1$ICzEY(B SEO $B$NOCBj$r=P$7$??M$,$$$k(B($BFf(B)$B$N$G=q$$$F$_$?!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B12$B7n(B9$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F9" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F9" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d10" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:12:10" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B12$B7n(B10$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d10-1" class=" section">
<h3><a href="#d10-1" class="self">$B!y(B</a> $BG.$N$;$$$G$9!#(B</h3>
<p>$B$3$NA0$N7nMKF|$KDs=P$7$?<B=,$N?JD=Js9p$K2]Bj$HA4A34X78$J$$$3$H$r=q$$$F$$$?$N$K$U$H5$$E$$$F$7$^$$$^$7$?!#0lBN2?$r9M$($F$$$?$s$G$7$g$&!#G.$N$;$$$@$C$F$3$H$K$G$b$7$F$*$-$^$7$g$+!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B12$B7n(B10$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F10" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F10" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d17" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:12:17" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B12$B7n(B17$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d17-1" class=" section">
<h3><a href="#d17-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$B3'4{F|?)%-%?!<(B (AA $BN,(B)</h3>
<p>$B3'4{F|?)$r8+$K%9%-!<>l(B (?) $B$K9T$C$?L4$r8+$^$7$?!#$9$4$/88A[E*$G$7$?!#$=$7$F(B NHK $B$,I,;`$G$7$?(B ($BON(B)$B!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B12$B7n(B17$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F17" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F17" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d18" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:12:18" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B12$B7n(B18$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d18-1" class=" section">
<h3><a href="#d18-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$BD4M}<B=,$GL!:M$7$^$9$?!#(B</h3>
<p>$BL4$NCf$G>D$?$s$K2q$$$^$7$?!#AP;R%^%s%;!<(B ($BFf(B)$B!#(B</p><p>$B$G!"D4M}<B=,$N;~4V$K(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%CC%DC%C2%F4%C0%E8%C0%B8">$BL\Bt@h@8(B</a>$B$HL!:M$7$^$7$?(B ($B0UL#ITL@(B)$B!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B12$B7n(B18$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F18" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F18" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d19" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:12:19" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B12$B7n(B19$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />$BIw(B]</span>
</div><!-- header -->

<div id="d19-1" class=" section">
<h3><a href="#d19-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B$8$c$s$1$s(B]</span>
</span>
$B$8$c$s$1$s(B</h3>
<p>2$B?M$G(B1$B>!(B1$BGT!"B??M?t$G(B1$B>!!#(B</p></div><!-- class="section" -->
<div id="d19-2" class=" section">
<h3><a href="#d19-2" class="self">$B!y(B</a> $BIw$,6/$$!#(B</h3>
<p>$B:#F|$O4($+$C$?$G$9!#KL$NJ}$G$O@c$,9_$C$F$$$?$H$+!#$*4j$$$G$9$+$iE_5Y$_$K$O9_$i$J$$$G2<$5$$!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B12$B7n(B19$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F19" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F19" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d20" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:12:20" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B12$B7n(B20$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="yuki" alt="$B@c(B" />]</span>
</div><!-- header -->

<div id="d20-1" class=" section">
<h3><a href="#d20-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BE75$(B]</span>
</span>
$B@c(B</h3>
<p>$B@c(B&#65399;&#65408;$B(,(,(,(,(B&#40;&#65439;$B"O(B&#65439;&#41;$B(,(,(,(,(B&#65391;!!</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B12$B7n(B20$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F20" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F20" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d24" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:12:24" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B12$B7n(B24$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d24-1" class=" section">
<h3><a href="#d24-1" class="self">$B!y(B</a> $B%H%s%M%k$rH4$1$k$H!&!&!&(B</h3>
<p>$B@c9q(B&#65399;&#65408;$B(,(,(,(,(B&#40;&#65439;$B"O(B&#65439;&#41;$B(,(,(,(,(B&#65391;!!</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B12$B7n(B24$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F24" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F24" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d31" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:12:31" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B12$B7n(B31$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d31-1" class=" section">
<h3><a href="#d31-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$B:#G/:G8e$NL4(B</h3>
<p>$B%^%K%"!&%^%K%"(B<sup><a href="#d31-1-fn1" class=" fn_anchor">*1</a></sup> $B$N@>@h@8$O%F%K%9It$N8\Ld$J$N$G$9$,!"3X4|Kv$G$9$+$i@.@S(B ($BFf(B) $B$r$D$1$J$1$l$P$J$j$^$;$s!#$G!"Nc$K$h$C$FE,Ev$J;W$$IU$-$K$h$j!"%j!<%0@o$N=PMhB;$J$$$_$?$$$JJ*(B<sup><a href="#d31-1-fn2" class=" fn_anchor">*2</a></sup> $B$r$d$k$3$H$K$J$j$^$7$?!#(B</p><p>$B$H$$$&$3$H$GG[I[$5$l$?$N$,!"BP@oAj<j4uK>D4::MQ;f!#Bh(B1$B4uK>1>!9$NL>A0$r=q$/Ms$N2<$K$O!V?e1K$r4uK>$9$k!W$N%A%'%C%/Ms$,(B ($BFf(B)$B!#@bL@$K$h$j$^$9$H!"A40wJ,$N;n9g$r$7$F$b$A$g$&$I(B1$B%3%^J,$@$1C/$+(B1$B?MM>$C$F$7$^$&$+$i!"E,Ev$K;W$$IU$$$??e1K$K$7$?$N$@$=$&$G$9!#$C$F!"$&$A$N3X9;$K$O%W!<%k$O$J$+$C$?$h$&$J(B<sup><a href="#d31-1-fn3" class=" fn_anchor">*3</a></sup> $B!#(B</p><ol><li>$B$o$+$P(B: $BAj<j$O!V6/$$?M0J30!W$H$+$8$cBLL\$G$9$+(B?</li><li>$B@>(BT: $BBLL\!#(B</li><li>$B$o$+$P(B: ($B$I$&$;C/$,Aj<j$G$b>!$F$J$$$7(B($BON(B)) $B!VC/$G$b$$$$!W$8$cBLL\$G$9$+(B?</li><li>$B@>(BT: $BBLL\!#(B</li></ol><p>$B$H$^$"!"$3$&$$$&0UL#$NJ,$+$i$J$$L4$r8+$^$7$?!#$H!"$3$l$@$1$G$OMn$A$,$J$$$N$G$b$&0lK\$4>R2p$7$^$7$g$&!#(B</p><ol><li>$BK?(B DQN $B=w(B: $B$M$($o$+$P$5$s!"$*4j$$$,$"$k$s$@$1$I!#!#!#(B</li><li>$B$o$+$P(B: $B$J$K(B?</li><li>$BK?(B DQN $B=w(B: $B$"$N$M!"$*$P!z"((B*$B!y(B! ($B7vA{$K$h$jJ9$-<h$l$:(B)</li><li>$B$o$+$P(B: $B$((B?</li><li>$BK?(B DQN $B=w(B: $B$&$A$N$*$P!z"((B*$B!y(B! ($B7vA{$K$h$jJ9$-<h$l$:(B)</li><li>$B$o$+$P(B: One more chance...</li><li>$BK?(B DQN $B=w(B: $B$$$D$b$*$P$"$A$c$s$H0l=o$K%2!<%`$d$C$F$k$s$@$1$I!"F@E@$,$$$^$$$A$GD%$j9g$$$,L5$$$N$h$M!#$@$+$i$*$P$"$A$c$s$H0l=o$K$=$N%2!<%`$d$C$F$F$/$l$J$$(B? $B$o$+$P$5$s$O$?$@2#$G8+$F$k$@$1$G$$$$$+$i!&!&!&!#(B<sup><a href="#d31-1-fn4" class=" fn_anchor">*4</a></sup> </li></ol><ol class="footnote">
<li id="d31-1-fn1">$B?M$K!V!{!{%^%K%"!W$H$$$&>N9f(B (?) $B$rM?$($F4n$s$G$$$k!H%^%K%"!I!#(B</li>
<li id="d31-1-fn2">$BAmEv$?$j$G$O$J$/!"Fs;0;n9g$@$1!#(B</li>
<li id="d31-1-fn3">$B$7$+$7@>@h@8$J$i%W!<%k$,L5$$$J$i(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%C0%D6%B9%BE%C0%EE">$B@V9>@n(B</a>$B$G1K$2$H$+$$$$$+$M$J$$!#(B</li>
<li id="d31-1-fn4">$B2r@b(B: $B$3$N=w$O!"<+J,$N3Z$7$_$N$?$a$K!"K\<AE*$K$O$$$F$b$$$J$/$F$b$I$&$G$b$$$$%@%_!<$H$7$F$o$+$P$r;H$*$&$H4k$s$G$$$k!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B12$B7n(B31$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F31" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F12%2F%2F31" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->


<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (
 <a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200311">$BA07n(B</a>,
 <a rel="next" href="d200401">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>
)]
</div>
<ul class="myuri">
<li>&lt;URL:<a href="/~wakaba/d200312">http://suika.fam.cx/~wakaba/d/d200312</a>&gt;</li>
<li>&lt;<a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2003:12">URN:x-suika-fam-cx:fuyubi:2003:12</a>&gt;</li>
</ul>

</body>
</html>
