<!DOCTYPE html []>
<html lang="ja">
<head>
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B11$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2003$BG/(B11$B7n$N<cMU$N0-9T$N5-O?!#(B
" />
<link rev="made" href="mailto:w@suika.fam.cx" title="$B$o$+$P(B" />
<link rel="contents" href="list" title="$B7n$N0lMw(B" />
<link rel="prev" href="d200310" title="$BA07n(B" />
<link rel="next" href="d200312" title="$BMb7n(B" />
<link rel="contents" href="d200311+summary" title="$BOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200311" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B
11$B7n(B)" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.png" type="image/png" />
<link rel="help" href="/~wakaba/who?" title="$B<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd" title="Public Domain.">
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="stylesheet alternate" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet alternate"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="stylesheet alternate"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="stylesheet alternate"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="stylesheet alternate"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B11$B7n(B)</h1>

<div id="intro">
[<img src="favicon" alt="$BE_F|(B" class="favicon">
  (<a href="list" rel="index" title="$BF|5-$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="d200311++summary" title="$B:#7n$N8+=P$70lMw!#(B">$BMWLs(B</a>,
   <a href="../who?" title="$BF|5-=q$$$F$k<cMU$N@5BN$KGw$k(B!?">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)
]
[$BEE;R%K%e!<%9(B
  <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9AH(B suika.robamimi ($B$9!z$`$N<*$OqfGO$N<*(B)">$B$m$P<*(B</a>,
]
[
[Chat 
  [<a href="../-temp/wkchat/chat1" title="$B?M9)L5G=$`(B*$B$97/$,(B24$B;~4V$"$J$?$NAj<j$r$9$k(B Web chat $B5!9=!#(B">$B$`(B*$B$9Cc(B</a>]
  [<a href="/~rei/cgi-bin/moonlight/">$B7n8wCc(B</a>]
]
]
</div>
<div id="d11" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:11:11" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B11$B7n(B11$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d11-1" class=" section">
<h3><a href="#d11-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B%a%$%k(B]</span>
</span>
$BE:IU$7$F$J$$E:IU%U%!%$%k$NOC(B</h3>
<p>$B%a%$%k$rAw$C$?$i!"E:IU(B<sup><a href="#d11-1-fn1" class=" fn_anchor">*1</a></sup> $B$J$s$F$7$F$J$$$N$KE:IU%U%!%$%k(B<sup><a href="#d11-1-fn2" class=" fn_anchor">*2</a></sup> $B$rAw$i$J$$$G$H8@$o$l$F$7$^$$$^$7$?!#:$$C$?$b$s$@!#(B</p><p>$B:G6a$O%o!<%`BP:v$G!VE:IU%U%!%$%k!W$r<N$F$k$H$3$m$,B?$$$i$7$$$G$9$M!#$@$+$i$H$$$C$FA4$/@5Ev$J$d$jJ}$G!"E:IU$8$c$J$/IaDL$KFbMF$rAw$C$F$b<N$F$i$l$A$c$&$J$s$F$J$s$H$b$O$d(B($BFf(B)$B!#<+J,$,<u<h$C$?$b$N$r$I$&=hM}$7$h$&$H>!<j$G$9$7!"H=CG$,$D$+$J$$$b$N$r0BA4B&$KE]$9$N$bE,@Z$J=hCV$G$O$"$k$N$G$9$,!"$=$s$J$N$G=EMW$+$b$7$l$J$$>pJs$r<+$i$I$V$K<N$F$k$N$O$I$&$+$J!<$H;W$C$?<!Bh$G$9!#(B</p><p>$B$=$l$K$7$F$b(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=MIME">MIME</a>$B$O$D$/$E$/<:GT:n$@$J$"!#(B</p><ol class="footnote">
<li id="d11-1-fn1">$BDj5A(B : $B%a%C%;!<%8$NA4It$^$?$O0lIt$H$7$F!"(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=Content-Disposition">Content-Disposition</a>:<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=attachment">attachment</a>$B$G$"$k<BBN$r4^$a$k$3$H!#(B</li>
<li id="d11-1-fn2">$BDj5A(B ($B?dB,(B) : $B$=$N?M$,;H$C$F$$$k(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=MUA">MUA</a>$B$,(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%C5%BA%C9%D5%A5%D5%A5%A1%A5%A4%A5%EB">$BE:IU%U%!%$%k(B</a>$B$H$_$J$7$?$b$N!#(B</li>
</ol></div><!-- class="section" -->
<div id="d11-2" class=" section">
<h3><a href="#d11-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B%a%$%k(B]</span>
</span>
$BD6;~6u%a%$%k(B</h3>
<p>$B$d$C$A$^$$$^$7$?!#$A$g$C$H$7$?%a%$%k$KBP$9$k$A$g$C$H$7$?JV?.$G!"$A$g$C$H$7$?(B Date $BYTB$$r$7$h$&$H$7$F!&!&!&JV?.85$N%a%$%k$h$j$b2a5n$K$7$F$7$^$$$^$7$?!#(B</p><p>$B$3$N;~6u$NOD$_$r$I$&@bL@$7$?$i$$$$$s$G$7$g$&!#NL;RNO3X$G$9$+(B?$B$C$F$$$&$+$=$b$=$b5$$E$+$J$$$G$/$l$k$H4r$7$$$J!<!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B11$B7n(B11$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F11" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F11" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d12" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:11:12" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B11$B7n(B12$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d12-1" class=" section">
<h3><a href="#d12-1" class="self">$B!y(B</a> $B>.A,$,$J$$(B!</h3>
<p>$B>.A,$d@i1_;%$,$J$$!#0lK|1_;%$J$i$"$k$N$K!#!#!#2?$,:$$k$C$F!"0lK|1_;%$,DL$i$J$$?)7tHNGd5!!#$=$j$c!<0lK|1_$G?)7t$J$s$FGc$$$^$;$s$h$M!"IaDL$O!#(B</p><p>$BN>BX5!$,$"$l$P$$$$$s$@$1$I!#$$$D$b(B($BFf(B)$B$N$h$&$KGc$$J*$GJx$9(B<sup><a href="#d12-1-fn1" class=" fn_anchor">*1</a></sup> $B$H$$$&<j$b$"$k$1$I!"$"$$$K$/$3$NA0Gc$$$K9T$C$?$P$+$j$@$7!#(B</p><p>$B$H$$$$$D$D$b$J$s$H$+4hD%$C$F2HCf$N==1_6L$rA_$-=8$a$?$i0l?)J,CzEY$"$j$^$7$?!#$3$l$GEv:B$O$7$N$2$^$9!#!#!#(B</p><ol class="footnote">
<li id="d12-1-fn1">$B0lK|1_;%$G%7%c!<%Z%s$N?D$rGc$&$H$+!#(B</li>
</ol></div><!-- class="section" -->
<div id="d12-2" class=" section">
<h3><a href="#d12-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[perl]</span>
</span>
Perl $B$G(B try$B!A(Bcatch</h3>
<p>$B:rF|?^=q4[$G(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%A5%D7%A5%ED%A5%B0%A5%E9%A5%DF%A5%F3%A5%B0Perl">$B%W%m%0%i%_%s%0(BPerl</a>$BFI$s$G$F!"4X?t$N(B prototype $B$H$+(B dummy $B4X?t$H$+$G$A$g$3$A$g$3$H$$$8$/$l$P(B try$B!A(Bcatch $B$,<B8=$G$-$k$3$H$rCN$j$^$7$?!#$=$l$r<B:]$K$d$C$F$k(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=Error">Error</a>$B%b%8%e!<%k$b<h$j4s$;$F%=!<%9FI$s$G$_$^$7$?!#(B</p><p>$B$$$$$G$9$M$(!"$3$l(B<sup><a href="#d12-2-fn1" class=" fn_anchor">*1</a></sup> $B!#%V%m%C%/$r3J9%$h$/=q$1$k$N$,$H$C$F$b5$$KF~$j$^$7$?!#$G!":rF|$+$i$$$$1~MQ$O$J$$$+$J!<$H9M$($F$$$?$s$G$9$,!";W$$$D$-$^$;$s$N$G$9!#@)8f9=B$$J$s$F2?==G/$b8&5f$5$l$F$-$F:#99?7$7$$$b$N$J$s$+$"$j$c$7$J$$$+!#(B</p><ol class="footnote">
<li id="d12-2-fn1">try$B!A(Bcatch $B$b$=$&$@$1$I!"(B prototype $B$N:G=i$r(B &amp; $B$K$7$?$iFIE@$J$7$N%V%m%C%/$,=q$1$k$N$,$H$C$F$b!#(B</li>
</ol></div><!-- class="section" -->
<div id="d12-3" class=" section">
<h3><a href="#d12-3" class="self">$B!y(B</a> $B$H$"$k9V5A$G!#(B</h3>
<p>$B$b$7$d$=$N@h@8$O(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%BA%E5%C2%E7%A4%C1%A4%E3%A4%F3%A4%CD%A4%EB">$B:eBg$A$c$s$M$k(B</a>$B$rFI$s$G$$$k$N$G$O$J$$$+$H;W$&$h$&$J$*OC$G$7$?!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B11$B7n(B12$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F12" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F12" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d13" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:11:13" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B11$B7n(B13$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d13-1" class=" section">
<h3><a href="#d13-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$BF)L@?M4V$r7bB`$;$h!#(B</h3>
<p>$BF)L@$K$J$C$F?'!9$H0-;v$rF/$$$F$$$kE[$,$$$k$s$G$9!#$G!"$=$$$D$,3X9;$N3,CJ(B ($BFf(B) $B$N6u4V$KIb$+$s$G$J$K$+0-9*$_$r$7$F$$$?$N$G!"$h$/Bf=j$K$"$k$h$&$J@v:^$r?eE4K$E*$KHt$P$7$F(B<sup><a href="#d13-1-fn1" class=" fn_anchor">*1</a></sup> $B$=$$$D$r2D;k2=$7$^$7$?!#$5$9$,$K$=$$$D$b$J$+$J$+;2$C$F$$$?$_$?$$$G$9!#$C$F$$$&$+$=$$$D$OF1$8%/%i%9(B ($BFf(B) $B$N?M(B<sup><a href="#d13-1-fn2" class=" fn_anchor">*2</a></sup> $B$G$7$?!#(B</p><p>$B$H$$$&L4$r8+$^$7$?!#(B</p><ol class="footnote">
<li id="d13-1-fn1">$BA]=|$,BgJQ$=$&$@$J$"$H;W$$$J$,$i!#(B</li>
<li id="d13-1-fn2">$B$J$s$+7y$J46$8(B ($BFf(B) $B$G7y$$$J?M(B($BON!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B11$B7n(B13$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F13" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F13" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d14" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:11:14" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B11$B7n(B14$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d14-1" class=" section">
<h3><a href="#d14-1" class="self">$B!y(B</a> $B$8$c$s$1$sO"GTCf(B</h3>
<p>$B$J$s$@$+$h$/$o$+$j$^$;$s$,!"$3$3$N$H$3$m$:$C$H$8$c$s$1$s$G>!$C$?5-21$,$"$j$^$;$s!#$*0~MM$G:G6aB;$JLr2s$j$P$C$+$j(B:-(</p></div><!-- class="section" -->
<div id="d14-2" class=" section">
<h3><a href="#d14-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[PBL]</span>
</span>
$BH/I=(B</h3>
<p>$B:#F|$O(B PBL $B$N<x6H$NCf4VH/I=$G$7$?!#H>7nA0$K$8$c$s$1$s$GIi$1$F(B($BON(B)$BH/I=C4Ev$K$J$j$^$7$F!";EJ}$,L5$$$N$GH/I=$5$;$F$$$?$@$$$?=jB8$G$9(B($BFf(B)$B!#(B</p><p>$B$7$+$730ItE*$K:n$i$l$?%0%k!<%W$G$N3hF0$H$$$&$N$OFq$7$$$G$9$M!#$*8_$$$N4D6-$,0c$$$9$.$F!#(B<sup><a href="#d14-2-fn1" class=" fn_anchor">*1</a></sup> $B$o$+$P$,H/I=$9$k$?$a$N%9%i%$%I$OJL$N?M$,:n$C$F$?$s$G$9$1$I!"$J$K$5!";W$C$F$?$N$HA4A30c$$$8$c$J$$$N(B!<sup><a href="#d14-2-fn2" class=" fn_anchor">*2</a></sup> $B$H$$$&$o$1$G$+$J$j%"%I%j%V5$L#!#4*J[$7$F$/$@$5$$$h!#(B<sup><a href="#d14-2-fn3" class=" fn_anchor">*3</a></sup> $B$=$b$=$b5DO@$NE83+$NJ}8~@-$,$o$+$P$NF,$NCf$H%9%i%$%I$GA4A30c$&$s$G$9$h!#$=$j$c$!$&$^$/H/I=$,$G$-$J$/$F$"$?$j$^$($G$9$C$F!#(B<sup><a href="#d14-2-fn4" class=" fn_anchor">*4</a></sup> $B$d$C$Q$jH/I=%9%i%$%I$C$FH/I=<T$,:n$k$b$N$J$s$G$9$M$'!#(B<sup><a href="#d14-2-fn5" class=" fn_anchor">*5</a></sup> </p><p>$B$C$F$$$&$+!"B>$NHI$h$j?oJ,C;$+$C$?$h$&$J5$$b$7$^$9!#(B ($BL5$$FbMF$r?eA}$7$7$h$&$H4hD%$C$?$s$G$9$h(B!) $B$=$l$H$b6[D%$7$F$?$;$$$GC;$/46$8$?$@$1$+$J(B? $B$^$"$I$&$G$b$$$$$d!#(B</p><ol class="footnote">
<li id="d14-2-fn1">$B!V4D6-!W$H$$$&$N$O?'!9$J0UL#$r9~$a$F$G$9$1$I!"2?$h$j$b0lHVLdBj$J$N$O!"(B PowerPoint $B$r$_$s$J$,;}$C$F$$$k$o$1$G$O$J$$$H$$$&$3$H!#(B ($B%9%i%$%I$O(B PowerPoint $B$G!"$J$s$F$$$&$R$I$$7h$^$j$J$s$G$9!#B>$KA*Br;h$O$J$$$@$m$&$C$F(B?<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=HSML">HSML</a>$B$,$"$k$8$c$J$$$G$9$+(B!)</li>
<li id="d14-2-fn2">$BH`$OH`$G:G=i$+$i0l4S$7$F:n6H$7$F$?$s$G$=$l$O$=$l$G0-$/$J$$!#=$@5$N$*4j$$$,FO$$$F$J$+$C$?$_$?$$$J!#(B</li>
<li id="d14-2-fn3">$B$$$d$$$d!"2<<jJ5$JH/I=$N8@$$Lu$,8+$D$+$C$F$h$+$C$?$G$9$M$(!"$o$+$P$5$s$h!<!#(B</li>
<li id="d14-2-fn4">$B$$$d$$$d!"2<<jJ5$JH/I=$N8@$$Lu$,(B(ry$B!#>e<j$$?M$J$i$=$l$/$i$$%+%P!<$G$-$^$9$+!#$=$&$G$9$+!#$=$&$G$9$M!#(B</li>
<li id="d14-2-fn5">$B$G$b$o$+$P$,%9%i%$%I:n$C$?$i@dBPJ}8~$,$:$l$F$$$-$^$9$h(B?</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B11$B7n(B14$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F14" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F14" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d15" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:11:15" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B11$B7n(B15$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d15-1" class=" section">
<h3><a href="#d15-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$B7c$7$$L4(B</h3>
<p>$B$O$8$a$K$*CG$j$7$F$*$-$^$9$,!"$o$+$P$OJL$K2<B<$KFCJL$J46>p$rJz$$$F$$$k$o$1$G$O$"$j$^$;$s!#$?$^$?$^G>$NL50U<1E*LQA[$NBP>]$K$J$C$F$7$^$C$?$@$1$GB>0U$O$4$6$$$^$;$L!#(B</p><p>$B$"$kF|$NM<J}!#>CKI<V$N%5%$%l%s$,$1$?$?$^$7$/LD$j6A$-B3$1$^$9!#0lBN2?;v$+$H;W$C$F$$$k$H!"?7J9$,FO$-$^$9(B ($B$&$A$OM<4)<h$C$F$J$$$N$K(B!)$B!#0lLL$K9uCO$KGr$NBg8+=P$7$,JB$s$G$^$9!#!V2<B<!A$J$s$A$c$i!AHoGx!W$H$+!V$"$+$M$5$9(B<sup><a href="#d15-1-fn1" class=" fn_anchor">*1</a></sup> $B$"$+$D$-$N!A$J$s$A$c$i!W$H$+!#(B</p><p>$B5-;v$K$h$j$^$9$H!"F?L>7G<(HD$K2<B<$rGK2u$9$k$H$$$&HH9TM=9p$,$"$C$?$=$&$G$7$F!"$"$+$M$5$9!A$NOB2N(B? $B$O$=$N@<L@J8$N0lIt$@$=$&$G$9!#(B<sup><a href="#d15-1-fn2" class=" fn_anchor">*2</a></sup> $B$=$7$F8=:_4{$K2<B<$OBg5,LO$J2P:R$,5/$3$C$F$$$F!"=;L1$O?@<R$KHrFq$7$F$$$k$N$G$9$,!"%F%l%S(B? $B$N1GA|$K$h$k$H$=$3$K$b1d>F$7$F$-$FB>$N$H$3$m(B ($B$I$3(B?) $B$X$NHrFq;X<($,=P$F!"?M!9$,F($2OG$C$F$^$7$?!#(B</p><p>$B$=$NF?L>7G<(HD$r8+$h$&$8$c$J$$$+(B ($B:W$K0c$$$J$$(B!) $B$H;W$C$F2hLL$rGA$-9~$`$N$G$9$,2?$+$*$+$7$$!#$J$<$+2hLL$,$\$d$1$F$$$k!#$$$d!"$\$d$1$F$$$k$N$O<+J,$N4c$NJ}$G$9$M!#$"$"!";k3&$,1s$N$$$F$$$/!&!&!&$3$N@$3&$O$3$l$+$i$I$&$J$C$F$7$^$&$N$+!&!&!&2<B<$KCm0U$r<f$$$F$k4V$K=.66B<$GJ|2P$5$l$?$i>CKI<V$O4V$K9g$o$s$G$7$g!&!&!&(B</p><p>$B!&!&!&$H!"L4$+$i3P$a$k$N$G$9!#(B</p><ol class="footnote">
<li id="d15-1-fn1">$B!VF|!W$d!VCk!W$K3]$+$kKm;l!#(B</li>
<li id="d15-1-fn2">$BHH?M$O2<B<$,8)Fb:G>.$NB<$G$"$k$3$H$,5$$KF~$i$J$$$=$&$G$9!#(B</li>
</ol></div><!-- class="section" -->
<div id="d15-2" class=" section">
<h3><a href="#d15-2" class="self">$B!y(B</a> $B>.A,$,$J$$(B (2)</h3>
<p>$B@vBu$7$h$&$H$7$F!">.A,$,$J$$$H@vBu5!$,2s$C$F$/$l$J$$$3$H$r;W$$=P$7$^$7$?!#$7$c!<$J$$$N$GGc$$J*$K9T$C$F$-$^$9!#!#!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B11$B7n(B15$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F15" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F15" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d17" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:11:17" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B11$B7n(B17$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d17-1" class=" section">
<h3><a href="#d17-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$B;03QDj5,%S%C%H(B (1)</h3>
<p>$B2?$+$N%F%9%H$+$J$s$+$G!";(;o$r8+$;$i$l$F$=$l$K:\$C$F$kJQ$F$3$JLdBj$r2r$+$5$l$kL4$r8+$^$7$?!#(B</p><blockquote><p>$B;03QDj5,$r;H$C$F!"%3%s%T%e!<%?$N(B 1 $B$rI=$;!#(B</p><cite></cite></blockquote>
<p>$B;03QDj5,$G=q$1$G$O$J$/!";03QDj5,<+BN$r;H$C$F$G$9$h!#$5$F$5$F!"Ez$($O0lBN(B?<sup><a href="#d17-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d17-1-fn1">$BEz$(!#Nc$($P;03QDj5,$N@m$C$?J}$,>e$r8~$/$N$r!V(B0$B!W!"2<$r8~$/$N$r!V(B1$B!W$HDj5A$9$k$H!"2<$r8~$+$;$l$P(B 1 $B$rI=$7$?$3$H$K$J$j$^$9!#!V%3%s%T%e!<%?$N(B 1$B!W$H$O!"Fs?J?t$N(B 1 $B$H$$$&0UL#$@$C$?$N$G$9$M!#(B</li>
</ol></div><!-- class="section" -->
<div id="d17-2" class=" section">
<h3><a href="#d17-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$B;03QDj5,%S%C%H(B (2)</h3>
<p>$B!V%3%s%T%e!<%?$N!W$H$$$&JQ$J7AMF$K%T%s$HMh$FLdBj$r2r$/$3$H$,$G$-$^$7$?$,!"(B<ol><li>$B$o$+$P(B : $B==?J7W;;5!$H$+$OL5;k$G$9$+(B?</li><li>$B=PBj<T(B : $B$((B? $B$J$K$=$l(B??</li></ol>$B$H$$$&$7$g$&$b$J$$Mn$A$G$7$?!#(B</p><p>$BL4$+$i3P$a$F$b$&0lEY9M$($F$_$^$7$?$,!"==?J$J$i99$K1&$H$+:8$H$+9g7W==J}8~Dj5A$9$l$P$=$l$G:Q$_$^$9$M!#$=$l$I$3$m$+%"%J%m%0NL;R(B ($B0UL#ITL@(B) $B$K$@$C$F$J$j$^$9$h!#;03QDj5,K|:P(B!</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B11$B7n(B17$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F17" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F17" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d20" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:11:20" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B11$B7n(B20$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" /><img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d20-1" class=" section">
<h3><a href="#d20-1" class="self">$B!y(B</a> $B%l%]!<%H$r=q$+$J$$$H!#(B</h3>
<p>$BL@F|Ds=P$N%l%]!<%H!"$^$@:G=i$N0lJG$N:G=i$NItJ,$7$+=q$$$F$^$;$s!&!&!&$3$l$C$F$+$J$j$d$P$$$+$b!#(B</p><p>$B$=$s$J;~$K8B$C$F!"(B<a href="/news#d2003-11-19">$B%M%C%H%o!<%/$ND4;R$,0-$/$J$k(B</a>$B$H$+!"$I$&$9$j$c$$$$$N$h(B!</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B11$B7n(B20$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F20" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F20" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d23" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:11:23" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B11$B7n(B23$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d23-1" class=" section">
<h3><a href="#d23-1" class="self">$B!y(B</a> $B%O%V$r$?$:$M$F;0@iIC(B</h3>
<p>$B$H$$$&$o$1(B ($BFf(B) $B$G!"(B 100Base$B!>(BTX $B$N%O%V$rC5$7$K$G$C$+$J;3$N8~$3$&$N%3%8%^$K9T$C$F$-$?$s$G$9$h!#;W$C$?$h$j$b6a$/$F1}I|0l;~4V!#(B</p><p>$B$H$3$m$,$G$9$h!"$J$$$s$G$9!"$3$l$,!#$J$$$s$G$9$h!#$b$&?.$8$i$l$J$$!#(B USB $B$N%O%V$H$+(B LAN $BMQ$G$b%/%m%9!&%9%H%l!<%HJQ494o$O$"$k$C$F!<$N$K!#Gd$j@Z$l$G$b$J$/$F85!9$=$&$$$&@=IJ$O07$C$F$J$$$]!#$=$&$$$($P%k!<%?!<$H$+%M%C%H%o!<%/!&%+!<%I$H$+$bL5$$$J$"!#(B</p><p>$B$h$/9M$($l$P%^%6!<%\!<%I$H$+%0%i%U%#%C%/!&%+!<%I$H$+$=$&$$$&7W;;5!MQIJE9$J$iIaDL$K$"$j$=$&$J$b$N$b$J$+$C$?$G$9$M!#@lLgE9$8$c$J$/$FEE4oE9$N0l%3!<%J!<$@$+$i$=$s$J$b$s$G$9$+!#$=$l$K$7$F$O(BEM 4CPU$B@ZBX4o$H$+Gd$C$F$^$7$?$1$I$"$l$O$J$s$J$s$G$7$g$&!#!#!#(B</p></div><!-- class="section" -->
<div id="d23-2" class=" section">
<h3><a href="#d23-2" class="self">$B!y(B</a> $B<B$O@i1_;%$,$"$C$?!#(B</h3>
<p>$B0JA0!"@i1_;%$H>.A,$r;H$$2L$?$7$F?)7t$,Gc$($J$$$I$&$7$h$&$H$$$&OC$r=q$-$^$7$?$,!":#F|!"IuE{$K@i1_;%$,==Kg$/$i$$F~$C$F$k$N$r8+$D$1$F$7$^$$$^$7$?!&!&!&!#(B</p></div><!-- class="section" -->
<div id="d23-3" class=" section">
<h3><a href="#d23-3" class="self">$B!y(B</a> <span class="cats"><span class="cat">[CSS]</span>
</span>
$B%U%)!<%`$KOH@~$r(B</h3>
<p>$B$h$/!"$G$C$+$J%U%)!<%`$K%\%?%s$,$$$C$Q$$$H$+$G!"$I$3$+$i$I$3$^$G$,0l$D$NF~NOMs$+$o$+$j$K$/$$%&%'%VJG$C$F$"$C$?$j$7$^$;$s$+(B? $B$A$c$s$H9M$($F@_7W$7$F$[$7$$$G$9$h$M!<!#(B</p><p>$B$H$*G:$_$N$"$J$?$bG:$s$GL5$$$"$J$?$b!":#$9$0(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%CD%F8%CD%D1%BC%D4%A5%B9%A5%BF%A5%A4%A5%EB%A5%B7%A1%BC%A5%C8">$BMxMQ<T%9%?%$%k%7!<%H(B</a>$B$K<!$N$h$&$K=q$$$A$c$$$^$7$g$&(B!</p><blockquote><p>form { border: blue dashed 1px }</p><cite></cite></blockquote>
<p>$B$3$l$G%U%)!<%`$N30OH$K@D$$E@@~$,IU$-$^$9!#(B<sup><a href="#d23-3-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d23-3-fn1">$BK?7G<(HD$G$O%U%)!<%`$N=*N;%?%0$,(B form $B$8$c$J$/$F(B font $B$K$J$C$F$F!"$=$NJGA4BN$,%U%)!<%`$N0lIt$K$J$C$F$^$7$?(B($BON(B)$B!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B11$B7n(B23$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F23" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F23" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d24" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:11:24" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B11$B7n(B24$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d24-1" class=" section">
<h3><a href="#d24-1" class="self">$B!y(B</a> $BBf=j$re:No$K(B!</h3>
<p>$B5W!9$KBf=j$rA]=|$7$^$7$?!#(B</p><p>$B$3$l0J>e$O2?$b8@$&$^$$!#!#!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B11$B7n(B24$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F24" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F24" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d25" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:11:25" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B11$B7n(B25$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d25-1" class=" section">
<h3><a href="#d25-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BE75$(B]</span>
</span>
$B1+9_$C$F]5@Q$b$k(B</h3>
<p>$B$J$s$+!"2PMKF|$C$F0[>o$K1+N(9b$$$h$&$J!#(B</p></div><!-- class="section" -->
<div id="d25-2" class=" section">
<h3><a href="#d25-2" class="self">$B!y(B</a> ($B$^$?(B) $B9T$C$F$_$?$i5Y9V!#(B</h3>
<p>$B9T$C$F$_$?$i5Y9V$H$+!#$^$8$G!"5Y9V>pJsEE;R2=$7$F$/$@$5$$!#!#!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B11$B7n(B25$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F25" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F25" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d29" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:11:29" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B11$B7n(B29$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d29-1" class=" section">
<h3><a href="#d29-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
$B<B<LHG%;!<%i!<%`!<%s(B</h3>
<p>$BD+$?$^$?$^%F%l%S$rIU$1$?$i%;!<%i!<%`!<%s(B ($B<B<LHG(B) $B$d$C$F$?$s$G$9$h!#!&!&!&%W!#$-$b$$$H;W$C$F$?$s$G$9$1$I!"$=$l0J>e$KON$($^$9!#8r@o%7!<%s$O%9%m!<%b!<%7%g%s$G$9$+!#I,;`$@$M(B(w$B!#(B</p><p>$B0lHV>P$($?$N$,!"%k%J!#7/$O?M7A$@$C$?$N$G$9$+!#$=$&$G$9$+!#>P$$$,;_$^$i$J$$$C$F!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B11$B7n(B29$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F29" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F11%2F%2F29" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->


<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (
 <a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200310">$BA07n(B</a>,
 <a rel="next" href="d200312">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>
)]
</div>
<ul class="myuri">
<li>&lt;URL:<a href="/~wakaba/d200311">http://suika.fam.cx/~wakaba/d/d200311</a>&gt;</li>
<li>&lt;<a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2003:11">URN:x-suika-fam-cx:fuyubi:2003:11</a>&gt;</li>
</ul>

</body>
</html>
