<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2008$BG/(B2$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2008$BG/(B2$B7n$N<cMU$N0-9T$N5-O?!#(B" />
<link rel="contents" href="list" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$r=q$$$?7n$N0lMw(B" />
<link rel="prev" href="d200801" title="$BA07n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="next" href="d200803" title="$BMb7n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="alternate" href="d200802.ja.atom" hreflang="ja"
    type="application/atom+xml" title="2008$BG/(B2$B7n$NE_F|(B (Atom $B6!5k(B)">
<link rel="contents" href="d200802+summary" title="$B:#7n$NOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200802" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2008$BG/(B2$B7n(B)" />
<link rev="made" href="/~wakaba/who?" title="$BCx<T$N<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd"
      title="Public Domain." lang="en" xml:lang="en" />
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="alternate stylesheet" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="alternate stylesheet"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="alternate stylesheet"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="alternate stylesheet"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="alternate stylesheet"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<div class="header">
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2008$BG/(B2$B7n(B)</h1>

<div id="intro" class="navigation">
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
  (<a href="list" rel="contents" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>
   (<a href="current.html" type="text/html"
      title="$B:G?7$NF|5-(B (HTML)" lang="en">HTML</a>,
    <a href="current.ja.atom" hreflang="ja" type="application/atom+xml"
      title="$B:G?7$NF|5-(B (Atom)" lang="en">Atom</a>),
   <a href="../who?" rev="made">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)]
</div>

</div><!-- header -->
<div id="d3" class=" body section">
       <h2><a href="/~wakaba/d/d200802#d03" class="self"
       >2008$BG/(B2$B7n(B3$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d3-1" class=" section">
<h3><a href="#d3-1" class="self">$B!y(B</a> SuikaWiki $B$,K;$7$$7o(B (@11:55 +09:00)</h3>
<p> SuikaWiki $B$,$+$J$j9b$$IQEY$G(B <q lang=en>503 WikiEngine Busy</q> $B$H$$$&(B $B%(%i!<$K$J$k$N$O!";*$N=hM}@-G=$NDc$5!"(B WikiEngine $B$N@_7W$N0-$5!"(B $B$=$l$KBgNL$N%"%/%;%9$,$"$k$?$a$G$9!#(B</p><p>$B;*$N@-G=$,Dc$$$N$O!":#99$I$&$K$b$J$j$^$;$s!#$=$N$&$A?7$7$$$N$rGc$$$^$9!#(B</p><p> WikiEngine $B$N@_7W$,0-$$$H$$$&$N$O!"$?$V$s$3$l$,0lHV$N860x$G$9$,!"(B $BM=A[0J>e$K%G!<%?%Y!<%9$NFbMF$,A}$($F$7$^$$!"(B1$B2s(B1$B2s$N=hM}$K(B $BI,MW0J>e$N(B CPU $B$H%a%b%j!<$r3d$$$F$7$^$C$F$$$k$N$G$9!#(B</p><p>$B$7$+$bBgNL$N%"%/%;%9$,$"$k$?$a$K!"$=$N$9$Y$F$r;+$-$-$k$3$H$,$G$-$F$$$^$;$s!#$d$`$rF@$:!"A4%"%/%;%9$N>/$J$/$F$b(B 1/10 ($B:.;(;~$O$?$V$s$b$C$H$?$/$5$s(B) $B$r(B 503 $B$G$O$8$$$F$$$^$9(B<sup><a href="#d3-1-fn1" class=" fn_anchor">*1</a></sup> $B!#(B</p><p>$B$=$m$=$m:n$jD>$5$J$$$H$H2?G/$bA0$+$i;W$C$F$$$k$N$G$9$,!&!&!&!#(B</p><ol class="footnote">
<li id="d3-1-fn1"> Wiki $B$X$NF1;~%"%/%;%9?t$r@)8B$7$F$$$^$9!#(B</li>
</ol></div><!-- class="section" -->
<div id="d3-2" class=" section">
<h3><a href="#d3-2" class="self">$B!y(B</a> $B@h7n(B (@11:58 +09:00)</h3>
<p>$B@h7n0lEY$b=q$$$F$$$J$+$C$?$+!&!&!&(B<sup><a href="#d3-2-fn1" class=" fn_anchor">*1</a></sup> $B!#(B</p><ol class="footnote">
<li id="d3-2-fn1">$B=q$/%M%?$,L5$+$C$?$7!&!&!&!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F2%2F%2F3" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F2%2F%2F3" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div class="footer">

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
 (<a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200801">$BA07n(B</a>,
 <a rel="next" href="d200803">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>)]
</div>

</div>

</body>
</html>
