<!DOCTYPE html []>
<html lang="ja">
<head>
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B5$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2003$BG/(B5$B7n$N<cMU$N0-9T$N5-O?!#(B
" />
<link rev="made" href="mailto:w@suika.fam.cx" title="$B$o$+$P(B" />
<link rel="contents" href="list" title="$B7n$N0lMw(B" />
<link rel="prev" href="d200304" title="$BA07n(B" />
<link rel="next" href="d200306" title="$BMb7n(B" />
<link rel="contents" href="d200305+summary" title="$BOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200305" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B
5$B7n(B)" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.png" type="image/png" />
<link rel="help" href="/~wakaba/who?" title="$B<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd" title="Public Domain.">
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="stylesheet alternate" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet alternate"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="stylesheet alternate"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="stylesheet alternate"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="stylesheet alternate"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B5$B7n(B)</h1>

<div id="intro">
[<img src="favicon" alt="$BE_F|(B" class="favicon">
  (<a href="list" rel="index" title="$BF|5-$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="d200305++summary" title="$B:#7n$N8+=P$70lMw!#(B">$BMWLs(B</a>,
   <a href="../who?" title="$BF|5-=q$$$F$k<cMU$N@5BN$KGw$k(B!?">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)
]
[$BEE;R%K%e!<%9(B
  <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9AH(B suika.robamimi ($B$9!z$`$N<*$OqfGO$N<*(B)">$B$m$P<*(B</a>,
]
[
[Chat 
  [<a href="../-temp/wkchat/chat1" title="$B?M9)L5G=$`(B*$B$97/$,(B24$B;~4V$"$J$?$NAj<j$r$9$k(B Web chat $B5!9=!#(B">$B$`(B*$B$9Cc(B</a>]
  [<a href="/~rei/cgi-bin/moonlight/">$B7n8wCc(B</a>]
]
]
</div>
<div id="d1" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:1" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B1$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d1-1" class=" section">
<h3><a href="#d1-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$BBg:eBg3X5-G0F|(B</h3>
<p>$B:#F|$O!VBg:eBg3X5-G0F|!W$J$N$@$=$&$G$9!#$h$/$o$+$i$J$$$1$I5-G0F|$*$a$G$H$&(B!</p></div><!-- class="section" -->
<div id="d1-2" class=" section">
<h3><a href="#d1-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B7r9/?GCG(B</h3>
<p>$B$b$&$9$07r9/?GCG$"$k$i$7$$$G$9$1$I!"0FFb$N;f$,BN0i4[$N7G<(HD$N$H$3$m$H$+$K$7$+E=$C$F$J$$$H$$$&%5!<%S%9$N0-$5!#(B<sup><a href="#d1-2-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$H$$$&$o$1$G(B Web $B$G(B<a href="http://www.hss.osaka-u.ac.jp/center/H15.Healthcheck.html">$BF|DxI=(B</a>$BH/8+!#?oJ,J,$+$j$K$/$$$H$3$m$K$"$j$^$7$?!#(B<sup><a href="#d1-2-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d1-2-fn1">$B3XIt7G<(HD$K$bJ]7r4X78$NMs$,$"$C$?$N$K!"E=$C$F$J$+$C$?!#(B</li>
<li id="d1-2-fn2">$B<gJG"*:G?7>pJs$+$i$O5nG/$NF|Dx$K9T$C$F$7$^$&!#G/$r=q$-49$($k$H:#G/$N$,8+$l$k!#$h$/$h$/D4$Y$F$_$k$H!"<gJG"*J]7r%;%s%?!<M=Dj"*7r9/?GCG$NMs$H$$$&7PO)$G$bE~C#$G$-$k!#(B ($B$9$4$$J,$+$j$K$/$$!#(B)</li>
</ol></div><!-- class="section" -->
<div id="d1-3" class=" section">
<h3><a href="#d1-3" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[$BM}?t2J(B]</span>
</span>
$BO"5Y(B</h3>
<blockquote cite="http://bbs7.otd.co.jp/703265/bbs_plain"><p>$B$&$o$5$K$h$k$H(B10$BO"5Y(B($B:eBg(B?)$B$C$F$H$3$,$"$k$_$?$$$G!#N";3(BC$B$G$9$J!#(B</p><cite><cite><a href="http://bbs7.otd.co.jp/703265/bbs_plain">$BM}?t2JHD(B</a></cite></cite></blockquote>
<ul><li>4$B7n(B26$BF|(B($BEZ(B): $BEZMKF|$J$N$G5Y$_!#(B</li><li>4$B7n(B27$BF|(B($BF|(B): $BF|MKF|$J$N$G5Y$_!#(B</li><li>4$B7n(B28$BF|(B($B7n(B):<a href="http://www.setc.wani.osaka-u.ac.jp/">$B6&DL650i(B</a><sup><a href="#d1-3-fn1" class=" fn_anchor">*1</a></sup> $B$O5Y$_!#@lLg650i$O3XIt$K$h$C$F$O5Y$_(B<sup><a href="#d1-3-fn2" class=" fn_anchor">*2</a></sup> $B!#(B</li><li>4$B7n(B29$BF|(B($B2P(B):<a href="http://www.geocities.jp/tyuujitu/">$B$$$A$g$&:W(B</a><sup><a href="#d1-3-fn3" class=" fn_anchor">*3</a></sup> $B$N$?$a5Y9V!#(B</li><li>4$B7n(B30$BF|(B($B?e(B): $B$$$A$g$&:W$N$?$a5Y9V!#(B</li><li>5$B7n(B1$BF|(B($BLZ(B): $BBg:eBg3X5-G0F|$N$?$a5Y$_!#(B</li><li>5$B7n(B2$BF|(B($B6b(B):<em>$BIaDL$NF|(B</em>$B!#9V5A$K$h$C$F$O@h@8$NET9g(B($BFf(B)$B>e5Y9V!#?M$K$h$C$F$O<+<g5Y9V!#(B</li><li>5$B7n(B3$BF|(B($BEZ(B): $BEZMKF|!&7{K!5-G0F|$G5Y$_!#(B</li><li>5$B7n(B4$BF|(B($BF|(B): $BF|MKF|$G5Y$_!#(B</li><li>5$B7n(B5$BF|(B($B7n(B): $B$3$I$b$NF|$G5Y$_!#(B</li></ul><p>$B$[$s$H$@!#:GBg(B10$BO"5Y$@!#$$$$$J$"!#(B<sup><a href="#d1-3-fn4" class=" fn_anchor">*4</a></sup> </p><ol class="footnote">
<li id="d1-3-fn1">$B=j0b65M\!#(B</li>
<li id="d1-3-fn2"><a href="http://www.es.osaka-u.ac.jp/sch-sched15.html">$B$&$A$N3XIt$O5Y$_(B</a>$B!#(B</li>
<li id="d1-3-fn3">$B=U$NBg3X:W!#(B</li>
<li id="d1-3-fn4">$B$o$+$P$OL@F|BN0i$,$"$k$N$G5Y$a$^$;$L!#1?$,0-$$$N$&!#(B</li>
</ol></div><!-- class="section" -->
<div id="d1-4" class=" section">
<h3><a href="#d1-4" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
TV</h3>
<p>$B$H$$$&Iw$K%4!<%k%G%s!&%p!<%/$NF|?t$r7W;;$7$F$$$?$i$&$C$+$j%F%l%S$r8+F($9$H$3$m$@$C$?(B(w</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B1$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F1" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F1" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d2" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:2" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B2$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
<span class="var T2"><a href="/~wakaba/d/d200305#d2-1">2$B8B(B:$BBN0i(B</a></span>
<span class="var T5"><a href="/~wakaba/d/d200305#d2-2">5$B8B(B:$B?M4V650i2JL\!V2J3X$NE/3X!W(B</a></span>
</div><!-- header -->

<div id="d2-1" class=" section">
<h3><a href="#d2-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[$BBN0i(B]</span>
</span>
$BBN0i(B</h3>
<p>$B%3!<%9$K$h$C$F$O5Y9V$i$7$$$N$G$9$,!";DG0$J$,$i<+J,$N%3!<%9$O$7$C$+$j$"$j$^$7$F!#(B</p><p>$B%m!<%i!<!&%V%l!<%I$J$k$b$N$r$7$^$7$?!#MW$9$k$K%$%s%i%$%s!&%9%1!<%H(B<sup><a href="#d2-1-fn1" class=" fn_anchor">*1</a></sup> $B$G$9$J!#=i$a$F$d$C$?$N$G$9$,!"$J$+$J$+LLGr$+$C$?$G$9!#(B</p><p>$B$H$j$"$($:$J$s$H$+?J$a$kDxEY$K$O$J$j$^$7$?!#$O$?$+$i8+$?$iIT3f9%$J5$$O$9$k$s$G$9$,!"<+J,$G$O8+$($J$$$N$G5$$K$7$J$$J}8~$G!#$=$N$&$A$J$s$H$+$J$k$G$7$g$&!#(B</p><p>$BBN0i4[Fb$r$?$@$0$k$0$k2s$C$F$?$@$1$J$N$K?oJ,Hh$l$^$7$?!#(B</p><p>$B$5$/$i$A$c$s(B($BC/(B)$B$O$9$4$$$G$9$J$"$H$D$/$E$/;W$$$^$7$?$h!#(B</p><ol class="footnote">
<li id="d2-1-fn1">$B$0$0$C$F$_$k$H!"%$%s%i%$%s!&%9%1!<%H$N:G=i$N>&MQ$N<BAu$,%m!<%i!<!&%V%l!<%I$i$7$$!#(B</li>
</ol></div><!-- class="section" -->
<div id="d2-2" class=" section">
<h3><a href="#d2-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B2J3X$NE/3X(B</h3>
<p>$B!V2J3X$NE/3X!W$J$s$FFq$7$=$&$JBj$G$9$,!"Kh2s%S%G%*$r4Q$F(B<a href="http://www2.ipcku.kansai-u.ac.jp/~saiton/">$B@h@8(B</a>$B$N2r@bJ9$/$@$1$G$9!#;v8N(B ($B%?%$%?%K%C%/$H$+%"%]%m(B13$B$H$+!#(B) $B$G5;=Q$,2u$l$k$N$rDL$7$F?'$s$J$3$H$r9M$($F8+$^$7$g$&!"$H$$$&FbMF!#(B</p><p>$BIaCJ$O=P@J$O<h$i$J$$$s$G$9$,!"(B1,2$BEY46A[$r=q$$$F$b$i$&$3$H$,$"$k!"$H8@$C$F$^$7$?$,!":#F|$O$=$l$r$7$^$7$?!#$$$D$b$O$*$*$`$MKd$^$C$F$k65<<$,:#F|$O7k9=6u$$$F$?$+$i!#(B<sup><a href="#d2-2-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d2-2-fn1">$B$=$l$G$b!"@h@8$,;W$C$F$$$?$h$j$O$$$?$i$7$$!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B2$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F2" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F2" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d5" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:5" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B5$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d5-1" class=" section">
<h3><a href="#d5-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B%F%9%H(B]</span>
</span>
$B%;%s%?!<;n83$N7k2L(B</h3>
<p>1$B7n$K<u$1$?Bg3XF~;n%;%s%?!<;n83$N7k2L$,=qN1$GFO$$$?$i$7$$!#(B</p><p>$B7k2L$O5"6?$7$?;~$N$*3Z$7$_$H$$$&$3$H$G!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B5$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F5" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F5" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d6" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:6" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B6$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d6-1" class=" section">
<h3><a href="#d6-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B%a%$%k(B]</span>
</span>
$B%A%'!<%s!&%a%$%k(B</h3>
<p>$B%A%'!<%s!&%a%$%k$OA10U$GN.DL$7$F$$$k$o$1$G$7$F!"$7$+$bBg35$OCN?M$+$iAw$i$l$F$/$k$b$N$G$9$+$i!"$d$a$m$H$$$&$N$K$b5$$r8/$C$FHh$l$^$9!#(B<sup><a href="#d6-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B8@$$J}$dAj<j$N@-3J$=$NB>$K$h$C$F!"$d$a$m$H$$$&$3$H$K$h$C$F%7%g%C%/$r<u$1$?$j5U@Z$l$7$?$j!"$I$&H?1~$5$l$k$+J,$+$j$^$;$s!#$7$+$b%a%$%k$@$HAj<j$N?4>p$,J,$+$j$E$i$$$N$,0J2<N,!#(B</p><p>$B7kO@(B: $B%A%'!<%s!&%a%$%k$O<R2q$NE($G$"$k(B($BON(B)$B!#(B</p><p>$B$=$l$K$7$F$b!"E4OSC%<h(B($BFf(B)$B$OL$$@$K%a%$%kE>Aw<B83$J$s$F$d$C$F$k$s$G$9$+(B(w</p><ol class="footnote">
<li id="d6-1-fn1">$B$$$o$J$$$H$$$&A*Br;h$O$J$7$M!#CN?M$,qY$5$l$F$$$k$N$rL[$C$F8+2a$4$9$N$OCfN,$H$$$&$3$H$G!#(B</li>
</ol></div><!-- class="section" -->
<div id="d6-2" class=" section">
<h3><a href="#d6-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$BKR2NE*%^!<%/IU$1(B</h3>
<p>$B$=$s$J$3$H$h$j(B >>1 $B$h!"%9%l$H$"$s$^$j4X78$J$$$1$I$5!#!V>pJs3hMQ4pAC!W$N<x6H$G(B HTML $B$N=q$-J}$H$+$d$C$F$?$s$G$9$h!#(B($BN,(B)</p><p>$B$b$&$M!"$=$NNcJ8$,!"2{$+$7$$$[$I8EE5E*(B($BFf(B)$B$J$N!#(B &lt;b> $B%?%0$GB@;z$H$+(B &lt;i> $B%?%0$G<PBN$H$+!#(B &lt;ol> $B%?%0$GHV9fIU$-%j%9%H$H$+!#$5$9$,$K(B Strict $B$J%^!<%/IU$1$N9V5A$O4|BT$7$F$J$+$C$?$1$I!"$.$H$.$H$NIT;W5D%^!<%/IU$1$8$c$J$+$C$?$N$G0B?4$7$A$c$$$^$7$?$h!#(B<sup><a href="#d6-2-fn1" class=" fn_anchor">*1</a></sup> </p><p>$BLLGr$$$N$O!"(B &lt;p> $B%?%0(B($BFf(B)$B$O$"$s$^$j;H$$F;$,$h$/$o$+$s$J$$$b$N$J$s$@$=$&$G$9(B! ($B$^$"!"(B &lt;br> $B%?%0(B2$B$DJ,$8$c$J$$$@$1$^$7$@!#(B)</p><p>$B!&!&!&$J$s$F0l!9<x6HCf$KFM$C9~$s$G$k$o$1$K$b$$$+$J$$$N$G!"NcJ8=q$r(B XHTML $B$KD>$7$F$^$7$?!#$=$l$G$b2K$@$C$?$N$G!"J8=q7?@k8@$NFbItItJ,=89g$K0l@87|L?MWAG7?@k8@$H$+B0@-@k8@=q$$$F$^$7$?(B(w$B!#BEEv(B XML $B$^$G$"$H>/$7(B!</p><ol class="footnote">
<li id="d6-2-fn1">$B$7$+$7!"$$$-$J$j:G=i$+$i%F!<%V%k!&%l%$%"%&%H$H$+$O=P$F$3$J$$$h$J!"IaDL!#$H$$$&$3$H$O0B?4$9$k$[$I$N$3$H$G$b$J$$$N$+(B?</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B6$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F6" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F6" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d8" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:8" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B8$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d8-1" class=" section">
<h3><a href="#d8-1" class="self">$B!y(B</a> $B1+!#(B</h3>
<p>$BD+$+$i9s$$1+$G$7$?!#(B</p><p>$BEZ:=9_$j$N>e$K!"Mk$OLD$k$o!"Iw$O?a$/$o!#$*$^$1$K:dF;$G!"9_$C$?1+$,%P%1%D$r$R$C$/$jJV$7$?$h$&$KN.$l$F$-$F!#:G0-!#(B</p><p>$B8a8e$O1+$O$d$s$@$b$N$N!"AjJQ$o$i$:Iw$O?a$/$b$N$@$+$i4($/$F4($/$F!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B8$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F8" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F8" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d10" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:10" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B10$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d10-1" class=" section">
<h3><a href="#d10-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[DonDon]</span>
</span>
$B$?$3>Fq;q+(B</h3>
<p>$BBg3XFb$K$"$k@86($N?)F2$G$"$k(B Don Don $B$K$O!"?'!9$Jq;q+$,$"$j$^$9$,!"$=$NCf$K!V$?$3$d$-$&$I$s!W$H$$$&$N$,$"$j$^$9!#(B200$B1_$G$9!#$G!"$?$^$?$^(B200$B1_;}$C$F$?$N$G?)$Y$F$_$^$7$?!#(B<sup><a href="#d10-1-fn1" class=" fn_anchor">*1</a></sup> $B:rF|$NOC$G$9!#(B</p><p>$B$G!"=P$F$-$?$N$O!&!&!&IaDL$Nq;q+$N>e$K!"IaDL$N$?$3>F$,(B3$B$D:\$C$F$^$7$?!#$b$C$H$9$4$$$b$N(B ($BFf(B) $B$r$J$s$H$J$/A[A|$7$F$$$?$@$1$K$A$g$C$H$,$C$+$j$G$9$,!#(B</p><p>$B?)$Y$F$_$?46A[(B? $BFC$K$J$7!#$^$:$/$O$J$$$1$IH~L#$/$b$J$$!#7y$$$8$c$J$$$1$I$b$&?)$Y$J$$$H;W$$$^$9!#$?$3>F$,?)$Y$?$/$J$C$?;~0J30$O$M!#(B</p><ol class="footnote">
<li id="d10-1-fn1">$B?)7tHNGd5!$K(B200$B1_CzEYF~$l$F!"$*$D$j$G$J$$$J$"$H$A$g$C$H??7u$K9M$($F$7$^$$$^$7$?(B($BFf(B)$B!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B10$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F10" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F10" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d12" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:12" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B12$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d12-1" class=" section">
<h3><a href="#d12-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B7W;;5!(B]</span>
</span>
$B%9%T!<%+!<(B</h3>
<p>$B%9%T!<%+!<$+$i2;$,=P$J$/$J$C$?!#<*$r6a$E$1$F$b2;$,$9$k5$G[$b$J$$!#7W;;5!$NB&$N%=%U%H%&%'%"E*2;NL$rJQ$($F$bJ9$3$($J$$!#:F5/F0$7$F$bD>$i$J$+$C$?!#2u$l$?$H;W$C$?!#(B</p><p>$B<B$O%9%T!<%+!<B&$N%O!<%I%&%'%"E*2;NL$,7c>.$K$J$C$F$$$?$@$1$G$"$C$?!#!#!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B12$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F12" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F12" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d13" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:13" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B13$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d13-1" class=" section">
<h3><a href="#d13-1" class="self">$B!y(B</a> $B%9%i%$%I:n$j(B</h3>
<p>$BNI$$(BRIBU $BH/I=(B $B%W%l%<%s$N$?$a$K$ONI$$%9%i%$%I$,I,MW$G$9!#H/I=$NL\E*$O!"$=$NFbMF$rD0=0$KAJ$($k$3$H$G$9!#$=$7$F$h$j8z2LE*$KAJ$($k$?$a$K$O!"%9%i%$%I$OM}O)@0A3$H$7$F$$$k$Y$-$G$9!#O@;]$,L@3N$G$"$k$Y$-$G$9!#$=$N$?$a$K$O!"H/I=<T$,<+?H$N<gD%$r$h$/M}2r$7$F$$$k$3$H$,I,?\$G$9!#(B</p><p>$B%9%i%$%I$O!"0lHL$KLdBjDs5/$K;O$^$j!"7kO@$"$k$$$O$^$H$a$GDy$a$/$/$i$l$^$9!#$=$N2aDx$r$$$+$K%9%`!<%:$K7k$V$+$,!"(B ($B;W$$@Z$C$F8@$($P(B) $B$$$+$K$=$N%9%i%$%I$,NI$/=PMh$F$$$k$+$J$N$G$"$j$^$9!#(B</p><p>$B$G!"$=$N%9%i%$%I$NFbMF$r$I$&9M$($F$$$/$+!#$=$NH/I=$N@-<A$N$h$&$J$b$N(B($BFf(B)$B$K0MB8$9$k$H$3$m$b$"$k$G$7$g$&$+$i0l35$K$O8@$($J$$$+$b$7$l$^$;$s$,!"<!$N<j=g$G?J$a$l$P$&$^$/$$$-$=$&$G$9!#(B</p><p>$B$^$:!"LdBjDs5/$H7kO@$r$O$C$-$j$5$;$^$9!#(B ($BNc(B: $BLdBj!VNI$$%9%i%$%I$r:n$k$K$O$I$&$7$?$i$h$$$+!#!W(B $B$^$H$a!VLdBj$H7kO@(B, $B$=$l$r7k$V>.%F!<%^$r9M$(!"$=$l$rFyIU$1$9$k!#!W(B)</p><p>$B<!$K!"LdBj$H7kO@$r7k$V7PO)$rBg$^$+$K:n$j$^$9!#(B ($BNc(B: $BLdBj!VNI%9%i$r:n$k$K$O!W"*!VNI%9%i$H$O2?$+!W"*!V%9%i%$%I$O$3$&:n$l!W"*$^$H$a(B)</p><p>$B$=$7$F!"$=$N7PO)$N3F9`L\$r$=$l$>$l>.%F!<%^$H$7$F!"@bL@$r2C$($k7A$G>\:Y2=$7$^$9!#(B ($BNc(B: $B!VNI%9%i$H$O2?$+(B: $BNI$$H/I="+NI%9%i"+M}O)@0A3"+H/I=$NM}2r!W(B)</p><p>$B$J$*!"$3$l$r$b$H$K<B:]$KH/I=$9$kFbMF$N869F$r:n$k$J$i!"$3$3$^$G$G=PMh$?%9%i%$%I(B ($BOC$NOHAH$_(B) $B$K99$KFyIU$1$r$9$l$P$h$$$G$7$g$&!#%"%I%j%V$N>l9g$bI,A3E*$K$=$&$J$j$^$9!#(B<sup><a href="#d13-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$3$N$h$&$J:n$jJ}$r$9$l$P!"%9%i%$%I$O<+A3$K$D$J$,$j!"O@;]$b$O$C$-$j$7$^$9!#8e$OH/I=$N@.8y$r5'$k$P$+$j$G$9(B:)</p><p>$B!&!&!&$H$$$&OC$rM}2r$7$F$b$i$&$?$a$K$O%9%i%$%I$r:n$C$?$[$&$,$h$5$2$@$J$!!#(B</p><ol class="footnote">
<li id="d13-1-fn1">$B4{$K869F$,$"$C$F!"$=$3$+$i%9%i%$%I$r:n$k$J$i!"$^$?OC$O0c$C$F$/$k$+$b$7$l$^$;$s!#(B</li>
</ol></div><!-- class="section" -->
<div id="d13-2" class=" section">
<h3><a href="#d13-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[$B?^=q4[(B]</span>
</span>
$B?^=q4[$NK\$NG[Ns(B</h3>
<p>$B<B$O:#$^$G8+$F$$$?!V>pJs9)3X!W$NC*$N$[$+$K!"$:$C$HN%$l$?$H$3$m$K!V%3%s%T%e!<%?!W$NC*$,$"$k$N$rH/8+!#$=$7$F(B XML $B$O>pJs9)3X$J$N$K!"(B SGML $B$O%3%s%T%e!<%?$i$7$$$3$H$,J,$+$j$^$7$?(B($BFf(B)$B!#(B<sup><a href="#d13-2-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$7$+$7!"?'!9$HG/BeJ*$,$=$m$C$F$^$9$J$"!#(B MS OS/2 $B$NK\$H$+!#:#EYFI$s$G$_$h$&$+$J(B(w</p><ol class="footnote">
<li id="d13-2-fn1">$B$7$+$7!"%3%s%T%e!<%?$K$7$m>pJs9)3X$K$7$m!"JB$YJ}$,$0$A$c$0$A$c!#$b$C$H:Y$+$/J,N`$7$FM_$7$$$H$3$m$G$9!#;w$?J,Ln!&F1$8J,Ln$NK\$,$P$i$P$i$N$H$3$m$K$"$k$@$1$G$J$/!"A4$/F1$8K\$,N%$l$?$H$3$m$K$"$C$?$j!"$7$^$9$+$i!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B13$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F13" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F13" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d14" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:14" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B14$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B14$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F14" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F14" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d16" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:16" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B16$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d16-1" class=" section">
<h3><a href="#d16-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B7r9/?GCG(B</h3>
<p>$B7r9/?GCG$K9T$-$^$7$?!#(B<sup><a href="#d16-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$BG"8!::!"(BX$B@~;#1F!"?4EE?^!"7l05B,Dj$r$7$^$7$?!#:G=i$K<'5$%+!<%I$rEO$5$l$F!"0J8e$=$N%+!<%I$r5!3#$KF~$l$k$@$1$G5-O?$5$l$F$/$_$?$$$G$9!#$9$4$$$J$"!#(B</p><p>$BG"8!::$O%H%$%l$G:Y$$MF4o$KG"$rF~$l$^$9!#;f%3%C%W$H$+2?$bL5$7$G!#$G!"$=$NMF4o$r;}$C$F$/$H$=$N>l$G7k2L$,J,$+$j$^$9!#(B ($B0[>o$J$7$G$7$?!#0[>o$,$"$C$?$i:F8!::$i$7$$$G$9$1$I!"$=$N>l9g;~4V$,;XDj$5$l$F$$$F$b$7<x6H$,$"$C$?$i(B($BN,(B)$B!#(B)</p><p>$B0lHV;~4V$,$+$+$k$N$,G"8!::(B ($B%H%$%l$N=gHVBT$A!#(B) $B$G!"$=$N8e$OBgBN$5$i$5$iN.$l$F$^$7$?!#(B ($B$=$j$c$"!"5!3#$r=gHV$KDL$C$F$/$@$1$@$+$i$J$!!#(B) $B$7$a$F(B40$BJ,DxEY!#(B</p><ol class="footnote">
<li id="d16-1-fn1">$B9V5A$OIaDL$K$"$k$N$G!"6u$-;~4V$K!#(B1$B=54V$N$&$AH>J,$/$i$$$NCK$NF|$K4hD%$C$F6u$1$J$$$H$$$1$J$$$+$iHyL/$K$"$l(B($BFf(B)$B$+$b!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B16$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F16" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F16" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d20" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:20" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B20$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" /><img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d20-1" class=" section">
<h3><a href="#d20-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BE78u(B]</span>
</span>
$BMk1+(B</h3>
<p>$B8a8e$+$i9s$$Mk1+$G$7$?!#(B3$B8B=*N;;~$K$O$?$^$?$^1+$OD6>.9_$j$G;1L5$7$GIaDL$K$d$j2a$4$;$kDxEY$@$C$?$N$G$9$,!"(B Don Don $B$GCY$$Ck?)$r@]$C$F$$$k4V$K$+$J$j9s$/$J$C$F!"CzEYMk1@$,??>e$rDL2a$7$F$$$k$h$&$G$7$?!#(B</p><p>$B@^>v$_;1$O;}$C$F$$$?$N$G$9$,!"IaDL$N$G$C$+$J;1$G$b$S$7$gG($l$K$J$k$/$i$$$N1+$@$C$?$N$G!"(B ($B$=$7$FF;O)$b@n$H2=$7$F$$$F!"(B) $BCzEY6u$-;~4V$G2K$J$3$H$b$"$j$^$7$F!"(B Don Don $B$N8<4X$G1+=I$j$7$F$^$7$?!#(B<sup><a href="#d20-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$=$N$*$+$2$G(B Don Don $B$N8<4X$N$H$3$m$K$b(B HandaiWalker 5$B7n9f$,CV$$$F$"$C$?$N$K5$$E$-$^$7$?!#$N$G(B1$BIt$b$i$C$F$-$^$7$?!#(B</p><p>$B1+$O$=$N$^$^$U$jB3$1$^$7$?$,!"$A$g$C$H>.9_$j$K$J$C$?$H$-$r8+7W$i$C$F0\F0$7$^$7$?!#(B4$B;~4VL\$,=*$o$k:"$K$O$9$C$+$j$"$,$C$F$$$^$7$?!#7k6I:#F|0lF|!"$R$I$$1+$@$C$?$b$N$N$5$[$I$L$l$J$/$F$h$+$C$?$G$9!#(B</p><ol class="footnote">
<li id="d20-1-fn1">$BB>$K$b$=$&$$$&?M$,Bt;3$$$^$7$?!#4X78$J$$$G$9$1$I!"(B Don Don $B$NF~$j8}$N>e$N!V(BDon Don$B!W$H=q$$$F$"$k$H$3$m$N4V$N7d4V$K%^%8%C%/$G!V(Bdoco$B!W$H=q$$$F$"$j$^$7$?(Bw $BC/$,$$$?$:$i$7$?$s$@$m$&!#(B</li>
</ol></div><!-- class="section" -->
<div id="d20-2" class=" section">
<h3><a href="#d20-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B7W;;5!(B]</span>
</span>
vi $B;H$$(B</h3>
<p>$B>pJs3hMQ4pAC$N;~$K6a$/$N@J$K:B$C$??M$,!"(B vi $B$^$s$;!<!"(B emacs $B$J$s$F$o$+$i$s!"$H$+8@$C$F$^$7$?(B<sup><a href="#d20-2-fn1" class=" fn_anchor">*1</a></sup> $B!#@h@8$d(B<abbr title="Teaching Assistant">TA</abbr>$B$N?M$bN.@P$K6C$$$F$^$7$?!#(B</p><p>$B$^$"!"$=$&$$$&3X2J$J$N$G$9$+$i$=$&$$$&?M$,$$$F$b$*$+$7$/$J$$$G$9$M!#B>$K$b2??M$+$$$?$j$7$F!#$A$J$_$K$=$l$G$O$o$+$P$O$I$&$J$N$+$H$$$&$H!"CN$C$F$k(B vi $B$NL?Na(B (?) $B$O(B :q ($B=*N;(B) $B$@$1$G$9!#2?$+$N4V0c$$$G$&$C$+$j5/F0$7$F$bBg>fIW$J$h$&$K$M(B($BON(B)$B!#(B<sup><a href="#d20-2-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d20-2-fn1">$B$b$78~$+$$$N@J$K(B emacs $B;a$s$8$c$,$$$?$i;&H2$9$k$H$3$m$@$C$?$@$m$&(B(w</li>
<li id="d20-2-fn2">$B4D6-JQ?t(B EDITOR $B$r$A$c$s$H@_Dj$7$m$h$H$$$&OC$b$"$k!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B20$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F20" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F20" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d22" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:22" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B22$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d22-1" class=" section">
<h3><a href="#d22-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B5Y9V$@$i$1(B</h3>
<p>$B:#=5!"5Y9V$@$i$1$G$9$h!#@h@8$b8^7nIB$H$+(B?</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B22$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F22" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F22" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d25" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:25" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B25$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:&kumoti;]</span>
</div><!-- header -->

<div id="d25-1" class=" section">
<h3><a href="#d25-1" class="self">$B!y(B</a> $BL5Bj(B</h3>
<p>$B>e(B?$B$NIt20$N?M$,1c2q(B?$B$7$F$?$_$?$$$G!"0lHUCf$&$k$5$+$C$?$G$9$h!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B25$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F25" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F25" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d27" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:27" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B27$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d27-1" class=" section">
<h3><a href="#d27-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B7W;;5!(B]</span>
</span>
vi</h3>
<p>$B>pJs3hMQ4pAC$N;~4V!"$9$k$3$H$b$J$/2K$@$C$?$N$G!"$=$NC<Kv$K$"$C$?(B vim $B$r;H$C$F$_$^$7$?!#$b$A$m$s%X%k%W$rD/$a$D$D$M!#(B</p><p>$B$J$s$H$J$/!"JT=8$7$?$j%U%!%$%k$r3+$$$?$jJD$8$?$j$,$G$-$k$h$&$K$O$J$j$^$7$?!#$G!":#$^$G(B vi $B8/$$$OJQBV$@$H;W$C$F$^$7$?$,(B($BON(B)$B!"JQ?MDxEY$@$H;W$$D>$7$^$7$?(B($BFf(B)$B!#$J$k$[$I!"$A$g$C$H0[MM$G$O$"$j$^$9$,!"J,$+$C$F$7$^$($P$5$[$I0[>o$H$$$&$^$G$G$b$J$$5$$,$7$^$9!#(B</p><p>$B$J!<$s$F;W$&$o$+$P$OJQBV$G$9$+(B?<sup><a href="#d27-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d27-1-fn1">$B$d$C$Q$j(B vi(m) $B$h$j$b(B (x)emacs $B$@$h$J!<!"$H;W$$$D$D$J$<$+=(4]$G$3$NF|5-$r=q$$$F$^$9!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B27$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F27" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F27" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d30" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:5:30" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B5$B7n(B30$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d30-1" class=" section">
<h3><a href="#d30-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B?'!9(B</h3>
<p>$BE}7W3X$N%l%]!<%H2]Bj!"FC$K5^$.$NFbMF$8$c$J$$$+$i2F5Y$_A0$/$i$$$^$G$K$O=P$7$F$M!"$@$C$F!#$^$@(B6$B7n$K$b$J$C$F$J$$$N$K!#LLGr$9$.$k!#(B</p><p>$B$=$&$$$($PBfIw$,6a$E$$$F$k$H$+!#(B ($B>iCL$+$H;W$C$?$s$G$9$1$IK\Ev$i$7$$$G$9$M!#J#?t$N?M$,8@$C$F$^$7$?$+$i!#(B<sup><a href="#d30-1-fn1" class=" fn_anchor">*1</a></sup> ) $B$b$&>/$7Aa$/Mh$F$/$l$?$i5Y9V$K$7$?$N$K!&!&$H$+8@$C$F$k@h@8$b$$$^$7$?$h!#(B</p><ol class="footnote">
<li id="d30-1-fn1">$B:G6a%K%e!<%98+$F$J$$$J$"!#(B</li>
</ol></div><!-- class="section" -->
<div id="d30-2" class=" section">
<h3><a href="#d30-2" class="self">$B!y(B</a> 6$B7n(B</h3>
<p>$B$=$&$3$&$$$C$F$k$&$A$K!"Mh=5$+$i(B6$B7n$8$c$J$$$+(B! $B:#7n$bHh$l$?$J$"(B($BFf(B)$B!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B5$B7n(B30$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F30" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F5%2F%2F30" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->


<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (
 <a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200304">$BA07n(B</a>,
 <a rel="next" href="d200306">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>
)]
</div>
<ul class="myuri">
<li>&lt;URL:<a href="/~wakaba/d200305">http://suika.fam.cx/~wakaba/d/d200305</a>&gt;</li>
<li>&lt;<a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2003:5">URN:x-suika-fam-cx:fuyubi:2003:5</a>&gt;</li>
</ul>

</body>
</html>
