<!DOCTYPE html []>
<html lang="ja">
<head>
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2004$BG/(B5$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2004$BG/(B5$B7n$N<cMU$N0-9T$N5-O?!#(B
" />
<link rev="made" href="mailto:w@suika.fam.cx" title="$B$o$+$P(B" />
<link rel="contents" href="list" title="$B7n$N0lMw(B" />
<link rel="prev" href="d200404" title="$BA07n(B" />
<link rel="next" href="d200406" title="$BMb7n(B" />
<link rel="contents" href="d200405+summary" title="$BOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200405" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2004$BG/(B
5$B7n(B)" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.png" type="image/png" />
<link rel="help" href="/~wakaba/who?" title="$B<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd" title="Public Domain.">
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="stylesheet alternate" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet alternate"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="stylesheet alternate"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="stylesheet alternate"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="stylesheet alternate"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2004$BG/(B5$B7n(B)</h1>

<div id="intro">
[<img src="favicon" alt="$BE_F|(B" class="favicon">
  (<a href="list" rel="index" title="$BF|5-$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="d200405++summary" title="$B:#7n$N8+=P$70lMw!#(B">$BMWLs(B</a>,
   <a href="../who?" title="$BF|5-=q$$$F$k<cMU$N@5BN$KGw$k(B!?">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)
]
[$BEE;R%K%e!<%9(B
  <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9AH(B suika.robamimi ($B$9!z$`$N<*$OqfGO$N<*(B)">$B$m$P<*(B</a>,
]
[
[Chat 
  [<a href="../-temp/wkchat/chat1" title="$B?M9)L5G=$`(B*$B$97/$,(B24$B;~4V$"$J$?$NAj<j$r$9$k(B Web chat $B5!9=!#(B">$B$`(B*$B$9Cc(B</a>]
  [<a href="/~rei/cgi-bin/moonlight/">$B7n8wCc(B</a>]
]
]
</div>
<div id="d31" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:5:31" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B5$B7n(B31$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />$B"*(B<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d31-1" class=" section">
<h3><a href="#d31-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BE75$(B]</span>
</span>
$BK0$-$b$;$:$KE75$$NOC$G$9!#(B</h3>
<p>$B:#F|$O8aA0Cf$,:rF|$K0z$-B3$-J5=k$+$C$?$N$G$9$,!"8a8e$K$J$C$F0lE>!"7c$7$/1+9_$j$G$7$?!#(B</p><p>$BCzEY$*Ck:"$KBg3X$K9T$C$F$$$^$7$F!"7zJ*$KF~$k$^$G$3$NJ5=k$$$N$K!&!&!&$H$+;W$C$F$*$j$^$7$?$i!"7zJ*$+$i=P$?;~$K30$NMM;R$,$^$C$?$/0c$C$F$$$F2?$,5/$3$C$?$N$+M}2r$G$-$J$$$/$i$$$G$"$j$^$7$?!#(B($BAk$N$J$$It20$K$$$?$b$N$G$9$+$i!#(B)</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B5$B7n(B31$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F31" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F31" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d24" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:5:24" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B5$B7n(B24$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d24-1" class=" section">
<h3><a href="#d24-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[DonDon]</span>
</span>
$B8+CN$i$L?M$K?)F2$O$^$:$$$H8@$o$l$k$N4,(B</h3>
<p>DonDon $B$G$*Ck$r?)$Y$F$$$^$7$?$i!"8~$+$$$N@J$K:B$C$?$*$8$5$s(B<sup><a href="#d24-1-fn1" class=" fn_anchor">*1</a></sup> $B$KOC3]$1$i$l$^$7$?!#$=$N$*$8$5$s$O$b$&2?==G/$bBg3XFb$N?)F2$G?);v$r$7$F$$$^$9$,!"$$$^$@$K0lEY$b$*$$$7$$$H;W$C$?$3$H$,$J$$$N$@$=$&$G$9!#;W$o$:Ej$2$D$1$?$/$J$k$/$i$$$@$=$&$G$9!#(B<sup><a href="#d24-1-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d24-1-fn1">$B$I$3$+$N3XIt$N65<x$+=u65<x$G$7$g$&$+!#(B</li>
<li id="d24-1-fn2">$B$=$3$^$G;W$C$F$$$J$,$i$:$C$H?)$Y$KMhB3$1$k$"$?$j!"$J$s$HI>$7$FNI$$$N$d$i!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B5$B7n(B24$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F24" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F24" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d23" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:5:23" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B5$B7n(B23$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d23-1" class=" section">
<h3><a href="#d23-1" class="self">$B!y(B</a> $B?t==E9J^E83+Cf(B</h3>
<p>$B$&$A$+$i0lHV6a$$%9!<%Q!<!">.$5$JE9$+$H;W$C$F$$$?$i!"7k9=$J?t$"$A$3$A$K$"$k$i$7$$$G$9!#(B ($B$I$&$7$F$o$+$C$?$+$H$$$&$H!"%W%l%<%s%H$N7k2L$,E=$C$F$"$j$^$7$F!"1~Jg$7$?E9L>$,$:$i$C$HJB$s$G$$$^$7$?!#(B)</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B5$B7n(B23$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F23" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F23" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d20" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:5:20" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B5$B7n(B20$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d20-1" class=" section">
<h3><a href="#d20-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$B>.3X@8$K28$rGd$C$F$_$k%F%9%H(B</h3>
<p>$B>.3X@8$/$i$$$N=w$N;R$,0l@87|L?$^$H$a$?$H$*$\$7$-;f$NB+$rMn$H$7$F$0$A$c$0$A$c$K$7$F$7$^$C$?$N$G!"$o$+$P$?$s$OM%$7$$$*7;$5$s(B($BFf(B)$B$C$]$/!"JB$Y$J$*$9$N$r<jEA$C$F$"$2$^$7$?!#(B</p><p>$BL4$NCf$N$o$+$PI,;`$@$J(Bw</p></div><!-- class="section" -->
<div id="d20-2" class=" section">
<h3><a href="#d20-2" class="self">$B!y(B</a> $B>.A,(B</h3>
<p><a href="/~wakaba/d/d200405#d15">$B@hF|(B</a>$B!"(B<a href="/~wakaba/d/d200405#d15-1">$B@i1_;%!&>.A,$,;D$j>/$J$$(B</a>$B$H=q$-$^$7$?$,!"$h$/8+$?$i(B2$B=54V$/$i$$$J$s$H$+$J$j$=$&$JDxEY$K$O>.A,$,Bt;3$"$j$^$7$?(B:)</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B5$B7n(B20$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F20" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F20" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d15" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:5:15" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B5$B7n(B15$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d15-1" class=" section">
<h3><a href="#d15-1" class="self">$B!y(B</a> $B@i1_;%$^$s$;$'!#(B</h3>
<p>$BGc$$J*$G$D$$$&$C$+$j<j;}$A$N@i1_;%A4It=P$7$A$c$$$^$7$?!#$3$l$,2?$r0UL#$9$k$+$H8@$&$H!">.A,$,L5$/$J$C$?;~E@$GN>BX$;$:$K?)F2$N?)7t$rGc$&$3$H$,$G$-$J$/$J$j$^$9!#(B</p><p>$B>.A,$,>/!9$"$k$+$i!"$H$j$"$($:(B1$B=54V$J$s$H$+$=$l$G>h$j@Z$j$?$$$H$3$m!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B5$B7n(B15$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F15" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F15" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d14" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:5:14" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B5$B7n(B14$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d14-1" class=" section">
<h3><a href="#d14-1" class="self">$B!y(B</a> $B$o$+$P$?$s!"8F$S=P$5$l$k(B</h3>
<p>$B3X@88F$S=P$7$NEE;R7G<(HD$KL>A0$,:\$C$F$$$k$HF1$83X2J$N?M$K8@$o$l$F6CX3$7$F8+$K$$$C$?$i!"3N$+$K:\$C$F$$$^$7$?!#65M\$N9V5A$O$[$H$s$I5nG/$G=*$o$C$F$7$^$C$?$N$GL54X78$@$H;W$C$F$$$?$i2?$H$$$&f+(B(w</p><p>$B%,%/%,%/%V%k%V%k$7$J$,$i65L33]$K9T$-$^$7$?$i!"$A$g$C$HBT$?$5$l$F;f$rEO$5$l$^$7$?!#(B2$B7n$+$i$:$C$H=P$F$$$?$=$&$G$9(B ($B$N$GC5$9$N$K;~4V$,$+$+$C$F$$$?$h$&$G$9(B)$B!#=U5Y$_$rK~5J(B(?)$B$7$F$$$?$H$3$m$K2?$H$$$&f+(B!</p><p>$B$G!"$=$N;f$NFbMF$O!"5nG/EY$N!"<u9V<T$N(B9$B3d$,4V0c$$$J$/@dBP$K<u9V$7$?$/$OL5$$$1$I$[$H$s$II,=$$K6a$$$+$i$d$`$rF@$:<u9V$7$?$N$K0c$$$J$$!"7c$7$/I>H=$,0-$$(B ($B=P@JN($b0-$$(B) $BK?9V5A(B<sup><a href="#d14-1-fn1" class=" fn_anchor">*1</a></sup> $B$N%l%]!<%H$K=q$$$?46A[(B<sup><a href="#d14-1-fn2" class=" fn_anchor">*2</a></sup> $B$NJV;v$G$7$?!#$J$s$@$=$j$c!#(B</p><ol class="footnote">
<li id="d14-1-fn1">$BFbMF$,:#0l$D6=L#$r$R$-$,$?$$$b$N$G$"$k$@$1$G$J$/!"C4Ev$N@h@8$,$?$@$R$?$9$iG[I[$7$?%l%8%e%a$K>/!9FyIU$1$7$?FbMF$rC1D4$KC}$jB3$1$k$@$1(B ($B8XD%$G$O$J$/!"K\Ev$K$=$l$@$1!#0lEY$@$1%S%G%*$r8+$^$7$?$,!#(B) $B$G!"<B$O$=$NC}$j$b869F$=$N$^$^$G$"$C$?$j$7$^$9(B ($B;~!9$I$3$^$GFI$s$@$+J,$+$i$J$/$J$k(B($BON(B))$B!#=P7g$r$H$i$J$+$C$?$N$G(B1$B3d$+(B2$B3d$N?M$7$+=P@J$7$F$^$;$s$G$7$?!#(B</li>
<li id="d14-1-fn2">$B<o!9=q$-$?$$$3$H$rM}@-$GI,;`$KM^$($F!"I=LLE*$JLdBj$r7Z$/;XE&$7$?$b$N!#(B</li>
</ol></div><!-- class="section" -->
<div id="d14-2" class=" section">
<h3><a href="#d14-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[DonDon]</span>
</span>
$B%3%s%S%+%l!<P'(B</h3>
<p>DonDon $B$G?7%a%K%e!<$N%3%s%S%+%l!<P'$J$k$b$N$,=P$F$$$?$N$G;n?)$7$F$_$^$7$?!#$4HS$Hq;q+$,F1;~$KL#$o$($k$N$,Gd$j$i$7$$$G$9!#(B340$B1_!#(B</p><p>$B=P$F$-$?$b$N$O%+%l!<P'$H%+%l!<q;q+$r9gBN$7$?$b$N!"$$$d!"$h$j@53N$K8@$($P!"$4HS$K%+%l!<q;q+$r$+$1$?$h$&$J$b$N$G$7$?!#%+%l!<$O%+%l!<%i%$%9$N%+%l!<$G$O$J$/%+%l!<q;q+$N1UBNE*$J%+%l!<$G$9$+$i!"q;q+$O$H$b$+$/!"$4HS$r?)$Y$k$N$OH$$G$O$A$g$C$H$7$s$I$$$G$9!#q;q+$OH$$G!"%+%l!<$O%9%W!<%s$G?)$Y$k$N$,NI$$$G$7$g$&$+!#$a$s$I$/$5!<!#(B</p><p>$BL#$OIaDL$K%+%l!<q;q+(B + $B$4HS$G$9!#Ev$?$jA0$+!#Am9g$7$F!"2D$bL5$/IT2D$bL5$/$/$i$$$N46$8$G$7$g$&$+!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B5$B7n(B14$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F14" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F14" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d13" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:5:13" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B5$B7n(B13$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d13-1" class=" section">
<h3><a href="#d13-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BK:$lJ*(B]</span>
</span>
$B?2$h$&$H$7$?$i(B...</h3>
<p>$B?2$h$&$H$7$?$i!&!&!&1Q8l$NM==,$7$J$$$H(Borz</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B5$B7n(B13$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F13" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F13" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d12" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:5:12" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B5$B7n(B12$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d12-1" class=" section">
<h3><a href="#d12-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$BL4(B</h3>
<p>$B4pAC%;%_%J!<$G!"@>(BT$B$N9V5A$,3Z$i$7$$$N$G(B($BON(B)$B!"$U$f$-$?$sC#$H0l=o$K$=$l$rMz=$$9$k$3$H$K$7$^$7$?!#Kh2s(B B4 $B$G(B3$BKgDxEY$NJ8>O$rFI$s$G!"$A$g$C$H46A[$r=q$$$F=P$;$P$=$l$G(B OK $B$H$$$&$3$H$G!"3N$+$K3Z$G$9!#;O$^$C$F(B3$B2sL\$K$7$FDI2CEPO?$J$s$F$I$&$J$N$+$H;W$&$N$G$9$,!"$=$3$ON.@P@>(BT$B!"EvA3$N$h$&$KG'$a$F$/$l$^$7$?!#(B</p><p>$B$=$N(B3$B2sL\$N2]Bj$O8=BeF|K\8l$N>.@b$+2?$+(B1$BK\$H8EJ8$N2?$+!#@>(BT$B$N$3$H$@$+$i!"8E1Q8l$H$+%.%j%7%c8l$H$+$o$1$N$o$+$i$s8@MU$H$+$G=q$+$l$?J8>O$b$=$N$&$AEP>l$7$F$b$*$+$7$/$J$$$G$7$g$&(B:)</p><p>$B!&!&!&$J$s$F$$$&2D>P$7$JL4$r8+$?$N$G$9$,!"4pAC%;%_%J!<(B = $BBg3X$N65M\$N9V5A$NJ,N`$N(B1$B$D(B, $B@>(BT = $BCf3X9;$N<R2q$N@h@8(B, $B$U$f$-$?$sC#(B = $B9b9;$N;~$NF15i@8$J$I$HEP>l?MJ*$,MM!9$GC/$K$b$3$N2D>P$7$5$r$*$9$=J,$1$G$-$=$&$K$J$$$N$,Hs>o$K;DG0!#(B<sup><a href="#d12-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d12-1-fn1">$B$7$+$7B>?M$NL4$NCf$NOC$rJ9$+$5$l$k$N$O0lHL$KB`6~$G$"$k!#(B</li>
</ol></div><!-- class="section" -->
<div id="d12-2" class=" section">
<h3><a href="#d12-2" class="self">$B!y(B</a> $BK:$lJ*$NK!B'(B</h3>
<p>$BK:$lJ*$O!"$?$H$($=$l$,I,MW$K$J$k$^$G$I$l$@$1<+M3;~4V$,$"$C$?$H$7$F$b!"5$$E$/$N$O$b$O$d4V$K9g$o$J$/$J$C$?8e$G$"$k!#(B</p></div><!-- class="section" -->
<div id="d12-3" class=" section">
<h3><a href="#d12-3" class="self">$B!y(B</a> $B<!%9%l(B</h3>
<p>1000 $B$^$G9T$C$?%9%l$N<!$rC5$7$F$$$?$N$G$9$,Cf!98+$D$+$j$^$;$s$G!#ESCf$GF1$8HD$NB>$N%9%l$K4v$D$+4s$jF;$7$F!"?t==J,8e$K;EJ}$,$J$$$+$i%9%l0lMw$+$i8!:w$7$h$&$+$H;W$C$F(B<sup><a href="#d12-3-fn1" class=" fn_anchor">*1</a></sup> $B!"$d$C$H$N$3$H$G8+$D$1$?%9%l$O4{$K[Y$KF~$C$F$?$b$N$G$7$?!#(B</p><p>$B$d$C$F$i$l$s!#(B</p><ol class="footnote">
<li id="d12-3-fn1">$B:G=i$+$i$=$&$9$l$PNI$$$N$G$9$,!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B5$B7n(B12$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F12" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F12" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d11" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:5:11" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B5$B7n(B11$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<p>$B:rF|$O?'!9$H>W7bE*$J$3$H$,$"$j$^$7$F(B<sup><a href="#d11-fn1" class=" fn_anchor">*1</a></sup> $B!"@:?@E*$K;2$C$F$7$^$$$^$7$?!#(B</p><ol class="footnote">
<li id="d11-fn1">$BBg;v$J%G!<%?>C$7$A$c$C$?$j$H$+!#(B</li>
</ol><form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B5$B7n(B11$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F11" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F11" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d10" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:5:10" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B5$B7n(B10$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />$B"*(B<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d10-1" class=" section">
<h3><a href="#d10-1" class="self">$B!y(B</a> $B7r9/?GCG(B</h3>
<p><a href="http://www.hss.osaka-u.ac.jp/center/H16HealthCheck.htm">$B7r9/?GCG(B</a>$B$K9T$C$F$-$^$7$?!#(B</p><p>$B?HD9$HBN=E$r$O$+$k5!3#!"$h$/$"$j$,$A$J?HD97W$_$?$$$J$N$K>h$C$?$i0l5$$K7k2L$,=P$^$9!#F,$N>e$+$iK@$_$?$$$J$N$,9_$C$F$/$k$N$+$H;W$C$F$$$?$i!"$=$&$$$&$N$b$J$7!#%;%s%5!<$GGH$,Y{$MJV$C$F$/$k$+D4$Y$F$$$k$N$G$7$g$&$+!#K\Ev$K$"$C$H$$$&4V$G$9$4$$!#46F0$9$k4V$b$"$j$^$;$s$G$7$?$h!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B5$B7n(B10$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F10" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F5%2F%2F10" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->


<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (
 <a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200404">$BA07n(B</a>,
 <a rel="next" href="d200406">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>
)]
</div>
<ul class="myuri">
<li>&lt;URL:<a href="/~wakaba/d200405">http://suika.fam.cx/~wakaba/d/d200405</a>&gt;</li>
<li>&lt;<a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2004:5">URN:x-suika-fam-cx:fuyubi:2004:5</a>&gt;</li>
</ul>

</body>
</html>
