<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2006$BG/(B5$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2006$BG/(B5$B7n$N<cMU$N0-9T$N5-O?!#(B" />
<link rel="contents" href="list" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$r=q$$$?7n$N0lMw(B" />
<link rel="prev" href="d200604" title="$BA07n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="next" href="d200606" title="$BMb7n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="alternate" href="d200605.ja.atom" hreflang="ja"
    type="application/atom+xml" title="2006$BG/(B5$B7n$NE_F|(B (Atom $B6!5k(B)">
<link rel="contents" href="d200605+summary" title="$B:#7n$NOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200605" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2006$BG/(B5$B7n(B)" />
<link rev="made" href="/~wakaba/who?" title="$BCx<T$N<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd"
      title="Public Domain." lang="en" xml:lang="en" />
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="alternate stylesheet" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="alternate stylesheet"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="alternate stylesheet"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="alternate stylesheet"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="alternate stylesheet"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<div class="header">
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2006$BG/(B5$B7n(B)</h1>

<div id="intro" class="navigation">
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
  (<a href="list" rel="contents" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>
   (<a href="current.html" type="text/html"
      title="$B:G?7$NF|5-(B (HTML)" lang="en">HTML</a>,
    <a href="current.ja.atom" hreflang="ja" type="application/atom+xml"
      title="$B:G?7$NF|5-(B (Atom)" lang="en">Atom</a>),
   <a href="../who?" rev="made">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)]
</div>

</div><!-- header -->
<div id="d27" class=" body section">
       <h2><a href="/~wakaba/d/d200605#d27" class="self"
       >2006$BG/(B5$B7n(B27$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d27-1" class=" section">
<h3><a href="#d27-1" class="self">$B!y(B</a> Real $BI,;`$@$J(B (@14:32 +09:00)</h3>
<p>Real $B7A<0$NF02h%U%!%$%k$NFbMF$r3NG'$9$k$?$a$K!"L5NA$N%W%l%$%d!<$rF~<j$7$h$&$H(B Real $B<R$N(B Web $B%5%$%H$r8+$F$_$^$7$?!#(B</p><p>$B6y$K>/$7$@$1L5NAHG$NB8:_$,<($5$l$F$$$k$N$r8+$D$1$k$N$K6lO+$7!"$&$C$+$j$9$k$H$$$D$N$^$K$+M-NAHG$N%@%&%s%m!<%I$KM6F3$5$l$k$3$H$K$bCm0U$7!"$h$&$d$/F3F~MQ$N<B9T%U%!%$%k$rF~<j$7$^$7$?!#(B</p><p>$B$=$7$F$=$l$r<B9T$7$F;X<($K=>$C$F$$$/$H!"9b5!G=$K$9$k$+5!G=$,K-IY$J$N$,$h$$$N$+!"$_$?$$$J0UL#$N$o$+$i$J$$<ALd$,$G$F$-$F!"$b$H$NA*Br(B (1$B$DL\$NA*Br;h(B) $B$N$^$^$G@h$K?J$`$H!"%/%l%8%C%H%+!<%I$NHV9f$rF~$l$m$H$$$o$l$^$7$?!#$3$N$^$^?J$`$HM-NAHG$r9XF~$9$k$3$H$K$J$k$_$?$$$G$9(Bw $BB>J}$NA*Br;h$rA*$V$H!"$I$&$d$iL5NAHG$K$J$C$?$h$&$G$9!#(B<sup><a href="#d27-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$3$N$h$&$KI,;`$J(B Real $B$Nf+$rHr$1$D$D!"$D$$$K3+$$$?F02h%U%!%$%k$NFbMF$,!"K?%"%K%a4Z9qHG$N%*!<%W%K%s%0$N2N$@$C$?$H$-$NMnC@$H$$$C$?$i(Bw</p><ol class="footnote">
<li id="d27-1-fn1">$B7k6I!"M-NAHG$bL5NAHG$bG[I[%U%!%$%k$OF1$8$@$C$?$N$+(B? $B$=$l$H$b!"M-NAHG$N;nMQ%b!<%I$rA*$s$@$3$H$K$J$C$F$$$k$N$+(B?</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F27" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F27" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d21" class=" body section">
       <h2><a href="/~wakaba/d/d200605#d21" class="self"
       >2006$BG/(B5$B7n(B21$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d21-1" class=" section">
<h3><a href="#d21-1" class="self">$B!y(B</a> W3C $BMM$N(B Tag Soup $B$Oe:No$J(B Tag Soup (@12:15 +09:00)</h3>
<p>$B?t<0$r<j$G(B MathML $B$G%^!<%/IU$1$9$k$N$OHh$l$k$<(B<span class="aa fw">!!!11!!12</span><sup><a href="#d21-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d21-1-fn1">$BA4It$G(B A4 1$BKg$K$bK~$?$J$/$F$bM>M5$GH>F|$D$V$l$k$h!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F21" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F21" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d12" class=" body section">
       <h2><a href="/~wakaba/d/d200605#d12" class="self"
       >2006$BG/(B5$B7n(B12$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d12-1" class=" section">
<h3><a href="#d12-1" class="self">$B!y(B</a> Re: HTML or Atom (@00:26 +09:00)</h3>
<p>Atom $B$NJ}$K(B <code lang="en" class="HTTP">qs=0.6</code> $B$N$h$&$JCM$rIU$1$l$P$h$$$H$$$&$N$r65$($F$$$?$@$-$^$7$?!#A0$K$bJ9$$$?$3$H$,$"$j$^$9!#(B<code lang="en" class="HTTP">qs</code> $B$J$k2x$7$2$J0z?t$O3N$+$K(B<a href="http://httpd.apache.org/docs/2.2/ja/mod/mod_negotiation.html#typemaps">Apache $B$N%^%K%e%"%k(B</a>$B$NNc$K$b:\$C$F$$$F!";n$7$F$_$k$H<B:]$K(B<q>$B0U?^$7$?(B</q>$B8z2L$,F@$i$l$k$h$&$G$9!#(B<sup><a href="#d12-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$?$@$7!"(B HTTP $B1~Ez$N(B <code lang="en" class="HTTP">Content-Type:</code> $BMs$K$^$G(B <code lang="en" class="HTTP">qs</code> $B0z?t$,$D$$$F$7$^$$$^$9!#(B<code lang="en" class="HTTP">qs</code> $B$H$$$&$N$OI8=`2=$5$l$?$b$N$G$O$"$j$^$;$s$7!"$5$l$h$&$H$7$F$$$k$b$N$G$b$J$5$=$&$G$9$7(B<sup><a href="#d12-1-fn2" class=" fn_anchor">*2</a></sup> $B!"(Barchitecture $BE*$K$bH~$7$/$J$$!#$"$^$j$*$9$9$a$G$-$^$;$s$M$'!#!#!#(B</p><ol class="footnote">
<li id="d12-1-fn1"><code lang="en" class="HTTP">qs</code> $B$@$1$G$O$J$/!"(B<code lang="en" class="HTTP">q</code> $B$G$b$$$1$^$7$?!#(B</li>
<li id="d12-1-fn2">$B8E$$(B I-D $B$OA4ItD4$Y$F$$$^$;$s$+$i$o$+$j$^$;$s$,!#!#!#(B</li>
</ol></div><!-- class="section" -->
<div id="d12-2" class=" section">
<h3><a href="#d12-2" class="self">$B!y(B</a> $BE4OS%"%H%`(B (@21:48 +09:00)</h3>
<p>Atom $B$N$3$H$r@bL@$9$k;~$K!"0lH/$G$o$+$C$F$b$i$($J$/$F!"$H$C$5$K;W$$$D$$$?$N$,!"(B<q>RSS $B$N(B Atom</q>$B!#$J$s$@$+$J$"!#(B</p><p>$BL>A0$,7h$^$C$?;~$+$i!"$h$/$J$$$J$"$H;W$C$F$$$?$N$G$9$1$I$M!#(B ENUM $B$H$+(B SIMPLE $B$H$+(B Sieve $B$H$+$b!#(B<sup><a href="#d12-2-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d12-2-fn1">$B8!:w$G$-$J$$$8$c$s!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F12" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F12" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d11" class=" body section">
       <h2><a href="/~wakaba/d/d200605#d11" class="self"
       >2006$BG/(B5$B7n(B11$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d11-1" class=" section">
<h3><a href="#d11-1" class="self">$B!y(B</a> HTML or Atom rather than Atom or die (@07:25 +09:00)</h3>
<p><p><ul><li>$B$3$A$i$O5;=QE*$K4V0c$C$?$3$H$O$7$F$$$J$$(B ($B$O$:(B)</li><li>IE $B$N$*$+$7$J5sF0$K$3$A$iB&$GBP:v$9$kMF0W$JJ}K!$,$_$D$+$i$J$$(B</li><li>$BMxMQ<T$NB&$K$OA*Br;h$,$"$k(B:  <ul>    <li><a href="/~wakaba/#CONTENTS">HTML $BHG$rA*$V(B</a>$B$3$H$,$G$-$k(B<sup><a href="#d11-1-fn1" class=" fn_anchor">*1</a></sup> </li>    <li>IE $B0J30$N(B Web $B%V%i%&%6$K$+$($k$3$H$,$G$-$k(B</li>    <li>Atom reader $B$r$D$+$&$3$H$,$G$-$k(B</li>  </ul></li></ul>$B$H$$$&>u67$G!"$3$A$i$,<+$i$r5>@7$K$7$F$^$GC/$+$r9,$;$K$7$J$1$l$P$J$i$J$$$N$G$7$g$&$+!&!&!&!&!&!&!#(B</p></p><ol class="footnote">
<li id="d11-1-fn1">$B:G=i$KLdBj$r;XE&$5$l$F$+$i%j%s%/$rDI2C$7$^$7$?!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F11" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F11" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d10" class=" body section">
       <h2><a href="/~wakaba/d/d200605#d10" class="self"
       >2006$BG/(B5$B7n(B10$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d10-1" class=" section">
<h3><a href="#d10-1" class="self">$B!y(B</a> HTML or Atom (@07:30 +09:00)</h3>
<p>$B@hF|$h$j$3$NF|5-$O(B HTML $B$H(B Atom $B$G$*Aw$j$7$F$$$^$9!#0lIt$N%V%i%&%6(B ($BNc(B: IE) $B$G$O(B HTML $B$h$j(B Atom $B$,M%@h$5$l$FAw$i$l$F!"7k6I3+$1$J$$$H$$$&$3$H$K$J$C$F$$$^$9$,!"$3$l$O0lIt$N%V%i%&%6(B ($BNc(B: IE) $B$,<uF~$l2DG=$JG^BN7?(B (<code lang="en" class="HTTP">Accept: </code>) $B$H$7$F(B HTML $B$b(B Atom $B$b;XDj(B<em>$B$;$:(B</em>$B!"$J$s$G$b$$$$$h(B (<code class="HTTP">*</code>) $B$H$$$C$F$$$k$N$G!"$&$A$N(B Apache $B$,E,Ev$KA*$s$G$$$k$?$a$G$9!#(B<sup><a href="#d10-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B99$K!"0lIt$N%V%i%&%6(B ($BNc(B: IE) $B$G$O!"FbMF@^>W$7$F$$$k;~$N2?$i$+$N>pJs$,:R$$$7$F!"L$BP1~$N7A<0$N%G!<%?$r%U%!%$%k$H$7$FJ]B8$9$k$3$H$,$G$-$^$;$s!#$3$A$i$O$I$&9M$($F$b0lIt$N%V%i%&%6(B ($BNc(B: IE) $B$N%P%0$G$9!#(B</p><p>$B$3$A$i$N(B <code class="file" lang="file">.htaccess</code> $B$r$$$8$kDxEY$G$G$-$k3Z$JBP=hK!$,$"$k$J$iJL$G$9$,!"0lIt$N%V%i%&%6(B ($BNc(B: IE) $B$N$*$+$7$J;EMM$HJQ$J%P%0$NAj<j$r$9$k$N$O0$Jr$i$7$$$N$G!"J|CV$9$k$D$b$j$G$9!#$4ITK~$JJ}$O!"$*;H$$$N%V%i%&%6(B ($BNc(B: IE) $B$N3+H/85$K$*Ld9g$;$/$@$5$$$^$;!#(B<sup><a href="#d10-1-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d10-1-fn1">$BFbMF@^>W$G(B HTML $B$H(B XHTML $B$+$iA*$P$;$k;~$J$I$K5/$3$kLdBj$HF1$8$G$9!#(B</li>
<li id="d10-1-fn2">$B$J$*!"(B URI $B$K(B .ja.html $B$r$D$1$l$P=>MhDL$jF|K\8l(B HTML $BHG$,(B ($BFbMF@^>W$J$7$G(B) $BFI$a$^$9!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F10" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F10" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d9" class=" body section">
       <h2><a href="/~wakaba/d/d200605#d09" class="self"
       >2006$BG/(B5$B7n(B9$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d9-1" class=" section">
<h3><a href="#d9-1" class="self">$B!y(B</a> $BL4$K=P$F$-$?8@MU(B (@06:32 +09:00)</h3>
<p>$BL4$NCf$G!"$h$/$o$+$j$^$;$s$,!"(B<q>TOUMEI $B%F%/%N%m%8!<(B</q>$B$H$$$C$F$^$7$?!#(B<q>OA $B2=(B</q>$B$H$+$NJ8L.$G$G$F$/$k8@MU$i$7$$$G$9!#!#!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F9" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F9" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d7" class=" body section">
       <h2><a href="/~wakaba/d/d200605#d07" class="self"
       >2006$BG/(B5$B7n(B7$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d7-1" class=" section">
<h3><a href="#d7-1" class="self">$B!y(B</a> $BO"5Y$,=*$o$C$A$c$&(B! (@01:02 +09:00)</h3>
<p>$B1dD9<jB3$-$O$I$3$G$G$-$^$9$+(B?</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F7" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F7" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d6" class=" body section">
       <h2><a href="/~wakaba/d/d200605#d06" class="self"
       >2006$BG/(B5$B7n(B6$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d6-1" class=" section">
<h3><a href="#d6-1" class="self">$B!y(B</a> $B$=$l$,(B Atom $B%/%*%j%F%#!<(B (@23:40 +09:00)</h3>
<p>$BEY=E$J$k6lFq(B($BFf(B)$B$r>h$j1[$($F!"(B<a href="/~wakaba/d/current.ja.atom">$BE_F|$N(B Atom feed</a> $B$,$G$-$^$7$?!#(B</p></div><!-- class="section" -->
<div id="d6-2" class=" section">
<h3><a href="#d6-2" class="self">$B!y(B</a> Thunderbird 1.5 $B$,$7$g$\$$7o(B (@23:56 +09:00)</h3>
<p>Mozilla Thunderbird $B$O(B Atom $B$N(B <code class="XML" lang="en">type="xhtml"</code> $B$N07$$$,E,Ev$9$.$k$H;W$$$^$9(B!</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F6" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F6" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d5" class=" body section">
       <h2><a href="/~wakaba/d/d200605#d05" class="self"
       >2006$BG/(B5$B7n(B5$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d5-1" class=" section">
<h3><a href="#d5-1" class="self">$B!y(B</a> $B$$$D$N4V$K$+;H$o$l$J$/$J$C$?!"$3$NF|5-$N5!G=(B (@21:08 +09:00)</h3>
<p>$BJ,N`(B: $B5-;vKh$KJ,N`%?%0$r$D$1$k$3$H$,$G$-$^$9!#(B<a href="/~wakaba/d/d200503#d1-1">2005$BG/(B3$B7n(B1$BF|(B</a>$B$K;H$C$?$N$,:G8e$G$9!#:#$NEE;R%a%$%k$K$h$kEj9F%7%9%F%`$K0\9T$7$?;~$K;H$o$J$$$3$H$K$7$?$h$&$J5$$,$7$^$9!#(B</p><p>$BE75$(B: $BF|Kh$KE75$$r5-O?$9$k$3$H$,$G$-$^$9!#F1$8$/(B<a href="/~wakaba/d/d200503#d1-1">2005$BG/(B3$B7n(B1$BF|(B</a>$B$K;H$C$?$N$,:G8e$G$9!#:#$NEE;R%a%$%k$K$h$kEj9F%7%9%F%`$OF|C10L$G$O$J$/5-;vC10L$J$N$G!";H$o$J$$$3$H$K$7$?$h$&$G$9!#(B</p><p>$B;~4V3d(B: $BF|Kh$K;~4V3d$r5-O?$9$k$3$H$,$G$-$^$9!#(B<a href="/~wakaba/d/d200309#d4">2003$BG/(B9$B7n(B4$BF|(B</a>$B$K;H$C$?$N$,:G8e$G$9!#(B</p><p>$B>.8+=P$7(B: $B$3$NF|5-$OF|$NCf$KBg8+=P$7$G6h@Z$i$l$?OCBj$,J#?t4^$^$lF@$k9=B$$K$J$C$F$$$^$9$,!"<B$O99$K>.8+=P$7$G>.OCBj$KJ,3d$G$-$^$9!#(B<a href="/~wakaba/d/d200304#d17">2003$BG/(B4$B7n(B17$BF|(B</a>$B$K:G8e$K$3$N5!G=$,;H$o$l$^$7$?!#(B</p><p>$B8+=P$7$J$7(B:$B<B$O8+=P$7$,$J$/$FF|$ND>2<$KB0$9$kJ8>O$bB8:_$7F@$^$9!#8+=P$7$,;W$$$D$+$J$$;~$K;H$C$F$$$^$7$?$,!"(B<a href="/~wakaba/d/d200405#d11">2004$BG/(B5$B7n(B11$BF|(B</a>$B$,:G8e$G$9!#(B</p><p>$B8+=P$7%j%s%/(B:<a href="/~wakaba/d/d200312#d9">2003$BG/(B12$B7n(B9$BF|(B</a>$B$K;H$C$?$N$,:G8e$G$9!#(B<a href="/gate/2005/sw/hn#anchor-40">$B8+=P$7%j%s%/$O9%$^$7$/$J$$$H$$$&9M$((B</a>$B$+$i;H$o$J$/$J$j$^$7$?!#(B</p><p>$B5SCmFb$N5SCm(B:<a href="/~wakaba/d/d200307#d21">2003$BG/(B7$B7n(B21$BF|(B</a>$B$K;H$o$l$F$$$^$9!#$3$N5!G=$O:#$NF|5-%7%9%F%`$G$O@5$7$/<BAu$5$l$F$$$J$$$h$&$G$9!#(B</p><p>$BL4$H0G$H?M(B:$BL4$G8+$?FbMF$r5-=R$9$k$?$a$N(B YUME $BMWAG7?!"CN<1$,$"$k?M$@$18+$F$/$@$5$$$J(B YAMI $BMWAG7?(B<sup><a href="#d5-1-fn1" class=" fn_anchor">*1</a></sup> $B!"EP>l?MJ*2r@b(B<sup><a href="#d5-1-fn2" class=" fn_anchor">*2</a></sup> $B$X$N%j%s%/$H$J$k(B PERSON $BMWAG7?$J$I$O!"$+$J$jA0$+$i;H$C$F$$$^$;$s!#L4$OL4$G$9$H0l!9=q$/$N$,LLE]$@$J$"$H;W$C$FF3F~$7$?$b$N$N!"L4$H0l!9=q$1$P$$$$$@$m$&$H$$$&M}M3$G;H$o$J$/$J$j$^$7$?(Bw $B0G$OCfESH>C<$JB8:_2ACM$N$?$a$K;H$o$J$/$J$j$^$7$?!#?M$OEP>l?MJ*2r@b$,$J$/$J$C$?$N$G;H$($J$/$J$j$^$7$?!#(B</p><p>$BFbMF7?B0@-(B: $BMWAG$NB0@-$H$7$F!"FbMF$N5-K!$rI=$9(B content-type $BB0@-$,$"$j$^$7$?!#>-Mh$N<BAu$G=c?h$JJ8;zNs$H(B HTML $B:.$8$j$r6hJL$G$-$k$h$&$K$H$$$&$3$H$G!"(B HTML $B:.$8$j$rI=$9$?$a$K(B text/html $B$d(B text/x-h2h+html $B$,;XDj$5$l$F$$$^$7$?$,!"$=$N$&$AL5;XDj$G(B HTML $B%?%0$r:.$<$k$h$&$K$J$j$^$7$?!#(B</p><ol class="footnote">
<li id="d5-1-fn1">$B%9%?%$%k!&%7!<%H$GHsI=<($K$J$C$F$$$?$O$:!#(B</li>
<li id="d5-1-fn2">$B$=$s$J$N$"$C$?$N$+(B!</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F5" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F5" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d3" class=" body section">
       <h2><a href="/~wakaba/d/d200605#d03" class="self"
       >2006$BG/(B5$B7n(B3$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d3-1" class=" section">
<h3><a href="#d3-1" class="self">$B!y(B</a> $BEE8;$,(B (@09:08 +09:00)</h3>
<p>$B%N!<%H$N(B AC $B%"%@%W%?$rK:$l$F$-$?7o!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F3" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F5%2F%2F3" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div class="footer">

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
 (<a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200604">$BA07n(B</a>,
 <a rel="next" href="d200606">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>)]
</div>

</div>

</body>
</html>
