<!DOCTYPE html []>
<html lang="ja">
<head>
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B8$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2003$BG/(B8$B7n$N<cMU$N0-9T$N5-O?!#(B
" />
<link rev="made" href="mailto:w@suika.fam.cx" title="$B$o$+$P(B" />
<link rel="contents" href="list" title="$B7n$N0lMw(B" />
<link rel="prev" href="d200307" title="$BA07n(B" />
<link rel="next" href="d200309" title="$BMb7n(B" />
<link rel="contents" href="d200308+summary" title="$BOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200308" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B
8$B7n(B)" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.png" type="image/png" />
<link rel="help" href="/~wakaba/who?" title="$B<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd" title="Public Domain.">
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="stylesheet alternate" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet alternate"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="stylesheet alternate"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="stylesheet alternate"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="stylesheet alternate"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B8$B7n(B)</h1>

<div id="intro">
[<img src="favicon" alt="$BE_F|(B" class="favicon">
  (<a href="list" rel="index" title="$BF|5-$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="d200308++summary" title="$B:#7n$N8+=P$70lMw!#(B">$BMWLs(B</a>,
   <a href="../who?" title="$BF|5-=q$$$F$k<cMU$N@5BN$KGw$k(B!?">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)
]
[$BEE;R%K%e!<%9(B
  <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9AH(B suika.robamimi ($B$9!z$`$N<*$OqfGO$N<*(B)">$B$m$P<*(B</a>,
]
[
[Chat 
  [<a href="../-temp/wkchat/chat1" title="$B?M9)L5G=$`(B*$B$97/$,(B24$B;~4V$"$J$?$NAj<j$r$9$k(B Web chat $B5!9=!#(B">$B$`(B*$B$9Cc(B</a>]
  [<a href="/~rei/cgi-bin/moonlight/">$B7n8wCc(B</a>]
]
]
</div>
<div id="d1" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:8:1" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B8$B7n(B1$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d1-1" class=" section">
<h3><a href="#d1-1" class="self">$B!y(B</a> $B?7;TL>(B</h3>
<p>$BIY;3;T$b9gJ;$9$k$3$H$,7h$^$C$?$s$G$9$+(B? $B$=$&$G$9$+!#CN$j$^$;$s$G$7$?!#(B</p><p>$B$G!":#D+$N?7J9$K?7;TL>$rJg=8$9$k$H$+=q$$$F$"$C$?$s$G$9$,!#(B</p><p>$B!V$H$d$^;T!W$K$J$j$=$&$J0-4(!#!#!#(B</p></div><!-- class="section" -->
<div id="d1-2" class=" section">
<h3><a href="#d1-2" class="self">$B!y(B</a> Server down $B4m5!0lH1(B</h3>
<p>$B$J$s$H$$$$$^$9$+!"(B suika $B%5!<%P!<7PM3(B ($BFf(B) $B$G(B Windoze XP $B$N5!3#$K(B VNC $B$G$D$J$$$G!"(B 2ch $B8+$F$?$o$1$G$9$h!#L$FI4IM}$,$a$s$I$$$H$+$NM}M3$G$o$6$o$61*2s$7$F8+$F$?$o$1$G$9!#(B</p><p>$B$=$7$?$i!"IiC4$,$+$+$j2a$.$?$N$+$J$s$J$N$+!";_$^$C$A$^$$$^$7$F!&!&!&8+$F$?%=%U%H%q%"$H!"$J$s$H$+$7$h$&$H$7$F$k:GCf$K(B VNC server $B$^$G$b$,!#(B</p><p>$B$b$&Mn$A$F$7$^$C$?$+$H;W$$$^$7$?$h!#$J$s$;1s3VCO$K$"$k$s$G!"EE8;F~$lD>$9$H$+L5M}$J$s$G!#8eH>J,$N2F5Y$_!"8+$?$$HVAH$b8+$l$:$K$_$8$a$K$9$4$9$s$+$J$"$H(B(w$B!#(B</p><p>$B$H$3$m$,!"$G$9$h!#(B  Windoze $B$O$^$@Mn$A$F$J$+$C$?$s$G$9!#$"$H$G$o$+$C$?$s$G$9$,!"Mn$A$?$N$O(B 2ch $B8+$F$?E[$H(B VNC $B$@$1!#FC$K(B HTTP $B$H%U%!%$%k6&M-%5!<%P!<(B (samba $B$N(B Windoze $BHG(B ($B0c(B)) $B$,F0$$$F$?$*$+$2$G!"$&$^$$$3$H(B VNC $B$r:F$S5/F0$5$;$k$3$H$K@.8y$7$^$7$?!#(B<sup><a href="#d1-2-fn1" class=" fn_anchor">*1</a></sup> </p><p>($B$3$&$$$&$H$-!"(B Un|x $B$J$i(B httpd $B$H(B smb $B$J$s$+$G$U$6$1$?$3$H$7$J$/$F$b(B ssh $B$G$G$bF~$k$3$H$,$G$-$l$P4JC1$K5/F0$G$-$k$N$G$9$1$I$M$'!#$d$C$Q$j(B Windoze $B$OBLL\$@$J$"!#$G$b(B OS $B$4$H;a$J$J$+$C$?$N$OK+$a$F$"$2$h$&!#(B)</p><p>$BG0$N$?$a$K?=$7$F$*$-$^$9$1$I!"0J>e$N$O$J$7$O(B suika $B%5!<%P!<$G$N$G$-$4$H$G$O$"$j$^$;$s$h!#$5$9$,$K(B Windoze $B$G%$%s%?!<%M%C%H$+$i8+$($k%5!<%P!<$rF0$+$7$F$=$3$+$iN%$l$?$H$3$m$K$$$?$j!"$7$+$b%U%!%$%k$r6&M-$7$F$$$?$j$J$s$F$H$F$b$H$F$b!#(B</p><ol class="footnote">
<li id="d1-2-fn1">$B$J$s$N$3$H$O$J$$!"(B VNC $B$r5/F0$9$k=hM}$r(B CGI script $B$K$7$F!"$=$l$r<B9T$5$;$?$@$1$G$9!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B8$B7n(B1$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F1" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F1" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d4" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:8:4" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B8$B7n(B4$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d4-1" class=" section">
<h3><a href="#d4-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[PBL]</span>
</span>
PBL1 $B$N2]Bj$N(B Web $B%5%$%H(B</h3>
<p>$BA0$K$b$A$g$3$C$H=q$$$?$h$&$J5$$,$7$J$$$G$b$J$$$G$9$,!"(B PBL1 $B$H$$$&<x6H$GHIKh$K%$%s%?%S%e!<$r$7$^$7$F!"$=$l$r(B Web $BJG$K$^$H$a$k$H$$$&2]Bj$,$"$C$?$N$G$"$j$^$9!#$G!"M=Dj$h$j(B1$B=54V$/$i$$CY$l$F$$$k$h$&$J5$$,$7$^$9$,C4Ev$N@h@8$b?'!9$*K;$7$$$N$G$7$g$&!"$d$C$H$=$l$,(B<a href="http://www-itl.ics.es.osaka-u.ac.jp/~yoshida/PBL1/H15/">$B8x3+(B</a>$B$5$l$F$^$7$?!#(B</p><p>$B$G!"<u9V<T$O$3$l$rAj8_$K:NE@$7$FC4Ev$N@h@8$KAw$l$C$F$3$H$G$9!#:NE@4p=`$K!V(BHTML $B$NJ8K!!W$,F~$C$F$J$$$N$,6K$a$FITK~$G$9$,(B:-)</p><p>$BA4A34|BT$O$7$F$J$+$C$?$s$G$9$,!"(B<ruby><rb>$B0l(B</rb><rp>(</rp><rt>$B$R$H(B</rt><rp>)</rp></ruby>$BHI$@$1(B XHTML 1.0 Strict $B$J$H$3$m$,$"$j$^$7$?!#(B<sup><a href="#d4-1-fn1" class=" fn_anchor">*1</a></sup> $B$H$3$m$,;DG0$J$3$H$K!"%=!<%9$r$_$k$H!VCf1{4s$;!W$H$+$J$s$@$H$+!"?'!9Ha$7$$$3$H$,=q$$$F$"$k$s$G$9$M!<!#(B Valid $B$G$b(B strict $B$8$c$J$$$N$,$H$C$F$bHa$7$$$+$J!#(B</p><p>$BB>$O$^$"IaDL$G$9$M!#$H;W$C$?$N$G$9$,!"7c$7$/M}2rITG=$J$N$,(B<ruby><rb>$B0l(B</rb><rp>(</rp><rt>$B$R$H(B</rt><rp>)</rp></ruby>$BHI!#$"$j$,$A$J%U%l!<%`$r;H$C$?L\<!(B + $BFbMF$N9=@.$G!"L\<!%U%l!<%`$N9`L\$,%j%s%/$K$J$C$F$J$$$s$G$9!#$?$@$N>~$j$J$s$G$9!#$^$5$+$H;W$C$F%=!<%9$r$_$?$i!"$J$s$H!"(B a $BMWAG7?$K$h$k%O%$%Q!<%j%s%/$r;H$($P:Q$`$b$N$,$J$<$+(B JavaScript $B$G$NJG0\F0$K$J$C$F$$$^$7$?!#@d6g!#(B</p><p>$B$+$/$N$4$H$-(B<em>HTML $B$KBP$9$kIn?+(B</em>$B$K$O$b$A$m$s:GDc$NI>2A$r$b$C$FK>$_$^$9$h(B?</p><p>$B$A$J$_$K!"$o$+$P$,(B HTML $B2=$7$?$N$O$I$l$+$O!">e$+$i=g$K$G$b8+$F$$$1$P$9$0$KJ,$+$k$O$:$G$9!#(B<sup><a href="#d4-1-fn2" class=" fn_anchor">*2</a></sup> $B4pK\E*$J(B CSS $B$N5!G=$@$1$G2hA|Ey$O;H$o$:$K!"L5$$FbMF$,$=$l$C$]$/8+$($k$h$&$K6/0z$K4hD%$C$F$_$^$7$?!#$=$NL5BL$JEXNO$r>/$7$G$b;!$7$F$$$?$@$1$l$P4r$7$/B8$8$^$9(B($BFf(B)$B!#(B<sup><a href="#d4-1-fn3" class=" fn_anchor">*3</a></sup> </p><ol class="footnote">
<li id="d4-1-fn1">Netscape Communicator 4.01 $B$G$_$k$H(B XML $B@k8@$,I=<($5$l$F$7$^$&$N$G0lL\$GJ,$+$j$^$7$?(B($BON(B)$B!#(B</li>
<li id="d4-1-fn2">$B8D?M%5%$%H$8$c$J$$$7I>2ABP>]$G$b$"$k$N$G!":#2s$OFCJL$K(B WinIE $B$G$b4qNo$K8+$($k$h$&$K>yJb$7$A$c$$$^$7$?!#(B</li>
<li id="d4-1-fn3">$B$*$^$1$G$A$g$C$H$7$?M7$S(B($BFf(B)$B$b<h$jF~$l$F$_$^$7$?!#C5$7$F$_$F2<$5$$!#(B ($B$G$b>^6b$O=P$^$;$s!#(B) Semantic Web $B%^%s%;!<(B!</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B8$B7n(B4$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F4" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F4" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d9" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:8:9" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B8$B7n(B9$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d9-1" class=" section">
<h3><a href="#d9-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[<img src="/~wakaba/art/icon/suika" class="favicon" alt="$B@>1;(B" />]</span>
</span>
$B;_$^$C$?$+$H;W$C$?!#(B</h3>
<p>$B:#D+(B5$B;~H>$+$i(B8$B;~H>$^$G(B<sup><a href="#d9-1-fn1" class=" fn_anchor">*1</a></sup> $BL>A0(B uika.fam.cx $B$r;H$C$F$3$N%5!<%P!<$K@\B3$G$-$J$/$J$C$F$^$7$?!#BfIw$,Mh$F$?$3$H$b$"$j$^$7$F!"DdEE$+$J$s$+$G;_$^$C$?$^$^$J$s$8$c$J$$$+$H3P8g$^$G$7$^$7$?$h!#(B<sup><a href="#d9-1-fn2" class=" fn_anchor">*2</a></sup> </p><p>$B$G!"$A$g$C$H;~4V$rCV$$$?$iD>$C$F$^$7$?!#C1$K(B DHCP $B$J(B IPv4 $B%"%I%l%9$,2?$i$+$NM}M3$GJQ$o$C$F!"(B DNS $B$r=q$-49$($k$^$G$N;~4V:9$@$C$?$@$1$_$?$$$G$9!#%5!<%P!<$NCf$N?M(B($BC/(B)$B$O$T$s$T$s$7$F$^$7$?!#(B</p><ol class="footnote">
<li id="d9-1-fn1"><a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%C6%FC%CB%DC%C3%E6%B1%FB%C9%B8%BD%E0%BB%FE">$BF|K\Cf1{I8=`;~(B</a>$B!#(B</li>
<li id="d9-1-fn2">$B:G6a$N7W;;5!$N%9%$%C%A$C$F!"%O!<%I%&%'%"E*(B($BFf(B)$B$8$c$J$$$+$i!"DdEE$G6/@)@ZCG$5$l$?8e$K:FDLEE$7$?;~$K$^$?5/F0$7$F$/$l$k$+2x$7$/$J$$$G$9$+(B?</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B8$B7n(B9$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F9" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F9" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d14" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:8:14" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B8$B7n(B14$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d14-1" class=" section">
<h3><a href="#d14-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BM}?t2J(B]</span>
</span>
$BF1Ak2q(B</h3>
<p>$B:rHU!"(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%CD%FD%BF%F4%B2%CA">$BM}?t2J(B</a>$B$NF1Ak2q$,$"$j$^$7$?!#$?$N$7$+$C$?$G$9!"$^$k(B</p><p>$B!&!&!&$G=*$o$i$;$?$i>.3X@8$N:nJ8$h$j0-$$$H$+8@$o$l$=$&!#!#!#(B</p><p>$B0l<!2q$O(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%F1%AD%BB%D2%B2%F1%B4%DB">$Bq-;R2q4[(B</a>$B$G!"Fs==?t?M$H(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%A5%B4%A5%B7">$B%4%7(B</a>$B$,=8$^$j$^$7$?!#Fs<!2q$O%+%i%*%1$d%S%j%d!<%I!#(B</p><p>$B$s$G!"$o$+$P$,2H$K5"$C$F(B30$BJ,$/$i$$$7$?$i1+$,9_$C$F$-$^$7$?$G$9$h!#4m$J$$4m$J$$!#(B</p></div><!-- class="section" -->
<div id="d14-2" class=" section">
<h3><a href="#d14-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BM}?t2J(B]</span>
<span class="cat">[<img src="/~wakaba/art/icon/ofuyu" class="favicon" alt="$B$*$U$f(B" />]</span>
<span class="cat">[$BL4(B]</span>
</span>
$B:#D+$NL4(B</h3>
<p>$B2?$+$N:nIJE8(B (?) $B$K$U$f$-$?$s$H$+$H0l=o$K9T$/L4$r8+$^$7$?!#<g:E$N650i0Q0w2q$NC4Ev$N?M(B($BFf(B)$B$H$7$F%4%7$,$*5R$r0FFb$7$F$^$7$?(B(w$B!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B8$B7n(B14$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F14" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F14" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d18" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:8:18" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B8$B7n(B18$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d18-1" class=" section">
<h3><a href="#d18-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$BL4$r8+$^$7$?!#(B</h3>
<p>$BL4$r8+$^$7$?!#5k?)$r?)$Y$k$s$G$9!#2?$+$h$/$o$+$s$J$$$1$I2?$+;v>p$,$"$k$i$7$/!"L4$NCf$N<cMU$O$J$<$+$H$J$j$N65<<$K$$$D$b5k?)$r$b$i$$$K$$$/$s$G$9!#(B<sup><a href="#d18-1-fn1" class=" fn_anchor">*1</a></sup> $B$G!"$3$NF|$b$$$D$b$N$h$&$K<h$j$K9T$C$?$s$G$9!#(B</p><p>$B$G$b$C$F!"$$$D$b$N$h$&$K$=$N65<<$N=w$N;RC#$HC}$j$3$s$8$c$C$F!#(B<sup><a href="#d18-1-fn2" class=" fn_anchor">*2</a></sup> $B$=$N65<<$N3'$5$s$O$b$&?)$Y;O$a$F$k$s$G$9$,!"$o$+$P$O$*K_;}$C$F2s$j$J$,$iC}$C$F$k$s$G$9!#$J$s$@$=$j$c!#(B</p><p>$B2?$r$=$&OC$7$3$s$G$?$+$H$$$&$H!"$&!<$s!"$h$/3P$($F$J$$$s$G$9$1$I!"C/$d$i$N9%$-$J?M$,$I$&$H$+!"$=$&$$$&OC$8$c$J$$$G$9$+!#K?AP;R$N;P$HC}$C$F$?$H$-$KK?$^$j$b$?$s$,?);v$K$,$C$D$$$F$?(B(w$B$N$r$h$/3P$($F$^$9!#(B</p><p>$B$A$J$_$K!"$3$NL4$NOC$O40A4%*%j%8%J%k(B($BFf(B)$B$G$"$C$F!"8=<B@$3&$GBj:`$K$J$C$F$$$=$&$JBN83$O5-21$K$"$j$^$;$s(B($BFf(B)$B!#(B</p><ol class="footnote">
<li id="d18-1-fn1">$B$b$7$+$7$?$i!"$[$s$H$O$o$+$P$O$=$C$A$N65<<$N@8EL$G!"2?$+$N;v>p$,$"$C$FNY$N%/%i%9$K=;$s$G$$$k!"$H$+!#Ff!#(B</li>
<li id="d18-1-fn2">$B$=$&$$$($P$=$N%/%i%9!"CK$N?M$$$?$+$J(B? $B$I$&$@$m$&!#$^$"$I$&$G$b$$$$$+!#$A$J$_$K!V$$$D$b$N!W$H$O$=$NL4$N@$3&$G$NOC$G$"$C$F!"8=<B@$3&$O(B($BN,(B)$B!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B8$B7n(B18$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F18" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F18" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d20" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:8:20" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B8$B7n(B20$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d20-1" class=" section">
<h3><a href="#d20-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$B:#D+$NL4(B</h3>
<p>$B@hF|$H$O0[$J$j!":#EY$OCK=0$,$$$C$Q$$$NL4$r8+$^$7$?(B(w$B!#(B</p><p>$BED0f$/$s$,%?%$$+$i5"9q$7$F%?%$$C$]$$I~(B($BFf(B)$B$rCe$F$$$^$7$?!#(B</p><p>$B$=$l$+$i!"(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%B8%DE%B1%A6%B1%D2%CC%E7">$B8^1&1RLg(B</a>$B$+$i=EBgH/I=$,$"$k$H$$$&1=$,N.$l$F$$$^$7$?!#$7$+$b$=$NH/I=FbMF$O2?$H!"$b$s$b$s%M%C%H%o!<%/(B<sup><a href="#d20-1-fn1" class=" fn_anchor">*1</a></sup> $B$,=*N;$9$k$H$+$G!"CK=0$KF1MM$,Av$C$F$^$7$?(B(w$B!#(B</p><ol class="footnote">
<li id="d20-1-fn1"><a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%C2%E7%B1%BA%A5%CD%A5%C3%A5%C8%A5%EF%A1%BC%A5%AF">$BBg1:%M%C%H%o!<%/(B</a>$B$N8e?H$i$7$$!#(B</li>
</ol></div><!-- class="section" -->
<div id="d20-2" class=" section">
<h3><a href="#d20-2" class="self">$B!y(B</a> $B5"Bp(B</h3>
<p>$B=5Kv$K5"$kM=Dj$G$9!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B8$B7n(B20$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F20" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F20" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d23" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:8:23" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B8$B7n(B23$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d23-1" class=" section">
<h3><a href="#d23-1" class="self">$B!y(B</a> $B5"$C$F$-$^$9$?!#(B</h3>
<p>$B:rF|5"$C$F$-$^$7$?!#L>?@$+$i;^J,$+$l$7$F$$$k5~<"%P%$%Q%9$H$$$&$N$,A4@~3+DL$7$?$P$C$+$j$i$7$/$F!"5~ET$r1*2s$7$F$^$?L>?@$KLa$l$k$h$&$K$J$C$?$N$G$9$,!"A4@~(B4$B<V@~$Ge:No$JF;$G!"$^$@<V$b>/$J$/$F5$;}$A$,NI$+$C$?$G$9!#$3$NF;$N$*$+$2$G:.;($,8:$l$P$$$$$s$G$9$,$M$'!#(B</p></div><!-- class="section" -->
<div id="d23-2" class=" section">
<h3><a href="#d23-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B7W;;5!(B]</span>
</span>
$B80HW$N;H$$?4CO(B</h3>
<p>$B80HW$N46?(!"FC$KC!$/;~$N=@$i$+$5$,?oJ,80HW$=$l$>$l$G5$$K6t$o$J$+$C$?$j$9$k$b$s$G$9$h$M!#$G!"$&$A$K5"$C$F$k4V(B1$B%v7n4V!"9E$$80HW$@$J$"$H;W$$$J$,$i4hD%$C$FC!$$$F$?$s$G$9$,!"$$$6La$C$F$-$F$_$k$H$3$s$I$O:#;H$C$F$k$3$N80HW$,0[MM$K=@$i$+$$$J$"$H!#(B</p><p>$B$C$F$3$H$H!"4v$D$+$N%5%$%H$d%9%l$NOCBj$G:G6aHyL/$K5$$K$J$C$F$k$s$G$9$,!":G6a(B(?)$B80HW$r4^$a$FF~NOJ}K!$C$F$I$s$I$s2h0l2=$5$l$F$^$;$s$+(B? $B=@$i$+$5$OJL$H$7$F!#(B</p><p>$B:#$8$c$I$3$b$+$7$3$b(B Windoze $BMQ(B 109 $B80HW$@$7!"2>L>$NF~NO$OMeGO;z<0!#$=$7$F4A;z$NF~NO$O2>L>4A;zJQ49!"$=$l$b(B M$-IME$B!#F~NOJ}K!$J$s$F8D?M$N9%$_$,?'G;$/H?1G$5$l$k$b$N$N$O$:$J$N$K!"B>$N$O$I$3$K9T$C$A$c$C$?$s$G$7$g$&!#(B</p><p>$B$J$s$F;W$C$?$j$9$k$N$O!"0l%v7n$b(B M$-IME 97 $B$N0$Jr$J4A;zJQ49$KIU$-9g$C$F$-$?$+$i$G$7$g$&$+(B(w</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B8$B7n(B23$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F23" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F23" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d26" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:8:26" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B8$B7n(B26$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d26-1" class=" section">
<h3><a href="#d26-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[DonDon]</span>
</span>
$B?)F25Y6HCf!y:F$S(B</h3>
<p>$BLLE]=-$$$7=k$$$1$I!";EJ}$,L5$$$+$i2HDB?69~$_$K9T$3$&$H;W$$$^$7$F!"Bg3X$K9T$C$F$-$?$N$G$9!#$G!"$D$$$G$K(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=DonDon">Don Don</a>$B$G$*Ck$G$b?)$Y$h$&$+$H!#(B</p><p>$B$=$7$?$i!"M9JX6I$N(B ATM $B$OO"MmCN$k(B! $B$C$F$$$&0UL#$NJ,$+$i$J$$8N>c(B?$B2hLL$,=P$F$k$7(B($BFf(B)$B!#$^$"6d9T$N(B ATM $B$O$^$H$b$@$C$?$N$G5$$K$7$^$;$s$,!#(B</p><p>$B$G!"?)F2$O5Y$_$8$c$J$$$G$9$+(B! $B$J$s$G$=$s$J$3$H$r$b$C$HAa$/$$$o$J$$$N$@(B!!$BBgBN!"$*K_??$CB~Cf$H$+$J$i5Y$s$G$bC/$bJ86g$O8@$o$J$$$G$9$1$I!"$b$&(B1$B=54V$G;O$^$k$s$G$9$h!#$=$l$K$d$1$K?M$,B?$$$H;W$C$?$i1!;n$@$H$+8@$&$G$O$"$j$^$;$s$+!#$J$<$3$&$$$&F|$K1D6H$7$J$$$N$@(B!</p><p>$B$H$+8@$C$F$b;EJ}$,L5$$$N$G!"=k$$Cf$^$?0z$-JV$7$F$-$F:#$3$&$7$FCk?)$r?)$Y$F$$$k$H$3$m$G$"$j$^$9!#$=$&$$$($P(B7$B7n$K$b;w$?$h$&$J$3$H$d$C$F$k$J$"!#!#!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B8$B7n(B26$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F26" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F26" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d27" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:8:27" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B8$B7n(B27$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d27-1" class=" section">
<h3><a href="#d27-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
$B$i$s$^(B 1/2</h3>
<p>$BIT3P$K$b?2K7$7$F8+$l$J$+$C$?:rF|$N$i$s$^(B 1/2 $B$O$J$s$H:G=*2s$8$c$J$$$G$9$+!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B8$B7n(B27$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F27" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F27" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d29" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:8:29" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B8$B7n(B29$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d29-1" class=" section">
<h3><a href="#d29-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B=IBj(B]</span>
</span>
$B=IBj$b%F%9%H$bLLE]$/$5$$!#(B</h3>
<p>$B2F5Y$_$b;D$j$o$:$+$J:#F|$3$N:"!"$$$+$,$*2a$4$7$G$9$+!#(B</p><p>$B$*$+$2$5$^$G=IBj$b$J$s$H$+=*$o$k8+DL$7$,IU$-$^$7$F(B<sup><a href="#d29-1-fn1" class=" fn_anchor">*1</a></sup> $B!"$J$s$H$+(B9$B7n$r7^$($i$l$=$&$J6q9g$G$4$6$$$^$9!#$H$O$$$C$F$b!"(B9$B7n$KF~$C$F$b4|Kv%F%9%H$H$$$&Fq4X$,BT$A9=$($F$$$k$N$G$7$F!"$^$@$^$@5$$OH4$1$J$$$N$G$O$"$j$^$9!#(B</p><p>$B$s$@$1$I!"%l%]!<%H2]Bj$C$FLLE]$G$9$M$'!#%F%9%H$h$j$O$^$7$G$9$,!#$@$1$I9V5A$N46A[$r=q$1$C$F$N$O$b$C$HLLE]$@!#$^$5$+L546A[$G$9!#$J$s$F=q$1$J$$$7!#(B</p><p>$B$G!":#2?$r$d$C$F$k$N$+$H$$$$$^$9$H!"%W%m%0%i%`$r=q$-$J$5$$$C$F$$$&2]Bj$N%l%]!<%H!#$^$@=q$$$F$J$$%W%m%0%i%`$K4X$9$k%l%]!<%H=q$$$F$^$9(B(w<sup><a href="#d29-1-fn2" class=" fn_anchor">*2</a></sup> $B!#$$$^$$$A$d$k5$$,5/$-$J$$$s$G$9$h!#(B Pascal $B$C$F!#(B</p><ol class="footnote">
<li id="d29-1-fn1">$B8+DL$7$,IU$$$?$@$1$G$"$C$F$^$@=*$o$C$?$o$1$G$O$J$$!#(B</li>
<li id="d29-1-fn2">$BBg;v$J$N$O%W%m%0%i%`$N<BAu$8$c$J$/$F%"%k%4%j%:%`$@$+$iJL$KLdBj$O7gJR$b$J$$!&!&!&$h$M!"$=$&$$$&$3$H$K$7$F$*$$$F$/$@$5$$!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B8$B7n(B29$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F29" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F29" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d30" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:8:30" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B8$B7n(B30$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d30-1" class=" section">
<h3><a href="#d30-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
MPEG to AVI</h3>
<p>$BF02h$N(B MPEG $B%G!<%?$r(B AVI +<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=XviD">XviD</a> $B$KJQ49$7$h$&$H;W$C$?$o$1$G$9$h!#%U%!%$%k$N%5%$%:$NET9g$G!#(B<sup><a href="#d30-1-fn1" class=" fn_anchor">*1</a></sup> $B$A$g$C$HA0$^$G(B AVI $B$O$G$+$$$+$i(B MPEG $B$K$7$m(B! $B$H$+8@$C$F$?$N$KHf$Y$l$P3V@$$N46$H$$$&$+$J$s$H$$$&$+!#(B<sup><a href="#d30-1-fn2" class=" fn_anchor">*2</a></sup> </p><p>$B$G!"JQ49$G$-$k%=%U%H%&%'%"$rD4$Y$?$s$G$9$1$I!"%\%?%s(B1$B$D$G$]$A$C$H$J$H$O$$$+$J$$$s$G$9$+!#87$7$$$J$"!#4{DjCM$GE,Ev$KJQ49$7$?$i(B ($BJQ49$K;~4V$+$+$k$/$;$K(B) $B$9$4$/1x$/$J$C$A$c$$$^$7$?$h!#$d$C$Q$j!"JQ49@h$N05=L>r7o$G:GE,$J$N$r;n9T:x8m$H$+$7$J$$$H$$$1$J$$$s$G$9$+!#LLE]$@$J$"!#(B</p><p>$BM=CG$G$9$1$I!"$3$N(B ($B$I$N(B?) $BJ,Ln$G%=%U%H%&%'%":n$C$FG[$l$k$h$&$J?M$C$FITB-$7$F$k$s$8$c$J$$$G$9$+$M$'!#<{MW$N3d$K!#$J$s$+$=$s$J5$$,$7$^$7$?!#(B<sup><a href="#d30-1-fn3" class=" fn_anchor">*3</a></sup> </p><ol class="footnote">
<li id="d30-1-fn1">$B$G$J$$$H!"(B DVD $B>F$/$N$K$b2?KgI,MW$K$J$k$d$i!#(B</li>
<li id="d30-1-fn2">$B$b$C$H$b!"!V(BMPEG$B!W$H$+!V(BAVI$B!W$H$+$OI=AXE*$J6hJL$K2a$.$J$$$N$G!"C1=c$K>p@*$,5UE>$7$?$o$1$G$O$J$$$N$O$4B8CN$NDL$j!#(B</li>
<li id="d30-1-fn3">$B$3$NJ,Ln$C$FBgJQ$=$&!#05=L$H$+$NCN<1$,MW$k$7!"?JJb$,7c$7$$$7!"KDBg$J7W;;$d5-21NL$,I,MW!#(B ($B;~4V$,$+$+$k$+$iCn<h$j$bBgJQ$=$&!#(B) $B$=$N>eFC5v$H$+Cx:n8"$H$+$&$C$+$j$7$F$i$l$J$$$+$i!"$=$&5$7Z$K;2F~$G$-$k$b$N$8$c$J$5$2!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B8$B7n(B30$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F30" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F8%2F%2F30" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->


<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (
 <a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200307">$BA07n(B</a>,
 <a rel="next" href="d200309">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>
)]
</div>
<ul class="myuri">
<li>&lt;URL:<a href="/~wakaba/d200308">http://suika.fam.cx/~wakaba/d/d200308</a>&gt;</li>
<li>&lt;<a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2003:8">URN:x-suika-fam-cx:fuyubi:2003:8</a>&gt;</li>
</ul>

</body>
</html>
