<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2006$BG/(B6$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2006$BG/(B6$B7n$N<cMU$N0-9T$N5-O?!#(B" />
<link rel="contents" href="list" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$r=q$$$?7n$N0lMw(B" />
<link rel="prev" href="d200605" title="$BA07n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="next" href="d200607" title="$BMb7n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="alternate" href="d200606.ja.atom" hreflang="ja"
    type="application/atom+xml" title="2006$BG/(B6$B7n$NE_F|(B (Atom $B6!5k(B)">
<link rel="contents" href="d200606+summary" title="$B:#7n$NOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200606" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2006$BG/(B6$B7n(B)" />
<link rev="made" href="/~wakaba/who?" title="$BCx<T$N<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd"
      title="Public Domain." lang="en" xml:lang="en" />
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="alternate stylesheet" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="alternate stylesheet"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="alternate stylesheet"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="alternate stylesheet"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="alternate stylesheet"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<div class="header">
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2006$BG/(B6$B7n(B)</h1>

<div id="intro" class="navigation">
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
  (<a href="list" rel="contents" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>
   (<a href="current.html" type="text/html"
      title="$B:G?7$NF|5-(B (HTML)" lang="en">HTML</a>,
    <a href="current.ja.atom" hreflang="ja" type="application/atom+xml"
      title="$B:G?7$NF|5-(B (Atom)" lang="en">Atom</a>),
   <a href="../who?" rev="made">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)]
</div>

</div><!-- header -->
<div id="d16" class=" body section">
       <h2><a href="/~wakaba/d/d200606#d16" class="self"
       >2006$BG/(B6$B7n(B16$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d16-1" class=" section">
<h3><a href="#d16-1" class="self">$B!y(B</a> $B$+$i$"$2(B (@12:45 +09:00)</h3>
<p>$B:#F|$NEbMH$2$O$9$3$7$+$i$+$C$?!#$H$$$&$+%=!<%9$,Bg?y!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F16" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F16" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d17" class=" body section">
       <h2><a href="/~wakaba/d/d200606#d17" class="self"
       >2006$BG/(B6$B7n(B17$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d17-1" class=" section">
<h3><a href="#d17-1" class="self">$B!y(B</a> $BG=EPH>Eg$K0O$^$l$F!&!&!&(B (@12:57 +09:00)</h3>
<p>$B3$$,$J$$8)$@$H;W$o$l$F$^$7$?(B<span class="aa">orz</span></p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F17" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F17" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d18" class=" body section">
       <h2><a href="/~wakaba/d/d200606#d18" class="self"
       >2006$BG/(B6$B7n(B18$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d18-1" class=" section">
<h3><a href="#d18-1" class="self">$B!y(B</a> $B=k$/$J$C$?$j$=$&$G$J$+$C$?$j(B (@15:36 +09:00)</h3>
<p>$BKhF|@2$l$?$j1+$,9_$C$?$j$3$m$3$mJQ$o$j?y$J7u!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F18" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F18" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d22" class=" body section">
       <h2><a href="/~wakaba/d/d200606#d22" class="self"
       >2006$BG/(B6$B7n(B22$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d22-1" class=" section">
<h3><a href="#d22-1" class="self">$B!y(B</a> Re: $B%1!<%?%$$H(BCSS$B$N%a%G%#%"%?%$%W(B (@08:37 +09:00)</h3>
<p>$B85!9$"$i$f$k4D6-$G$&$^$/%l%s%@%j%s%0$G$-$k$h$&$JJ8=q$r:n$k$J$IE~DlL5M}$JOC$G!"$@$+$i$3$=J8=q$O(B device/media independent $B$K$7$F!"$"$H$O%9%?%$%k!&%7!<%H$G$d$l$h$H$$$&$3$H$K$J$C$F$$$^$9!#(B</p><p>$B$@$+$i$H$$$C$FCx<T$,(B device $B$4$H$K%9%?%$%k!&%7!<%H$r=q$/$N$G$O>u67$O$<$s$<$s2~A1$5$l$F$$$^$;$s!#$=$3$G(B CSS $B$N(B C$B!"$D$^$j(B cascading $B$,@8$-$F$-$^$9!#(B</p><p>$BCx<T$OIaCJ$O$o$6$o$6(B <code>media</code> $B$J$s$F;XDj$7$J$/$F$h$/$F!"$I$&$7$F$bFCDj$N(B device $B8~$1$K$3$@$o$j$?$$$H$3$m$@$1%Q%C%A7A<0$G=q$1$P$$$$!#(B Device $BHs0MB8$NItJ,$b!"2?$+$i2?$^$GA4It=q$+$:$K!"K\Ev$K;XDj$7$?$$$3$H$@$1=q$1$P$$$$!#$=$&$9$l$P!"(B ($BFCDj(B device $B8~$1$K:GE,2=$5$l$?(B) $BMxMQ<T%(!<%8%'%s%H$N%9%?%$%k!&%7!<%H$HCx<T$N(B device $BHs0MB8%9%?%$%k!&%7!<%H$HCx<T$N(B device $B0MB8$N%9%?%$%k;XDj$,$&$^$/(B cascade $B$5$l$F!"$I$s$J(B device $B$G$b$&$^$/%l%s%@%j%s%0$G$-$k$O$:$G$9!#(B</p><p>$B$=$s$J$o$1$G$9$+$i!"(B<a href="http://knoa.jp/memo/?id=2006-06-20+00:53"><code>media="handheld"</code>$B$K$h$kBP1~$OL5MQ$K$J$k(B</a>$B$N$O$H$F$b@5$7$$>-MhA|$@$H;W$$$^$9!#(B</p><p>$B$G$b8=<B$K$O?'!9$HFq$7$/$F!"$=$s$J>-Mh$O0lBN$$$D$K$J$C$?$iMh$k$N$G$7$g$&$+$M(B?<sup><a href="#d22-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d22-1-fn1">$B%j%/%(%9%H$,$"$l$POC$O99$KB3$/!&!&!&$+$b!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F22" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F22" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d27" class=" body section">
       <h2><a href="/~wakaba/d/d200606#d27" class="self"
       >2006$BG/(B6$B7n(B27$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d27-1" class=" section">
<h3><a href="#d27-1" class="self">$B!y(B</a> $B$8$a$8$a$,7y$$(B (@17:53 +09:00)</h3>
<p>$B<>EY$,9b$/$F7c$7$/IT2w$J(B1$BF|$G$7$?!#(B</p></div><!-- class="section" -->
<div id="d27-2" class=" section">
<h3><a href="#d27-2" class="self">$B!y(B</a> $B%P%9$K>h$jCY$l$k$J(B (@17:54 +09:00)</h3>
<p>$B%P%9$,K~0w$G$7$?!#;EJ}$,$J$$$N$G(B ($B<!$N%P%9$K>h$k$?$a(B) $BA0$N%P%9Dd$^$GJb$-$^$7$?!#%P%9$N;OE@$rJQ$($F$/$@$5$$(B!</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F27" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F27" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d29" class=" body section">
       <h2><a href="/~wakaba/d/d200606#d29" class="self"
       >2006$BG/(B6$B7n(B29$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d29-1" class=" section">
<h3><a href="#d29-1" class="self">$B!y(B</a> $B:G=*Ns<V(B (@23:02 +09:00)</h3>
<p>$B4m$J$+$C$?!#!#!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F29" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F29" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d30" class=" body section">
       <h2><a href="/~wakaba/d/d200606#d30" class="self"
       >2006$BG/(B6$B7n(B30$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d30-1" class=" section">
<h3><a href="#d30-1" class="self">$B!y(B</a> $B<P$a>e$r9T$/(B! $B;#$l;#$l:>5=(B(!?) (@21:53 +09:00)</h3>
<p>$B@hF|!"B46H%"%k%P%`$N<L??;#1F(B ($BL5NA(B) $B$r$9$k$+$iM=Dj$rD4@0$7$FO"Mm$;$h!"$H$$$C$F6H<T$,;f$rCV$$$F$$$-$^$7$?!#(B</p><p>$B$=$7$F:#F|!"@86($+$i0QBw$5$l$?6H<T(B ($B<+>N(B) $B$,@hF|K,$l$?$N$O56<T$@!"$H$$$C$FJL$N;f$rCV$$$F$$$-$^$7$?!#(B<sup><a href="#d30-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B:#F|Mh$?J}$N<gD%$K$h$l$P!"A0$KMh$?J}$O5nG/$^$G$N6H<T$G!"I>H=$,0-$$$N$G:#G/$O7@Ls$7$J$+$C$?$H$3$m!">!<j$K<L??;#1F$r$7$h$&$H$7$F$$$?$i$7$$$G$9!#$I$&$d$iA0$KMh$?J}$,CV$$$F$$$C$?;f$O5nG/$N0FFb$+$i!V@86(!W$H=q$+$l$?ItJ,$r@Z$C$?$b$N$i$7$$$G$9!#(B<sup><a href="#d30-1-fn2" class=" fn_anchor">*2</a></sup> </p><p>$B3N$+$K$=$&$$$o$l$F$_$k$H!"A0$KMh$?J}$OL>A0$bL>>h$j$^$;$s$G$7$?$7!"@hCe=g$J$N$GAa$/F|;~$r7h$a$FO"Mm$7$m$HL/$K5^$,$7$F$$$^$7$?!#:#F|Mh$?J}$O?HJ,>ZL@=q$r;}$C$F$$$^$7$?!#(B</p><p>$B$G$b!"?HJ,>ZL@=q$r8+$;$i$l$F$b!"$=$l$,@55,$N$b$N$J$N$+$I$&$+H=Dj$9$k=Q$,$"$j$^$;$s!#$b$7$+$7$?$i:#F|Mh$?J}$,56<T$+$b$7$l$^$;$s(Bw $B:#F|Mh$?J}$N;f$K$O(B URI $B$,:\$C$F$$$^$7$?$,!"$=$N%I%a%$%s$N=jM-<T$O(B whois $B$K$h$l$P;*$N4IM}6H<T$N$h$&$G$9!#O"Mm@hEE;R%a%$%k!&%"%I%l%9$O%"%k%P%`6H<T$N$h$&$G$9$,!"$=$N(B Web $B%5%$%H$K$O2?$N>pJs$b$"$j$^$;$s$G$7$?!#(B</p><p>$BCV$$$F$$$C$?;f$b!"(B2$B$DHf3S$9$l$PA0$NJ}$,2x$7$=$&$J$U$$$s$-(B ($B"+(B ry) $B$,I:$C$F$$$^$9$,!"C1BN$J$i$*$+$7$$$H$O;W$$$^$;$s$G$7$?!#(B<sup><a href="#d30-1-fn3" class=" fn_anchor">*3</a></sup> $B$`$7$m5nG/$N<L??$r0l=o$KEO$7$F$$$?$N$G!"2?$N5?$$$b;}$A$^$;$s$G$7$?!#(B</p><p>$B7k6I@86($KD>@\Ld9g$;$F$b$i$C$F8e$+$iMh$?J}$,@55,$N6H<T$G4V0c$$$J$$$3$H$,$o$+$C$?$N$G$9$,!"$3$N@h@8$-$N$3$k$K$O$3$N$h$&$J%U%#%C%7%s%0:>5=(B (?) $B$K$O==J,5$$rIU$1$J$1$l$P$J$j$^$;$s$M!#I]$$$J$"!#(B<sup><a href="#d30-1-fn4" class=" fn_anchor">*4</a></sup> </p><p>$B$G$bB46H%"%k%P%`$J$s$FGc$&?M$,$=$s$J$K$$$k$H$b;W$($J$$$N$K!"<j4V7d$+$1$F:N;;9g$&$N$G$9$+$M(B?</p><ol class="footnote">
<li id="d30-1-fn1">$BO"Mm@h$HF|;~0J30$^$C$?$/$*$J$8(B!</li>
<li id="d30-1-fn2">$B$=$NJ,$@$1(B A4 $B$h$j>/$7>.$5$J;f$G$7$?(Bw</li>
<li id="d30-1-fn3">$BHyL/$K(B A4 $B$h$j>.$5$$$N$J$s$F5$$E$-$^$;$s$G$7$?$7!"$I$3$NAH?%$,$d$C$F$$$k$N$+=q$$$F$J$$$N$b%/%*%j%F%#!<%R%/%9$H$7$+;W$$$^$;$s$G$7$?$7!"O"Mm@hEE;R%a%$%k!&%"%I%l%9$,7HBSEEOC$J$N$b;E;vMQ$N7HBS$rMQ0U$7$F$$$k$N$+$/$i$$$K$7$+;W$$$^$;$s$G$7$?!#(B</li>
<li id="d30-1-fn4">$B$A$J$_$K!"4{$KA0$NJ}$N6H<T$KM=Dj$rO"Mm:Q$_$N$H$3$m$,%-%c%s%;%k$NEEOC$r$7$?$i!"2xJ8=q$,N.$l$FLBOG$7$F$$$k$J$I$H5U@Z$l(B (?) $B$7$F$$$k$h$&$G$9!#!#!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F30" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2006%2F%2F6%2F%2F30" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div class="footer">

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
 (<a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200605">$BA07n(B</a>,
 <a rel="next" href="d200607">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>)]
</div>

</div>

</body>
</html>
