<!DOCTYPE html []>
<html lang="ja">
<head>
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B6$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2003$BG/(B6$B7n$N<cMU$N0-9T$N5-O?!#(B
" />
<link rev="made" href="mailto:w@suika.fam.cx" title="$B$o$+$P(B" />
<link rel="contents" href="list" title="$B7n$N0lMw(B" />
<link rel="prev" href="d200305" title="$BA07n(B" />
<link rel="next" href="d200307" title="$BMb7n(B" />
<link rel="contents" href="d200306+summary" title="$BOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200306" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B
6$B7n(B)" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.png" type="image/png" />
<link rel="help" href="/~wakaba/who?" title="$B<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd" title="Public Domain.">
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="stylesheet alternate" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet alternate"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="stylesheet alternate"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="stylesheet alternate"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="stylesheet alternate"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B6$B7n(B)</h1>

<div id="intro">
[<img src="favicon" alt="$BE_F|(B" class="favicon">
  (<a href="list" rel="index" title="$BF|5-$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="d200306++summary" title="$B:#7n$N8+=P$70lMw!#(B">$BMWLs(B</a>,
   <a href="../who?" title="$BF|5-=q$$$F$k<cMU$N@5BN$KGw$k(B!?">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)
]
[$BEE;R%K%e!<%9(B
  <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9AH(B suika.robamimi ($B$9!z$`$N<*$OqfGO$N<*(B)">$B$m$P<*(B</a>,
]
[
[Chat 
  [<a href="../-temp/wkchat/chat1" title="$B?M9)L5G=$`(B*$B$97/$,(B24$B;~4V$"$J$?$NAj<j$r$9$k(B Web chat $B5!9=!#(B">$B$`(B*$B$9Cc(B</a>]
  [<a href="/~rei/cgi-bin/moonlight/">$B7n8wCc(B</a>]
]
]
</div>
<div id="d2" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:6:2" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B6$B7n(B2$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d2-1" class=" section">
<h3><a href="#d2-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[$B%W%m%0%i%`(B]</span>
</span>
$B%P%0H/8+(B</h3>
<p>$B%W%m%0%i%_%s%0(B A $B$N%l%]!<%H2]BjMQ$K=q$$$F$?%W%m%0%i%`$NIT6q9g(B<sup><a href="#d2-1-fn1" class=" fn_anchor">*1</a></sup> $B$r8+$D$1$A$c$$$^$7$?!#%l%]!<%H$N0u:~$7$J$*$7$OLLE]$@$+$iE,Ev$KD>$7$F$*$3$&(B...</p><ol class="footnote">
<li id="d2-1-fn1">$B@0?t7?$NCM$NHO0O$h$jBg$-$J?t;z$@$H@5Ii$,5UE>$7$FJQ$J7k2L$K!#:G>e0L%S%C%H$rId9f$KEv$F$k$;$$$@$m$&$1$I!"7e0n$l$N;~$O;`$s$GM_$7$$$h$J$"!#$3$&$$$&HyL/$J%P%0$OH/8+$K;~4V$,$+$+$k$8$c$J$$$N!#(B</li>
</ol></div><!-- class="section" -->
<div id="d2-2" class=" section">
<h3><a href="#d2-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[Windoze]</span>
</span>
$B%5%&%s%I!&%l%3!<%@!<(B</h3>
<p>$BL$$@$K(B Windoze $B$KIUB0$7$F$$$kJU$j$+$i$7$F6C$-$J$s$G$9$,!"$3$l!":GBg(B60$BIC$7$+O?2;$G$-$J$$$i$7$$$s$G$9!#(B</p><p>$B$=$&$$$($P@N!9$N$=$N@N!"(B Windoze 3.1 $B$K$b8+$?L\$,$[$H$s$I0l=o$N%5%&%s%I!&%l%3!<%@!<$J$k$b$N(B ($B$H$$$&$+F1$8$b$N$@!#(B) $B$,$D$$$F$F!"$=$l$b3N$+(B60$BIC$7$+O?2;$G$-$J$/$F!#%O!<%I!&%G%#%9%/$d<g5-21AuCV$NMFNL(B ($B$=$l$KFf$N%7%9%F%`!&%j%=!<%9$H$+$$$&$d$D$NNL(B) $B$,87$7$$;~Be$@$C$?$7!";EJ}$J$$$J$"$H;W$C$F$$$?$s$G$9$,!#$^$5$+A4A3?J2=$7$F$J$$$H$O!#(B</p></div><!-- class="section" -->
<div id="d2-3" class=" section">
<h3><a href="#d2-3" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[PBL]</span>
</span>
$B!V%&%'%V!&%Z!<%8$N%l%$%"%&%H0F!W(B</h3>
<p>$B$O$F$5$F!"(B PBL $B$G%$%s%?%S%e!<5-;v$r(B HTML $B$G=q$/$H$$$&HI$4$H$N2]Bj$,$"$j$^$7$F!"$=$l$N(B<ruby><rb>$BN$DxI8(B</rb><rp>(</rp><rt>$B%^%$%k%9%H!<%s(B</rt><rp>)</rp></ruby>$BE*2]Bj$G!"!V%&%'%V!&%Z!<%8$N%l%$%"%&%H0F!W$J$k$b$N$r=P$;$H$$$&$s$G$9!#:#F|$,$=$NDs=PF|$@$C$?$N$G$"$j$^$9!#(B</p><p>$B$G!"$=$NNc$r8+$F$_$k$H!&!&!&$3$3$O@V$$Bg$-$JJ8;z(B? $B$3$3$O>.$5$JJ8;z(B? $B$G!"GX7J?'$O!&!&!&1>!9!#%H%C%W!&%Z!<%8$XLa$k%j%s%/(B? $B%O%!(B? $B0`$($^$9$M$'!#(B</p><p>$B$=$s$J$A$c$i$A$c$i$7$?I=LL>e$N$3$H$J$s$F$o$6$o$6!V%l%$%"%&%H0F!W$J$s$F8@$C$F=P$5$;$k$b$s$G$9$+$M(B? $B$Y$D$K%&%'%V!&%G%6%$%s$N<B=,$G$O$J$$$N$G$7$F!#$=$s$J$3$H$h$j$b$^$::G=i$K$7$J$$$H$$$1$J$$$N$O!"$I$s$JFbMF$r$I$s$J9=@.$K$9$k$N$+$G$7$g$&!#$=$l$b$^$H$a$F!V%l%$%"%&%H!W$N$h$&$JJ70O5$$,I:$C$F$^$9$,!"$[$H$s$I$N?M$O$A$c$i$A$c$i$H$7$?$b$N(B<sup><a href="#d2-3-fn1" class=" fn_anchor">*1</a></sup> $B$K<f$-$D$1$i$l$F$=$C$A$K=EE@$rCV$-$,$A$G$9$+$i!"$^$:9=@.$r8+$D$a$5$;$k$Y$-$G$9!#(B</p><p>$B$7$+$7$^$"!"%$%s%?%S%e!<5-;v$J$s$F!"$;$$$<$$%$%s%?%S%e!<FbMF$r>e<j$/JB$Y$F!"%$%s%?%S%e!<Aj<j$NN,Nr$rE:$($kDxEY$N9=B$$7$+;}$A$h$&$,$J$$$H$$$&$N$b;v<B!#$=$s$J$s$8$c!"3N$+$K2]Bj$K$9$k$[$I$N$b$N$G$b$J$$$h$J$"!#(B</p><ol class="footnote">
<li id="d2-3-fn1">$B@V$$J8;z$H$+1&4s$;$N2hA|$N$3$H!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B6$B7n(B2$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F2" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F2" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d4" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:6:4" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B6$B7n(B4$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d4-1" class=" section">
<h3><a href="#d4-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
<span class="cat">[<img src="/chuubu/favicon" class="favicon" alt="$B$A$e!<$V(B" />]</span>
<span class="cat">[$BM}?t2J(B]</span>
</span>
$BM}?t2J$NG>FbF1Ak2q(B</h3>
<p>$BM}?t2J$NF1Ak2q$,$"$j$^$7$?!#L4$NCf$G!#(B<sup><a href="#d4-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$?$@$7!"@53N$K$OF1Ak2q$G$O$"$j$^$;$s$N$G$9!#E?Kv$r@bL@$7$^$7$g$&!#(B</p><p>$B$"$kF|$NM}?t2J$N65<<!"$J$<$+$o$+$j$^$;$s$,$o$+$P$O$=$3$K$$$^$7$?!#(B ($B$=$NF|$OEZMKF|$+F|MKF|$i$7$$$G$9!#(B) $B$=$3$K$O2??M$+M}?t2J$@$C$??MC#$,$$$^$7$?!#$G!";(CL$7$F$k$&$A$KNc$K$h$C$FCJ!9?M$,=8$^$C$F$-$^$7$?!#2??M$+$OO2?M$G$$$D$b$3$3$KJY6/$KMh$F$k$i$7$/!"2??M$+$O5W$7$V$j$K$A$e!<$V$KMh$?$=$&$G$9!#(B ($BO2?M@8$,85$N<+J,$N65<<$KKhF|JY6/$7$K$/$k$J$s$FLBOG$JOC$G$9$,(B ($BM=Hw9;$G$b9T$1$h(B!)$B!"$3$N@$3&$G$OIaDL$N$3$H$i$7$$$G$9!#$-$C$H$K$C$?$^$s$,!V9g3J$9$k$^$GKhF|=P$FMh$$(B! $B@h@8C#$,A4NO$G%5%]!<%H$9$k(B!$B!W$H$+8@$C$?$s$G$7$g$&!#(B)</p><p>$B$G!"$J$<$+85M}?t2J$N?M$N(B9$B3d$/$i$$$,=8$^$C$F$$$?$H$3$m$K!"$?$^$?$^(B (?) $BK?(B M $B@h@8(B (1$BG/<!C4G$(B) $B$,DL$j$+$+$j$^$9!#!V$*$*!"2{$+$7$$4i$V$l$,=8$^$C$F$$$k$J!<!W$H$G$b;W$C$?$N$G$7$g$&!"65<<$KF~$C$F$-$FA0$KN)$A$^$9!#$G!"%[!<%`%k!<%`E*$K(B M $B@h@8$NOC$,;O$^$j$^$9!&!&!&!#(B</p><p>$B$H$$$&L4$G$7$?!#$3$s$JF1Ak2q$O7y$G$9!#(B</p><ol class="footnote">
<li id="d4-1-fn1">$B:rF|5W!9$KM}?t2J$N7G<(HD$H$+8+$K9T$C$?$;$$$@$J!"$-$C$H!#(B</li>
</ol></div><!-- class="section" -->
<div id="d4-2" class=" section">
<h3><a href="#d4-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[WWW]</span>
<span class="cat">[Mozilla]</span>
</span>
Mozilla 1.4b</h3>
<p>Mozilla 1.4b $B$O30$l$+$J!#JQ$J%P%0$,B?$$5$$,$9$k!#(B<a href="http://www.mozilla.org/">Mozilla.org</a>$B$bBgJQ$=$&$@$1$I!"4hD%$C$FM_$7$$$J$"!#(B</p></div><!-- class="section" -->
<div id="d4-3" class=" section">
<h3><a href="#d4-3" class="self">$B!y(B</a> $B%a%b(B</h3>
<p><a href="http://diary.note.ne.jp/?id=25144">3$B9TA08e$G$o$+$kBg3X@83h(B($B0c(B)</a>$B!#F|5-!#F13X2J$N?M$i$7$$!#:rF|$N2K$J<x6HCf$K(B ($B3XFb(B (CMC $BFb$@$1(B? $BB>$G$b$_$l$k(B?) $B$+$i$7$+$_$l$J$$(B) $B8D?M%&%'%V!&%Z!<%8$r=d2s$7$F$FH/8+!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B6$B7n(B4$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F4" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F4" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d5" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:6:5" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B6$B7n(B5$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d5-1" class=" section">
<h3><a href="#d5-1" class="self">$B!y(B</a> $BM+]5$JD+(B</h3>
<p>$BEEOC$N2;$GL\$,3P$a$F!"2?$+$H;W$($P(B spam $B%a%$%k!#B@M[$N51$/]5$JD+!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B6$B7n(B5$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F5" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F5" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d7" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:6:7" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B6$B7n(B7$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d7-1" class=" section">
<h3><a href="#d7-1" class="self">$B!y(B</a> $B9xDK(B</h3>
<p>$B9x$NJU$j$,DK$$!#$G$b9xDK$8$c$J$/$F6ZFyDK!#(B</p><p>$B:rF|$NBN0i$G%U%i%$%s%0!&%G%#%9%/$r$7$?$;$$!#LLGr$+$C$?$1$I$9$s$4$$Hh$l$^$7$?$h!#$G!"$9$4$$DK$$!#(B</p><p>$B%U%i%$%s%0!&%G%#%9%/$H$O2?$>$d$H(B? $B$(!<$H!"JLL>%U%j%9%S!<$C$F$d$D$G$9$h!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B6$B7n(B7$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F7" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F7" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d9" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:6:9" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B6$B7n(B9$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d9-1" class=" section">
<h3><a href="#d9-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[PBL]</span>
</span>
xyzzy</h3>
<p>$B%N!<%H7?$N(B Windoze $B$N7W;;5!$K(B emacsen $B$,F~$C$F$J$$$h!A$H5c$$$F$?$i(B($B13(B)$B!"@h@8$,(B<ruby><rb>xyzzy</rb><rp>(</rp><rt>$B55$5$s(B</rt><rp>)</rp></ruby>$B$rF~$l$F$/$l$^$7$?!#(B</p><p>$B$J$k$[$I!"3N$+$K(B xyzzy $B$O(B emacs $B$=$C$/$j$G!#(B</p></div><!-- class="section" -->
<div id="d9-2" class=" section">
<h3><a href="#d9-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[PBL]</span>
</span>
$B$h$/MxMQ$9$k(B Web $BJG(B</h3>
<p></p><p>$B%_%K%l%]!<%H2]Bj$,!V$h$/MxMQ$9$k(B Web $BJG!&%5!<%S%9$r0l$D5s$2$h!W$J$s$G$9$1$I!"!"!"!#(B</p><p>$B4V0c$$$J$/0lHV$J$N$O(B Google $B$G$7$g$&!#$G$bNc$K5s$,$C$F$k$+$i$J$"!#$b$7$+$9$k$H(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=SuikaWiki">SuikaWiki</a>$B$NJ}$,$h$/MxMQ$7$F$$$k$+$b!&!&!&!#$G$b<jA0L#A9$@$7!#(B</p><p>$BB>$K$O2?$r$h$/8+$F$$$k$@$m$&!#(B W3C $B$N;EMM=q$H$+$h$/FI$s$G$k$J$"!#$G$b(B W3C $B$N(B site $B$J$s$F>R2p$7$F$bLLGrL#$,$J$$!#(B</p><p>$B$?$+$,%_%K%l%]!<%H!"$=$s$JFbMF$K?<$/$3$@$o$kI,MW$O$J$$$H$O;W$&$s$G$9$1$I!"$$$D$b9M$(9~$s$G$7$^$&$s$G$9!#(B</p><p>$B$G!"(B knoa.jp $B$G$b@kEA$7$H$-$^$9$+(B? $B$I$&$7$^$9$+(B? $B$h$/$_$F$k$3$H$O4V0c$$$J$$$G$9$+$i!#(B<sup><a href="#d9-2-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$"$C!"L>0F$r;W$$$D$$$?(B! $B<x6H$N(B Web site $B$r>R2p$9$l$P$$$$$s$@(B!!</p><ol class="footnote">
<li id="d9-2-fn1">$B$J$s$H$J$/!"$3$3$^$G$G5s$2$?%5%$%H$NCf$G(B knoa $B$,0lHV=PBj<T$N0U?^$K6a$$5$$,$9$k!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B6$B7n(B9$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F9" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F9" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d12" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:6:12" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B6$B7n(B12$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d12-1" class=" section">
<h3><a href="#d12-1" class="self">$B!y(B</a> $B=k$$!#(B</h3>
<p>$B$J$s$H$$$&$+!"6u5$$,@8$L$k$$!#7y$@!#(B</p></div><!-- class="section" -->
<div id="d12-2" class=" section">
<h3><a href="#d12-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B%F%9%H%G!<%?(B</h3>
<p>$B%W%m%0%i%`$NF0:n3NG'$N$?$a$N%F%9%H!&%G!<%?$rE,Ev$K9M$($m$H$$$&=IBj$,=P$?$N$G!"E,Ev$K$5$$$3$m?6$C$FMp?t=P$9(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%B0%EC%B9%D4%CC%EE%CF%BA">$B0l9TLnO:(B</a>$B=q$$$F$=$N<B9T7k2L$rAw$C$H$-$^$7$?!#(B</p><p>$B$=$b$=$b4JC1$JLdBj$J$N$G0l9TLnO:=q$/$h$j$bF,$G9M$($?J}$,MZ$+$KAa$/$G$-$k5$$,$7$^$9$,!"$7$J$+$C$?$3$H$K$7$F$*$-$^$9!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B6$B7n(B12$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F12" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F12" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d17" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:6:17" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B6$B7n(B17$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d17-1" class=" section">
<h3><a href="#d17-1" class="self">$B!y(B</a> $BL2$$$71+$@$7(B</h3>
<p>$B:rF|$7$g$&$b$J$$M}M3$GLk99$+$7$7$F$?$;$$$G!":#D+$OL2$/$FL2$/$F!#$*$^$1$K1+$@$7!#(B</p><p>$B$$$C$=(B1$B8B$5$\$k$+(B? $B$H;W$C$?$b$N$N!"7k6I4hD%$C$F$$$/$3$H$K$7$^$9!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B6$B7n(B17$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F17" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F17" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d22" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:6:22" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B6$B7n(B22$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d22-1" class=" section">
<h3><a href="#d22-1" class="self">$B!y(B</a> $B>220(B</h3>
<p>$BH1$r@Z$C$?!#(B</p></div><!-- class="section" -->
<div id="d22-2" class=" section">
<h3><a href="#d22-2" class="self">$B!y(B</a> $B$b$&$0$A$c$0$A$c(B</h3>
<p>$B$4HS$NF~$C$?CcOR$r%F!<%V%k$KCV$3$&$H$7$F!";W$$$C$-$j$R$C$/$jJV$7$F$7$^$$$^$7$?!#>e$K=AJ*$r>h$C$1$F$?$N$GHa;4$J>u67$K!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B6$B7n(B22$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F22" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F22" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d23" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:6:23" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B6$B7n(B23$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d23-1" class=" section">
<h3><a href="#d23-1" class="self">$B!y(B</a> PBL</h3>
<p>$B:#F|$N%_%K!&%l%/%A%c!<(B<sup><a href="#d23-1-fn1" class=" fn_anchor">*1</a></sup> $B$O$+$J$jBLL\$G$7$?!#$H$$$&$+!"%F!<%^$,!V%Q%o!<%]%$%s%H$N;H$$J}!W$G$"$k;~E@$G$3$NH/I=$O<:GT7hDj$G$7$g$&!#$h$C$]$I>e<j$/$^$H$a$l$P$H$b$+$/!#(B</p><p>$B$@$$$?$$!"(B($B0J2<D9$/$J$j$=$&$J$N$G>JN,(B)$B!#(B<sup><a href="#d23-1-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d23-1-fn1">$BKh2s;~4V$N=i$a$K6541$,==J,$[$I%9%i%$%I$r8+$;$J$,$i4JC1$K9V5A$9$k!#(B</li>
<li id="d23-1-fn2">$BMW$O!"$=$b$=$b<x6H$NL\E*$,F;6q$N=,F@$G$O$J$$$+$i!"Bg$7$FFq$7$$$o$1$G$b$J$$F;6q$N;H$$J}$N=iJbE*$J@bL@$J$s$+$9$k$h$j$b!"%9%i%$%I$N9=@.>e$NCm0U$H$+!"$=$C$A$K=EE@$rCV$/$Y$-$J$s$G$9!#!VGI<j$9$.$:!W$H$+!V%"%K%a!<%7%g%s;H$$$9$.$:!W$H$+$O$*$^$1$NCm0U;v9`$8$c$J$/$F!"$`$7$m$=$C$A$,<g$8$c$J$$$N$+$$(B? $B$C$F!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B6$B7n(B23$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F23" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F23" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d30" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:6:30" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B6$B7n(B30$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d30-1" class=" section">
<h3><a href="#d30-1" class="self">$B!y(B</a> $B$-$s$-$g!<(B</h3>
<p>$B:G6a%5%\$C$F$k$@$m$&$H$$$&$*JX$j(B($BFf(B)$B$,FO$-$^$7$?!#$=$&$$$($P(B6$B7n(B9$BF|0JMh$&(Bp$B$7$F$^$;$s$G$7$?!#(B</p><p>$B:G6aF|5-=q$$$F$b$&(Bp$B$9$k$N$,LLE]$J$s$G$9$h$M$'!#$=$s$JDj7?:n6H$O5!3#$,>!<j$K$7$m$H$$$&$+$J$s$H$$$&$+!#(B<sup><a href="#d30-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$H$$$&$3$H$G!"$3$NF|5-$O$^$?(B<a href="/">$B@>1;%5!<%P!<(B</a>$B$KLa$j$^$9!#(B<a href="/~wakaba/d/">$B:G?7HG(B</a>$B$H(B<a href="/~wakaba/d/d200306">$B:#7nHG(B</a>$B$r$I$&$>!#(B<sup><a href="#d30-1-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d30-1-fn1">$BK?$X$m$X$mF|5-$J$s$F!"H`$+$iAw$i$l$F$/$k869F$r$U$D!<$KJ]B8$9$k$@$1$G$&(Bp$B$7$J$/$F$$$$$N$K!#$3$NJU$,:G6a7c$7$/LLE]$K46$8$kM}M3!#(B</li>
<li id="d30-1-fn2">$B@>1;%5!<%P!<$O$^$@EvJ,ITDj4|1?MQ$J$N$GCm0U$7$F2<$5$$!#Ck4V$H$+LkCf$K$O$D$J$,$j$^$;$s(B:-)</li>
</ol></div><!-- class="section" -->
<div id="d30-2" class=" section">
<h3><a href="#d30-2" class="self">$B!y(B</a> $B$-$s$-$g!<(B (2)</h3>
<p>$B:G6a(B perl $B$G(B XML parser $B$r$,$j$,$j=q$$$F$^$9!#<VNX$,0lGUE>$,$C$F$$$k$N$O5$$K$7$A$c$$$1$^$;$s!#2?;v$b7P83$G$9(B($BFf(B)$B!#(B</p><p><a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%CA%B8%BD%F1%BC%C2%B8%BD%C3%CD">$BJ8=q<B8=CM(B</a>$B$NItJ,$N2r@O$@$1$O(B2$BF|$G=q$1$F$7$^$C$?$N$K!"(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=DTD">DTD</a>$B!"FC$K(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%BC%C2%C2%CE%C0%EB%B8%C0">$B<BBN@k8@(B</a>$B$H$=$N2r7h$NJU$j$,$d$d$3$7$/$F$b$&(B1$B%v7n$/$i$$(B ($BCGB3E*$K(B) $B$+$+$C$F$^$7$F!#(B</p><p>$B$G!":rF|$d$C$H!"(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%A5%DE%A1%BC%A5%AF%B6%E8%B4%D6">$B%^!<%/6h4V(B</a>$B$N2r@O$r<BAu$7$F!"$H$j$"$($:(B XML $B$N%^!<%/$rA4It2r<a$G$-$k$h$&$K$J$C$?$N$G!"$?$a$7$K(B XHTML 1.1 $B$N(B DTD $B$rDL$7$F$_$?$s$G$9$,!&!&!&CY$$!#(B DTD $B$N$G$+$5$KCY$5$,HfNc$9$k$h$&$J!#$J$s$@$+$J$"!#$H$$$&$h$&$J>u67!#(B</p></div><!-- class="section" -->
<div id="d30-3" class=" section">
<h3><a href="#d30-3" class="self">$B!y(B</a> $B$-$s$-$g!<(B (3)</h3>
<p>$B$((B? $BBg3X$G$9$+(B? $B$A$c$s$HKhF|9T$C$F$^$9$h!#:G6a%F%9%H$,Gw$C$F$F!">G$C$F$^$9(B(w$B!#(B<sup><a href="#d30-3-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$3$N$H$3$m$7$P$7$P5Y9V$J$N$,$"$C$F!"$=$l<+BN$O$$$$$N$G$9$,!"$=$NA0$d8e$m$N<x6H$,$"$k$H7k6I$J$s$@$+$J!<$H$+!#(B</p><ol class="footnote">
<li id="d30-3-fn1">$B9,$$Cf4V%F%9%H$N$"$k9V5A$O$J$+$C$?$s$@$1$I!"2F5Y$_A0$K%F%9%H$,$"$k$N$,4v$D$+!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B6$B7n(B30$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F30" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F6%2F%2F30" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->


<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (
 <a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200305">$BA07n(B</a>,
 <a rel="next" href="d200307">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>
)]
</div>
<ul class="myuri">
<li>&lt;URL:<a href="/~wakaba/d200306">http://suika.fam.cx/~wakaba/d/d200306</a>&gt;</li>
<li>&lt;<a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2003:6">URN:x-suika-fam-cx:fuyubi:2003:6</a>&gt;</li>
</ul>

</body>
</html>
