<!DOCTYPE html []>
<html lang="ja">
<head>
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2005$BG/(B6$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2005$BG/(B6$B7n$N<cMU$N0-9T$N5-O?!#(B
" />
<link rev="made" href="mailto:w@suika.fam.cx" title="$B$o$+$P(B" />
<link rel="contents" href="list" title="$B7n$N0lMw(B" />
<link rel="prev" href="d200505" title="$BA07n(B" />
<link rel="next" href="d200507" title="$BMb7n(B" />
<link rel="contents" href="d200506+summary" title="$BOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200506" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2005$BG/(B
6$B7n(B)" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.png" type="image/png" />
<link rel="help" href="/~wakaba/who?" title="$B<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd" title="Public Domain.">
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="stylesheet alternate" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet alternate"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="stylesheet alternate"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="stylesheet alternate"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="stylesheet alternate"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2005$BG/(B6$B7n(B)</h1>

<div id="intro">
[<img src="favicon" alt="$BE_F|(B" class="favicon">
  (<a href="list" rel="index" title="$BF|5-$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="d200506++summary" title="$B:#7n$N8+=P$70lMw!#(B">$BMWLs(B</a>,
   <a href="../who?" title="$BF|5-=q$$$F$k<cMU$N@5BN$KGw$k(B!?">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)
]
[$BEE;R%K%e!<%9(B
  <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9AH(B suika.robamimi ($B$9!z$`$N<*$OqfGO$N<*(B)">$B$m$P<*(B</a>,
]
[
[Chat 
  [<a href="../-temp/wkchat/chat1" title="$B?M9)L5G=$`(B*$B$97/$,(B24$B;~4V$"$J$?$NAj<j$r$9$k(B Web chat $B5!9=!#(B">$B$`(B*$B$9Cc(B</a>]
  [<a href="/~rei/cgi-bin/moonlight/">$B7n8wCc(B</a>]
]
]
</div>
<div id="d30" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:30" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B30$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d30-1" class=" section">
<h3><a href="#d30-1" class="self">$B!y(B</a> $B7nKv(B (@10:32 +09:00)</h3>
<p>6$B7n$b$b$&=*$o$C$F$7$^$&$N$+!&!&!&(B<span class="aa">orz</span></p></div><!-- class="section" -->
<div id="d30-2" class=" section">
<h3><a href="#d30-2" class="self">$B!y(B</a> $B$M$.$H$mP'(B (@12:08 +09:00)</h3>
<p>$B>_L}$+$1$9$.$?(B(w</p></div><!-- class="section" -->
<div id="d30-3" class=" section">
<h3><a href="#d30-3" class="self">$B!y(B</a> $B$$$^$5$i$J$,$i(B Google Maps (@20:24 +09:00)</h3>
<p><a href="http://maps.google.com/maps?ll=36.691589,137.298889&spn=0.678406,1.385513&t=k">Google Maps</a>$B!"$3$l$O$9$4$$!#$d$C$F$kFbMF<+BN$O4{B8$N5;=Q$NAH9g$;$G!"5;=QE*$K<B8=2DG=$G$"$k$3$H$OL@$i$+$G$7$?!#$G$b?'!9(B($BFf(B)$B$r9M$($k$H(B Flash $B$+2?$+$r;H$C$F!&!&!&$H9M$($F$7$^$&$o$1$G$9!#$=$s$J$b$N;H$o$J$/$F$b<B8=2DG=$@$H$$$&$3$H$r<B>Z$7$?$N$,$9$4$$!#(B</p><p>$B$7$+$b$=$N<B>ZJ}K!$,@$3&CO?^$H$-$?$b$s$@$+$i$9$4$$!#IaDL$N?M$K$O??;w$G$-$^$;$s$h!#(B<sup><a href="#d30-3-fn1" class=" fn_anchor">*1</a></sup> $B@$3&Cf$N?M$K$=$l$>$l$N?M$N?H6a$JNc$rDs<($G$-$k$H$$$&$N$O%W%l%<%s%F!<%7%g%s$NJ}K!$H$7$F6/Nu$8$c$J$$$G$9$+!#(B</p><p>$BF1$8$3$H$r$d$k$K$7$F$b!"$=$3$i$N$7$,$J$$5;=Q<T(B($BC/(B)$B$,%G%bMQ$K(B30$BJ,0L$GE,Ev$KIA$$$?%5%s%W%k2hA|$r;H$C$F!"$[$i$[$i!"M}O@>e$O$3$l$GD6%j%"%k$J@$3&CO?^$b$G$-$^$9$h!#%G!<%?$,$J$$$+$i$3$s$J$b$s$G$9$1$I$M!&!&!&$H$+$J$s$H$+$7$F8+$;$F$b!"$h$/$F?t?M$N<~0O$N?M$,H?1~$7$F$/$l$k(B ($B@x:_E*$K$O?t==?M$/$i$$$N?M$KB8:_$rCN$C$F$b$i$($k(B) $B$/$i$$$G=*$o$C$F$7$^$&$G$7$g$&$K!#(B</p><ol class="footnote">
<li id="d30-3-fn1">$BIaDL$N?M$,$I$3$+$i@$3&Cf$N1R@1<L??$rD4C#$7$F$/$k$N$h(B?</li>
</ol></div><!-- class="section" -->
<div id="d30-4" class=" section">
<h3><a href="#d30-4" class="self">$B!y(B</a> $BD9J8=q$$$?!#(B (@20:26 +09:00)</h3>
<p>$B$H$+$J$s$H$+5W!9$K(B<a href="/~wakaba/d/d200506#d30-1">$BD9J8(B</a>$B$r=q$$$F$_$^$7$?!#D9J8$C$F8@$C$F$b(B3$BCJMn$@$1$I(Bw</p></div><!-- class="section" -->
<div id="d30-5" class=" section">
<h3><a href="#d30-5" class="self">$B!y(B</a> Re: $BD9J8(B (@20:41 +09:00)</h3>
<p>$B$"!"4N?4$N(B <q><a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=Ajax">Ajax</a>$B$^$s$;!<(B</q>$B$C$F=q$/$NK:$l$F$?(B($BON(B</p></div><!-- class="section" -->
<div id="d30-6" class=" section">
<h3><a href="#d30-6" class="self">$B!y(B</a> $B;~4V$,$J$$!#(B (@21:12 +09:00)</h3>
<p>$B?'!9Dy$a@Z$j$,!&!&!&!#(B</p></div><!-- class="section" -->
<div id="d30-7" class=" section">
<h3><a href="#d30-7" class="self">$B!y(B</a> Re: $B7nKv(B (@21:14 +09:00)</h3>
<p>$B$J$s$+(B6$B7n$O0lGUF|5-=q$$$?$h$&$J5$$,$9$k!#C/$+$[$a$F(B($BFf(B)</p></div><!-- class="section" -->
<div id="d30-8" class=" section">
<h3><a href="#d30-8" class="self">$B!y(B</a> suika.robamimi (@21:16 +09:00)</h3>
<p><a href="news:suika.robamimi">$B$m$P<*(B</a>$B$C$F$J$/$J$C$?$N$+$H;W$C$F$?$i$^$@$"$C$?$s$@(B($BON(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B30$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F30" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F30" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d29" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:29" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B29$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d29-1" class=" section">
<h3><a href="#d29-1" class="self">$B!y(B</a> $B1+(B + $BIw(B (@11:14 +09:00)</h3>
<p>$B$&$o$C!#$J$s$+FMA3$9$4$$1+(B + $BIw(B!</p><p>$BAa$a$KGc$$J*$K9T$C$F$*$$$FNI$+$C$?!&!&!&!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B29$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F29" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F29" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d28" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:28" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B28$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d28-1" class=" section">
<h3><a href="#d28-1" class="self">$B!y(B</a> $BFI$s$G$/$l$F$"$j$,$H$&!#(B (@16:17 +09:00)</h3>
<p>$B5W!9$KFI<T$+$i$N%a%C%;!<%8$-$?!<(B($BN,(B)$B!<!#(B</p></div><!-- class="section" -->
<div id="d28-2" class=" section">
<h3><a href="#d28-2" class="self">$B!y(B</a> Re: $BF0$$$?$jF0$+$J$+$C$?$j$9$k$d$D(B (@16:21 +09:00)</h3>
<p>$BF0$$$?$jF0$+$J$+$C$?$j$9$k$d$D(B<a href="/~wakaba/d/d200506#d20-1">$B$^$?<!$N;~$KF0$+$J$/$J$C$F$k$s$8$c$J$$$+(B</a>$B$J$s$F;W$C$F$^$7$?$1$I!"$A$c$s$HF0$-$^$7$?$h!#NI$+$C$?!#$H$3$m$,$=$N<!$N2]Bj$,F0$+$J$$(B<span class="aa">orz</span> $B$C$F$N$,:rF|$N?JD=!#(B</p><p>$B$G!":#F|$OF0$-$^$7$?!#$H$C$F$bIT0BDj$@$1$I!#$A$c$s$HF0$/$N$@$+$iG[@~$O(B ($BB?J,(B) $B4V0c$C$F$$$J$$$7!"%W%m%0%i%`$b%7%_%e%l!<%?$GF0$/$N$@$+$i(B ($BB?J,(B) $B4V0c$C$F$$$J$$!#$@$1$IF0$$$?$jF0$+$J$+$C$?$j!#$G$b$=$s$J$b$s$i$7$$$G$9!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B28$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F28" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F28" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d20" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:20" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B20$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d20-1" class=" section">
<h3><a href="#d20-1" class="self">$B!y(B</a> Re: $B$&$^$/F0$$$?$O$:$@$C$?$N$K(B (@18:12 +09:00)</h3>
<p><a href="/~wakaba/d/d200506#d8-1">$BF0$$$?$j(B</a><a href="/~wakaba/d/d200506#d13-3">$BF0$+$J$+$C$?$j(B</a>$B$9$k$d$D!"F0$/$h$&$K$J$j$^$7$?$h!#$h$/$o$+$i$J$$$1$I$$$8$C$F$k$&$A$K(B($BON(B</p><p>$B$^$?<!$N;~$KF0$+$J$/$J$C$F$k$s$8$c$J$$$+$H;W$&$H(B<span class="aa">(((( ;$B!,'%!,(B)))$B%,%/%,%/%V%k%V%k(B</span><sup><a href="#d20-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d20-1-fn1">$B$7$+$bM=Dj$h$j$+$J$jCY$l$F$k(B<span class="aa">orz</span></li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B20$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F20" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F20" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d17" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:17" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B17$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d17-1" class=" section">
<h3><a href="#d17-1" class="self">$B!y(B</a> $B=qN`(B (@09:21 +09:00)</h3>
<p>$B=qN`=P$7$F$-$?!#(B</p></div><!-- class="section" -->
<div id="d17-2" class=" section">
<h3><a href="#d17-2" class="self">$B!y(B</a> Re: $B=qN`(B (@09:35 +09:00)</h3>
<p>$B$H$$$&$+$"$l$@!#9T$-$OK~@J!"5"$j$O>h5R(B2$BL>$N%P%9$o$m$?!#(B</p></div><!-- class="section" -->
<div id="d17-3" class=" section">
<h3><a href="#d17-3" class="self">$B!y(B</a> $B%F%9%H(B (@19:08 +09:00)</h3>
<p>6$B;~$+$i%F%9%H$H$+!"7y$,$i$;$H$7$+;W$($J$$!#(B</p></div><!-- class="section" -->
<div id="d17-4" class=" section">
<h3><a href="#d17-4" class="self">$B!y(B</a> Re: $B%F%9%H(B (@19:09 +09:00)</h3>
<p>$B$G$b6bMKF|$@$C$?$+$i$$$$$d!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B17$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F17" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F17" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d16" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:16" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B16$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d16-1" class=" section">
<h3><a href="#d16-1" class="self">$B!y(B</a> $B1+(B (@08:08 +09:00)</h3>
<p>$BD+$+$iBg1+%-%?!<(B</p></div><!-- class="section" -->
<div id="d16-2" class=" section">
<h3><a href="#d16-2" class="self">$B!y(B</a> Re: $BBg1+(B (@19:27 +09:00)</h3>
<p><a href="/~wakaba/d/d200606#d16-1">$B$H(B</a>$B$+$$$C$F$$$?$N$K$$$D$N$^$K$+@2$l$F$$$kf+!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B16$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F16" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F16" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d15" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:15" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B15$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d15-1" class=" section">
<h3><a href="#d15-1" class="self">$B!y(B</a> $B?^=q4[$N6uD4(B (@14:12 +09:00)</h3>
<p>$B7PHq@aLs$N$?$a$+C1$J$k$1$A$J$N$+7c$7$/LdBj$,$"$k$H$5$l$F$$$kImB0?^=q4[$N6uD4$J$N$G$9$,!":#F|$O2wE,$G$9!#:#F|$O30$b$$$D$b$h$jNC$7$$$G$9$1$I!"$=$l$@$1$H$O9M$($i$l$J$$2wE,$5$G$9!#<>EY$N$;$$$+$J!)(B $B0lBN?^=q4[$N6uD4$K2?$,$"$C$?$N$G$7$g$&$+!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B15$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F15" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F15" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d13" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:13" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B13$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d13-1" class=" section">
<h3><a href="#d13-1" class="self">$B!y(B</a> Re: $B7G<(HD$N%"%@%k%H6H<T<+F0=q$-9~$_BP:v(B : $B<:GT(B (@09:21 +09:00)</h3>
<blockquote cite="http://knoa.jp/memo/?id=2005-06-12+23:36"><p>$B$J$<%d%D$i$O(BPOST$B$N(B1$B9T$7$+%m%0$K;D$5$J$$$N$K!"=q$-9~$_$,$G$-$F$7$^$&$s$@(B?</p><cite><cite><a href="http://knoa.jp/memo/?id=2005-06-12+23:36">http://knoa.jp/memo/?id=2005-06-12+23:36</a></cite></cite></blockquote>
<p>$B;~9o$K$h$kEj9F@)8B$O$h$/9T$o$l$k$N$G!"$=$l$X$NBP:v$r4{$KMQ0U$7$F$"$k$N$G$O(B? $B?F@Z$K$b(B<a href="http://knoa.jp/memo/?id=2005-06-12+13:08">$B$I$&$$$&@)8B$r$7$F$$$k$N$+@bL@(B</a>$B$7$F$$$^$9$7!"(B spammer $B$b$d$j$d$9$+$C$?$N$G$O!#(B</p><p></p></div><!-- class="section" -->
<div id="d13-2" class=" section">
<h3><a href="#d13-2" class="self">$B!y(B</a> 2$B8B5Y9V(B (@10:54 +09:00)</h3>
<p>$B3,CJ$N$\$C$F$kESCf$G5$$E$-$^$7$?$h!#$=$&$$$($P@h=5!"(B</p><p>$BMh=5$O5Y9V$@$H8@$C$F$?$8$c$J$$$+(B<span class="aa">orz</span></p><p></p></div><!-- class="section" -->
<div id="d13-3" class=" section">
<h3><a href="#d13-3" class="self">$B!y(B</a> $B$&$^$/F0$$$?$O$:$@$C$?$N$K(B (@18:16 +09:00)</h3>
<p><a href="/~wakaba/d/d200506#d8-1">$B$3$NA0$N$d$D(B</a>$B!"$3$NA0$OF0$$$?$N$K:#EY$OF0$+$J$+$C$?(B<span class="aa">orz</span></p><p>$B@dBP<B83$K;H$C$F$k2x$7$$AuCV(B ($BFf(B) $B$,@B$+$l$F$k$H;W$&$s$@$h$M!#$=$l$7$+$3$NA0$H>r7o$O0c$o$J$$$o$1$@$7!#$I!<$9$i$$$$$N$h(B?</p><p></p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B13$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F13" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F13" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d11" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:11" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B11$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d11-1" class=" section">
<h3><a href="#d11-1" class="self">$B!y(B</a> $BGc$$J*$K9T$3$&$H;W$C$F$$$?7o$K$D$$$F(B (@12:15 +09:00)</h3>
<p>$B:#F|$O6a=j$N%9!<%Q!<$K9T$3$&$H;W$C$F$$$?$o$1$@$,!#1+(B<span class="aa">orz</span></p></div><!-- class="section" -->
<div id="d11-2" class=" section">
<h3><a href="#d11-2" class="self">$B!y(B</a> $B1+$O$d$s$@$1$I(B (@22:01 +09:00)</h3>
<p>$BM<J}$K$J$C$F1+$O>e$,$j$^$7$?$,!"$H$F$b$8$a$8$a$H$7$F$*$j$^$7$F7y$J46$8$,$$$?$7$^$9!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B11$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F11" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F11" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d10" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:10" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B10$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d10-1" class=" section">
<h3><a href="#d10-1" class="self">$B!y(B</a> $B8m$jJs9pJG$r:n$jD>$7$F$_$?(B (@23:25 +09:00)</h3>
<p><a href="/error/401">401</a>$B$H(B<a href="/error/410">410</a>$B$r(B<a href="/error/404">404</a>$B$K9g$o$;$F?7$7$$$N$K:n$jD>$7$F$_$^$7$?$,$I$&$h(B?</p><p></p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B10$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F10" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F10" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d8" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:8" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B8$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d8-1" class=" section">
<h3><a href="#d8-1" class="self">$B!y(B</a> $B<B83(B (@17:56 +09:00)</h3>
<p>$B$d$C$HF0$$$?!#D9$+$C$?!#(B</p><p>$B7k6I860x$OJ,$+$i$J$$$1$I?t;~4V(B ($B==?t;~4V(B?) $B$$$8$/$C$F$?$i$$$D$N4V$K$+F0$/$h$&$K$J$C$?$H$$$&:G0-$N(B ($B$G$b$h$/$"$k(B) $B%Q%?!<%s(B<span class="aa">orz</span></p><p></p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B8$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F8" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F8" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d7" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:7" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B7$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d7-1" class=" section">
<h3><a href="#d7-1" class="self">$B!y(B</a> $B8&5f<<8+3X2q(B (@16:35 +09:00)</h3>
<p><a href="http://www.osaka-u.ac.jp/jp/about/map/suita.html">$B?aED(B</a>$B$^$8(B<a href="http://ryoyodoosi.hp.infoseek.co.jp/storage/yabai.html">$B$d$P$$(B($B%3%T%ZN,!#(B</a></p><p></p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B7$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F7" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F7" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d6" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6:6" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2005$BG/(B6$B7n(B6$BF|(B</h2>
<div class="header"></div><!-- header -->

<div id="d6-1" class=" section">
<h3><a href="#d6-1" class="self">$B!y(B</a> $BF|5-$r=q$+$J$$$N$O(B (@21:49 +09:00)</h3>
<p>$B$:$C$HF|5-$r=q$$$F$J$$$N$OK;$7$$$+$i$G$bLLE]$/$5$$$+$i$G$b$J$/!"=q$/$3$H$,L5$$$+$i$G$9(B($BON(B</p><p>$B$H$+FMA3=q$$$?$N$O(B<a href="http://fuyuki.jugem.cc/?eid=99">$B$"$C$A(B</a>$B$G$d$a$k@k8@(B($BFf(B)$B$7$?$+$i$G$O$J$/$F!"FMA3$N;W$$IU$-(B($BFf(B)$B$G$9!#(B<sup><a href="#d6-1-fn1" class=" fn_anchor">*1</a></sup> </p><p></p><ol class="footnote">
<li id="d6-1-fn1">$B$A$J$_$K$"$C$A$G$d$a$k@k8@$7$?$N$bFMA3$N;W$$IU$-(B(w</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2005$BG/(B6$B7n(B6$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F6" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2005%2F%2F6%2F%2F6" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->


<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (
 <a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200505">$BA07n(B</a>,
 <a rel="next" href="d200507">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>
)]
</div>
<ul class="myuri">
<li>&lt;URL:<a href="/~wakaba/d200506">http://suika.fam.cx/~wakaba/d/d200506</a>&gt;</li>
<li>&lt;<a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2005:6">URN:x-suika-fam-cx:fuyubi:2005:6</a>&gt;</li>
</ul>

</body>
</html>
