<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2008$BG/(B7$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2008$BG/(B7$B7n$N<cMU$N0-9T$N5-O?!#(B" />
<link rel="contents" href="list" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$r=q$$$?7n$N0lMw(B" />
<link rel="prev" href="d200806" title="$BA07n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="next" href="d200808" title="$BMb7n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="alternate" href="d200807.ja.atom" hreflang="ja"
    type="application/atom+xml" title="2008$BG/(B7$B7n$NE_F|(B (Atom $B6!5k(B)">
<link rel="contents" href="d200807+summary" title="$B:#7n$NOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200807" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2008$BG/(B7$B7n(B)" />
<link rev="made" href="/~wakaba/who?" title="$BCx<T$N<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd"
      title="Public Domain." lang="en" xml:lang="en" />
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="alternate stylesheet" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="alternate stylesheet"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="alternate stylesheet"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="alternate stylesheet"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="alternate stylesheet"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<div class="header">
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2008$BG/(B7$B7n(B)</h1>

<div id="intro" class="navigation">
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
  (<a href="list" rel="contents" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>
   (<a href="current.html" type="text/html"
      title="$B:G?7$NF|5-(B (HTML)" lang="en">HTML</a>,
    <a href="current.ja.atom" hreflang="ja" type="application/atom+xml"
      title="$B:G?7$NF|5-(B (Atom)" lang="en">Atom</a>),
   <a href="../who?" rev="made">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)]
</div>

</div><!-- header -->
<div id="d21" class=" body section">
       <h2><a href="/~wakaba/d/d200807#d21" class="self"
       >2008$BG/(B7$B7n(B21$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d21-1" class=" section">
<h3><a href="#d21-1" class="self">$B!y(B</a> $B%/%$%:(B: HTML $BCf$K(B HTML $B$rKd$a9~$`$K$O(B? (@17:19 +09:00)</h3>
<p>$B:G6a!"(B <code>script</code> $BMWAG$r;H$C$F!"(B HTML $BJ8=qCf$K%9%/%j%W%H=hM}MQ$NIT2D;k%G!<%?$rKd$a9~$`$3$H$,(B<a href="http://www.whatwg.org/specs/web-apps/current-work/#script">$B@5<0$KG'$a$i$l$k$h$&$K$J$j$^$7$?(B</a><sup><a href="#d21-1-fn1" class=" fn_anchor">*1</a></sup> $B!#$3$l$r;H$&$H!"JL$N(B HTML $BJ8=q$5$(!"(B<pre><code>&lt;script type="text/html"><br>&lt;!DOCTYPE HTML><br>...<br>&lt;/script></code></pre>$B$N$h$&$KKd$a9~$a$k$h$&$K$J$j$^$9!#(B</p><p>$B$G$O$3$3$GLdBj$H$$$&$+%/%$%:$H$$$&$+F,$NBNA`$J$N$G$9$,!"$3$l$rFs=E$K(B ($BF~$l;R$K(B) $B;H$&$3$H$O$G$-$k$G$7$g$&$+!#$D$^$j!"(B <code>script</code> $BMWAG$r;H$C$F(B HTML $BJ8=q$rKd$a9~$s$@(B HTML $BJ8=q$r99$KJL$N(B HTML $BJ8=q$K(B <code>script</code> $BMWAG$r;H$C$FKd$a9~$`$3$H$O$G$-$k$N$G$7$g$&$+(B? $B%$%a!<%8$H$7$F$O!"(B<pre><code>&lt;!DOCTYPE HTML><br>&lt;title>1$BHVL\$N(B HTML $BJ8=q(B&lt;/title><br>&lt;script type="text/html"><br>&lt;!DOCTYPE HTML><br>&lt;title>2$BHVL\$N(B HTML $BJ8=q(B&lt;/title><br>&lt;script type="text/html"><br>&lt;!DOCTYPE HTML><br>&lt;title>3$BHVL\$N(B HTML $BJ8=q(B&lt;/title><br>&lt;p>3$BHVL\$N(B HTML $BJ8=q(B<br>&lt;/script><br>&lt;p>2$BHVL\$N(B HTML $BJ8=q(B<br>&lt;/script><br>&lt;p>1$BHVL\$N(B HTML $BJ8=q(B</code></pre>$B$N$h$&$J46$8$G$9!#$?$@$7!"$3$N$^$^$G$O!":G=i$N(B <code>&lt;/script</code> $B%?%0$N$H$3$m$G(B2$BHVL\$N(B HTML $BJ8=q$,=*$o$k$H$_$J$5$l$F$7$^$$$^$9!#(B</p><p>$B$3$NLdBj$r2r$/$KEv$?$C$F$N>r7o$O!"(B (1) JavaScript $B$J$I$NK\Ev$N%9%/%j%W%H$r<B9T$7$J$$$3$H!"(B (2) $BE,9g(B HTML5 $BJ8=q$G$"$k$3$H!"$N(B2$B$D$@$1$G$9!#$G$b(B (2) $B$O$3$3$G$O$"$^$jK\<AE*$G$O$J$$$N$G5$$K$7$J$/$F$b$*(Bk$B$G$9!#(B</p><p><strong>$B%R%s%H(B</strong>: <code>&lt;script></code> $B3+;O%?%0$N8e$G$O!"IaDL$O(B <code>&lt;/script</code> $B$H$$$&J8;zNs$,$"$k$HMWAG$rJD$8$F$7$^$&$N$G$9$,!"Nc30E*$K!"(B <code>&lt;!--</code> $B$H$$$&J8;zNs$,$"$k$H!"<!$N(B <code>--&gt;</code> $B$H$$$&J8;zNs$^$G!"(B<a href="http://www.whatwg.org/specs/web-apps/current-work/#cdata-rcdata-restrictions">$B=*N;%?%0$rG'CN$7$^$;$s(B</a><sup><a href="#d21-1-fn2" class=" fn_anchor">*2</a></sup> $B!#(B</p><p>$B$3$l$,$G$-$?$+$i2?$+$NLr$KN)$D$H$$$&$3$H$O$J$$$G$7$g$&$1$l$I$b!"$*2K$JJ}$O9M$($F$_$F$/$@$5$$!#(B</p><p>$B5$$,8~$$$?$iEz$($rH/I=$7$^$9!#(B</p><p>$B;0=E(B ($BFs=EKd$a9~$_(B) $B$,$G$-$?$i!"$b$&(B1$B2sF~$l;R$K$7$F!";M=E(B ($B;0=EKd$a9~$_(B) $B$NJ}K!$r9M$($F$_$F$/$@$5$$!#$b$7$G$-$J$$$J$i!"$G$-$J$$$3$H$r>ZL@$7$F$_$F$/$@$5$$!#(B</p><ol class="footnote">
<li id="d21-1-fn1">$B8D?ME*$K$O$3$l$OHyL/$@$H;W$&$N$G$9$,!"$=$l$,(B<a href="http://lists.w3.org/Archives/Public/public-html/2008May/0291.html">$B@$4V$N<BBV(B</a>$B$G!"Bg$7$?<B32$b$J$$$N$G$9$+$i!"CW$7J}$"$j$^$9$^$$!#(B</li>
<li id="d21-1-fn2">$B$3$l$b$"$s$^$j$J;EMM$@$H;W$&$N$G$9$,!"(B Netscape Navigator 2 $B$N@N$+$i$=$&$J$C$F$k$N$G$7$g$&$+$i;EJ}$"$j$^$;$s$M!#!#!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F7%2F%2F21" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F7%2F%2F21" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d6" class=" body section">
       <h2><a href="/~wakaba/d/d200807#d06" class="self"
       >2008$BG/(B7$B7n(B6$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d6-1" class=" section">
<h3><a href="#d6-1" class="self">$B!y(B</a> &lt;base href> &amp; HTMLAnchorElement.href $B$GM7$s$G$_$h$&(B (@00:10 +09:00)</h3>
<p>$BAjBP(B URL $B$N<h07$$$O!"Nr;KE*$K;EMM$bFsE>;0E>$7$F<BAu$b$P$i$P$i!"(B Web $B4XO"5;=Q$NCf$G$b$+$J$j%+%*%9$J$b$N$N(B1$B$D$G$9!#(B</p><p>$B;DG0$J$3$H$K(B JavaScript $B$d(B DOM $B$GAjBP(B URL $B$r2r7h$9$k(B API $B$ODs6!$5$l$F$$$J$$$N$G$9$,!"(B <code>a</code> $BMWAG$N(B <code>href</code> DOM $BB0@-$O(B <code>href</code> $BFbMFB0@-$NCM(B (URL) $B$r2r7h$7$?$b$N$rJV$9$3$H$K$J$C$F$$$^$9$N$G!"$3$l$H(B <code>base</code> $BMWAG$rAH$_9g$o$;$k$H!"AjBP(B URL $B$r2r7h$7$?$b$N$r%9%/%j%W%H$+$i<hF@$G$-$^$9!#(B</p><p>$B$3$l$r;H$C$FM7$s$G$_$h$&$H$$$&$3$H$G!"(B <a href="/www/url/urlresolution" lang=en>Live URL Resolution Viewer</a> $B$r:n$j$^$7$?!#2r7h$5$;$?$$AjBP(B URL $B$H4pDl(B URL $B$r;XDj$9$k$H!"2r7h$5$l$?(B URL $B$,=P$F$-$^$9!#(B</p><p>$B;n$7$K!"(B<a href="/www/url/urlresolution?mailto%3Aa%40b.c%23d;e">$B4pDl(B URL $B$H$7$F(B <code>mailto:a@b.c#d</code>$B!"2r7h$5$;$k(B URL $B$H$7$F(B <code>e</code> $B$r;XDj$7$F$_$^$7$g$&(B</a>$B!#$3$s$J7k2L$,F@$i$l$?$O$:$G$9!#(B<dl><dt>Firefox2</dt><dd><code>e</code> ($B4pDl(B URL $B$,3,AXE*$J(B URL $B$G$O$J$$$N$G!"(B <code>HTMLAnchorElement.href</code> $B$,AjBP(B URL $B$r$=$N$^$^JV$7$F$$$^$9!#(B)</dd><dt>WinIE7</dt><dd><code>mailto:a@b.ce</code> ($B4pDl(B URL $B$K$"$C$?AGJR<1JL;R$O=|5n$5$l$^$9!#AjBP(B URL $B$,4pDl(B URL $B$K$J$<$+O"7k$5$l$^$9!#(B)<dt>Safari3</dt><dd>$B6uJ8;zNs(B ($B4pDl(B URL $B$,3,AXE*$J(B URL $B$G$O$J$$$N$G!"(B <code>HTMLAnchorElement.href</code> $B$,6uJ8;zNs$rJV$7$F$$$^$9!#(B)</dd><dt>Opera9</dt><dd><code>mailto:/e</code> ($B$J$<$+(B <code>/</code> $B$,Jd$o$l$F$$$^$9!#(B)</dd></dl>$B8+;v$K$P$i$P$i$G$9!#IaDL$O(B <code>mailto:</code> URL $B$J$s$F4pDl(B URL $B$K;H$o$J$$$N$G<B32$O$J$$$G$9$,!#(B</p><p>$B$$$m$$$m$J(B URL $B$r;XDj$7$F;n$7$F$_$k$H$o$+$j$^$9$,!"$I$N%V%i%&%6$G$b6&DL$7$?F1$87k2L$,F@$i$l$k$N$O!"$4$/8B$i$l$?<oN`$N(B URL $B$NAH$_9g$o$;$N$H$-$@$1$G$9!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F7%2F%2F6" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F7%2F%2F6" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div class="footer">

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
 (<a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200806">$BA07n(B</a>,
 <a rel="next" href="d200808">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>)]
</div>

</div>

</body>
</html>
