<!DOCTYPE html []>
<html lang="ja">
<head>
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2004$BG/(B7$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2004$BG/(B7$B7n$N<cMU$N0-9T$N5-O?!#(B
" />
<link rev="made" href="mailto:w@suika.fam.cx" title="$B$o$+$P(B" />
<link rel="contents" href="list" title="$B7n$N0lMw(B" />
<link rel="prev" href="d200406" title="$BA07n(B" />
<link rel="next" href="d200408" title="$BMb7n(B" />
<link rel="contents" href="d200407+summary" title="$BOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200407" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2004$BG/(B
7$B7n(B)" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.png" type="image/png" />
<link rel="help" href="/~wakaba/who?" title="$B<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd" title="Public Domain.">
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="stylesheet alternate" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet alternate"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="stylesheet alternate"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="stylesheet alternate"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="stylesheet alternate"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2004$BG/(B7$B7n(B)</h1>

<div id="intro">
[<img src="favicon" alt="$BE_F|(B" class="favicon">
  (<a href="list" rel="index" title="$BF|5-$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="d200407++summary" title="$B:#7n$N8+=P$70lMw!#(B">$BMWLs(B</a>,
   <a href="../who?" title="$BF|5-=q$$$F$k<cMU$N@5BN$KGw$k(B!?">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)
]
[$BEE;R%K%e!<%9(B
  <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9AH(B suika.robamimi ($B$9!z$`$N<*$OqfGO$N<*(B)">$B$m$P<*(B</a>,
]
[
[Chat 
  [<a href="../-temp/wkchat/chat1" title="$B?M9)L5G=$`(B*$B$97/$,(B24$B;~4V$"$J$?$NAj<j$r$9$k(B Web chat $B5!9=!#(B">$B$`(B*$B$9Cc(B</a>]
  [<a href="/~rei/cgi-bin/moonlight/">$B7n8wCc(B</a>]
]
]
</div>
<div id="d26" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:7:26" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B7$B7n(B26$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d26-1" class=" section">
<h3><a href="#d26-1" class="self">$B!y(B</a> $BNc30(B</h3>
<p>$B:#F|$9$o$C$?$H$3$m$N4y!"%Z%s$G!V$L$k$]!W$C$FMn=q$-$7$F$"$j$^$7$F!"$=$N2#$K1tI.$G!V"+(B $B%,%C!W$C$F=q$$$F$"$j$^$7$?(B(w$B!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B7$B7n(B26$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F7%2F%2F26" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F7%2F%2F26" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d13" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:7:13" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B7$B7n(B13$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d13-1" class=" section">
<h3><a href="#d13-1" class="self">$B!y(B</a> $BC5$7J*(B</h3>
<p>$B8+$D$+$i$J$$$J$"$H$"$A$3$A$R$C$/$jJV$7$?8e$K$J$C$F$9$4$/?H6a$J$H$3$m$K:G=i$+$i$"$C$?$3$H$K5$$E$/$o$1$G$7$F!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B7$B7n(B13$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F7%2F%2F13" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F7%2F%2F13" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d8" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:7:8" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B7$B7n(B8$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d8-1" class=" section">
<h3><a href="#d8-1" class="self">$B!y(B</a> $BEE5$ITB-(B</h3>
<p>$BEENO$,ITB-$7$F$$$k$H$+$G(B ($B$=$j$c$!$3$N=k$5(B)$B!"$3$32?F|O"B3$G<x6HCf$K%/!<%i!<>C$;$H$+J|Aw$,F~$C$F$^$9!#:rF|$^$G$O8a8e$@$C$?$N$K!":#F|$O8aA0$G$7$?$h!#$=$N$;$$$+$I$&$+!"O-2<$NEE5$$b$3$H$4$H$/>C$($F$^$7$?!#$A$g$C$H0E$$$G$9$1$I(B ($BAk$,$J$$$;$$$@(B)$B!"IaCJ$+$iCk4V$O>C$7$F$*$1$P$$$$$N$K!#(B</p></div><!-- class="section" -->
<div id="d8-2" class=" section">
<h3><a href="#d8-2" class="self">$B!y(B</a> $B?2ITB-(B</h3>
<p>$BLk(B 23 $B;~2a$.$F$+$iL@F|$^$G$K$*4j$$$C$F!"$=$N$M$'!#(B</p><p>$B:#F|$3$=$OAa$/?2$l$k$H;W$C$?$N$K(B ($B$H$$$&$+<B:]EEOC$,$+$+$C$F$/$k$^$G?2$F$?$N$K(B)$B!"7k6I$b$&$9$0F|IU$,JQ$o$C$A$c$&$s$G$9$h!#:#=5$OKhF|KhF|L2$$$J$"!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B7$B7n(B8$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F7%2F%2F8" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F7%2F%2F8" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d5" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2004:7:5" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2004$BG/(B7$B7n(B5$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d5-1" class=" section">
<h3><a href="#d5-1" class="self">$B!y(B</a> iMac $B$N$*$C$5$s(B</h3>
<p>$B<+E><V$K>h$C$?$*$C$5$s$H$9$l0c$$$^$7$?!#2?$NJQE/$b$J$$JQ$J$*$C$5$s(B($BFf(B)$B$K;W$o$l$?$N$G$9$,!&!&!&$J!"$J$s$H!"<+E><V$N8e$m$N2YBf$K(B iMac<sup><a href="#d5-1-fn1" class=" fn_anchor">*1</a></sup> $B$r$/$/$j$D$1$F$$$k$G$O$"$j$^$;$s$+!#(B</p><p>$B$3$N$9$4$/JQ$J$*$C$5$s!"$$$C$?$$(B iMac $B$r;}$AJb$$$F$I$3$X9T$C$?$N$G$7$g$&$+(B?</p><ol class="footnote">
<li id="d5-1-fn1">$B0l=V8+$?$@$1$J$N$G!"$b$7$+$9$k$H<B$O(B SOTEC ($B0J2<N,(B)</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2004$BG/(B7$B7n(B5$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F7%2F%2F5" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2004%2F%2F7%2F%2F5" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->


<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (
 <a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200406">$BA07n(B</a>,
 <a rel="next" href="d200408">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>
)]
</div>
<ul class="myuri">
<li>&lt;URL:<a href="/~wakaba/d200407">http://suika.fam.cx/~wakaba/d/d200407</a>&gt;</li>
<li>&lt;<a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2004:7">URN:x-suika-fam-cx:fuyubi:2004:7</a>&gt;</li>
</ul>

</body>
</html>
