<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2009$BG/(B12$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2009$BG/(B12$B7n$N<cMU$N0-9T$N5-O?!#(B" />
<link rel="contents" href="list" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$r=q$$$?7n$N0lMw(B" />
<link rel="prev" href="d200911" title="$BA07n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="next" href="d201001" title="$BMb7n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="alternate" href="d200912.ja.atom" hreflang="ja"
    type="application/atom+xml" title="2009$BG/(B12$B7n$NE_F|(B (Atom $B6!5k(B)">
<link rel="contents" href="d200912+summary" title="$B:#7n$NOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200912" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2009$BG/(B12$B7n(B)" />
<link rev="made" href="/~wakaba/who?" title="$BCx<T$N<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd"
      title="Public Domain." lang="en" xml:lang="en" />
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="alternate stylesheet" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="alternate stylesheet"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="alternate stylesheet"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="alternate stylesheet"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="alternate stylesheet"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<div class="header">
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2009$BG/(B12$B7n(B)</h1>

<div id="intro" class="navigation">
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
  (<a href="list" rel="contents" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>
   (<a href="current.html" type="text/html"
      title="$B:G?7$NF|5-(B (HTML)" lang="en">HTML</a>,
    <a href="current.ja.atom" hreflang="ja" type="application/atom+xml"
      title="$B:G?7$NF|5-(B (Atom)" lang="en">Atom</a>),
   <a href="../who?" rev="made">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)]
</div>

</div><!-- header -->
<div id="d27" class=" body section">
       <h2><a href="/~wakaba/d/d200912#d27" class="self"
       >2009$BG/(B12$B7n(B27$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d27-1" class=" section">
<h3><a href="#d27-1" class="self">$B!y(B</a> Regexp::Visualize 1.5 (@13:44 +09:00)</h3>
<p><a href="/regexp/doc/readme"><code>Regexp::Visualize</code>1.5</a> $B$r%j%j!<%9$7$^$7$?!#$H$$$C$F$b(B CVS $B$+$i(B git $B$K0\9T$7$F!"$=$N$D$$$G$K(B tar+gz $B$G%Q%C%1!<%82=$7$?$@$1$G!"<B<AE*$K2?$bJQ$o$C$F$$$^$;$s$,(Bwwwwww</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F12%2F%2F27" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F12%2F%2F27" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div class="footer">

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
 (<a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200911">$BA07n(B</a>,
 <a rel="next" href="d201001">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>)]
</div>

</div>

</body>
</html>
