<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2009$BG/(B2$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2009$BG/(B2$B7n$N<cMU$N0-9T$N5-O?!#(B" />
<link rel="contents" href="list" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$r=q$$$?7n$N0lMw(B" />
<link rel="prev" href="d200901" title="$BA07n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="next" href="d200903" title="$BMb7n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="alternate" href="d200902.ja.atom" hreflang="ja"
    type="application/atom+xml" title="2009$BG/(B2$B7n$NE_F|(B (Atom $B6!5k(B)">
<link rel="contents" href="d200902+summary" title="$B:#7n$NOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200902" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2009$BG/(B2$B7n(B)" />
<link rev="made" href="/~wakaba/who?" title="$BCx<T$N<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd"
      title="Public Domain." lang="en" xml:lang="en" />
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="alternate stylesheet" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="alternate stylesheet"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="alternate stylesheet"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="alternate stylesheet"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="alternate stylesheet"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<div class="header">
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2009$BG/(B2$B7n(B)</h1>

<div id="intro" class="navigation">
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
  (<a href="list" rel="contents" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>
   (<a href="current.html" type="text/html"
      title="$B:G?7$NF|5-(B (HTML)" lang="en">HTML</a>,
    <a href="current.ja.atom" hreflang="ja" type="application/atom+xml"
      title="$B:G?7$NF|5-(B (Atom)" lang="en">Atom</a>),
   <a href="../who?" rev="made">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)]
</div>

</div><!-- header -->
<div id="d23" class=" body section">
       <h2><a href="/~wakaba/d/d200902#d23" class="self"
       >2009$BG/(B2$B7n(B23$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d23-1" class=" section">
<h3><a href="#d23-1" class="self">$B!y(B</a> HTML $B:G?7F08~(B (@16:55 +09:00)</h3>
<p>2$B7n$b$"$H(B1$B=54V$G=*$o$C$F$7$^$&:#F|$3$N:"!"(B3$B7n$K$J$k$H(B W3C $B$K(B HTML WG $B$,$G$-$F(B2$B<~G/$r7^$($^$9!#$=$l$r5-G0$9$k$o$1$G$O$"$j$^$;$s$,!"(B SuikaWiki $B$N(B HTML $B7O$N5-;v$K:G6a$N;v>p$r2CI.$7$F!"(B<a href="/%7Ewakaba/wiki/sw/n/HTML%E4%BB%95%E6%A7%98%E6%A1%88%E3%81%BE%E3%81%A8%E3%82%812009">HTML$B;EMM0F$^$H$a(B2009</a>$B$H$$$&JG$r:n$j$^$7$?!#(B HTML $B?7;EMM0F$,(B5$B$D$b(B ($B?t$(J}$K$h$C$F$O$b$C$H(B) $BMpN)$9$k$H$$$&!"2a5n$K$bNc$,$J$$%+%*%9$J:r:#!">u67$rDI$$$+$1$k$@$1$G$b0l6lO+$G$9$M(Bwwwwwwww</p><p>$B$A$J$_$K(B HTML5 $B$r$d$C$F$k(B WHATWG $B$O$b$&$9$0(B5$BG/$K$J$j$^$9!#(B2004$BG/:"$HHf$Y$k$H?oJ,$H1s$/$KMh$?5$$,$7$^$9$,!":G6a$O:#G/=)$N(B Last Call $B$K8~$1$F=gD4$K<}B+%b!<%I$KF~$C$F$k46$8$G$9$M!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F2%2F%2F23" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F2%2F%2F23" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d22" class=" body section">
       <h2><a href="/~wakaba/d/d200902#d22" class="self"
       >2009$BG/(B2$B7n(B22$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d22-1" class=" section">
<h3><a href="#d22-1" class="self">$B!y(B</a> $BA]=|(B (@14:15 +09:00)</h3>
<p>$BA]=|$7$?!#Hh$l$?!#$^$@1x$$(Borz</p></div><!-- class="section" -->
<div id="d22-2" class=" section">
<h3><a href="#d22-2" class="self">$B!y(B</a> $BN99T(B (@19:13 +09:00)</h3>
<p>$B$J$s$+2YJ*MQ0U$7$F$?$i$a$C$A$c=E$/$J$C$?$s$@$1$I!"$[$s$H$K$3$s$J$K$?$/$5$sMW$k$s$@$m$&$+!&!&!&!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F2%2F%2F22" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F2%2F%2F22" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d21" class=" body section">
       <h2><a href="/~wakaba/d/d200902#d21" class="self"
       >2009$BG/(B2$B7n(B21$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d21-1" class=" section">
<h3><a href="#d21-1" class="self">$B!y(B</a> $B%$%s%9%H%m!<%k(B (@23:37 +09:00)</h3>
<p>$B$=$&$$$($P:G6a!V%$%s%9%H%m!<%k!W$C$FJ9$+$J$$$J!<!"@dLG$7$?$N$+$J!<$H;W$C$F(B<a href="http://www.google.co.jp/search?q=%83C%83%93%83X%83g%83%8D%81[%83%8B">$B$0$0$C$F$_$?(B</a>$B$s$@$1$I!"(B<a href="http://k.hatena.ne.jp/keywordblog/%E3%82%A4%E3%83%B3%E3%82%B9%E3%83%88%E3%83%AD%E3%83%BC%E3%83%AB">$BA4A3N.9T$C$F$k(B</a>$B$8$c$s(Bwwwwww<sup><a href="#d21-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d21-1-fn1">$B$$$/$D$+$O%M%?$C$]$$$1$I$=$&$8$c$J$5$2$J$N$b7k9=$"$k$M!<!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F2%2F%2F21" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F2%2F%2F21" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d11" class=" body section">
       <h2><a href="/~wakaba/d/d200902#d11" class="self"
       >2009$BG/(B2$B7n(B11$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d11-1" class=" section">
<h3><a href="#d11-1" class="self">$B!y(B</a> $B4m5!0lH1(B (@22:35 +09:00)</h3>
<p>$B4m$&$/;u%V%i%7$rJX4o$KMn$H$9$H$3$m$@$C$?(Bwwwwwwww $B4m5!0lH15_=P(Bwwwwwwwwwwwww</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F2%2F%2F11" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F2%2F%2F11" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d7" class=" body section">
       <h2><a href="/~wakaba/d/d200902#d07" class="self"
       >2009$BG/(B2$B7n(B7$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d7-1" class=" section">
<h3><a href="#d7-1" class="self">$B!y(B</a> $B$$$D$b$NJJ$G(B (@14:08 +09:00)</h3>
<p>$B$$$D$b$NJJ$G(BJR$B$NFC5^>h$k$N$K(BPiTaPa$B;H$C$F$7$^$C$?(Borz</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F2%2F%2F7" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F2%2F%2F7" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d5" class=" body section">
       <h2><a href="/~wakaba/d/d200902#d05" class="self"
       >2009$BG/(B2$B7n(B5$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d5-1" class=" section">
<h3><a href="#d5-1" class="self">$B!y(B</a> $B$M$.$r;}$C$F$$$k?M$r8+$k$H=i2;$r;W$$=P$9(B (@21:18 +09:00)</h3>
<p>$B;DG0$J$,$iC1$J$kGc$$J*5"$j$N$*$P$5$s!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F2%2F%2F5" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2009%2F%2F2%2F%2F5" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div class="footer">

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
 (<a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200901">$BA07n(B</a>,
 <a rel="next" href="d200903">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>)]
</div>

</div>

</body>
</html>
