<!DOCTYPE html []>
<html lang="ja">
<head>
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B4$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2003$BG/(B4$B7n$N<cMU$N0-9T$N5-O?!#(B
" />
<link rev="made" href="mailto:w@suika.fam.cx" title="$B$o$+$P(B" />
<link rel="contents" href="list" title="$B7n$N0lMw(B" />
<link rel="prev" href="d200303" title="$BA07n(B" />
<link rel="next" href="d200305" title="$BMb7n(B" />
<link rel="contents" href="d200304+summary" title="$BOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200304" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B
4$B7n(B)" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.png" type="image/png" />
<link rel="help" href="/~wakaba/who?" title="$B<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd" title="Public Domain.">
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="stylesheet alternate" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet alternate"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="stylesheet alternate"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="stylesheet alternate"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="stylesheet alternate"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B4$B7n(B)</h1>

<div id="intro">
[<img src="favicon" alt="$BE_F|(B" class="favicon">
  (<a href="list" rel="index" title="$BF|5-$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="d200304++summary" title="$B:#7n$N8+=P$70lMw!#(B">$BMWLs(B</a>,
   <a href="../who?" title="$BF|5-=q$$$F$k<cMU$N@5BN$KGw$k(B!?">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)
]
[$BEE;R%K%e!<%9(B
  <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9AH(B suika.robamimi ($B$9!z$`$N<*$OqfGO$N<*(B)">$B$m$P<*(B</a>,
]
[
[Chat 
  [<a href="../-temp/wkchat/chat1" title="$B?M9)L5G=$`(B*$B$97/$,(B24$B;~4V$"$J$?$NAj<j$r$9$k(B Web chat $B5!9=!#(B">$B$`(B*$B$9Cc(B</a>]
  [<a href="/~rei/cgi-bin/moonlight/">$B7n8wCc(B</a>]
]
]
</div>
<div id="d2" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:2" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B2$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d2-1" class=" section">
<h3><a href="#d2-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B@83h(B]</span>
</span>
$BCk?)8Qq;q+(B</h3>
<p>$B:rF|$OD4;R$,0-$/$F0lF|Cf?2$F$^$7$?!#:#$^$G$NHh$l$,$I$C$H=P$?$H$$$&$3$H$K$G$b$7$F$*$-$^$7$g$&!#:#F|$b$^$@$@$k$$$G$9!#(B</p><p>9:30$B$+$i(B14:30$B$^$GMz=$;XF3$,$"$C$FBg3X$X9T$C$F$-$^$7$?!#Ck?)$O(B Don Don $B$G8Qq;q+$r?)$Y$^$7$?!#!o(B160$B!#8Q$O$G$C$+$$$N$,0l$D!#(B</p></div><!-- class="section" -->
<div id="d2-2" class=" section">
<h3><a href="#d2-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$BMz=$;XF3(B</h3>
<p>$B3XItD9$NOC(B, $BFCJL9V5A!X@8BV%j%:%`$H$J$s$H$+!Y$N8e!"3X2J$4$H$KJ,$+$l$FMz=$$N@bL@$H;qNA$NG[I[!&2s<}$,$"$j$^$7$?!#(B</p><p>$B3XIt$+$i$N%"%s%1!<%H$H3X2J$+$i$N%"%s%1!<%H$,$"$j$^$7$?!#3XIt$+$i$N$K$O!"A*Br$NF05!$H$+BN832q$NN`$N;22C>u67$,J9$+$l$^$7$?!#3X2J$+$i$N$K$O!"<!$N$h$&$J$3$H(B ($B$&$m3P$((B) $B$,J9$+$l$F$^$7$?!#(B</p><ul><li>$B<+M3$K;H$($k%Q%=%3%s$r;}$C$F$$$^$9$+(B?</li><li>$B%W%m%P%$%@$K2CF~$7$F$$$^$9$+(B?<sup><a href="#d2-2-fn1" class=" fn_anchor">*1</a></sup> </li><li>Web $B%Z!<%8(B ($B%[!<%`%Z!<%8(B) $B$d%a!<%k$r;H$C$?$3$H$O$"$j$^$9$+(B?</li><li>$B5DO@$OF@0U$G$9$+(B?</li><li>$BBg3X$G$d$j$?$$$3$H$O2?$G$9$+(B? ($B5-=R(B)</li><li>$B@h@8J}$K8@$$$?$$$3$H$,$"$l$P(B ($B5-=R(B)</li></ul><p>$BK?;dN)Bg3X$N!X(BIT$BJ,Ln$N@lLg2H$r4uK>$5$l$?3'MM$X(B10$B$N<ALd!Y(B<sup><a href="#d2-2-fn2" class=" fn_anchor">*2</a></sup> $B$KHf$Y$k$H?oJ,4JC1$J%"%s%1!<%H$@$H8@$($^$9!#(B</p><ol class="footnote">
<li id="d2-2-fn1">$B$o$+$P$N8D?ME*8+2r$G$O!"%W%m%P%$%@(B = $BDs6!<T$K!V2CF~!W$9$k$N$OJQ(B ($B=P;q$+$J$s$+(B?) $B$@$H;W$&$s$G$9$,!"$I$&$G$7$g(B? ($B$H$$$&$+$=$l$J$i$$$$$($HEz$($k$Y$-$@$C$?(B?)</li>
<li id="d2-2-fn2">$B$b$A$m$s!"86J8$G$OC1$J$k%"%s%1!<%H$H$7$+=q$+$l$F$^$;$s!#$o$+$P$,>!<j$K!V(B10$B$N<ALd!W$K$7$A$c$C$?$@$1$G$9(B(w</li>
</ol></div><!-- class="section" -->
<div id="d2-3" class=" section">
<h3><a href="#d2-3" class="self">$B!y(B</a> $B5_5^<V(B</h3>
<p>$BF;$N8~$+$$$KIB1!$,$"$k$+$i$@$H;W$&$s$G$9$,!"0lF|$K2?EY$b5_5^<V$N2;$,J9$3$($^$9!#J*A{$G$9$M$'!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B2$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F2" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F2" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d3" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:3" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B3$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d3-1" class=" section">
<h3><a href="#d3-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
$B%]%1%b%s(B</h3>
<p>$B:rF|$NM<J}!"%F%l%SOB2N;3$G!X%]%1%b%s!Y$d$C$F$^$7$?!#N.@P$K2h<A$O0-$$$N$G$9$,!"8+$k$K@d$($kHO0OFb$G$7$?!#OC$O%"%/%"CD$,(B(ry$B!#(B</p></div><!-- class="section" -->
<div id="d3-2" class=" section">
<h3><a href="#d3-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
$B%I%i$($b$s(B</h3>
<p>$B:#(B ABC $B%F%l%S$G!X%I%i$($b$s!Y(B($B1G2h(B?)$B$d$C$F$k$s$G$9$,!#(B</p><p>$B%T%s%A$K4Y$C$?$i%?%$%`%^%7%s$G$*K_$N<+J,C#$rO"$l$F$-$FCg4V$K$7$F$_$?$jL5Cc6lCc$8$c$s!#$G!";~6u$OGK2u(B ($B$5$l$?$K0c$$$J$$!#(B) $B$7$?$/$;$K?J2=5B$r;&$9$N$O2D0&$=$&$@$H$+8@$C$F$k$N!#$b$&(B(ry<sup><a href="#d3-2-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d3-2-fn1">$B$G!"8e$G!VK:$l$mAp!W$G5-21$@$1$OD4@0$7$F$k!#$N$s$-$J?MC#$@$3$H!#$C$F$$$&$+$3$l!"Bg3"F|$NHVAH$i$7$$!#(B</li>
</ol></div><!-- class="section" -->
<div id="d3-3" class=" section">
<h3><a href="#d3-3" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B@83h(B]</span>
</span>
$B?7J94+M6(B</h3>
<p>$B:rF|$OLk(B8:30$B:"$KD+F|?7J9$N4+M60w$,2s$C$F$?$_$?$$$G$9!#$&$A$K$bMh$^$7$?$,!"?2$?8e$@$C$?$N$G??$C0E$G!"$$$J$$$H;W$C$?$N$+%T%s%]%s$C$FLD$kE[LD$i$7$?$@$1$G<!$K9T$C$A$c$$$^$7$?!#(B</p><p>$B%I%"$K<*4s$;$FJ9$$$F$^$7$?$,(B(w)$B!"B>$NIt20$G$O?oJ,$3$C$F$jD9OC$7$F$?$h$&$G$9!#7k6IGc$C$F$b$i$($J$+$C$?$_$?$$$G$O$"$j$^$9!#(B</p><p>$B$3$NA0Mh$F$C$?FIGd$N?M$O=i$a$+$iD|$a$F$k$N$+!"AFIJ$*$$$F$C$?$@$1$G$"$C$5$j5"$j$^$7$?$,$M$'!#(B</p></div><!-- class="section" -->
<div id="d3-4" class=" section">
<h3><a href="#d3-4" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
$B%]%1%b%s(B (2)</h3>
<p><a href="/~wakaba/d/d200304#d3-1">$B:rF|$N%F%l%SOB2N;3$NJ|Aw(B</a>$B$N<!$N2s$r:#F|%F%l%SBg:e$G$d$C$F$^$7$?!#OB2N;3$G$O0l=54VCY$l$GN.$l$F$k$C$F$3$H$G$9$+(B?</p><p>$B?7J9$b%$%s%?!<%M%C%H2s@~$b$J$$$N$G%F%l%SHVAHI=$5$(8+$l$^$;$s$N$OITJX$@$J!<!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B3$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F3" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F3" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d6" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:6" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B6$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d6-1" class=" section">
<h3><a href="#d6-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
$B%F%l%S$G$b8+$k$+!#(B</h3>
<p>$BFC$K$9$k$3$H$bL5$$KhF|$J$N$G!"%F%l%S$G$b8+$k$+$H;W$C$F8+$F$kKhF|$J$N$G$9$,!"?7J9$b2?$b$J$$$N$G2?$r$d$C$F$$$k$N$+$b$o$+$i$J$$$N$G$7$F!#(B</p><p>$B$H;W$C$F$$$?$i!"K??7J9$N?M$,>!<j$KCV$$$F$C$?Cf$K0l=54VJ,$N%F%l%SHVAHI=$,$"$C$F!#5$$,Mx$$$F$^$9!#(B<sup><a href="#d6-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d6-1-fn1">$B$G$bGc$o$J$$$h!A$s!#(B</li>
</ol></div><!-- class="section" -->
<div id="d6-2" class=" section">
<h3><a href="#d6-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B@83h(B]</span>
</span>
$BCO?^$,M_$7$$(B</h3>
<p>$BLBO)$_$?$$$K$/$M$/$M$7$?F;$P$C$+$G!"$I$&$J$C$F$$$k$N$+$h$/$o$+$i$s!#$3$N6a$/$O!#$J$s$H$J$/Jb$$$F$_$?$i$$$D$N$^$K$+L\E*CO$KCe$$$F$?!"$H$+!#IT;W5D$J$H$3$m$G$9!#(B</p><p>$BIT;W5D$J$@$1$G$J$/!"$I$3$NF;$b:d$P$+$j$G$9!#39$NCf$K;3$,$"$k!"$H$$$&$h$j$`$7$m5V$N>e$K39$,$"$k$N$G$9$+$i!"EvA3$H$$$($PEvA3$G$9!#(B</p></div><!-- class="section" -->
<div id="d6-3" class=" section">
<h3><a href="#d6-3" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
$B$($J$j$+$:$-(B</h3>
<p>$BCk!"!X$($J$j$+$:$-$N>/G/C5De;v7o$G$4$6$k(B! $B-!!Y(B ($B:FJ|Aw$i$7$$!#(B) $B4Q$F$?$s$G$9$,!#(B</p><p>$B$3$NLr$N$($J$j%?%s8+$F$k$H!"(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%B3%AB%A4%AF%A4%F3">$B3+$/$s(B</a>$B$N$3$H$r;W$$=P$7$^$9$N$G$9!#(B</p></div><!-- class="section" -->
<div id="d6-4" class=" section">
<h3><a href="#d6-4" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
$BIpB"(B</h3>
<p>$BHVAHI=$K$h$k$H(B BS2 $B$G$OIpB"%?%s$N1G2h(B2$BO"H/(B?<em class="2ch">NHK $BI,;`$@$J(B</em>$B$H$+8@$C$F$_$?$/$J$j$^$9!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B6$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F6" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F6" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d7" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:7" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B7$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d7-1" class=" section">
<h3><a href="#d7-1" class="self">$B!y(B</a> $B@iN$Cf1{$X9T$/!#(B</h3>
<p>$B@iN$Cf1{(B<sup><a href="#d7-1-fn1" class=" fn_anchor">*1</a></sup> $B9T$C$FF|8~$\$C$3$7$F$^$7$?(B($BFf(B)$B!#0lF|Cf$]$+$]$+$7$FCH$+$+$C$?$G$9!#(B</p><p>$B%Y%s%A$K:B$C$F$$$?$iNY$K:B$C$?$*$8$5$s$KOC$7$+$1$i$l$^$7$?!#<c$$$N$O$$$$$J$"$H8@$C$F$$$^$7$?!#(B</p><ol class="footnote">
<li id="d7-1-fn1">$B%b%N%l!<%k$H;dE4$N1X$,$"$C$F!"$G$C$+$J$*E9$H$+6d9T$H$+?'!9$,=8$^$C$F$k$H$3$m!#I{ET?4(B(?)$B$i$7$$!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B7$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F7" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F7" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d8" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:8" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B8$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d8-1" class=" section">
<h3><a href="#d8-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$BF~3X<0(B</h3>
<p>$BF~3X<0$G$7$?!#2q>l$,Bg:eI\N)BN0i2q4[$H$d$i$G!"FqGH$K$"$j$^$9!#$o$6$o$6$=$s$J1s$$$H$3$m$G$d$i$J$/$F$b$$$$$N$K!"Hh$l$^$9!#(B</p><p>$B$h$/%F%l%S$H$+$K=P$F$/$k%0%j%3$NAv$C$F$k$*7;$5$s(B(?)$B$N4GHD$NA0$N66(B ($BF;F\KY$N!#(B) $B$bDL$j$^$7$?!#%+%a%i$G4GHD$H$+$r;#$C$F$k?M$,2??M$b$$$^$7$?!#(B</p><p>$BF~3X<0$NM=Dj;~9o$N0l;~4VA0$/$i$$$K2q>l$K$D$$$?$s$G$9$1$I!"(B ($B8e$+$iJ,$+$C$?$N$G$9$,(B) $B$^$@=`HwCf$GF~$C$F$O$$$1$J$+$C$?$_$?$$$G$7$?!#$=$s$J$3$H=q$$$F$b$J$+$C$?$7Hb$b3+$$$F$$$?$N$GF~$C$FCf$GLB$C$F$^$7$?(B(w$B!#F~>l$K$OF~3X5v2D>Z$,I,MW$C$F=q$$$F$"$C$?$N$K!"%N!<%A%'%C%/$GF~$l$^$7$?$h!#(B<sup><a href="#d8-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$=$N8e!"$A$c$s$H<uIU$rDL$C$??M!9$,$d$C$FMh$?(B<sup><a href="#d8-1-fn2" class=" fn_anchor">*2</a></sup> $B$s$G!"$=$l$KJ6$l$FF~>l$5$;$F$b$i$$$^$7$?!#$h$C$F:G=i$NJ}$G!"A0$+$i(B2$BNsL\$NC<$C$36a$/$N@J$K$J$j$^$7$?!#(B</p><ol class="footnote">
<li id="d8-1-fn1">$B@^3QM&5$=P$7$F%5!<%/%k$N4+M6?X$NNs$r@x$jH4$1$?$N$r=P$F9T$/5$$K$b$J$i$J$$$7!#$G!";EJ}$J$$$+$iO-2<$r$&$m$&$m$7$F$?$i!"$=$3$O95<<$H$+$NA0$@$C$?$_$?$$$G!#(B</li>
<li id="d8-1-fn2">$B1?$,NI$$$3$H$KF~$j8}$+$i2q>l$X$NDLO)$NOF$NJ*1"$K$?$I$jCe$$$F$$$?$s$G$7$?!#(B</li>
</ol></div><!-- class="section" -->
<div id="d8-2" class=" section">
<h3><a href="#d8-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[<img src="favicon" class="favicon" alt="$BE_F|(B" />]</span>
</span>
$B$o$+$P%?%s!"%M%C%H%o!<%/3&$KI|5"(B</h3>
<p>$B$h$&$d$/%M%C%H%o!<%/2s@~$r3NJ]$G$-$^$7$F!"(B PHS $B$N(B 64kbps $B$N$H$C$F$bCY$$(B<sup><a href="#d8-2-fn1" class=" fn_anchor">*1</a></sup> $B4D6-$G$O$"$j$^$9$,!"$(!<$C$H!"0J2<N,!#(B</p><p>$B0JA0$K(B4$BF|%M%C%H%o!<%/$+$iN%$l$F$$$?$i@$3&$,JQ$o$C$F$$$?$H?=$7$^$7$?$3$H$,$"$j$^$7$?$,!":#2s$O(B10$BF|Dx$ND94|5Y2K$rD:$$$F$*$j$^$7$?$o$1$G$7$F!"$=$NJ@32$N0lNc$H$7$^$7$F$O!"L$FI%a%$%k?t$,(B4$B7e$KGw$k@*$$(B<sup><a href="#d8-2-fn2" class=" fn_anchor">*2</a></sup> $B$G0J2<N,!#(B</p><p>$B@Q$b$kOC(B($BFf(B)$B$O$^$?$$$:$l5!2q$,$"$l$P$=$N;~$K!#(B</p><p>$BDI?-!"%M%C%H%o!<%/$H$N@\B3$r<:$C$?(B<a href="/~wakaba/d/d200303#d29">3$B7n(B29$BF|(B</a>$B0J9_:rF|$^$G$NJ,$N!XE_F|!Y$b!"$&(Bp$B=PMh$J$+$C$?$@$1$G$A$c$s$H=q$$$F$^$9$N$G!"$h$m$7$1$l$P$40lFI2<$5$$!#(B</p><ol class="footnote">
<li id="d8-2-fn1">64k $B$GCY$$$H$O!"?oJ,;~Be$b?J$s$@$b$N$G$9!#$H$$$&$+$`$7$m!"5U$KL$$@$K(B 64k $B$J$s$FCY$$$N$,$"$k$3$H<+BN(B(ry</li>
<li id="d8-2-fn2">$B$[$H$s$I$O(B ML $B08$G$7$+$bBg$7$?FbMF$G$O$J$$$HM=A[$5$l$k$N$G$9$,!"%A%'%C%/$7$F<N$F$k$@$1$G$bBgJQ$J<j4V$G0J2<N,!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B8$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F8" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F8" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d9" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:9" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B9$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d9-1" class=" section">
<h3><a href="#d9-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[<img src="/~wakaba/art/icon/tomikou-c" class="favicon" alt="$B$H$_$3$&(B" />]</span>
<span class="cat">[$BM}?t2J(B]</span>
</span>
$B$;$C$-!<$5$^!y(B</h3>
<p><a href="http://www.tomikou.net/keijiban/keijiban.php">$B$H$_$3$&7G<(HD(B</a>$B$K!V?7$7$/E>G$$5$l$?@P8M@h@8!W$NOC$,:\$C$F$$$?$N$G(B<a href="http://www.pref.toyama.jp/sections/3001/kyoH150401idoh012.html">$B?M;v0[F0$NI=(B</a>$B$rD4$Y$F$_$?$i!"$d$C$Q$j$=$&$@$C$?$N$G$9$+!#$=$&$J$N$G$9$M(B?</p></div><!-- class="section" -->
<div id="d9-2" class=" section">
<h3><a href="#d9-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$BBNNOB,Dj(B</h3>
<p>$BK-Cf%-%c%s%Q%9$NBN0i4[$G$"$j$^$7$?!#H?I|2#D7$S$H$+$d$j$^$7$?!#(B</p><p>$B990a<<$G!"N13X@8$C$]$$?MC#$K%<%C%1%s(B<sup><a href="#d9-2-fn1" class=" fn_anchor">*1</a></sup> $B$O$I$3$G$b$i$($k$N$+(B? $B$HJ9$+$l$^$7$?!#@86($N$*E9$GGd$C$F$k$H65$($F$"$2$?$1$I!"$A$c$s$H$?$I$j$D$1$?$+$J!<(B? $B$H$$$&$+A0$NF|$N$&$A$K=`Hw$7$F$*$-$^$7$g$&!#(B</p><p>$B$H$O$$$&$b$N$N$3$N%<%C%1%s!"MQ0U=A$H$$$&$+$iMQ0U$7$?$N$K!"L>A03NG'$5$l$k$o$1$G$b$J$s$G$b$J$$!"Lr$KN)$?$J$$$8$c$s!#$D$1$F$J$$?M$b$$$?$J!#(B<sup><a href="#d9-2-fn2" class=" fn_anchor">*2</a></sup> $B$`$7$mCe$1$F$k$H!"ESCf0\F0$9$k;~$KIt$H$+$N4+M6$N?M$K!V%o%+%P%?%s!"2?$H$+ItF~$C$F$A$g!y!W$H$+L>;X$7$G;f$rEO$5$l$A$c$&=t?O$N7u!#(B</p><p>$B$H$3$m$G!"(B<a href="http://niigata.cool.ne.jp/wakaba2001/temp/i/memo.ja.xml">$B7G<(HD$J$I$+$iF@$?9V5A$N>pJs$N%a%b(B</a>$B$r:n$C$F$_$^$7$?!#(B ($B$J$<$+(B XML $B$NFf%^!<%/IU$1$G!#(B)<sup><a href="#d9-2-fn3" class=" fn_anchor">*3</a></sup> </p><ol class="footnote">
<li id="d9-2-fn1">$B%@%5$$!#%@%5$$$H$$$($P!"$A$e!<$V$GBN0iMQ$N7$$N$D$^@h$N$H$3$m$KL>A0=q$+$;$i$l$?$N$b%@%5$$$H;W$C$?$1$I!"$9$047$l$F$7$^$C$?$J!<!#(B</li>
<li id="d9-2-fn2">$B$o$+$P$bESCf$GC&$$$@!#(B</li>
<li id="d9-2-fn3">$B$G$b%W%m%0%i%_%s%0(BA$B$N>l=j$NOC$H$+$O(B Web $B$N$*CN$i$;$K:\$C$F$J$$$N$+$J$"!#$=$&$$$&$N$,$"$k$i$7$$J8=q$O3X30$+$i$O(B 403 $B$G8+$l$J$$$s$@$h$J$"!#!#!#(B</li>
</ol></div><!-- class="section" -->
<div id="d9-3" class=" section">
<h3><a href="#d9-3" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B8@8l(B]</span>
</span>
$B4X@>J[(B</h3>
<p>$B$=$&$=$&!"!V<+J,!W$C$F(B2$B?M>N$J$s$G$9$h$M!#CN$C$F$O$$$?$1$I$$$68@$o$l$F$_$?$i%O%!(B??$B$_$?$$$J!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B9$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F9" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F9" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d10" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:10" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B10$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
<span class="var T2">2$B8B(B:$B%/%i%9:)CL2q(B</span>
</div><!-- header -->

<div id="d10-1" class=" section">
<h3><a href="#d10-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B%/%i%9JL:)CL2q(B</h3>
<p>$B%/%i%9JL:)CL2q$J$k$b$N$,$"$j$^$7$?!#%m(B205$B9f<<$H$+$$$&$H$3$m$G$7$F!"$h$/$o$+$i$J$$$1$IE,Ev$KJb$$$F$$$C$?$i$$$D$N4V$K$+$D$$$F$^$7$?(B($BFf(B)$B!#(B</p><p>$B3FIt20$NA0$K$ONc$N(B<a href="/~wakaba/-temp/wiki/wiki?mycmd=read;mypage=%C6%FE%B3%D8%A5%A2%A5%EB%A5%D0%A5%E0">$BF~3X%"%k%P%`(B</a>$B$N?M(B($BC/(B)$B$,$$$^$7$F!"F~3X<jB3$-$N;~$K<L??$r;#$C$F$J$$?M$r$o$6$o$6D4$Y$F;#$k$h$&6/@)$7$F$^$7$?!#(B</p><p>$B$G!"<u$1<h$C$?!"A43X6&DL650i5!9=$N9V5A$NMz=$?=@A$N7k2L$r$b$H$KCk$+$i:#$^$G8^;~4V3]$1$F652J=q$H$+=t!9%A%'%C%/$7$F$^$7$?!#(B<sup><a href="#d10-1-fn1" class=" fn_anchor">*1</a></sup> $B$a$s$I$/$;!<!#(B</p><p>$B$D$$$G$K3FC4Ev6541EB$N(B Web site $B$b%A%'%C%/$7$F$?$N$G$9$,!"9V5A$N>pJs$I$3$m$+$=$N@h@8$N>R2pJG$5$(L5$$$N$b$"$j$^$7$F!#M}7O(B, $BFC$K7W;;5!7O$N8&5f<<$J$I$[$I$7$C$+$j$7$F$$$k798~$,$"$j$^$9$,$I$3$b$+$7$3$bIT;W5D%^!<%/IU$1$J(B($B0J2<<+=M(B)$B!#(B</p><p>$B$H$$$&$+3FC4Ev6541EB!"$;$a$F>R2pJG$/$i$$8&5f<<$N3X@8$K$G$bMj$s$G:n$C$F$/$@$5$$!#$H8@$C$F$_$k%F%9%H!#(B</p><ol class="footnote">
<li id="d10-1-fn1">$BESCf$G?oJ,C&@~$7$F$^$7$F0J2<N,!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B10$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F10" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F10" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d12" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:12" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B12$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d12-1" class=" section">
<h3><a href="#d12-1" class="self">$B!y(B</a> $B?7J9$N?M(B($BFf(B)</h3>
<p>$B:#F|$OK?M-L>?7J9$NHNGd0w$N?M$,B7$C$F(B ($B$b$A$m$s;~4V$O$:$l$F$$$?$,!#(B) $B8+;2$J$5$C$F!"HNB%$K$D$H$a$F$$$i$C$7$c$$$^$7$?!#$46lO+$J$3$H$G!#(B</p><p>$B:G=i$KMh$?K??7J9$N?M$O0';"$+$i;O$^$C$?$N$K!"<!$KMh$?K??7J9$N?M$O$$$-$J$jCMCJ$NOC!#7n(B3000$B1_$@$1$IFCJL$K(B4000$B1_$N?^=q7t$/$l$k$s$@$C$F!#(B ($B85$+$iFI$_$?$+$C$??M0J30$G$=$s$J$N$KD`$i$l$k?M$C$F$$$k$s$+$M(B?) $B$&$A$KMh$?;~$O:G=i$K$A$c$s$H?7J9L>L>>h$C$F$?$1$I!"NY$NNY$N=;?M$KBP$7$F$OHb$,3+$/$J$jCMCJ$NOC$G$9$h!#(B</p><p>$B$^!"$I$C$A$N?7J9$bMW$j$^$;$s$,!#;fG^BN$J$s$F0J2<N,!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B12$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F12" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F12" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d13" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:13" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B13$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d13-1" class=" section">
<h3><a href="#d13-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B;6Jb(B</h3>
<p>$B;6Jb$,$F$i:eBg$^$G!#(B</p><p>$BJL$K;6Jb$,$7$?$+$C$?$o$1$G$O$"$j$^$;$s$G!"652J=qGd$j>l$OF|MKF|$b1D6H$7$F$$$k$N$@$H$$$&1=$rJ9$$$?$N$G!"$b$7K\Ev$K$d$C$F$l$PGc$C$F$3$h$&$H;W$C$?$o$1$G$9!#(B</p><p>$B$G!"9T$C$F$_$^$7$?$,!"$d$C$Q$j$d$C$F$J$/$F!#$^$"$=$s$J$b$s$G$7$g$&!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B13$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F13" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F13" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d14" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:14" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B14$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d14-1" class=" section">
<h3><a href="#d14-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B652J=q(B</h3>
<p>$B652J=q$rGc$$$K9T$-$^$7$?!#@86($N0FFb$K$O(B4$BK|$/$i$$$9$k$H=q$$$F$"$C$?$N$G$9$,!"<B:]$K$O(B1$BK|?t@i1_DxEY$G$7$?!#(B<sup><a href="#d14-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d14-1-fn1">$B3X2J$H$+Ev$?$C$?@h@8$H$+$K$b$h$k$s$G$7$g$&!#(B</li>
</ol></div><!-- class="section" -->
<div id="d14-2" class=" section">
<h3><a href="#d14-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B=i$a$F$N<x6H(B</h3>
<p>$B$H$$$&$o$1$G(B($BFf(B)$B:#F|$,:G=i$N<x6H$NF|$@$C$?$N$G$7$?!#:#F|$^$G(B ($BF~3X<0$H$+$O$"$C$?$1$I(B) $B<x6H$,L5$+$C$?$+$i$^$@7n=i$a$N$h$&$J5$$,2?$H$J$/$7$F$$$k$N$G$O$"$j$^$9$,!"F|IU$r8+$l$P$b$&CfHW(B, $B$H$$$&$+$I??$sCf$G$O$"$j$^$;$s$+!#(B</p><p>$B$^$"$=$l$O$5$F$*$-!#(B1$B8BL\$O6u$-;~4V$G$N$s$S$j652J=qGc$$!#(B<sup><a href="#d14-2-fn1" class=" fn_anchor">*1</a></sup> </p><p>2$B8BL\$O1Q8l$@$C$?$s$G$9$,!"(BLL$B65<<$G!"4y$K%+%;%C%H!&%F!<%W:F@85!(B<sup><a href="#d14-2-fn2" class=" fn_anchor">*2</a></sup> $B$H$+%X%C%I%[%s$H$+$,$/$C$D$$$F$^$7$?!#(B</p><p>3$B8BL\$O%W%m%0%i%_%s%0(BA$B$G$7$?$,!":G=i$J$N$G;H$$J}$N@bL@!#(B<a href="http://www.cmc.osaka-u.ac.jp/">CMC</a>$B$N<B=,<<$N7W;;5!$K$O(B Vine Linux + GNOME<sup><a href="#d14-2-fn3" class=" fn_anchor">*3</a></sup> $B$,F~$C$F$^$7$?!#(B Mozilla $B$O(B 1.2 $B$G!"$$$^$o$+$P$,;H$C$F$$$k(B 1.3 $B$H@_Dj9`L\$H$+$,HyL/$K0c$C$F$^$7$?!&!&$C$FJL$K(B Mozilla $B$N@_Dj$r$$$8$k<x6H$r$7$F$$$?$N$G$O$J$/$F!"%m%0%$%s!&%m%0%"%&%H$N;EJ}$H$+9g8@MU$NJQ99$H$+$NOC$r$7$F$^$7$?!#:G=i$O%/%j%C%/$H$O2?$>$d$H$+OC$7$F$^$7$?$1$I!"4v$i$J$s$G$b$=$l$bCN$i$:$K$&$A$N3X2J$KF~$C$F$/$k?M$,$$$k$s$G$7$g$&$+$M$'!#$^$"5$$K$7$^$;$s$,!#(B</p><p>4$B8B$O(B PBL$B!#A0$N<x6H$,=*$o$C$F=P$F9T$/$H$-$N$s$S$j$7$F$?$i!"3+;O$.$j$.$j$K$J$C$F$7$^$C$F!"92$F$F9V5A<<$K9T$3$&$H$7$?$i0l$D2<$N3,$G!"It20HV9f8+$F$S$/!<$j!#$G!"@5$7$$It20$K9T$C$?$i!"C/$b$$$J$/$F9uHD$K$O!V(BI$BEo$G$d$j$^$9!W!#(BI$BEo$C$F$I$3$h(B? $B$H$$$&$3$H$GCO?^8+$FE~Ce$7$?$i(B5$BJ,DxCY$l$^$7$F!#$G$b!"It20$NF~$j8}$,(B<del>$B;&H2$H(B</del><ins>$B:.;((B</ins>$B$7$F$$$^$7$F!"$^$@;O$^$C$F$J$+$C$?$h$&$G$h$+$C$?$G$7$?(B($BFf(B)$B!#(B</p><p>$B$G!"$3$N(B PBL $B$C$F$N$O!">/?M?t$NHI$G8&5f<<$K(B<del>$B@x(B</del>$BF~$7$F!"M?$($i$l$?%F!<%^$K$D$$$F5DO@$7$?$j%$%s%?%S%e!<$7$K9T$C$?$j$9$k$d$D$G!"(B4,5$BG/A0$K;O$^$C$?$s$@$=$&$G!#2?$+LLGr$=$&$G$9!#$=$l$K(B ($B$3$N<x6H$K8B$j$^$;$s$,(B) $B?'!9$JM-L>$J?M$,L\$NA0$G9V5A$7$F$?$j$9$k$N$O$9$4$$$G$9!#(B</p><p>$B$H$$$&6q9g$G=q$$$F$k$H!":#=5(B1$B=54VKhF|$3$s$JOC$GF|5-$,Kd$^$j$=$&$G$9$1$I!"$=$s$J$3$H$OB?J,$J$$$G$9!#(B</p><ol class="footnote">
<li id="d14-2-fn1">1$B;~4VL\6u$-$N?M$O7k9=$$$k$_$?$$$G!"652J=qGd>l$O?oJ,Fx$o$C$F$^$7$?!#(B</li>
<li id="d14-2-fn2">$BB?J,%l%3!<%@!<$G$O$J$/$F:F@8@lMQ$@$H;W$&!#(B</li>
<li id="d14-2-fn3">$B1=$K$OJ9$$$F$^$7$?$,!"K\Ev$K(B Windoze $B$H$*$s$J$8$h$&$J$b$N$J$s$G$9$M!#(B GNOME $B;H$C$?$N$O<B<A=i$a$F$G$7$F!#(B</li>
</ol></div><!-- class="section" -->
<div id="d14-3" class=" section">
<h3><a href="#d14-3" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B<+8J>R2p(B</h3>
<p>$BG/F,$GLq2p$J$3$H$O?'!9$"$j$^$9$1$I!"$=$N$&$A$N0l$D$,<+8J>R2p!#2?$r>R2p$9$l$P$$$$$N$+$$$D$b:$$C$F$7$^$$$^$9(B<sup><a href="#d14-3-fn1" class=" fn_anchor">*1</a></sup> $B!#(B</p><p>$B$G!"3X2J$N<+8J>R2pK\:n$k$+$i<+8J>R2p$7$m%3!+%k%!$H$$$&!V2]Bj!W$,=P$F$k$s$G$9$1$I!"2?=q$1$PNI$$$G$7$g$&$+!#;z?t$,(B100$B;z0J>e(B200$B;z0J2<$H;XDj$5$l$F$k$s$G!"DjHV$N!V$h$m$7$/$*4j$$$7$^$9!W$G$OKd$^$i$J$$$7$J$"!#(B</p><p>$B$H$$$&$3$H$G$3$NF|5-$NFI<T$N3'MM$+$i$N=u8@$r4uK>$7$^$9!#$$$$=u8@$,F@$i$l$l$P!":nJ87k2L$O$$$:$l$3$NF|5-$G>R2p$7$^$9!#(B</p><ol class="footnote">
<li id="d14-3-fn1">$B$"!"<+8J$+!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B14$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F14" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F14" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d15" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:15" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B15$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" /><img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d15-1" class=" section">
<h3><a href="#d15-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
CMC</h3>
<p><a href="http://www.cmc.osaka-u.ac.jp/">$B%5!<%P!<%a%G%#%"%;%s%?!<(B (CMC)</a>$B!"$J$K$d$i3J9%NI$$L>A0$G$9$,!"MW$9$k$K7W;;5!$,0lGU$"$k$H$3$m$G$9!#(B</p><p>$B2?$,$9$4$$$+$C$F!"(B ($B7W;;5!$N?t$,0lGU!"$H$+$O$=$&$$$&$H$3$m$J$N$@$+$iEv$?$jA0$H$7$F!"(B) $B%5!<%P!<$NL>A0$,$9$4$$$s$G$9!#3X@88~$1$N(B CMC $B$+$i$N>pJs$N$"$k(B Web $B%5!<%P!<$NL>A0$,!V(Bwebserver$B!W!#%a%$%kAw?.%5!<%P!<$NL>A0$,!V(Bsmtpserver$B!W!#6z$NL>A0$O!V(Bproxyserver$B!W!#0J2<F1J8(B($BFf(B)$B!#(B</p><p>$B9V5A$N=P@J$O!"%m%0%$%s!A%m%0%"%&%H$N;~4V$N5-O?$r8+$FH=CG$9$k$s$@$=$&$G$9!#(B ($B$b$A$m$sL\;k$8$c$J$/$F(B script $B$G?t$($k$s$G$7$g$&!#(B) $B$J$k$[$I$&$^$$$3$H:n$C$F$"$j$^$9$M!#(B</p><p>$BC<Kv$O(B IBM $B$N9u$$5!3#(B ($BFf(B) $B$@$C$?$s$G$9$1$I!"80HW$r$h$/8+$k$H!V(BA$B!W$N80$NNY$K!V(BCtrl$B!W80$,$"$k$s$G$9(B($B>P(B)$B!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B15$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F15" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F15" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d16" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:16" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B16$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d16-1" class=" section">
<h3><a href="#d16-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$BO)>e(B(?)$B%i%$%V(B</h3>
<p>$BCk!"O)>e(B(?)$B%i%$%V$7$F$^$7$?!#$-$C$H$I$C$+$N%5!<%/%k$+$J$s$+$N?7F~@84+M6$N0l4D$G$7$g$&!#DL9T?M$,7k9=8+J*$7$F$^$7$F!"$=$&$G$J$/$F$bBg2;NL$G7zJ*64$s$GNY$NF;$^$GJ9$3$($F$^$7$?!#(B<del>$B2N$,2<<j$J$N$OL@(Br</del>$B$^$"$H$b$+$/!"Fx$d$+$J$N$O$$$$$3$H$G$9!#(B</p></div><!-- class="section" -->
<div id="d16-2" class=" section">
<h3><a href="#d16-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[Web]</span>
</span>
$B%j%s%/(B</h3>
<p>$B0l8}%a%b!#!V%j%s%/!W$O!"(B2$B$D$N!V%"%s%+!<!W$H(B1$B$D$NJ}8~(B ($B%Y%/%H%k(B) $B$G9=@.$5$l$^$9!#6qBNE*$JNc$r5s$2$k$J$i!"Nc$($P(B Web browser $B$G$h$/2f!9$,!V%/%j%C%/$9$k!W$N$,!";OE@%"%s%+!<!#Ht$s$@@h$NJ8=q$,!V=*E@%"%s%+!<!W!#$3$N;OE@$H=*E@$r7k$VLp0u$G!"%j%s%/$O9=@.$5$l$F$$$k$H9M$($^$9!#(B</p><p>$B$=$7$F!"(B ($BHfSHE*$K(B) $B;OE@$+$i=*E@$K8~$+$C$FLp0u$N>e$r0\F0$9$k$3$H$r!"!V%j%s%/$rC)$k!W$H$$$$$^$9!#(B<sup><a href="#d16-2-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d16-2-fn1">$B!V;OE@$r%/%j%C%/$9$k$3$H!W$O%j%s%/$rC)$k$3$H$G$O$"$j$^$;$s!#%j%s%/$rC)$k<jCJ$G$O$"$C$F$b!#(B ($B<B:]$?$I$C$F$J$$$G$7$g(B? $B;OE@$K?($l$?$@$1$G!#(B)</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B16$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F16" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F16" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d17" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:17" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B17$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d17-1" class=" section">
<h3><a href="#d17-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B$$$m$$$m(B</h3>
<div id="d17-1-1" class=" subsection">
<h4><a href="#d17-1-1" class="self">@</a> $B$D$$$F$J$$!#(B</h4>
<p>$B:rF|Aw$C$?2]Bj$NEE;R%a%$%k$,FO$$$F$J$+$C$?$H$+!#(B</p></div><!-- class="subsection" -->
<div id="d17-1-2" class=" subsection">
<h4><a href="#d17-1-2" class="self">@</a> $BCf4V(B</h4>
<p>$BA0$KG[$i$l$?;f$K=q$$$F$"$C$?6541!&9V5A<<!&<u9V<T$NAH9g$;$,4V0c$C$F$F!";O$^$C$F(B20$BJ,$/$i$$$G3X@8$,$_$s$JF~$lBX$o$C$?$j!#(B<sup><a href="#d17-1-2-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d17-1-2-fn1">$B$o$+$P$N$$$?It20$O@h@8$,$:$C$HMh$J$/$F!#5U$KK\Mh$o$+$P$,9T$/$Y$-$G$"$k$O$:$@$C$?It20$G$O!"0c$C$?@h@8$,0c$C$?3X@8$K9V5A$7$F$F(B(w$B!#(B</li>
</ol></div><!-- class="subsection" -->
<div id="d17-1-3" class=" subsection">
<h4><a href="#d17-1-3" class="self">@</a> $B$D$$$F$k!#(B</h4>
<p>2$B;~4VL\$N1Q8l$,(B30$BJ,$/$i$$Aa$/=*$o$C$?$s$G!"A4A3:.;($7$F$J$$(B Don Don<sup><a href="#d17-1-3-fn1" class=" fn_anchor">*1</a></sup> $B$G$N$s$S$j?);v$G$-$^$7$?!#$@$1$IE7sOMeq;q+$O3$O7$N?,Hx$,9"$K0z$C3]$+$k46?($,$$$^$$$A$@$J$"!#(B</p><ol class="footnote">
<li id="d17-1-3-fn1">$B?)F2!#(B</li>
</ol></div><!-- class="subsection" -->
<div id="d17-1-4" class=" subsection">
<h4><a href="#d17-1-4" class="self">@</a> $B$H$3$m$G!#(B</h4>
<p>$B%A%c%$%`$,LD$k$N$HF1;~$K@h@8$,F~$C$F$3$J$$$N$OMn$ACe$+$J$$$J$"!#(B3$BG/4V$A$e!<$V$G$9$C$+$j@vG>$5$l$F$7$^$C$?$_$?$$$J!#CY9o$7$??M$bF~<<=P5v2D=q;}$C$F$J$$$7(B($BGz(B)$B!#(B<sup><a href="#d17-1-4-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d17-1-4-fn1">$B$=$&$$$($PCf3X9;$G$O%A%c%$%`$,LD$C$F$+$i65<<$KLa$k$N$b$4$/(B(?)$BIaDL$@$C$?$h$J!<$H$+;W$$=P$5$l$^$9!#(B</li>
</ol></div><!-- class="subsection" -->
<div id="d17-1-5" class=" subsection">
<h4><a href="#d17-1-5" class="self">@</a> $B$=$&$$$($P!#(B</h4>
<p>$B$*Ck$K!"B@8]$N2;$,J9$3$($k$+$i$^$?2?$+1iAU2q$7$F$k$N$+$H;W$($P!"%$%i%/@oAhH?BP$N%G%b$G$7$?!#$I$&$d$i3XFb$N$"$A$3$A$K@oAhH?BP$N%S%i$r$O$C$?$j$P$i$^$$$?$j$7$F$k?MC#$N$h$&$G$9!#(B4,5$B?M$,B@8]$rLD$i$7$F6+$S$J$,$i(B<ruby><rb>$BBgDL$j(B</rb><rp>(</rp><rt>$B%a%$%s!&%9%H%j!<%H(B</rt><rp>)</rp></ruby>$B$r2?1}I|$+$7$F$^$7$?!#(B</p></div><!-- class="subsection" -->
</div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B17$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F17" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F17" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d18" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:18" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B18$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d18-1" class=" section">
<h3><a href="#d18-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[$BJ*M}(B]</span>
</span>
$BNO3X(B</h3>
<p>$BFbMFE*$K$O9b9;$NJ*M}(B IB $B$N652J=q$N:G=i$NJ}$N$3$H$r!"@h@8$,$$$-$J$j(B ($B4JC1$J(B) $BHyJ,J}Dx<0$G$5$i$5$i$H2r$$$F$$$/$b$N$@$+$i!"8MOG$&?MB?!9!#5U$K@h@8$NJ}$b!"9b9;$G$O$I$&$7$F$$$?$s$@$*$$(B? $B$H!"2?$r65$($?$i$$$$$N$+J,$+$i$J$/$F:$$C$F$$$?LOMM!#LLGr$$$J$"!#(B</p></div><!-- class="section" -->
<div id="d18-2" class=" section">
<h3><a href="#d18-2" class="self">$B!y(B</a> $BCcDR(B</h3>
<p>$B?f$->e$,$C$?$4HS$,$S$A$c$S$A$c$G!#$*$+$7$$$J$"!"$A$c$s$HCzEY?eF~$l$?$N$K!#(B</p><p>$B$*4!$K$9$k$N$b$J$s$@$+$"$l$J$N$G!"$*CcDR$1$K$7$^$7$?!#$H$$$C$F$b$"$$$K$/$*Cc$=$N$b$N$,$J$$$N$G!"$*Er$rJd=<$7$?CcOR$K%F%#!<%Q%C%/FM$C9~$s$G(B(w$B!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B18$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F18" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F18" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d19" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:19" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B19$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" /><img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d19-1" class=" section">
<h3><a href="#d19-1" class="self">$B!y(B</a> $BC581(B($BFf(B)</h3>
<p>$BMQ;v$N$D$$$G$K$A$g$$$H1s=P$7$FC581(B($BFf(B)$B$7$F$^$7$?!#$[$s$H$K:d$P$C$+$j$N39$G$9!#F;$b$/$M$/$M$7$F$F!"$I$3$K9T$/$s$@$+$5$C$Q$j$G$9!#FMA3:Y$/$J$C$?$j3,CJ$K$J$C$?$j!#9T$-;_$^$j$NF;$O0U30$HL5$/$F!"$"$C$F$b8+$F$9$0$KJ,$+$k$+4GHD$,N)$C$F$k$N$,5_$$$G$9!#(B</p><p>$B$=$7$F$3$N39!"2H$P$C$+$j$G$9!#C+$NJ}$K$O%"%Q!<%H$d%^%s%7%g%s$,$"$j$^$9$,!";3$rEP$C$F$$$/$H=;Bp39!#$?$@$7NS$dCS$d3X9;$,$U$D!<$KB8:_$7$F$?$j$b$7$^$9!#IT;W5D$J$H$3$m$G$9!#(B</p><p>$B$A$g$C$HD4;R$K>h$C$F1s=P$7$9$.$?$N$G5"$m$&$H$7$?$i!"F;$,$/$M$/$M$7$F$k$;$$$GF1$8F;$KLa$C$F$-$F$7$^$C$?$j!#4hD%$C$F:dEP$C$?$N$K!"9_$j$?$i85$NF;$@$C$?$J$s$F!"7y$K$J$C$F$-$^$9$h!#(B</p><p>$B$H$+9T$C$F$k$&$A$K!"$9$4$$5^:d$KFMF~!#(B6,70$BEY$/$i$$$"$j$^$7$?!#$=$s$J$H$3$m$K$bIaDL$K2H$,7z$C$F$?$j<V$,;_$^$C$F$?$j$9$k$s$G$9$+$i!"$V$C$?$^$2$?$b$s$G$9!#$s$G!"$=$N$^$^:d$r2<$j$F$$$C$?$i!"8+$?$3$H$N$J$$$G$C$+$JF;$K!#$3$3$O$I$3(B? $B$HJb$$$F$$$?$i!"$$$D$N4V$K$+A4$/@5H?BP!"$&$A$+$i;3$r64$s$GH?BPB&$NC+$K2<$j$F$-$F$7$^$C$F$$$?$h$&$G$9!#%2!<%`%*!<%P!<(B!</p><p>$B$G=*$o$k$o$1$K$b9T$+$J$$$N$G!"$G$ba{$K$5$o$k$N$G:#Mh$?F;$H$O0c$&F;$rNc$NG!$/$J$s$H$J$/(B ($B$G$b:d$r>e$k$N$O4hD%$C$F(B) $B?J$s$@$i!"2?$H$+2H$^$G$?$I$jCe$/$3$H$,=PMh$^$7$?!#;M==J,$/$i$$$+$+$C$?$1$I!#(B</p><p>$B$H$3$m$GESCf$G8+$+$1$?!"6a$/$N;dN)>.3X9;$N9b3XG/$/$i$$$C$]$$CK$N;RC#!"62$m$7$$$/$i$$C;$$$s$G$9!"@)I~$N%:%\%s$,!#>eCe$K1#$l$F!"%:%\%s$O$$$F$J$$$N$+$H;W$C$?$/$i$$$G$9$h!#=w$N;R$N%9%+!<%H$OIaDL$@$C$?$s$G$9$1$I!#(B<sup><a href="#d19-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d19-1-fn1">$B2?$GEZMKF|$K!&!&!&$H;W$C$?$N$G$9$,!";dN)$J$N$GEZMKF|$b<x6H$"$k$i$7$$$s$G$9!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B19$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F19" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F19" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d21" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:21" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B21$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d21-1" class=" section">
<h3><a href="#d21-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B0\F0;~4V(B</h3>
<p>$BBg3X$NI_CO$O9-$/$F!"0\F0$9$k$N$K(B5$BJ,$H$+$+$+$C$?$j$7$^$9!#(B<sup><a href="#d21-1-fn1" class=" fn_anchor">*1</a></sup> $BF0$/JbF;$H$+$"$C$?$iLLGr$$$N$K$J$"$H;W$&$s$G$9$,!#(B</p><p>$B$O$F$5$F!"<!$N<x6H$GMW$kJ*$rK:$l$?$3$H$K5$$E$$$?$o$+$P$?$s!#2H$HBg3X$N??$sCfJU$j$^$G$OJb$/$H(B15$BJ,$+$+$j$^$9!#$=$N(B ($BA0$N(B) $B<x6H$h$H$C$H$H=*$o$l(B! $B$H$$$&4j$$$b5u$7$/!"=*$o$C$?$N$O=*N;;~9o$N(B10$BJ,A0!#5Y7F;~4V$H$"$o$;$F(B20$BJ,$7$+$"$j$^$;$s!#Av$l$o$+$P(B!!</p><p>$B$H!"$$$&$3$H$G!"Av$C$F1}I|$7$F!"2H$^$G(B10$BJ,!"2H$NCf$G(B1$BJ,!"2H$+$i<!$N<x6H$N65<<$^$G(B5$BJ,$+$+$j$^$7$?!#5"$j$,0U30$HC;$$$G$9$,!"6a$a$N7zJ*$@$C$?$s$G$9!#=u$+$j$^$7$?!#$G$bHh$l$^$7$?!#(B</p><ol class="footnote">
<li id="d21-1-fn1">$B?aED%-%c%s%Q%9$O$b$C$H9-$$$i$7$$!#$b$C$H$b!"$"$C$A$O<x6H$G7zJ*$r0\F0$H$+$OL5$$$N$+$b$7$l$J$$!#(B</li>
</ol></div><!-- class="section" -->
<div id="d21-2" class=" section">
<h3><a href="#d21-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[$B>p(B]</span>
</span>
$B4?7^2q(B</h3>
<p>$B3X2J$N?7F~@84?7^2q$,$"$j$^$7$?!#0{$_J*$H$*$D$^$_$,=P$^$7$?!#(B</p><p>$B$*$D$^$_$b$$$$$G$9$,!"M<?)$b7s$M$FFy$H$+=P$7$F$/$l$?$i$J!<$H;W$C$?$j$b$7$^$7$?$,!"lTBt$O?=$7$^$;$s!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B21$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F21" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F21" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d22" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:22" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B22$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d22-1" class=" section">
<h3><a href="#d22-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[$B@86((B]</span>
<span class="cat">[$B?)F2(B]</span>
</span>
Don Don</h3>
<p>$B8Qq;q+$H$+Mqq;q+$H$+$O(B160$B1_$J$N$K!"%+%l!<q;q+$O(B290$B1_$J$s$@$J!#$"$H(B30$B1_=P$;$P(B2$BGUJ,!&!&!&$H$+;W$$$D$D$b!"$?$^$K$ONI$$$+$H;W$C$F%+%l!<q;q+$K$7$^$7$?$H$3$m!";~4V8BDj$NOBIw%i!<%a%s(B<sup><a href="#d22-1-fn1" class=" fn_anchor">*1</a></sup> $B$O$I$&$G$9$+(B<sup><a href="#d22-1-fn2" class=" fn_anchor">*2</a></sup> $B$HJ9$+$l$?$N$G!"$?$^$K$O(B($BN,(B)$B$H;W$C$FMj$s$G$_$^$7$?!#(B</p><ol class="footnote">
<li id="d22-1-fn1">$B%+%l!<q;q+$N?)7t$GMj$a$k$i$7$$!#N><T$N4XO"$OFf$@$,!"C1$KCMCJ$,F1$8$@$+$i$N$h$&$J5$$,$9$k!#(B</li>
<li id="d22-1-fn2">$B8a8e(B2$B;~$+$i$i$7$$!#:#F|$O(B4$B8B$,6u$-;~4V$@$C$?$N$G!"9~$_$^$/$C$FNs$,F;O)$^$GB3$$$F$$$k$*Ck;~4V$K$O2fK}$7$F(B($B0J2<N,(B)$B!#(B</li>
</ol></div><!-- class="section" -->
<div id="d22-2" class=" section">
<h3><a href="#d22-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[$B@86((B]</span>
</span>
$B%l%,%7!<(B($BFf(B)$BG^BN(B</h3>
<p>$B@5D>!"%U%m%C%T!<!&%G%#%9%/$H$+%+%;%C%H!&%F!<%W$rMQ0U$7$m$H8@$o$l$^$7$F$b:$$k$N$G$9!#9=Fb$N@86($N$*E9$GGd$C$F$k$+$iNI$$$N$G$9$,!#(B</p><p>$B$H$$$&$3$H$G@86($N$*E9$K9T$C$F$-$?$s$G$9$,!"?oJ,IJB7$($,K-IY$G$9!#%O!<%I!&%G%#%9%/$^$GGd$C$F$^$7$?!#(B FD $B$d(B MO $B$J$i$H$b$+$/!"(B HD $B$^$GGc$C$F$$$/?M$,$$$k$s$G$9$+$M!#(B<sup><a href="#d22-2-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d22-2-fn1">$BN.@P$KK\BN$H$+$OGd$C$F$^$;$s$G$7$?$,!"?7F~@88~$17?O?$K$I$&$3$&=q$$$F$"$j$^$7$?$+$i!"Mj$a$P=P$F$/$k$+$b$7$l$^$;$s!#$9$4$$$J$"!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B22$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F22" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F22" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d24" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:24" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B24$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d24-1" class=" section">
<h3><a href="#d24-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B<u83(B]</span>
<span class="cat">[$B:eBg(B]</span>
</span>
$B4i<L??(B</h3>
<p>$BBg3X<u83$N4j=q=P4j$+$i:#$^$G!"$$$C$?$$2?Kg4i<L??$rDs=P$5$;$i$l$?$3$H$+!#$7$+$bBg$-$5$,$_$s$J$P$i$P$i$J$N$K$OJr$l$5$;$i$l$^$9!#@Z$k$N$,LLE]$G!#(B</p><p>$BL@F|$NBN0i$N;~$KBN0i$NMz=$$N%+!<%I(B($BFf(B)$B$K4i$N<L??$rE=$C$?$N$rDs=P$7$J$$$H$$$1$J$$$s$G$9$,!";D$C$F$$$k<L??$O$3$l$rF~$l$F(B2$BKg!#?oJ,B?$a$KGc$C$F$*$$$?$N$K$J$"!#$^$5$+$b$&$J$$$G$9$h$M(B?<sup><a href="#d24-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$B$=$&$$$&$o$1$G$7$F!"MhG/9g3J$5$l$kM=Dj$NJ}!9(B($BFf(B)$B$O<L??$r0lGUMQ0U$7$F$*$/$3$H$r$*4+$a$7$F$*$-$^$9!#(B</p><ol class="footnote">
<li id="d24-1-fn1">$B$"$C$F$bBg3XFb$K(B3$BJ,>ZL@<L??$,$"$C$?$N$G;#$l$PNI$$$s$G$9$1$I!"LLE]$3$N>e$J$$!#(B</li>
</ol></div><!-- class="section" -->
<div id="d24-2" class=" section">
<h3><a href="#d24-2" class="self">$B!y(B</a> $B;~4V30<j?tNA(B</h3>
<p>$BLk4V$H$+5YF|$K(B ATM $B$r;H$&$H;~4V30<j?tNA$r<h$i$l$k$N$O>o<1$G$9$1$I!"5!3#$K;~4V30$b$X$C$?$/$l$b$"$C$?$b$s$8$c$J$$$H;W$$$^$;$s(B? $B$=$l$H$b!&!&!&Cf$N?M$OBgJQ$J$N$+$J$"!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B24$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F24" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F24" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d25" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:4:25" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B4$B7n(B25$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d25-1" class=" section">
<h3><a href="#d25-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
<span class="cat">[$BBN0i(B]</span>
</span>
$BBN0i(B</h3>
<p>$BHh$l$?!#(B</p><p>$B$H$O$$$($A$e!<$V$NBN0i(B<sup><a href="#d25-1-fn1" class=" fn_anchor">*1</a></sup> $B$h$j$O3Z$=$&$@!#(B</p><p>$B1+>e$,$j$GF|$,:9$7$F$+$J$j>x$7=k$$!#$3$s$JF|$KBN0i$,$"$k$J$s$F:G0-$@!#(B</p><ol class="footnote">
<li id="d25-1-fn1">$B650w$,D%$j@Z$C$F$$$k;~4|$N!#$d$?$iAv$C$F$P$C$+$j$H$+!#$J!{$;$?$s$N5$$^$0$l$H$+!#0J2<N,!#(B</li>
</ol></div><!-- class="section" -->
<div id="d25-2" class=" section">
<h3><a href="#d25-2" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$B:eBg(B]</span>
</span>
$B5Y9V(B</h3>
<p>$BMh=5$N7nMKF|$O@2$l$F40A45Y9V!#$$$$CN$i$;$G$9!#(B</p><p>$B$$$A$g$&:W!&Bg:eBg3X5-G0F|(B($BFf(B)$B$r9g$o$;$k$HL@F|$+$i:FMh=5$N7nMKF|$^$G$:$C$H5Y$_!&!&!&$@$C$?$i$$$$$N$G$9$,!"Mh=5$N6bMKF|!"(B5$B7n(B2$BF|$OIaDL$NF|!#(B</p><p>$B$b$C$H$b!"(B3$B8B$H(B4$B8B$O@h@8$NET9g(B($BFf(B)$B$G5Y9V$i$7$$$G$9!#$H$O$$$(!"(B2$B8B(B($BBN0i(B)$B$H(B5$B8B$,$"$k$N$G9T$+$M$P$J$j$^$;$s$7!"6u$-;~4V$,$G$-$F$7$^$$$^$7$?!#$J$s$@$+$J$"!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B4$B7n(B25$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F25" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F4%2F%2F25" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->


<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (
 <a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200303">$BA07n(B</a>,
 <a rel="next" href="d200305">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>
)]
</div>
<ul class="myuri">
<li>&lt;URL:<a href="/~wakaba/d200304">http://suika.fam.cx/~wakaba/d/d200304</a>&gt;</li>
<li>&lt;<a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2003:4">URN:x-suika-fam-cx:fuyubi:2003:4</a>&gt;</li>
</ul>

</body>
</html>
