<!DOCTYPE html []>
<html lang="ja">
<head>
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B2$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2003$BG/(B2$B7n$N<cMU$N0-9T$N5-O?!#(B
" />
<link rev="made" href="mailto:w@suika.fam.cx" title="$B$o$+$P(B" />
<link rel="contents" href="list" title="$B7n$N0lMw(B" />
<link rel="prev" href="d200301" title="$BA07n(B" />
<link rel="next" href="d200303" title="$BMb7n(B" />
<link rel="contents" href="d200302+summary" title="$BOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200302" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B
2$B7n(B)" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.png" type="image/png" />
<link rel="help" href="/~wakaba/who?" title="$B<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd" title="Public Domain.">
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="stylesheet alternate" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="stylesheet alternate"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="stylesheet alternate"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="stylesheet alternate"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="stylesheet alternate"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2003$BG/(B2$B7n(B)</h1>

<div id="intro">
[<img src="favicon" alt="$BE_F|(B" class="favicon">
  (<a href="list" rel="index" title="$BF|5-$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>,
   <a href="d200302++summary" title="$B:#7n$N8+=P$70lMw!#(B">$BMWLs(B</a>,
   <a href="../who?" title="$BF|5-=q$$$F$k<cMU$N@5BN$KGw$k(B!?">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)
]
[$BEE;R%K%e!<%9(B
  <a href="news://suika.fam.cx/suika.robamimi" title="$B%K%e!<%9AH(B suika.robamimi ($B$9!z$`$N<*$OqfGO$N<*(B)">$B$m$P<*(B</a>,
]
[
[Chat 
  [<a href="../-temp/wkchat/chat1" title="$B?M9)L5G=$`(B*$B$97/$,(B24$B;~4V$"$J$?$NAj<j$r$9$k(B Web chat $B5!9=!#(B">$B$`(B*$B$9Cc(B</a>]
  [<a href="/~rei/cgi-bin/moonlight/">$B7n8wCc(B</a>]
]
]
</div>
<div id="d2" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:2:2" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B2$B7n(B2$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d2-1" class=" section">
<h3><a href="#d2-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
$B%R%+%k$N8k(B</h3>
<p>$B!#(B</p></div><!-- class="section" -->
<div id="d2-2" class=" section">
<h3><a href="#d2-2" class="self">$B!y(B</a> $BCO?^(B</h3>
<p>$BI42J;vE5$NCO?^$N4,(B, $BCO?^$h$j:w0z$NJ}$,MZ$+$K8|$$$s$@$,(B...</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B2$B7n(B2$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F2" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F2" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d5" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:2:5" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B2$B7n(B5$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d5-1" class=" section">
<h3><a href="#d5-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$B$"!{$7!y(B</h3>
<p>$BL4$NCf$KKY(BT<sup><a href="#d5-1-fn1" class=" fn_anchor">*1</a></sup> $B$,8=$l$F!"M}2J(B ($BJ*M}$H$+2=3X$H$+!#(B) $B$GJ,$+$i$J$$$3$H$,$"$C$?$iJ9$-$J$5$$!"65$($F$"$2$k$h(B^^;$B$H8@$$$^$7$?!#(B</p><p>$B$=$NOC$r8=<B@$3&$G$U$G$#!<$5$s$K$7$?$i!"Fq$7$$Bg3X$NF~;nLdBj$r2r$+$;$F$_$?$i(B? $B2r$1$J$$$+$b$h(B:) $B$H8@$C$F$$$^$7$?!#(B</p><ol class="footnote">
<li id="d5-1-fn1">$B$*$/$A$e!#$NM}2J65;U!#(B</li>
</ol></div><!-- class="section" -->
<div id="d5-2" class=" section">
<h3><a href="#d5-2" class="self">$B!y(B</a> $BJ*K:$l(B</h3>
<p>$B:G6a$^$9$^$9J*K:$l$,7c$7$/$F!#(B</p><p>$B5"$C$F$-$F!"8<4X$KF~$C$F!"$U$H!"<+E><V$N80$,$J$$!#3]$1$k$NK:$l$?$+$H;W$C$F<+E><V$KLa$C$?$1$I80$O$+$+$C$F$$$k!#$*$+$7$$$J$H;W$C$F8<4X$KLa$k$H!"80$O4{$K$=$3$K!#$D$^$j$[$s$N$A$g$C$HA0$N<+J,$N9TF0$5$(K:$l$F$$$k$H$$$&!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B2$B7n(B5$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F5" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F5" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d6" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:2:6" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B2$B7n(B6$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="yuki" alt="$B@c(B" /><img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d6-1" class=" section">
<h3><a href="#d6-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BL4(B]</span>
</span>
$B:#D+$NL4!#(B</h3>
<p>$B$d$J$F!<$HF1$83X9;(B, $BF1$8%/%i%9(B, $BF1$8HI$K$J$C$F!"5k?)$N;~4V$J$N$G$7$?!#(B<sup><a href="#d6-1-fn1" class=" fn_anchor">*1</a></sup> $B$d$J$F!<$O5mF}%Q%C%/$K%9%H%m!<$r:99~$_!"5mF}$r0{$_;O$a$^$9!#$o$+$P$,6C$$$F!"5mF}$O0{$^$J$$$N$8$c$J$+$C$?(B? $B$HJ9$$$?$i!"$=$l$O$b$&$d$a$?$N$HEz$($^$7$?!#$o$+$P$O!"$"$"$=$&$J$N$+!"$=$&$$$($P(B S $B$H$O$I$&$J$C$?$s$@$m$&!"SK8F(B, $B$H;W$$$^$7$?!#(B</p><p>$B$=$l$G$o$+$P$O!"$b$&$"$l$+$i(B3$BG/$b7P$C$?$s$@$J$"!";~4V$O?M$r?'!9JQ$($F$7$^$C$?!&!&!&$H;W$C$?$N$G$7$?!#(B</p><p>$B$H$$$&L4$r8+$^$7$?!#EP>l?MJ*$NGX7J@_Dj$rCN$i$J$$FI<T$N3'$5$s!"$4$a$s$J$5$$!#(B</p><ol class="footnote">
<li id="d6-1-fn1">$B9b9;B46H$7$F$3$N@h0lBN$$$D$=$s$J4qL/$J$3$H$,5/$3$j$($k$s$@$+(B:) $B$A$J$_$KC4G$$O;{(BT$B$G$7$?!#L5Cc6lCc$J@_Dj$@$J$!!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B2$B7n(B6$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F6" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F6" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d7" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:2:7" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B2$B7n(B7$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d7-1" class=" section">
<h3><a href="#d7-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[<img src="/~wakaba/art/icon/ofuyu" class="favicon" alt="$B$*$U$f(B" />]</span>
</span>
$B$U$f$-%?%=CLOC(B</h3>
<blockquote><p>$BK?M=Hw9;$N%5%$%H$K:\$C$F$$$?G\N($,4V0c$C$F$F]5(B</p><cite>$B:G6a$3$NF|5-$NOC$K$D$$$F$$$1$J$$$H$$$&$U$f$-%?%s$NCLOC(B</cite></blockquote>
<p>$BB3$$$F$U$f$-%?%s!>$"$5$P%?%s2qCL$NLOMM$r$*EA$($7$^$9!#(B</p><dl><dt>$B$U$f$-$?$s(B</dt><dd>$B7k6IM}?t2J$G2??M$/$i$$ElBg<u$1$k$N$+$M(B?</dd><dt>$B$"$5$P$?$s(B</dt><dd>$B$(!A$H!">e$+$i=g$K8@$&$H!&!&!&(B</dd><dd>$B$d!{$6$-(B, ...</dd><dt>$B$U$f$-$?$s(B</dt><dd>$B>e$+$i$C$F(B(w</dd><dd>$B$d!{$6$-$K;O$^$j$d!{$6$-$K=*$o$k(B, $B$H(B? (w</dd><dt>($BCfN,(B)</dt><dt>$B$"$5$P$?$s(B</dt><dd>10$B?M$/$i$$$+$J!#(B</dd><dt>$B$U$f$-$?$s(B</dt><dd>$B$G$b3X9;$K$H$C$F$O2??M<u$1$?$+$h$j2??M<u$+$C$?$+$@$h$M$'(B</dd></dl></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B2$B7n(B7$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F7" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F7" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d8" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:2:8" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B2$B7n(B8$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B2$B7n(B8$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F8" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F8" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d9" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:2:9" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B2$B7n(B9$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="ame" alt="$B1+(B" />]</span>
</div><!-- header -->

<div id="d9-1" class=" section">
<h3><a href="#d9-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
$B%R%+%k$N8k(B</h3>
<p>$BEcLp%?%s$b0-$I$$$M$'!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B2$B7n(B9$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F9" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F9" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d13" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:2:13" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B2$B7n(B13$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="yuki" alt="$B@c(B" /><img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d13-1" class=" section">
<h3><a href="#d13-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[<img src="favicon" class="favicon" alt="$BE_F|(B" />]</span>
</span>
$BF|5-(B</h3>
<p>$B$=$&$$$($P:G6a=q$$$F$J$$$G$9$M!#(B<a href="http://niigata.cool.ne.jp/cgi-bin/tbbs.cgi?User=wakaba2001&GetType=Simple">$BqfGO<*(B</a>$B$K=q$$$FD4;R$K>h$k$H$$$D$b$3$&$@(B(w</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B2$B7n(B13$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F13" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F13" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d17" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:2:17" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B2$B7n(B17$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d17-1" class=" section">
<h3><a href="#d17-1" class="self">$B!y(B</a> $B5"4T(B</h3>
<p>$BBgEl5~$5$$$C$H$j$^$C$?!#$$$d$O$d!"?744@~$A$c!<B.$$$b$s$G$9$J$!!#(B<sup><a href="#d17-1-fn1" class=" fn_anchor">*1</a></sup> $BKLN&@~$NFC5^$O$=$l$KHf$Y$j$c$J$s$FCY$$$s$@$+!#(B ($BFC$K5"O)$O0lBN2?G/$+$+$k$N$+$H;W$$$^$9$?$h!#(B)<sup><a href="#d17-1-fn2" class=" fn_anchor">*2</a></sup> </p><p>$B$J$s$H%[%F%k$OETD#$N??2#$G$9$?!#%+!<%I%-!<$GIt20$NEt$+$j$d%F%l%S$N%9%$%C%A$,F~$j$^$9$,(B, $B<B$OC1$J$k;f@Z$l$G$b!&!&!&$C$F!"$=$s$J$3$H$O$I$&$G$b$$$$$+!#(B</p><p>$B$=$&$$$&$o$1$G@Q$b$kOC$O$^$?$$$:$l(B ($BB?J,$7$J$$$H;W$&$1$I(B)$B!#7kO@$H$7$F$O!"!V!{HV@~(B, $B%I%"$,JD$^$j$^$9!#JD$^$k%I%"$K$4Cm0U2<$5$$!#!W$,<*$+$iN%$l$^$;$s$H$$$&$3$H$G!#(B</p><p>$B$=$&$=$&(B, $BK?(B KO $BBg3X$N;n83$G!"A0$N@J$N9a6q;a$,$:$C$H31J'$$$N8}$NCf$@$1%P!<%8%g%s(B<sup><a href="#d17-1-fn3" class=" fn_anchor">*3</a></sup> $B$7$F$F!"$9$C$4$/$&$6$+$C$?$G$9!#9g3J$7$J$+$C$?$i$3$$$D$N$;$$$H$$$&$3$H$G$h$m$7$/!#(B</p><ol class="footnote">
<li id="d17-1-fn1">$B?744@~$,(B2$B3,7z$@$C$?$N$K$O$A$g$C$H6C$$$F$7$^$C$?!#$=$&$$$&$N$,$"$k$N$O@N$+$iCN$C$F$?$1$I!"8+$?$N$O=i$a$F$@$C$?$7$7$+$b<+J,$,>h$k$H$O(B(ry</li>
<li id="d17-1-fn2">$B$H$3$m$G!"D_3W$O2CB.Cf$O47@-NO(B ma $B$,5UJ}8~$KF/$/$N$G1>!9(B, $B$H$+9M$($F$$$?$i<+J,$NBN$,?eJ?$J$N$+79$$$F$k$N$+$o$+$i$J$/$J$C$A$^$$$^$7$?(B(w</li>
<li id="d17-1-fn3">$BF|K\8l$G$O$J$s$F$$$&$N(B? (w</li>
</ol></div><!-- class="section" -->
<div id="d17-2" class=" section">
<h3><a href="#d17-2" class="self">$B!y(B</a> $B%j%O%S%j(B</h3>
<p>$BH>=54V$bN%$l$F$k$H?'!9@$3&$,JQ$o$C$F$7$^$C$F$$$k$o$1$G$7$F!#[Y$r64$s$G$*$$$?%9%l$,(B1000$B$K$J$C$F<!%9%l$K$J$C$F$?$H$+!#(B (dat $BMn$A$7$?8e$@$H<!%9%lC5$9$NLLE]$J$s$@$h$J$"!#(B)</p></div><!-- class="section" -->
<div id="d17-3" class=" section">
<h3><a href="#d17-3" class="self">$B!y(B</a> <span class="cats"><span class="cat">[$BFI=q(B]</span>
</span>
$B:rF|$^$G$NFI=q(B</h3>
<p>$B!X(B<a href="/uri-res/N2L?urn%3Aisbn%3A4-480-08675-7">$B%*%$%i!<$NB#J*(B</a>$B!Y(B, $B5HEDIp(B, $B$A$/$^3X7]J88K!#(B</p><p>$BEE<V$NCf$H$+$GFI$s$G$^$7$?!#%*%$%i!<$N8x<0(B e<sup>i$B&H(B</sup> = cos $B&H(B + i sin $B&H(B (e<sup>i$B&P(B</sup> = $B!](B1) $B$rL\;X$7$F9b9;!&Bg3X=i5i%l%Y%k$N?t3X$N?'$s$JK!B'$H$+$,$G$F$-$F!"F~;nA0$NI|=,$KLrN)$D$+$b$7$l$^$;$s!#(B<sup><a href="#d17-3-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d17-3-fn1">$B$o$+$PE*$K$O!"CN$C$F$k$3$H$OCN$C$F$?$7CN$i$J$$$3$H$OCN$i$J$+$C$?$N$G$=$&$$$&0UL#$G$OLrN)$A$^$;$s$G$7$?!#F~;n$H$+$/$@$i$J$$$3$HH4$-$K9M$($l$PLLGr$$FI$_J*$@$H;W$$$^$9!#Bg3X$G$N?t3X$X$NF3F~$H$7$F$$$$$s$8$c$J$$$G$7$g$&$+(B? $BBg3X$G?t3X$rJY6/$7$F$J$$$N$GCG8@$7$+$M$^$9$,(B(w</li>
</ol></div><!-- class="section" -->
<div id="d17-4" class=" section">
<h3><a href="#d17-4" class="self">$B!y(B</a> <span class="cats"><span class="cat">[<img src="/chuubu/favicon" class="favicon" alt="$B$A$e!<$V(B" />]</span>
</span>
$B?b$lKk(B</h3>
<p>$B$$$D$N$^$K$+$A$e!<$V$NEDCf$5$s$,$J$/$J$C$F$?!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B2$B7n(B17$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F17" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F17" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d19" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:2:19" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B2$B7n(B19$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d19-1" class=" section">
<h3><a href="#d19-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[<img src="/chuubu/favicon" class="favicon" alt="$B$A$e!<$V(B" />]</span>
</span>
$BL5Bj(B</h3>
<p>$B:G6a(B ($B$H$$$C$F$b$3$3(B2$BF|4V(B) $B3X9;9T$C$F$b!"<x6H$b<u$1$:$K5"$C$F$/$k!#2?$7$K9T$C$F$k$s$@$+!"$H$$$&5$$b$7$J$$$G$b$J$$$s$@$1$I!#(B</p><p>$B$H$+8@$C$F$kFb$K!"$b$&!VFCJL;XF3!W$b;D$j(B2$BF|!#@^3Q$G$9$+$iN>F|$H$b(B ($B@2$l$F$?$i(B) $B?t3X&C$K$G$b9T$-$^$9$+!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B2$B7n(B19$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F19" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F19" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d21" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:2:21" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B2$B7n(B21$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="hare" alt="$B@2(B" />]</span>
</div><!-- header -->

<div id="d21-1" class=" section">
<h3><a href="#d21-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[<img src="/chuubu/favicon" class="favicon" alt="$B$A$e!<$V(B" />]</span>
<span class="cat">[$BM}?t2J(B]</span>
</span>
$BFCJL;XF3:G=*F|(B</h3>
<p>$BFCJL;XF3:G=*F|(B, $B$D$^$j:G8e$N<x6H$NF|$G$7$?!#$H$O$$$($^$?$b$d<x6H$K=P$:$K5"$C$F$-$F$7$^$$$^$7$?(B(w<sup><a href="#d21-1-fn1" class=" fn_anchor">*1</a></sup> </p><p>$BM}?t2J$N?M$O7k9=Mh$F$^$7$?!#$=$N>l$K$$$J$$?M$NOC$b4^$a$F?'!96a67$rK5D0$5$;$F$b$i$$$^$9$?!#(B</p><p>$B$*Ck$K%K%C%?%^%s$N!VFs<!;n837cNe2q!W$,$"$k$H$+$G!"OC$N%M%?$K$G$b$H$$$&$3$H$G9T$-$?$+$C$?$s$G$9$,(B($BFf(B)$B!"$*Ck$@$C$?$N$G$d$a$^$7$?(B($BFf(B)$B!#9pCN$ND%$j;f$,$"$A$3$A(B ($B@vLL=j$N6@$H$+$K$^$G(B!) $BE=$C$F$"$C$?$N$G!"M>Dx3Z$7$$G.J[$,J9$1$?$3$H$G$7$g$&(B(w$B!#;22C<T$N%?%l%3%_$r4|BT!#(B</p><p>$B$H$3$m$G!"2=3X$N<x6H$K=P$??M$O:rF|$^$G(B1$B?M$@$C$?$N$,!":#F|$O$D$$$K(B0$B?M$K$J$C$F!"<x6H$;$:$K5"$C$F$$$C$?$=$&$G$9!#$^$A$c$+$o$$$=!#(B<sup><a href="#d21-1-fn2" class=" fn_anchor">*2</a></sup> </p><ol class="footnote">
<li id="d21-1-fn1">$B?t3X&C$O@^3Q$@$+$i=P$h$&$H;W$C$F$$$?$s$G$9$,!":rF|G[$i$l$?%W%j%s%H$r$d$k$H$+$@$C$?$s$G!#(B</li>
<li id="d21-1-fn2">$B&C$O3+;O(B2$BJ,A0$N;~E@$G(B2$B?M$G$7$?!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B2$B7n(B21$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F21" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F21" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d23" class=" body"><h2><a href="/uri-res/N2L?urn:x-suika-fam-cx:2003:2:23" class="self"><img src="favicon" class="favicon" alt="$B!~(B" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N!#(B"></a>2003$BG/(B2$B7n(B23$BF|(B</h2>
<div class="header"><span class="var TENKI">[$BE75$(B:<img src="kumori" alt="$BF^(B" />]</span>
</div><!-- header -->

<div id="d23-1" class=" section">
<h3><a href="#d23-1" class="self">$B!y(B</a> <span class="cats"><span class="cat">[TV]</span>
</span>
$B%R%+%k$N8k(B</h3>
<p>$B%R%+%k%?%=$O%W%m$K$J$j$^$9$?!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="mailto:w@suika.fam.cx" enctype="text/plain" accept-charset="iso-2022-jp">
<div>
	<input type="hidden" name="subject" value="[$BE_F|(B] 2003$BG/(B2$B7n(B23$BF|(B">
	<strong class="itemname" title="$B59$7$1$l$P!"!VFI$s$@$h!W%\%?%s$r2!$7$F2<$5$$!#46A[$,$"$k$H!"F|5-$r=q$/Ne$_(B($BFf(B)$B$K$J$j$^$9!#(B">$B8f46A[(B ($B$o$+$P$KD>@\Aw$k(B)</strong>:
	
	<span class="fs">
	<label><input type="radio" name="f" value="5">$B:G9b(B!</label>
	<label><input type="radio" name="f" value="4">$BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked">$BIaDL(B</label>
	<label><input type="radio" name="f" value="2">$B0-(B</label>
	<label><input type="radio" name="f" value="1">$B:GDc(B</label>
	</span>
	
	<label class="comments">$B0l8@(B($B$b$7$"$l$P!#(B): <input type="text" name="comment" value=""></label>
	<label class="names">$BL>A0(B($B$h$m$7$1$l$P!#(B): <input type="text" name="name" value=""></label>
	
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit" title="$B%a%C%;!<%8(B ($B5-F~$5$l$F$$$l$P!#(B) $B$r%a%$%k$GAw?.$7$^$9!#2!$7$?$j$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B">
</div>
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F23" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2003%2F%2F2%2F%2F23" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->


<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (
 <a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200301">$BA07n(B</a>,
 <a rel="next" href="d200303">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>
)]
</div>
<ul class="myuri">
<li>&lt;URL:<a href="/~wakaba/d200302">http://suika.fam.cx/~wakaba/d/d200302</a>&gt;</li>
<li>&lt;<a href="/uri-res/N2L?urn:x-suika-fam-cx:fuyubi:2003:2">URN:x-suika-fam-cx:fuyubi:2003:2</a>&gt;</li>
</ul>

</body>
</html>
