<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2007$BG/(B5$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2007$BG/(B5$B7n$N<cMU$N0-9T$N5-O?!#(B" />
<link rel="contents" href="list" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$r=q$$$?7n$N0lMw(B" />
<link rel="prev" href="d200704" title="$BA07n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="next" href="d200706" title="$BMb7n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="alternate" href="d200705.ja.atom" hreflang="ja"
    type="application/atom+xml" title="2007$BG/(B5$B7n$NE_F|(B (Atom $B6!5k(B)">
<link rel="contents" href="d200705+summary" title="$B:#7n$NOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200705" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2007$BG/(B5$B7n(B)" />
<link rev="made" href="/~wakaba/who?" title="$BCx<T$N<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd"
      title="Public Domain." lang="en" xml:lang="en" />
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="alternate stylesheet" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="alternate stylesheet"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="alternate stylesheet"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="alternate stylesheet"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="alternate stylesheet"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<div class="header">
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2007$BG/(B5$B7n(B)</h1>

<div id="intro" class="navigation">
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
  (<a href="list" rel="contents" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>
   (<a href="current.html" type="text/html"
      title="$B:G?7$NF|5-(B (HTML)" lang="en">HTML</a>,
    <a href="current.ja.atom" hreflang="ja" type="application/atom+xml"
      title="$B:G?7$NF|5-(B (Atom)" lang="en">Atom</a>),
   <a href="../who?" rev="made">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)]
</div>

</div><!-- header -->
<div id="d25" class=" body section">
       <h2><a href="/~wakaba/d/d200705#d25" class="self"
       >2007$BG/(B5$B7n(B25$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d25-1" class=" section">
<h3><a href="#d25-1" class="self">$B!y(B</a> DTD $B$OLr$KN)$?$J$$(B (@00:34 +09:00)</h3>
<p>$B0JA0(B DTD $B$OLr$KN)$?$J$$$H=q$-$^$7$?$,!">\$7$/@bL@$7$m$H$$$&%j%/%(%9%H$,$"$C$?$N$G=q$$$F$_$^$9!#(B</p><p>$B$=$b$=$b(B SGML $B$N(B DTD $B$NLr3d$H$7$F!"%^!<%/:G>.2=$N$?$a$KI,MW$J>pJs$r5-=R$9$k$3$H$H!"J8=q<B8=CM$,9=J8E*$K@5$7$$$H8!>Z$9$k$?$a$N>pJs$r5-=R$9$k$3$H$N(B2$B$D$,$"$j$^$9!#A0<T$NNc$H$7$F!"$I$N%?%0$,>JN,$G$-$k$+$N;XDj!"MWAG$NFbMF%b%G%k$K$*$1$kMWAG$N=g=x$N5-=R!"B0@-$N4{DjCM$N;XDj!"C;=L;2>H!"%G!<%?%?%0$J$I$,$"$j$^$9!#$^$?!"8e<T$H$7$F$OMWAG$NFbMF%b%G%k$dB0@-7?$J$I$,$"$j$^$9!#(B</p><p>$B$G$9$,!"8=<B$K$O(B Web $B%V%i%&%6$,(B HTML $BJ8=q$rFI$_9~$`$H$-$K$3$l$i$N>pJs$O;H$o$l$^$;$s!#(B Web $B%V%i%&%6$O(B SGML $B$H$O0[$J$kFH<+$NJ}K!$G(B HTML $BJ8=q$r9=J82r@O$7$^$9!#$=$7$F$=$N7k2L$,(B DTD $B$KE,9g$9$k$+$b8!>Z$7$^$;$s!#$3$l$^$G$=$&$G$"$C$?$@$1$G$O$J$/!"$3$l$+$i$b$=$&$G$9(B<sup><a href="#d25-1-fn1" class=" fn_anchor">*1</a></sup> $B!#(B Web $B%V%i%&%6$KBP$7$F!"$"$k$$$O(B Web $B%V%i%&%6$NMxMQ<T$KBP$7$F(B DTD $B$O2?$NMx1W$bDs6!$7$^$;$s!#(B</p><p>$BM#0l(B <a href="http://validator.w3.org/">W3C Markup Validation Service</a> $B$O(B DTD $B$r;H$C$F$$$^$9!#J8=q$NBEEv@-$r8!>Z$7$?$$Cx<T$K$H$C$F$O$"$kDxEY$NMx1W$rF@$i$l$k$+$b$7$l$^$;$s!#$G$9$,!"$=$l$bM-32$@$H$$$&0U8+$b$"$j$^$9!#(B <code>blockquote</code> $B$,0zMQ$G$"$k$+$I$&$+$N$h$&$J0UL#E*$J@5$7$5$r8!>Z$G$-$J$$$N$O$I$&$K$b$G$-$^$;$s$,!"5!3#E*$KH=CG$G$-$k$O$:$NMW7o$9$i$9$Y$F$r8!>Z$G$-$F$$$J$$$+$i$G$9!#(B HTML4 $B$G$O%V%m%C%/?e=`MWAG$N;R$G$"$k(B <code>ins</code> $BMWAG$N;R$K%V%m%C%/?e=`MWAG$,Mh$k$3$H$O$G$-$^$;$s$,!"$3$N>r7o$,K~$?$5$l$F$$$k$+$O8!>Z$5$l$^$;$s!#(B <code>style</code> $BB0@-$r;H$&$H$-$O(B <code>Content-Style-Type</code> $B$N;XDj$,I,MW$G$9$,!"$3$l$b8!>Z$5$l$^$;$s(B<sup><a href="#d25-1-fn2" class=" fn_anchor">*2</a></sup> $B!#$3$l$OC1$K(B W3C $B$N(B Validator $B$,Nt$C$F$$$k$N$G$O$J$/!"(B DTD $B$NI=8=NO<+BN$KLdBj$,$"$j$^$9!#$K$b4X$o$i$:!"(B DTD $B$NBEEv@-8!>Z$rDL2a$7$?$@$1$G(B HTML $BJ8=q$,@5$7$$$+$N$h$&$J8m2r$rM?$($F$$$^$9!#(B</p><p>$B$^$H$a$^$9$H!"(B DTD $B$O<B:]$N$H$3$m;H$o$l$F$$$J$$$7!";H$*$&$K$bG=NOITB-$J$N$G!"Lr$KN)$?$J$$$H$$$&$3$H$K$J$j$^$9!#$A$J$_$K!"(B HTML $BJ8=q$N@5$7$5$rD4$Y$?$$$J$i(B Another HTML-lint $B$N$[$&$,$h$[$IM-MQ$G$9!#(B</p><ol class="footnote">
<li id="d25-1-fn1">$B9=J82r@O$NJ}K!$rJQ$($k$H4{B8$NJ8=q$H$N8_49@-$,<:$o$l$k$+$i$G$9!#(B</li>
<li id="d25-1-fn2">$B$3$A$i$NNc$O(B <a href="http://validator.w3.org/">W3C Markup Validation Service</a> $B<+BN$,0cH?$7$F$$$^$9!#(B</li>
</ol></div><!-- class="section" -->
<div id="d25-2" class=" section">
<h3><a href="#d25-2" class="self">$B!y(B</a> Re: DTD $B$OLr$KN)$?$J$$(B (@09:21 +09:00)</h3>
<p>$B>/$7JdB-$$$?$7$^$9$H!"(B HTML4 $B$^$G$O(B <q>HTML $B$O(B SGML $B1~MQ$G$"$k(B</q>$B$H$+$$$&8=<B$HP*N%$7$^$/$C$?7zA0$,$"$j$^$7$?$N$G!"$I$&$7$F$b7A<0E*$K(B DTD $B$,I,MW$G$7$?(B<sup><a href="#d25-2-fn1" class=" fn_anchor">*1</a></sup> $B!#$7$+$7(B HTML5 $B$,(B SGML $B$r<N$F$k$3$H$,(B<a href="http://www.w3.org/2007/03/HTML-WG-charter.html#scope">$B;v<B>e3NDj$7$F$$$^$9(B</a>$B$N$G!"$b$O$dL><B6&$K(B DTD $B$OI,MW$"$j$^$;$s!#(B</p><p>$B0J>e$O(B HTML $B$K$*$1$k(B DTD $B$NOC$G!"(B XML DTD $B$OB?>/;v>p$,JQ$o$C$F$-$^$9$,!"$?$$$7$FLr$KN)$?$J$$$3$H$K$OJQ$o$j$"$j$^$;$s(B<sup><a href="#d25-2-fn2" class=" fn_anchor">*2</a></sup> $B!#(B</p><ol class="footnote">
<li id="d25-2-fn1">$B87L)$K8@$($P!"(B Web SGML $B$G$O%?%0$r>JN,$7$J$$$J$i(B DTD $B$O$J$/$F$b$$$$$N$G$9$,!#(B</li>
<li id="d25-2-fn2">$BBEEv@-$r8!>Z$9$k(B XML $B9=J82r@O4o0J30$,30It<BBN$r=hM}$7$J$/$F$b$h$$$3$H!"L>A06u4V$KBP1~$7$F$$$J$$$3$H!"I=8=NO$,<e$$$3$H(B ($BFbMF%b%G%k$dB0@-7?(B) $B$,<g$JLdBj$G$9!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F25" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F25" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d23" class=" body section">
       <h2><a href="/~wakaba/d/d200705#d23" class="self"
       >2007$BG/(B5$B7n(B23$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d23-1" class=" section">
<h3><a href="#d23-1" class="self">$B!y(B</a> $B=k$$(B (@09:14 +09:00)</h3>
<p>$B:#F|$N$3$N=k$5$O$d$P$$!#$=$m$=$mC1(B4$BEECS$,I,MW$@(Bw</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F23" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F23" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d20" class=" body section">
       <h2><a href="/~wakaba/d/d200705#d20" class="self"
       >2007$BG/(B5$B7n(B20$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d20-1" class=" section">
<h3><a href="#d20-1" class="self">$B!y(B</a> $B<Y65EL$N6uMWAG%?%0(B (@00:56 +09:00)</h3>
<figure><code>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><br>&lt;html><br>&lt;head><br>&lt;title>&lt;/title><br>&lt;link/><br>&lt;/head><br>&lt;body><br>&lt;/body><br>&lt;/html></code></figure><p><a href="/~wakaba/-temp/test/sgml/tag/empty-element-tag/xml-like-1.html">$B$3$l(B</a>$B$r(B <a href="http://validator.w3.org/check?sp=1&amp;verbose=1&amp;uri=https://suika.suikawiki.org/~wakaba/-temp/test/sgml/tag/empty-element-tag/xml-like-1.html">W3C Markup Validation Service $B$GBEEv@-8!>Z(B</a>$B$7$F$_$k$H!"(B <code>&lt;/head></code> $B$O$3$3$G$O;H$($J$$$H$+!"(B <code>&lt;body></code> $B$O$3$3$G$O;H$($J$$$H$+8@$o$l$^$9!#$5$F$I$&$7$F$G$7$g$&(B?</p><p>($BEz$($rFI$`$K$O%o%C%U%k%o%C%U%k$H=q$-9~$s$G$/$@$5$$(B)<sup><a href="#d20-1-fn1" class=" fn_anchor">*1</a></sup> </p><ol class="footnote">
<li id="d20-1-fn1">$B<B$O$A$c$s$H7k2L$N2r@b$KM}M3$,=q$$$F$"$j$^$9!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F20" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F20" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d19" class=" body section">
       <h2><a href="/~wakaba/d/d200705#d19" class="self"
       >2007$BG/(B5$B7n(B19$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d19-1" class=" section">
<h3><a href="#d19-1" class="self">$B!y(B</a> $B2!$7Gd$j(B (@17:26 +09:00)</h3>
<blockquote><p>$B$3$A$i$N(B ($B7zJ*$N(B) $B%*!<%J!<$5$s$,8w%U%!%$%P!<$rF3F~$5$l$^$7$?$N$G!"4JC1$J%b%G%`$N3NG'$r$$$?$7$^$9$N$G!"%*!<%H%m%C%/$NJ}$r3+$1$F!&!&!&(B</p><cite></cite></blockquote>
<p>$B%b%G%`$N3NG'$C$F2?(B? $B%*!<%J!<$5$s$,F3F~$7$?$J$i%*!<%J!<$5$s$K%*!<%H%m%C%/$r3+$1$F$b$i$($P(B?</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F19" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F19" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d9" class=" body section">
       <h2><a href="/~wakaba/d/d200705#d09" class="self"
       >2007$BG/(B5$B7n(B9$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d9-1" class=" section">
<h3><a href="#d9-1" class="self">$B!y(B</a> $B=k$$(B (@11:01 +09:00)</h3>
<p><ol><li>$B:#F|$b=k$$$G$9$M!#(B</li><li>$B$=$&$@!"%/!<%i!<$N;n1?E>$r$7$h$&(B<span class="aa fw">!!!11!!11!!</span></li><li>$B%/!<%i!<$N%j%b%3%s$KEECS$rF~$l$h$&(B ($B"+(B $BE_$OH4$$$F$"$k(B)$B!#(B</li><li>$BF~$l$?$,%j%b%3%s$,8z$+$J$$!#EECS$,$J$$$i$7$$!#(B</li><li>$BFs<!EECS$8$c$J$$$+!#$J$i=<EE$7$h$&!#(B</li><li>$BC1;0MQ$N=<EE4o$7$+$J$$!#=<EE$7$?$$$N$OC1;M!#(B</li><li>$BG0$N$?$aC1;0EECS$,%j%b%3%s$K<}$^$k$+3NG'$7$F$_$?!#7k2L$O<+L@!#(B</li><li>$B$A$J$_$K%/!<%i!<K\BN$K%9%$%C%A$O$D$$$F$$$J$$!#;H$($J$$E[$@!#(B</li><li>($B"+(B $B:#$3$3(B)</li></ol></p></div><!-- class="section" -->
<div id="d9-2" class=" section">
<h3><a href="#d9-2" class="self">$B!y(B</a> $B<+HN5!(B (@12:37 +09:00)</h3>
<p>$B$$$D$b$N$d$D$,Gd$j@Z$l!#ITL{2w$@(Bw</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F9" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F9" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d8" class=" body section">
       <h2><a href="/~wakaba/d/d200705#d08" class="self"
       >2007$BG/(B5$B7n(B8$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d8-1" class=" section">
<h3><a href="#d8-1" class="self">$B!y(B</a> $BE75$M=JsDL$j(B (@20:03 +09:00)</h3>
<p>$B:#F|$OE75$M=JsDL$j=k$+$C$?$G$9$M!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F8" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F8" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d7" class=" body section">
       <h2><a href="/~wakaba/d/d200705#d07" class="self"
       >2007$BG/(B5$B7n(B7$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d7-1" class=" section">
<h3><a href="#d7-1" class="self">$B!y(B</a> $BIw?@Mk?@(BII (@16:22 +09:00)</h3>
<p>$B:t$N30$KLn<!GO$,Bt;3$$$F<L??$r;#$C$F$$$^$7$?!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F7" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F7" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d5" class=" body section">
       <h2><a href="/~wakaba/d/d200705#d05" class="self"
       >2007$BG/(B5$B7n(B5$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d5-1" class=" section">
<h3><a href="#d5-1" class="self">$B!y(B</a> Re: property $B$H(B attribute (@12:11 +09:00)</h3>
<p><blockquote cite="http://micelle.org/zakki/2007-05#DATE04_01"><p>$B!VFC@-$HB0@-$O2?$&1>$&%K%e%"%s%9$N0c$$$,$"$k$N(B?$B!W$_$?$$$JOC$K$J$C$F!"CJ!9$o$1$,$o$+$i$J$/$J$C$F$-$?!#$s!<!#(B</p></blockquote></p><p>($B>/$J$/$F$b$3$NJ,Ln$G$O(B) $B%K%e%"%s%9$N0c$$$J$I$J$$$N$G$O!"$H$$$&$N$,:#$^$G$N46A[$G$9!#(B</p><p>$B$A$J$_$K(B <cite>The SGML Handbook</cite> (P.152, $B!x(B4.4.3) $B$G$O(B:<blockquote><p lang="en">An element type can have properties other than its content and generic identifier.  These properties, called <q>attributes</q>, are defined by an attribute definition list declaration that associates an <q>attribute definition list</q> with the element type.</p></blockquote>$BMWAG7?$,;}$DFC@-$K$OFbMF!"6&DL<1JL;R(B ($BMWAG7?L>(B)$B!"B0@-$,$"$k$H$$$C$F$$$^$9!#(B<sup><a href="#d5-1-fn1" class=" fn_anchor">*1</a></sup> $B$G$9$,!"$3$N;H$$J,$1$O0l4S$7$F$*$i$:!"F1$8K\$N(B P10 (ISO 8879 Annex A) $B$G$O6&DL<1JL;R$bB0@-$@$H$$$C$F$$$^$9!#(B</p><ol class="footnote">
<li id="d5-1-fn1">$B$?$@$3$3$G$$$&(B<q>$BB0@-(B</q>$B$O@lLgMQ8l!"(B<q>$BFC@-(B</q>$B$OHs@lLgMQ8l$G$7$g$&!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F5" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F5" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d4" class=" body section">
       <h2><a href="/~wakaba/d/d200705#d04" class="self"
       >2007$BG/(B5$B7n(B4$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d4-1" class=" section">
<h3><a href="#d4-1" class="self">$B!y(B</a> Re: XMDP (@00:21 +09:00)</h3>
<p><blockquote cite="http://micelle.org/zakki/2007-05#DATE03_01"><p>property$B$O2?$&$9$l$PNI$$$G$9$+!#(B</p></blockquote></p><p><q>$BFC@-(B</q>$B$G$9!#(B</p></div><!-- class="section" -->
<div id="d4-2" class=" section">
<h3><a href="#d4-2" class="self">$B!y(B</a> Re: XMDP (@00:51 +09:00)</h3>
<p>$B$?$@$^$"!"(B <a href="/gate/2005/sw/profile#anchor-53">HTML5 $B$G(B profile $BB0@-$,:o=|$5$l$?(B</a>$B$3$H$b$"$j$^$7$F!"(B XMDP $B$NLrL\$O=*$o$C$?$N$+$J$"$H;W$$$^$9!#(B microformats $B$N@h6n$1$H$7$F$N(B XMDP $B$NNr;KE*0U5A$OBg$-$$$H;W$$$^$9$1$I$M!#!#!#(B</p></div><!-- class="section" -->
<div id="d4-3" class=" section">
<h3><a href="#d4-3" class="self">$B!y(B</a> $BFbItItJ,=89g$r;H$C$?$H$-$KI=<($5$l$k$4$_$r1#$9(B (@12:35 +09:00)</h3>
<p><div class="note memo"><p>$B$$$^$d(B HTML $B$O(B SGML $B1~MQ$G$O$"$j$^$;$s$7!"(B XHTML $B$r(B <code>text/html</code> $B$H$9$k$3$H$bITE,@Z$H$J$j$D$D$"$j$^$9$N$G!"6K$a$F;~BeCY$l$G$O$"$j$^$9$,!#!#!#(B</p></div></p><p><code>text/html</code> $B$JJ8=qCf$GJ8=q7?@k8@$NFbItItJ,=89g$r;H$&$H!"(BWeb $B%V%i%&%6$GI=<($5$;$?$H$-$K!"J8=q7?@k8@$NKvHx$N(B <code>]></code> $B$NItJ,$,J8;z%G!<%?$H$7$FI=<($5$l$F$7$^$&$3$H$,$"$j$^$9!#Nc$($P!"(B<pre><code>&lt;!DOCTYPE html [&lt;-- --><em>]></em></code></pre>$B$O!"(B <code>]></code> $B$,(B<a href="/~wakaba/-temp/test/html/comment/hack/nohide-dscmdc-1.html">$BI=<($5$l$F$7$^$$$^$9(B</a>$B!#$3$l$O!"(B Web $B%V%i%&%6$N(B HTML $B9=J82r@O4o$,FbItItJ,=89gFb$NCm<a@k8@$N:G8e$N(B <code>></code> $B$GJ8=q7?@k8@$,JD$8$i$l$?$HH=CG$9$k$+$i$G$9!#(B</p><p>$B@N$+$iFbItItJ,=89g$r;H$C$F$$$??M$O$3$N(B<q>$B$4$_(B</q>$B$r$I$&$7$h$&$b$J$$$HD|$a$F$-$?$h$&$G$9$,!"=hM};XNa$HCm<a@k8@$r$&$^$/;H$($P!"(B<!--<q>SGML $B1~MQ$G$"$k(B HTML</q> $B$H$7$F$b(B--> XHTML $B$H$7$F$bBEEv$G$"$j!"$+$D(B Web $B%V%i%&%6$G$4$_$,I=<($5$l$k$3$H$b$J$$J8=q$r:n$k$3$H$,$G$-$^$9!#(B ($B$?$@$7K\<AE*$K0UL#$r;}$?$J$$=hM};XNa$dCm<a@k8@$,J8=q$K4^$^$l$F$7$^$$$^$9!#$4$_$r$b$C$F$4$_$r@)$9$k$H$$$&46$8$G$7$g$&$+!#(B)</p><p>$B<B:]$I$&$9$l$P$h$$$+$H$$$&$H4JC1$G!"(B<pre><code>&lt;!DOCTYPE html [&lt;!-- --><em>&lt;?a >&lt;!-- ?></em>]><em>&lt;?a -->&lt;? ?></em></code></pre>$B$N$h$&$K(B <code>]></code> $B$N<~$j$r=hM};XNa$HCm<a@k8@$G0O$_$^$9!#$3$&$9$k$H(B Web $B%V%i%&%6$G$b$4$_$O(B<a href="/~wakaba/-temp/test/html/comment/hack/hide-dscmdc-1.html">$BI=<($5$l$^$;$s(B</a>$B$7!"(B<a href="/~wakaba/-temp/test/html/comment/hack/hide-dscmdc-1.xml">XML $B$H$7$F$b@07A<0(B</a>$B$K$J$j$^$9!#(B</p><p>$B2K$JJ}$O$I$&$7$F$3$&$J$k$N$+9M$($F$_$F$/$@$5$$(Bw</p></div><!-- class="section" -->
<div id="d4-4" class=" section">
<h3><a href="#d4-4" class="self">$B!y(B</a> Re: $BFbItItJ,=89g$r;H$C$?$H$-$KI=<($5$l$k$4$_$r1#$9(B (@13:14 +09:00)</h3>
<p>$B@h$NNc$O!"(B XML $B$H$7$F@07A<0$G$"$j!"$+$D(B Web $B%V%i%&%6$G$4$_$,I=<($5$l$k$3$H$b$"$j$^$;$s$,!"(B HTML4 $B$N(B SGML $B@k8@$r;H$C$?(B SGML $BJ8=q$H$7$F$OHsBEEv$G$9(B ($BJ8=q7?@k8@$,=*$o$C$F$$$^$;$s(B)$B!#(B <q>SGML $B1~MQ$G$"$k(B HTML</q> $B$NJ8=q$H$7$FBEEv$G$"$k$?$a$K$O$b$&0l9)IWI,MW$K$J$j$^$9(B<sup><a href="#d4-4-fn1" class=" fn_anchor">*1</a></sup> :<pre><code>&lt;!DOCTYPE html [&lt;!-- -->&lt;?a ><em>&lt;![IGNORE[ ]></em>&lt;!-- <em>]]&gt;&lt;?</em> ?>]>&lt;?a -->&lt;? ?></code></pre></p><p>$BH?B'E*$G$9$,(Bw$B!">r7o6h4V$r;H$C$F$$$^$9!#(B Gecko $B$O(B <code>&lt;![</code> ($B%^!<%/6h4V3+;O(B) $B$+$i(B <code>]&gt;</code> $B$^$G$rL5;k$9$k$h$&$J$N$G!"%@%_!<$N(B <code>]&gt;</code> $B$,F~$C$F$$$^$9!#(B</p><p>$B$3$l$G!"(B ($BE,Ev$JMWAG7?@k8@!&B0@-Dj5AJB$S@k8@$rB-$;$P(B) $B40A4$KBEEv$J(B <q>SGML $B1~MQ$G$"$k(B HTML</q> $B$NJ8=q$K$J$j$^$9!#$^$?!"0MA3$H$7$F(B XML $B$H$7$F$b@07A<0$G$9!#<j85$G3NG'$7$?8B$j!"(B Firefox 1.5, Opera 9, WinIE 6 $B$N$$$:$l$G$b$4$_$O(B<a href="/~wakaba/-temp/test/html/comment/hack/hide-dscmdc-3.html">$BI=<($5$l$^$;$s(B</a>$B!#(B</p><ol class="footnote">
<li id="d4-4-fn1"> XML $B$N(B pic ($B=hM};XNaJD$8(B) $B$O(B <code>?&gt;</code> $B$G$9$,!"(B HTML4 $B$N(B pic $B$O(B <code>&gt;</code> $B$@$+$i$G$9!#(B</li>
</ol></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F4" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2007%2F%2F5%2F%2F4" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div class="footer">

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
 (<a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200704">$BA07n(B</a>,
 <a rel="next" href="d200706">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>)]
</div>

</div>

</body>
</html>
