<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2008$BG/(B9$B7n(B)</title>
<meta name="author" content="$B$o$+$P(B" title="$BE_MM$N2<KM$N0l?M(B(?)" />
<meta name="keywords" content="$BE_F|(B, $BF|5-(B, $B<cMU(B, $B$o$+$P(B" />
<meta name="descriptions" content="2008$BG/(B9$B7n$N<cMU$N0-9T$N5-O?!#(B" />
<link rel="contents" href="list" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$r=q$$$?7n$N0lMw(B" />
<link rel="prev" href="d200808" title="$BA07n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="next" href="d200810" title="$BMb7n$NE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B" />
<link rel="alternate" href="d200809.ja.atom" hreflang="ja"
    type="application/atom+xml" title="2008$BG/(B9$B7n$NE_F|(B (Atom $B6!5k(B)">
<link rel="contents" href="d200809+summary" title="$B:#7n$NOCBj0lMw(B" />
<link rel="bookmark" href="current" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B ($B:G?7HG(B)" />
<link rel="bookmark" href="d200809" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2008$BG/(B9$B7n(B)" />
<link rev="made" href="/~wakaba/who?" title="$BCx<T$N<cMU$H$O2?<T(B?" />
<link rel="copyright" href="/c/pd"
      title="Public Domain." lang="en" xml:lang="en" />
<link rel="stylesheet"
      href="style/default.css" type="text/css" media="all" />
<link rel="alternate stylesheet" 
      href="style/fuyubi.css" type="text/css" media="all"
      title="$B2hLLI=<(MQ!#(B" />
<link rel="alternate stylesheet"
      href="style/christmas.css" type="text/css" media="all"
      title="$B%/%j%9%^%9!y(B, $B$"$k$$$OC1$KE_!#(B" />
<link rel="alternate stylesheet"
      href="style/sakura.css" type="text/css" media="all" 
      title="$B$b$&=U$G$9$M!#(B" />
<link rel="stylesheet"
      href="style/summer.css" type="text/css" media="all"
      title="$B2F$G$9$,2?$+(B?" />
<link rel="alternate stylesheet"
      href="style/simple.css" type="text/css" media="all"
      title="$BL5Bj!#(B" />
<link rel="alternate stylesheet"
      href="fuyubi.css" type="text/css" media="all"
      title="$BL5Bj(B(2)$B!#(B" />
</head>
<body>
<div class="header">
<h1>$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B (2008$BG/(B9$B7n(B)</h1>

<div id="intro" class="navigation">
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
  (<a href="list" rel="contents" title="$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N$N7n$N0lMw!#(B">$B0lMw(B</a>,
   <a href="current" title="$B:G?7$NF|5-!#(B">$B:G?7(B</a>
   (<a href="current.html" type="text/html"
      title="$B:G?7$NF|5-(B (HTML)" lang="en">HTML</a>,
    <a href="current.ja.atom" hreflang="ja" type="application/atom+xml"
      title="$B:G?7$NF|5-(B (Atom)" lang="en">Atom</a>),
   <a href="../who?" rev="made">$BI.<T(B</a>,
   <a href="/search/?idxname=wakaba" title="$B5-;v$rC5$9!#(B">$B8!:w(B</a>)]
</div>

</div><!-- header -->
<div id="d11" class=" body section">
       <h2><a href="/~wakaba/d/d200809#d11" class="self"
       >2008$BG/(B9$B7n(B11$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d11-1" class=" section">
<h3><a href="#d11-1" class="self">$B!y(B</a> $BBp5^JX(B (@12:01 +09:00)</h3>
<p>$B$$$J$$$H$-$K$O$$$D$b2?EY$bMh$k$/$;$K!"$?$^$K$$$k$H$-$K$OA4A3Mh$J$$(B<span class=aa>:-<</span></p></div><!-- class="section" -->
<div id="d11-2" class=" section">
<h3><a href="#d11-2" class="self">$B!y(B</a> $B%R%H%+%2(B (@21:25 +09:00)</h3>
<p>$B$&$A$N6a$/$N<+HN5!$+$i$$$D$bGc$C$F$k$d$D$,$J$/$J$C$F$FN^L\(B ($B$J$<$+%_%M%i%k!&%&%)!<%?!<$P$+$j$K$J$C$F$$$?!"$J$<$+(B)$B!"$H$+;W$C$FJL$N<+HN5!$KGc$$$K9T$C$?$i!">.A,$NEjF~8}$Kirin$,$$$F$S$S$j$^$7$?!#>/$7!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F9%2F%2F11" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F9%2F%2F11" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d10" class=" body section">
       <h2><a href="/~wakaba/d/d200809#d10" class="self"
       >2008$BG/(B9$B7n(B10$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d10-1" class=" section">
<h3><a href="#d10-1" class="self">$B!y(B</a> $B%U%#!<%I!&%j!<%@!<$rC5$7$?(B (@11:37 +09:00)</h3>
<p>$B%U%#!<%I(B (RSS $B$H$+(B Atom $B$H$+(B) $B$r$_$k$?$a$K(B Mozilla Thunderbird $B$r;H$C$F$$$k$N$G$9$,!"F0:n$,=E$?$/$F5/F0$9$k$N$b6lDK$J$N$G!"B>$N$rC5$7$F$_$?$o$1$G$9!#:G6a$O$$$m$s$J$H$3$m$G(B Web $B%"%W%j%1!<%7%g%s$,N.9T$C$F$$$k$N$G!"%U%#!<%I!&%j!<%@!<$b(B Web $B>e$GF0$/$d$D$rC5$7$F$_$?$o$1$J$s$G$9$,!&!&!&!#(B</p><p>$B$O$F$J(B RSS: $B=E?y!#;*$,?MBg?y$J$s$G$7$g$&$+!#;nMQ$NESCf$G2fK}$7$-$l$J$/$J$j$^$7$?!#(B</p><p>Google $B%j!<%@!<(B: $BK\J8$,4^$^$l$F$$$J$$%U%#!<%I$N$H$-!"K\J8$r%U%#!<%I!&%j!<%@!<Fb$KI=<($G$-$^$;$s(B ($B?7$7$$Ak$G8+$k$7$+$"$j$^$;$s(B)$B!#(B FAQ $B$K:\$C$F$$$k$N$G!"$=$&$$$&;EMM$N$h$&$G$9!#(B</p><p>livedoor $B%j!<%@!<(B: Atom $B$KBP1~$7$F$$$k$3$H$K$J$C$F$$$^$9$,!"$J$<$+DI2C$G$-$^$;$s(B ($B%U%#!<%I$,$_$D$+$i$J$$$H$$$&$h$&$J%(%i!<$,$G$F!"DI2C$7$F$/$l$^$;$s(B)$B!#(B</p><p>goo RSS $B%j!<%@!<(B: $B$3$l$b$b$7$d$=$&$$$&;EMM$J$N$+$H!"(B FAQ $B$rC5$=$&$H$7$^$7$?$,!"$=$N(B FAQ $B$,8+$D$+$j$^$;$s$G$7$?(B ($B$J$$$N$+$b$7$l$^$;$s(B)$B!#%X%k%W$,;H$$$K$/$$$H$$$&;~E@$G;n$7$F$_$k5$$r$J$/$7$^$7$?(B ($B$I$&$;%X%k%W$J$s$FFsEY$H8+$J$$$G$7$g$&$+$i$$$$$N$G$9$1$I!"5$J,E*$K!&!&!&(B)$B!#(B</p><p>$B$=$NB>(B: Wikipedia $B$K%U%#!<%I!&%j!<%@!<$N%j%9%H$,$"$C$?$N$G$9$1$I!"$?$/$5$s$"$j$9$.$G$&$s$6$j!#Hf3SI=$,$J$$$+$0$0$C$F$_$?$b$N$N!"$&$^$/$^$H$a$F$$$k(B Web $B%5%$%H$O8+$D$1$i$l$^$;$s$G$7$?!#(B</p><p>$B%U%#!<%I$K4^$^$l$F$$$J$$5-;vK\J8$rFI$`$H$-$K0l!9JLAk$r3+$$$?$jJD$8$?$j$9$k$N$OHs>o$KLLE]$@$H;W$&$N$G$9$,!"B>$N?M$O$=$&;W$o$J$$$N$G$9$+$M(B? $B$J$$$J$i:n$C$A$c$($P$$$$$+$J$H$$$&5$$b$7$J$$$G$b$J$$$G$9$,!&!&!&!#(B</p><p>$B$A$J$_$K!"%U%#!<%I!&%j!<%@!<$KBP$7$F$O(B<a href="/gate/2005/sw/%E3%81%84%E3%81%91%E3%81%A6%E3%81%AA%E3%81%84%E3%83%95%E3%82%A3%E3%83%BC%E3%83%89%E3%83%BB%E3%83%AA%E3%83%BC%E3%83%80%E3%83%BC">$BB>$K$b?'!9ITK~$,$"$j$^$9!&!&!&(B</a>$B!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F9%2F%2F10" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F9%2F%2F10" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div id="d3" class=" body section">
       <h2><a href="/~wakaba/d/d200809#d03" class="self"
       >2008$BG/(B9$B7n(B3$BF|(B</a></h2>
<div class="header"></div><!-- header -->

<div id="d3-1" class=" section">
<h3><a href="#d3-1" class="self">$B!y(B</a> $B%K%3%K%3%a%C%;(B (@23:18 +09:00)</h3>
<p>$B$3$l$OLLGr$$$+$b$7$l$J$$!#$?$V$s!#$-$C$H!#(B</p><p>$B$G$b%*%s%i%$%s$N?M$,$$$J$$(Borz $BLLGr$/$J$$!#(B</p></div><!-- class="section" -->
<form class="postmsg" method="post" action="/~wakaba/sendmsg"
    accept-charset="iso-2022-jp utf-8">
<div class="column">
  <div class="caption">$B$446A[(B ($BCx<T$KD>@\Aw$k(B)</div>
  <div class="fig-body">
    <div class="nonpara">
      <span class="line">
	<span class="fs">
	<label><input type="radio" name="f" value="5" /> $B:G9b(B!</label>
	<label><input type="radio" name="f" value="4" /> $BNI(B</label>
	<label><input type="radio" name="f" value="3" checked="checked"
                                                      /> $BIaDL(B</label>
	<label><input type="radio" name="f" value="2" /> $B0-(B</label>
	<label><input type="radio" name="f" value="1" /> $B:GDc(B</label>
	</span>
      </span>
      <span class="line">
	<label class="comments">$B0l8@(B <span class="weak">($B$b$7$"$l$P(B)</span>:
          <input type="text" name="comment" value="" size="40" /></label>
      </span>
      <span class="line">
	<label class="names">$BL>A0(B <span class="weak">($B$h$m$7$1$l$P(B)</span>:
          <input type="text" name="name" value="" size="40"></label>
      </span>
      <span class="line">
	<input type="submit" value="$BFI$s$@$h!#(B" class="readsubmit"
          title="$B2!$7$F$b2hLL$,JQ$o$C$?$j$O62$i$/$7$^$;$s$,!"LdBj$"$j$^$;$s!#(B" />
        [<a href="/~wakaba/d/d200507#d4-6" rel="help">$B$3$l$O2?(B?</a>]
      </span>
    </div><!-- nonpara -->
  </div><!-- fig-body -->
</div><!-- column -->
</form>
<!--
<div>
	<strong>$B$446A[(B ($B7G<(HD(B : $B8x3+(B)</strong>:
	<object type="text/html" data="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F9%2F%2F3" style="width: 98%; height: 5em; margin-left: auto; margin-right: auto; display: block; text-align: center">
	  <a href="/~wakaba/-temp/wiki/wiki?mycmd=lo-&#x2E;light;mypage=%E5%86%AC%E6%97%A5%2F%2F%E6%84%9F%E6%83%B3%2F%2F2008%2F%2F9%2F%2F3" class="wiki">$B46A[7G<(HD(B</a>
	</object>
</div>-->
</div><!-- class="body" -->
<div class="footer">

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[$BE_MM$b$9$J$k!yF|5-$H$$$&$b$N(B
 (<a rel="index" href="list">$B0lMw(B</a>,
 <a rel="prev" href="d200808">$BA07n(B</a>,
 <a rel="next" href="d200810">$BMb7n(B</a>,
 <a href="current">$B:G?7(B</a>)]
</div>

</div>

</body>
</html>
