
.yami, .yamimi
	{display: none; color: black; background-color: black}
a img
	{width: 320px; height: 240px;
	float: right;
	margin: .2em}

/*
ol.footnote
	{list-style: none}
*/

blockquote cite
	{display: block;
	text-align: right}

acronym, abbr
	{border-bottom: thin dotted #ffc4c4;
	cursor: Help;
	speak: spell-out}

a.self
	{cursor: default;
	speak: none}

.tree
	{display: block;
	margin: 0}

.tree li
	{display: inline;
	margin: 0 .2em;
	list-style: none}

.header .var
	{margin-left: .2em; margin-right: .4em}

.terat
	{margin: 2em}

img.favicon
	{width: 16px; height: 16px;
	float: none; margin: 0}

a img.favicon
	{border-style: none none solid none}

a.self img.favicon
	{border-style: none}

.red	{color: red}
.blue	{color: blue}
.green	{color: green}

/* footer blocks */

.navigation
	{margin: 1em 0.3em 0 0.3em;
	border-style: solid none none none;
	border-color: gray;
	border-width: thin;
	padding-top: 0.3em;
	text-decoration: none;
	font-style: normal;
	line-height: 100%}

.myuri
	{display: inline; margin: 0;
	line-height: 100%}

ul.myuri li
	{display: inline; margin: 0 .5em;
	border-left: thin #ffbe7d solid; padding-left: .4em}
