
.yami, .yamimi
	{display: none; color: black; background-color: black}
a img
	{width: 320px; height: 240px;
	float: right;
	margin: .2em}

/*
ol.footnote
	{list-style: none}
*/

blockquote cite
	{display: block;
	text-align: right}

acronym, abbr
	{border-bottom: thin dotted #ffc4c4;
	cursor: Help;
	speak: spell-out}

a.self
	{cursor: default;
	speak: none}

.tree
	{display: block;
	margin: 0}

.tree li
	{display: inline;
	margin: 0 .2em;
	list-style: none}

.header .var
	{margin-left: .2em; margin-right: .4em}

.terat
	{margin: 2em}

img.favicon
	{width: 16px; height: 16px;
	float: none; margin: 0}

a img.favicon
	{border-style: none none solid none}

a.self img.favicon
	{border-style: none}

.red	{color: red}
.blue	{color: blue}
.green	{color: green}
