
body, div, p
	{line-height: 200%;
	color: WindowText; background-color: Window}

h2, h3, h4, h5, h6
	{font-size: 100%; font-weight: normal}

h1
	{border-bottom: thin dashed red;
	padding: .4em}

div.day, div#intro, div#person
	{margin: 1em 3em;
	border: thin solid #004000;
	padding: .8em}

h2
	{margin: 0;
	border: thin outset #003366;
	padding: .2em;
	background-color: #003366; color: white}


h3
	{border: thin outset #ffffb3;
	padding: .4em;
	letter-spacing: .6em}

h4
	{text-decoration: underline}

a.self
	{letter-spacing: 0;
	color: inherit; background-color: inherit;
	text-decoration: none}

p
	{margin: 0 1em;
	text-indent: 1em}

blockquote
	{margin: .4em;
	border: medium double #ffddff;
	padding: .2em}

.images
	{margin: .5em;
	border-style: none;
	padding: .1em;
	text-align: center}

ol.footnote
	{margin: 0;
	border: medium double gray;
	padding: .2em;
	color: Info; background-color: InfoBackground}
ol.footnote li
	{margin: 0 0 0 1em; border-size: 0; padding: 0;
	text-indent: -1em}

.yami, .yamimi
	{display: none; color: black; background-color: black}
