
body, div, p
	{line-height: 200%}

h2, h3, h4, h5, h6
	{font-size: 100%; font-weight: normal}

h1
	{border-style: none none dashed none;
	border-bottom: thin dashed red;
	padding: .4em}

div.day, div#intro, div#person
	{margin: 1em 3em;
	border: thin solid #004000;
	padding: .8em}

h2
	{margin: 0 /* 0 0 -4em */;
	border: thin outset #003366;
	padding: .2em;
	background-color: #003366; color: white}


h3
	{border: thin outset #C0C0C0;
	padding: .4em;
	letter-spacing: .6em;
	background: url("back-sora.png") left top;
	background-repeat: no-repeat;
	background-color: #E8E8E8; color: black}

h4
	{border-style: none;
	text-decoration: underline}

a.self
	{letter-spacing: 0;
	color: inherit; background: transparent;
	text-decoration: none}

p
	{margin: 0 1em;
	text-indent: 1em}

blockquote, .terat
	{margin: .4em;
	border-style: none;
	padding: .2em;
	color: black; background-color: #ffddff;
	background-image: url("back-heart.png")}

blockquote h1, blockquote h2, blockquote h3,
blockquote h4, blockquote h5, blockquote h6
	{margin: .5em 0 .2em 0;
	border-style: none;
	padding: 0;
	letter-spacing: 0}

blockquote cite a
	{color: inherit; background: transparent;
	text-decoration: none}

div.dream
	{margin: .4em;
	border-style: none;
	padding: .2em;
	color: black; background-color: #ffddff;
	background-image: url("back-star.png")}

.images
	{margin: .5em;
	border-style: none;
	padding: .1em;
	text-align: center}

ol.footnote
	{margin: 0.6em 0 0 3em;
	border: medium double #008080;
	padding: .2em;
	color: Info; background-color: InfoBackground}
ol.footnote li
	{margin: 0 0 0 1em; border-size: 0; padding: 0;
	text-indent: -1em}
ol.footnote li a:first-child
	{text-decoration: none;
	color: inherit; background-color: inherit;
	cursor: default}

a.fn
	{vertical-align: sup;
	text-decoration: none;
	color: grayText}

.yami, .yamimi
	{display: none; color: black; background-color: black}

pre
	{white-space:  pre;
	padding:      0.5em;
	border-color: #ffeeb0;
	border-style: outset;
	border-width: 4px;
	font-size: 100%}

a
	{padding: .2em}

a:hover
	{border: thin dashed #006da2;
	padding: .1em;
	color: #0080c0; background-color: #fff0ff;
	text-decoration: none}

.tree
	{display: block;
	margin: .2em;
	border: dotted thin #ffd1bb;
	padding: .2em;
	background-color: #ffefe8; color: gray}

/* message form */

strong.itemname /* [title] */
	{border-bottom: thin dotted #ffc4c4;
	cursor: help}

.postmsg
	{margin-left: 4em;
	border: blue thin double;
	padding: .2em}

.postmsg input
	{font-size: 100%;
	border-style: none none dashed none;
	border-color: gray; border-width: thin;
	padding-bottom: .1em}

.postmsg .fs input
	{border-style: none}

.postmsg .readsubmit
	{margin: .1em;
	border: dotted red thin;
	padding: .1em;
	background-color: inherit; color: inherit;
	cursor: hand}

.postmsg .fs, .postmsg .names, .postmsg .comments
	{margin-right: 1.5em}
