
@import '../default.css';


p, div, h2, h3, h4, hr, blockquote
	{clear: both; text-indent: 0}

p:first-letter
	{float: left;
	margin: 0.1em;
	padding: 0.1em;
	font-size: 200%;
	background-color: #ffcaff; color: black}
p:first-child:first-letter
	{background-color: #d7ffff}


.yami, .yamimi
	{display: none; color: black; background-color: black}
