/*W3C-CSS*/
/*

fuyubi.css --- The style sheet for "fuyubi" <http://suika.fam.cx/~wakaba/d/>

*/

body
	{margin: 0; line-height: 170%;
	background-color: white;
/*	background-image: url(/~wakaba/art/yukidaruma);*/
	background-position: top left;
	background-repeat: no-repeat;
	background-attachment: fixed}

h1
	{color:#ffffff; background:#336666; padding:8px; margin:0}

#intro
	{color:#336666; font-size:90%; padding:0 8px; margin:1px 0}

.day, .body
	{margin:0 5%}
.day h2, .body h2
	{color:#ffffff; background:#336666; padding-left:8px}

.section
	{margin:0 5%}
.section h3
	{border-bottom:1px solid #336666; border-left:1px solid #336666; padding-left:8px}


.subsection
	{ }
.subsection h4
	{ }

p {
  text-indent: 1em;
}

.postmsg
	{color:#336666; font-size:90%; border-bottom:1px solid #336666}

/* Anchor */
A:link    { color: #0000CC; border-color: #0000CC }
A:visited { color: #000080; border-color: #000080 }
A:hover   { background: #ffa; color: #000080 }
a:hover:active
		{color: red}
	A:link IMG 	{border: 1px solid blue}
	A:visited IMG	{border: 1px solid purple}
	A:active IMG	{border: 1px solid red}
	A:hover IMG	{border: 1px solid #ffa}
a[href^="/~wakaba/-temp/wiki"]
        {border-style: none none dashed none;
        border-width: 1px;
        padding: 0.01em;
        text-decoration: none; color: inherit}
a.self
	{color:#336666}

h1 a {
  color: inherit !important;
  background-color: inherit;
}

/*
Format: W3C CSS
License: Public Domain -- you can use, distribute, and/or
                          modify this file freely.
*/
