
body
	{margin: 1em;
	background-color: #FAFCFC; color: #008080;
	line-height: 200%}

h1
	{border-style: none;
	font-size: 100%}

h1:first-letter
	{background-color: black; color: white;
	font-size: 200%}

#intro
	{margin: .3em;
	border: dashed green thin;
	padding: .3em}

.day
	{margin: 2em .2em;
	padding: .2em;
	background: url(tree.png)}

p
	{margin: 0 1em;
	text-indent: 1em}

blockquote
	{margin: .2em 1em .2em 20%;
	border: thin blue dotted;
	padding: .2em;
	text-align: right}

blockquote p
	{text-indent: 0}

.footnote
	{color: GrayText}

a
	{color: #009b9b; background-color: inherit;
	text-decoration: none}

a:visited
	{color: #00cece; background-color: inherit;
	text-decoration: none}

a:hover
	{background-color: #006464; color: #ffefe8;
	text-decoration: none}

acronym, abbr, span[title]
	{border-bottom: thin green dashed;
	padding-bottom: .2em}

