@import '/~wakaba/mailform-style.css';

html {
  margin: 0;
  padding: 0;
  background-color: rgb(254, 239, 231);
  color: rgb(76, 25, 0);
  line-height: 2.0;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 50em;
}

h1 {
  margin: 0.5em 0;
  padding: 4em 2em;
  background: -moz-linear-gradient(top,
    rgb(255, 238, 230),
    rgb(255, 221, 204) 10%,
    rgb(255, 221, 204) 90%,
    rgb(255, 238, 230)
  );
  background: -webkit-gradient(linear, left top, left bottom, 
    from(rgb(255, 238, 230)),
    color-stop(0.1, rgb(255, 221, 204)),
    color-stop(0.9, rgb(255, 221, 204)),
    to(rgb(255, 238, 230))
  );
  font-weight: bolder; 
  font-size: 140%;
  font-family: serif;
  text-align: left;
  letter-spacing: 0.5em;
}

.navigation {
  margin: 0;
  margin-right: 1em;
  padding: 0;
  border-style: none;
  color: rgb(98, 86, 80);
  font-size: 80%;
  text-align: right;
}

#intro.navigation {
  margin: 0;
  margin-right: 1em;
  border-style: none;
}

table.diary-months td {
  text-align: center;
  min-width: 2em;
}

table.diary-months td a {
  display: block;
}

div.body {
  margin: 2em 1em;
  border: rgba(255, 221, 204, 0.5) 1em;
  border-style: dashed none;
  padding: 0 1em 1em;
}

div.body + div.body {
  border-top-style: none;
}

h2 {
  margin: 1em 0.5em;
  font-weight: normal;
  font-size: 160%;
}

h2 a:link, h2 a:visited {
  text-decoration: none;
  border-bottom: none;
}

.body .section {
  margin: 1em 0 2em;
  padding: 0 2em;
}

h3 {
  margin: 1em 0;
  font-size: 100%;
}

h3:before {
  content: none;
}

h3 a.self:link, h3 a.self:visited {
  display: inline-block;
  font-weight: normal;
  font-size: 60%;
  text-decoration: none;
  border-style: none !important;
}

p {
  text-indent: 1em;
}

.postmsg {
  font-size:90%;
}

.postmsg .column {
  border-radius: 0.8em;
  border-color: rgb(255, 204, 179);
}

.footer {
  margin: 1em;
  border-style: none;
  padding: 0;
}

.diary-info #link {
  opacity: 0.4;
}