body
	{margin: 0; line-height: 170%;
	background-color: Background}

h1
	{margin: 0; border-style: none;
	padding: 0.2em;
	color: CaptionText; background-color: ActiveCaption;
	font-size: 100%}

#intro
	{margin: 1em 5em;
	border-style: none;
	padding: 0;
	background-color: InfoBackground; color: InfoText}

.day, .body
	{margin: 0; border: ActiveBorder thin solid;
	padding: 0;
	color: WindowText; background-color: Window}
.day h2, .body h2
	{margin: 0; border-style: none;
	padding: 0.2em;
	color: CaptionText; background-color: ActiveCaption;
	font-size: 100%}

.section
	{margin: 1em 2em 0 0; border-style: none;
	padding: 0.5em 0.5em 0.5em 0}
.section h3
	{margin: 0; border-style: none;
	padding: 0.2em;
	color: InactiveCaptionText; background-color: InactiveCaption;
	font-size: 100%}


.subsection
	{margin: 1em 2em 0 0; border-style: none;
	padding: 0.5em 0.5em 0.5em 0}
.subsection h4
	{margin: 0; border-style: none;
	padding: 0.2em;
	color: InactiveCaptionText; background-color: InactiveCaption;
	font-size: 100%}

.postmsg
	{margin: 0; border-style: none;
	padding: 0.2em;
	color: InfoText; background-color: InfoBackground;
	font-size: 100%}

a.self
	{color: inherit; text-decoration: inherit}
