
body
	{margin: 0; line-height: 170%;
	background-color: white;
	background-image: url(../../art/sakura);
	background-position: top left;
	background-repeat: no-repeat;
	background-attachment: scroll}

h1
	{margin: 0 0 0 103px; border-style: none;
	padding: 0.2em;
	color: #e30072; background-color: transparent;
	font-size: 200%; line-height: 120%;
	text-align: right}

#intro
	{margin: 1em 1em 1em 200px;
	border-style: none;
	padding: 0;
	background-color: InfoBackground; color: InfoText;
	font-size: 90%; line-height: 100%}

.day, .body
	{margin: 0.5em 3em; 
	border-color: #008080;
	border-width: thin;
	border-style: none dashed;
	padding: 0.2em;
	color: inherit; background-color: transparent}
.day h2, .body h2
	{margin: 0.1em; border-style: none;
	padding: 0.4em;
	color: #008080; background-color: #ffc4e1;
	font-size: 100%}

.section
	{margin: 1em; border-style: none;
	padding: 0.5em 0.5em 0.5em 0;
	background-image: url(../../art/ie);
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed}
.section h3
	{margin: 0; border-style: none;
	min-height: 55px;
	padding: 0.3em 0.3em 0.3em 50px;
	color: inherit; background-color: transparent;
	font-size: 100%;
	line-height: 140%}


.subsection
	{margin: 1em; border-style: none;
	padding: 0.5em 0.5em 0.5em 0}
.subsection h4
	{margin: 0; border-style: none;
	padding: 0.2em;
	color: InactiveCaptionText; background-color: InactiveCaption;
	font-size: 100%}

.postmsg
	{margin: 0; border-style: none;
	padding: 0.2em;
	color: InfoText; background-color: InfoBackground;
	font-size: 100%}

a.self
	{color: inherit; text-decoration: inherit}
