/*

fuyubi.css --- The style sheet for "fuyubi"

*/

body
	{margin:0}

h1
	{color:#ffffff; background:#336666; padding:8px; margin:0}

#intro
	{color:#336666; font-size:90%; padding:0 8px; margin:1px 0}

.day, .body
	{margin:0 5%}
.day h2, .body h2
	{color:#ffffff; background:#336666; padding-left:8px}

.section
	{margin:0 5%}
.section h3
	{border-bottom:1px solid #336666; border-left:1px solid #336666; padding-left:8px}


.subsection
	{ }
.subsection h4
	{ }

.postmsg
	{color:#336666; font-size:90%; border-bottom:1px solid #336666}

a.self
	{color:#336666}

h1 a.self
	{color: white; background-color: #336666}

/*

Format: W3C CSS2
License: Public Domain -- you can use, distribute, and/or
                          modify this file freely.
Date: $Date: 2002/07/31 12:22:32 $
Change: See ChangeLog

/// fuyubi.css ends here
*/
