/*

summer.css --- A style sheet for "fuyubi" <http://suika.fam.cx/~wakaba/d/>

*/

@import '/~wakaba/mailform-style.css';

html {
     line-height: 1.9;
     background-color: #ddddff;
     color: #00002f;
}

h1 {
   display: block;
   position: fixed;
   float: right;
   top: 0.01em;
   right: 0.01em;
   width: 7.5em;
   text-align: right;
   line-height: 1.1;
   font-size: 110%;
   font-weight: normal;
   background-color: #ddddff;
   -moz-opacity: 0.5;
   color: #000033;
}
h1:hover {
	 -moz-opacity: 0.99;
}

#intro {
       display: block;
       right: 0.01em;
       width: 50%;
       max-width: 60%;
       text-align: left;
       line-height: 1.01;
       font-size: 80%;
       background-color: transparent;
       color: #00008c;
}

body {
     margin-left: 1em;
     margin-right: 1em;
}

.day, .body
	{margin:0 5%}
.day h2, .body h2
	{color:#ffffff; background:#336666; padding-left:8px}

.section
	{margin:0 5%}
.section h3
	{border-bottom:1px solid #336666; border-left:1px solid #336666; padding-left:8px}


.subsection
	{ }
.subsection h4
	{ }

p {
  text-indent: 1em;
}

.postmsg
	{color:#336666; font-size:90%; border-bottom:1px solid #336666}

/* Anchor */
A:link    { color: #0000CC; border-color: #0000CC }
A:visited { color: #000080; border-color: #000080 }
A:hover   { background: #ffa; color: #000080 }
a:hover:active
		{color: red}
	A:link IMG 	{border: 1px solid blue}
	A:visited IMG	{border: 1px solid purple}
	A:active IMG	{border: 1px solid red}
	A:hover IMG	{border: 1px solid #ffa}
a[href^="/~wakaba/-temp/wiki"]
        {border-style: none none dashed none;
        border-width: 1px;
        padding: 0.01em;
        text-decoration: none; color: inherit}
a.self
	{color:#336666}

h1 a {
  color: inherit !important;
  background-color: inherit;
}

/*
Format: W3C CSS
License: Public Domain -- you can use, distribute, and/or
                          modify this file freely.
*/
